@import "~sass-mq";

.c {
  user-select: none;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fff;

  &.has-scroll {
    .c-desk {
      .c-columns-box {
        .c-columns-scroll {
          display: block;
        }
      }
    }
  }

  .c-toolbar {
    flex: 0;
    z-index: 2;
    padding: 0 30px;
  }

  .c-desk {
    z-index: 1;
    overflow: hidden;
    flex: 1;

    .c-columns-box {
      position: relative;
      width: 100%; height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .c-columns {
        flex: 1;
        overflow-x: hidden;
        overflow-y: visible;

        .c-columns-flex {
          display: flex;
          flex-wrap: nowrap;
          align-items: stretch;
          justify-content: center;
          margin: 0 auto;
          height: 100%;
        }

        .c-columns-column {
          width: 282px;
          border-right: 1px solid #EFF0F1;

          &:last-child {
            border-right: 0;
          }
        }
      }

      .c-columns-scroll {
        height: 12px;
        flex-shrink: 0;
        display: none;

        .c-columns-scroll-offset {
        }
      }
    }
  }
}
