.c((touchmove)="$event.preventDefault()", [ngClass]="{ 'has-scroll': state.hasScroll }")
  .c-toolbar
    evodesk-desk-toolbar-container
  .c-desk
    .c-columns-box
      .c-columns(
        #columns,
        evodeskEdgeScroll,
        evodeskMouseWheelScroll,
        [evodeskEdgeScrollScrollEnabled]="props.isScrollEnabled",
        [evodeskEdgeScrollDragEnabled]="props.isDragEnabled",
        [evodeskMouseWheelScrollX]="true",
        [evodeskMouseWheelScrollY]="false",
        evodeskKeyboardScroll,
        evodeskKeyboardScrollDirection="x",
        [evodeskKeyLeftScrollEnabled] = "true",
        [evodeskKeyRightScrollEnabled]="true"
      )
        .c-columns-flex([ngStyle]="{ 'width': 288 * props.columns.length + 'px' }")
          ng-container(*ngFor="let column of props.columns; trackBy: trackByColumnId")
            ng-container(*ngIf="isCardsColumn(column)")
              .c-columns-column
                evodesk-desk-column-container(
                  [columns]="props.columns",
                  [column]="column",
                  [cards]="state.columnCards[column.id] || []"
                )
            ng-container(*ngIf="isProjectColumn(column)")
              .c-columns-column
                evodesk-desk-projects-container
      .c-columns-scroll
        .c-columns-scroll-offset
          evodesk-app-common-scroll-bar([elementRef]="columns", [scrollBarDirection]="'x'", [theme]="'v3-desk-horizontal'")
