@mixin desktopLayout() {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  >.c-left {
    flex-grow: 0;
    flex-shrink: 0;
    width: 352px;
    border-right: 1px solid #d0d6f5;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .c-search {
      flex-grow: 0;
      flex-shrink: 0;
      border-bottom: 1px solid #d0d6f5;
      padding: 16px;
    }

    .c-contacts {
      flex: 1;
      height: 100%;
      overflow: hidden;
    }
  }

  >.c-right {
    flex: 1;
    display: flex;
    justify-content: space-between;

    flex-direction: column;

    .c-dialog {
      flex: 1;
      border-bottom: 1px solid #d0d6f5;
      height: 100%;
      overflow: hidden;

      .c-dialog-none {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .box {
          text-align: center;

          .icon {
            margin: 0 auto;
            width: 256px;
            margin-bottom: 40px;
          }

          .text {
            span {
              font-size: 15px;
              font-weight: 300;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.6;
              letter-spacing: 0.3px;
              text-align: center;
              color: #010307;
            }

            span.new-dialog {
              color: #2e4ce6;
              cursor: pointer;
              border-bottom: 1px solid transparent;
              transition: .15s;

              &:hover {
                border-bottom-color: #2e4ce6;
              }
            }
          }
        }
      }
    }

    .c-form {
      flex-shrink: 0;
      flex-grow: 0;
      padding: 16px;
    }
  }
}

@mixin mobileLayout {
  width: 100%;
  height: 100%;

  >.c-left {
    border-right: 1px solid #d0d6f5;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

    .c-search {
      flex-grow: 0;
      flex-shrink: 0;
      border-bottom: 1px solid #d0d6f5;
      padding: 16px;
    }

    .c-contacts {
      flex: 1;
      height: 100%;
      overflow: hidden;
    }
  }

  >.c-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    height: 100%;

    .c-dialog {
      flex: 1;
      border-bottom: 1px solid #d0d6f5;
      height: 100%;
      overflow: hidden;

      .c-dialog-none {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .box {
          text-align: center;

          .icon {
            margin: 0 auto;
            width: 256px;
            margin-bottom: 40px;
          }

          .text {
            span {
              font-size: 15px;
              font-weight: 300;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.6;
              letter-spacing: 0.3px;
              text-align: center;
              color: #010307;
            }

            span.new-dialog {
              color: #2e4ce6;
              cursor: pointer;
              border-bottom: 1px solid transparent;
              transition: .15s;

              &:hover {
                border-bottom-color: #2e4ce6;
              }
            }
          }
        }
      }
    }

    .c-form {
      flex-shrink: 0;
      flex-grow: 0;
      padding: 16px;
    }
  }
}

:host {
  width: 100%;
  height: 100%;
}

.c {
  &.___mobile {
    @include mobileLayout();
  }

  &.___desktop {
    @include desktopLayout();
  }
}
