ng-container(*ngIf="!! state && state.ready")
  .c([ngClass]="containerCSSClasses")
    .c-left(*ngIf="shouldDisplayContacts")
      .c-search
        evodesk-im-search-container
      .c-contacts
        evodesk-im-contacts-container([layout]="layout")
    .c-right(*ngIf="shouldDisplayDialog")
      .c-dialog
        ng-container(*ngIf="hasCurrentDialog")
          evodesk-im-dialog-container([layout]="layout")
        ng-container(*ngIf="! hasCurrentDialog")
          .c-dialog-none
            .box
              .icon
                .__evodesk-icon.ic-start-dialog-256x256px
              .text
                span.text {{ 'EvodeskIM.components.IM.NoDialog' | translate }}
                span.new-dialog((click)="startDialog()") {{ 'EvodeskIM.components.IM.NoDialogStart' | translate }}
      .c-form(*ngIf="hasCurrentDialog")
        evodesk-im-form-container
