ng-container(*ngIf="!!state && state.ready && state.sorted.length > 0")
  .c
    .c-card
      .c-card-title
        .c-title-left
          span {{ 'EvodeskProfile.components.EvodeskProfileWorkExperienceModal.Title' | translate }}
        .c-title-right
          .close-button((click)="close()")
            .__evodesk-icon.ic-close-modal-15x15px.with-hover
      .c-card-contents
        .c-list
          .c-list-item(*ngFor="let experience of experiences")
            evodesk-profile-work-experience-entry-container([experience]="experience", [layoutVariant]="'expanded'")
