.c {
  max-height: 80vh;
  overflow: auto;

  .c-card {
    .c-card-title {
      padding: 4px 14px 4px 16px;
      border-bottom: 1px solid #d0d6f5;
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: #fff;

      &:hover {
        .c-title-right {
          .edit {
            display: block;
          }
        }
      }

      .c-title-left {
        flex: 1;
        margin-right: 16px;

        span {
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.4px;
          text-align: left;
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .c-title-right {
        flex-grow: 0;
        flex-shrink: 0;

        .close-button {
          cursor: pointer;
          padding: 2px;
        }
      }
    }

    .c-card-contents {
      padding-top: 24px;
      padding-left: 24px;
      padding-right: 16px;
      z-index: 1;

      .c-list {
        border-left: 2px solid #d0d6f5;
        padding-left: 24px;
        padding-bottom: 20px;
        position: relative;

        .c-list-item {
          margin-bottom: 32px;
        }
      }
    }
  }
}

.circle {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: solid 2px #d0d6f5;
  border-radius: 100%;
}
