form.c([formGroup]="state.form", novalidate)
  .c-contents
    .field
      .field-title
        span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetenceEditFile.FieldsTitle' | translate }}
      .field-contents
        input.__evodesk-input-box-v2(type="text", [formControlName]="'title'")
  .c-actions
    .action
      button.button.button-no-fill(type="button", mat-button, (click)="close()")
        span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetenceEditFile.Close' | translate }}
    .action
      button.button.button-fill(type="submit", mat-button, (click)="submit()", [disabled]="! canSubmit")
        span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetenceEditFile.Submit' | translate }}