.c {
  .c-contents {
    padding: 16px;

    .field {
      .field-title {
        margin-bottom: 8px;

        span {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: center;
          color: #010307;
        }
      }

      .field-contents {
        input {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .c-actions {
    display: flex;
    align-items: center;
    justify-content: center;

    .action {
      margin: 8px;
    }
  }
}

button.button.button-fill {
  background-color: #2e4ce6;
  border-radius: 3px;
  text-align: center;

  &:disabled {
    background-color: #f0f0f0;

    span {
      color: #ccc;
    }
  }

  span {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
  }
}

button.button.button-no-fill {
  &:disabled {
    background-color: #f0f0f0;

    span {
      color: #ccc;
    }
  }

  span {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 0.1px;
    text-align: left;
    color: #2e4ce6;
  }
}
