.c {
  max-height: 80vh;
  overflow: auto;

  .c-card {
    .c-card-title {
      padding: 4px 14px 4px 16px;
      border-bottom: 1px solid #d0d6f5;
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: #fff;

      &:hover {
        .c-title-right {
          .edit {
            display: block;
          }
        }
      }

      .c-title-left {
        flex: 1;
        margin-right: 16px;

        span {
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.4px;
          text-align: left;
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .c-title-right {
        flex-grow: 0;
        flex-shrink: 0;

        .close-button {
          cursor: pointer;
          padding: 2px;
        }
      }
    }

    .c-card-contents {
      position: relative;
      padding: 12px 16px 8px;

      .c-comment {
        .c-comment-title {
          margin-bottom: 4px;

          span {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: 0.3px;
            text-align: left;
            color: #010307;
          }
        }

        .c-comment-hint {
          margin-bottom: 12px;

          span {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: 0.3px;
            text-align: left;
            color: #a0a7b2;
          }
        }

        .c-comment-textarea {
          textarea.textarea {
            resize: none;
            width: 100%;
            font-size: 15px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 20px;
            letter-spacing: 0.3px;
            text-align: left;
            color: #010307;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.5);
            min-height: 40px;
            padding: 8px;
            border: 1px solid #ddd;

            &:disabled {
              background-color: transparent;
              color: #999;
            }

            &:focus {
              border: 1px solid #2e4ce6;
            }
          }

          textarea.message::placeholder {
            color: #010307;
          }
        }
      }
    }

    .c-card-actions {
      border-top: 1px solid #d0d6f5;
      padding: 16px;
      display: flex;
      justify-content: space-between;
    }
  }
}


button.button.button-fill {
  background-color: #2e4ce6;
  border-radius: 3px;
  text-align: center;

  &:disabled {
    background-color: #f0f0f0;

    span {
      color: #ccc;
    }
  }

  span {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
  }
}

button.button.button-no-fill {
  &:disabled {
    background-color: #f0f0f0;

    span {
      color: #ccc;
    }
  }

  span {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 0.1px;
    text-align: left;
    color: #2e4ce6;
  }
}
