ng-container(*ngIf="!! state && state.ready")
  form.c([formGroup]="state.form", novalidate)
    .c-card
      .c-card-title
        .c-title-left
          span {{ 'EvodeskProfile.components.EvodeskProfileCompetenceMark.Title' | translate }}
        .c-title-right
          .close-button((click)="closeIfNotSubmitting()")
            .__evodesk-icon.ic-close-modal-15x15px.with-hover
      .c-card-contents
        .__evodesk-loading-top(*ngIf="props.submitting")
          .__evodesk-loading-top-bar
        .c-comment
          .c-comment-title
            span {{ 'EvodeskProfile.components.EvodeskProfileCompetenceMark.Comment' | translate }}
          .c-comment-hint
            span {{ 'EvodeskProfile.components.EvodeskProfileCompetenceMark.CommentHint' | translate }}
          .c-comment-textarea
            textarea.textarea([formControlName]="'comment'", rows="2", matTextareaAutosize, matAutosizeMinRows="2", matAutosizeMaxRows="6",)
      .c-card-actions
        .left
          button.button.button-no-fill(type="button", (click)="close()", mat-button, [disabled]="props.submitting")
            span {{ 'EvodeskProfile.components.EvodeskProfileCompetenceMark.Close' | translate }}
        .right
          button.button.button-fill(type="submit", (click)="submit()", mat-button, [disabled]="! canSubmit")
            span {{ 'EvodeskProfile.components.EvodeskProfileCompetenceMark.Submit' | translate }}
