@import "~sass-mq";

.c {
  position: relative;
  min-height: 30px;

  .c-modal-close {
    position: absolute;
    right: 16px;
    top: 16px;

    .close {
      cursor: pointer;
    }
  }

  .c-loading {
    position: absolute;
    top: 0; left: 0; right: 0; height: 4px;
    overflow: hidden;
  }

  @include mq($until: 800px) {
    .c-flex {
      padding: 24px;

      .c-left {
        margin-bottom: 16px;
      }
    }
  }

  @include mq($from: 801px) {
    .c-flex {
      display: flex;

      .c-left {
        flex-grow: 0;
        flex-shrink: 0;
        padding: 16px;
      }

      .c-right {
        flex: 1;
        padding: 16px 24px 16px 8px;
      }
    }
  }

  .c-image {
    .image {
      width: 250px;
      border-radius: 4px;
      overflow: hidden;
      font-size: 0;

      img {
        width: 100%;
        max-width: 250px;
      }
    }
  }

  .c-title {
    margin-bottom: 16px;
    padding-right: 24px;

    span {
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 0.2px;
      text-align: left;
      color: #010307;
      transition: color .15s;
    }
  }

  .c-meta {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;
  }

  .c-category {
    margin-bottom: 24px;

    span {
      font-size: 12px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 0.2px;
      text-align: left;
      color: #2e4ce6;
      cursor: pointer;
      transition: .15s;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom-color: #2e4ce6;
      }
    }
  }

  .c-price {
    display: flex;
    align-items: center;

    .c-price-icon {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 8px;
    }

    .c-price-value {
      flex: 1;

      span {
        font-size: 19px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 0.2px;
        text-align: left;
        color: #010307;
      }
    }
  }

  .c-author {
    margin-bottom: 16px;
    display: flex;
    align-items: center;

    .c-author-title {
      margin-right: 16px;

      span {
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 0.2px;
        text-align: left;
        color: #010307;
      }
    }

    .c-author-link {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        .c-author-name {
          span {
            color: #2e4ce6;
            border-bottom-color: #2e4ce6;
          }
        }
      }

      .c-author-avatar {
        margin-right: 8px;
      }

      .c-author-name {
        span {
          font-size: 14px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: 0.2px;
          text-align: left;
          color: #010307;
          border-bottom: 1px solid transparent;
          transition: .15s;
        }
      }
    }
  }

  .c-description {
    flex: 1;
    overflow: hidden;
    max-height: 400px;
    position: relative;
    margin-bottom: 16px;

    &.expanded {
      max-height: none;
    }

    div {
      font-size: 14px;
    }

    .read-more {
      position: absolute;
      bottom: -1px; left: 0; right: 0;
      height: 60px;
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 43%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
      text-align: center;
      cursor: pointer;

      &:hover {
        span {
          color: #2e4ce6;
        }
      }

      span {
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.2px;
        color: #010307;
        text-transform: uppercase;
        line-height: 48px;
        margin-top: 17px;
        position: relative;
        display: block;
        transition: color .15s;
      }
    }
  }

  .c-note {
    margin: 16px 0;

    span {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.3px;
      text-align: left;
      color: #2e4ce6;
    }
  }

  .c-favorite {
    margin-bottom: 16px;

    button {
      &.button-favorite {
        padding: 9px 16px;
        line-height: 22px;
        border-radius: 3px;
        margin-right: 16px;
        height: 45px;
        background-color: transparent;
        cursor: pointer;
        transition: .15s;
        min-width: 0;

        .icon-box {
          display: inline-block;
          position: relative;
          width: 24px;
          height: 24px;
          vertical-align: top;
          margin-right: 4px;

          .__evodesk-icon {
            margin-right: 0;
          }
        }

        span {
          color: #2E4CE6;
          font-weight: 400;
        }

        &:hover {
          border-color: #2E4CE6;
        }
      }
    }
  }

  .c-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 16px 0;
    border-radius: 4px;

    .c-actions-left {
      flex-shrink: 0;
      flex-grow: 0;
      display: flex;
      align-items: flex-start;
      margin-right: 16px;
      position: relative;

      .buy-trigger {
        position: absolute;
        bottom: 0; left: 0;
      }

      .buy-progress {
        display: inline-block;
        width: 125px;
        height: 45px;
        line-height: 45px;
        vertical-align: middle;

        .__evodesk-app-circle-loader {
          width: 16px;
          height: 16px;
          vertical-align: middle;
          margin-top: 8px;
        }
      }
    }

    .c-actions-right {
      text-align: right;
      position: relative;

      .share-trigger {
        position: absolute;
        bottom: -4px; left: 0;
      }
    }

    button {
      padding: 9px 16px;
      line-height: 22px;
      border-radius: 3px;
      margin-right: 16px;
      border: 1px solid transparent;
      height: 45px;
      min-width: 0;

      .__evodesk-icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
      }

      &.button-buy {
        width: 125px;
      }

      &.button-blue {
        background-color: #2e4ce6;

        span {
          color: #ffffff;
        }
      }

      &.button-green {
        background-color: #86bf0d;

        span {
          color: #ffffff;
          font-weight: 500;
        }
      }

      &.button-green-outline {
        border-color: #86bf0d;

        span {
          color: #86bf0d;
          font-weight: 400;
        }
      }

      &.button-gray {
        background-color: #fafafa;

        span {
          color: #010307;
        }
      }

      &.button-blue-outlined {
        border-color: #2e4ce6;

        span {
          color: #2e4ce6;
        }
      }

      &.button-share {
        background-color: transparent;
        border-color: #2e4ce6;
        cursor: pointer;
        transition: .15s;
        min-width: 0;

        .icon-box {
          display: inline-block;
          margin-right: 8px;
          position: relative;
          width: 18px; height: 14px;
          vertical-align: sub;

          .__evodesk-icon {
            margin-right: 0;
          }
        }

        .i-hovered, .i-not-hovered {
          position: absolute;
          top: 0; left: 0;
        }

        .i-hovered {
          opacity: 1;
        }

        span {
          color: #2e4ce6;
          font-weight: 400;
        }

        &:hover {
          border-color: #2e4ce6;

          span {
            color: #2e4ce6;
          }

          .i-hovered {
            opacity: 1;
          }

          .i-not-hovered {
            opacity: 0;
          }
        }

        @include mq($until: 500px) {
          span {
            display: none;
          }

          .icon-box {
            margin-right: 0;
          }
        }
      }

      span {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 28px;
        letter-spacing: 0.3px;
        text-align: left;
      }
    }
  }

  .c-no-reviews {
    margin-bottom: 32px;

    span {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.3px;
      text-align: left;
      color: #a0a7b2;
    }
  }

  .c-reviews {
    margin-bottom: 32px;

    .c-reviews-title {
      margin-bottom: 24px;

      span {
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 0.2px;
        text-align: left;
        color: #010307;
      }
    }

    .c-review-form {
      margin-bottom: 16px;
    }

    .c-reviews-entries {
      .entry {
        margin-bottom: 32px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .c-loading-reviews {
    position: relative;
    height: 3px;
  }
}

::ng-deep {
  .f5564afc {
    .buy-menu-item {
      padding: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background: #f0f0f0;
      }

      .bmi-icon {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 8px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        span.rubles {
          font-size: 16px;
          font-weight: 500;
        }
      }

      .bmi-title {
        flex: 1;

        span {
          color: #010307;
          font-size: 14px;
        }
      }
    }
  }

  .a54dcdff {
    .c-item {
      padding: 16px;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:hover {
        background-color: #fafafa;
      }

      .c-item-icon {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 16px;

        .__evodesk-sn-icon {
          width: 24px;
          height: 24px;
        }
      }

      .c-item-name {
        cursor: pointer;

        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: 0.2px;
          text-align: left;
          color: #010307;
          transition: .15s;
        }
      }
    }
  }
}
