.c((clickOutside)="close()", [delayClickOutsideInit]="true", [clickOutsideEvents]="'mousedown,touchstart'")
  ng-container(*ngIf="props.loading")
    .c-loading
      .__evodesk-loading-top
        .__evodesk-loading-top-bar
  ng-container(*ngIf="props.product")
    .c-modal-close(*ngIf="props.context === 'modal'")
      .close
        .__evodesk-icon.ic-close-modal-13x13px.with-hover((click)="close()")
    .c-flex
      .c-left
        .c-image
          .image
            img([src]="imageUrl")
      .c-right
        .c-title
          span {{ props.product.title }}
        .c-favorite
          button.button-favorite(mat-button, type="button", (click)="favorite()")
            .icon-box
              .__evodesk-icon.ic-bookmark-24x24px(*ngIf="props.product.isFavorite")
              .__evodesk-icon.ic-bookmark-outline-24x24px(*ngIf="! props.product.isFavorite")
            span(translate, *ngIf="! props.product.isFavorite") EvodeskShop.components.EvodeskShopProductView.AddFavorite
            span(translate, *ngIf=" props.product.isFavorite") EvodeskShop.components.EvodeskShopProductView.DeleteFavorite
        .c-meta
          .c-meta-left
            .c-price
              .c-price-icon
                .__evodesk-icon.ic-star-14x13px
              .c-price-value
                span {{ price }}
          .c-meta-right
            evodesk-shop-stars([stars]="props.product.stars")
        .c-category
          a([routerLink]="props.categoryRouterLink")
            span((click)="close()") {{ props.category.title }}
        .c-author(*ngIf="hasAuthor")
          .c-author-title
            span(translate) EvodeskShop.components.EvodeskShopProductView.Author
          a.c-author-link([routerLink]="['/profile', props.product.ownerId.url_alias || props.product.ownerId.id]", target="_blank")
            .c-author-avatar
              evodesk-profile-avatar([profileId]="props.product.ownerId.id", [size]="16")
            .c-author-name
              span {{ props.product.owner.name || props.product.owner.email }}
        .c-description([ngClass]="{'expanded': state.descriptionExpanded }", #contents)
          .contents.__evodesk-shop-product-description([innerHtml]="props.product.description")
          .read-more(*ngIf="! state.descriptionExpanded && state.shouldDisplayExpandButton", (click)="expandDescription()")
            span {{ 'EvodeskShop.components.EvodeskShopProductView.MoreDescription' | translate }}
        .c-note(*ngIf="! wasOrdered && (willBeSentFile || willBeSentLink || willBeSentPromo)")
          span(*ngIf="willBeSentFile", translate) EvodeskShop.components.EvodeskShopProductView.WillBeSentFile
          span(*ngIf="willBeSentLink", translate) EvodeskShop.components.EvodeskShopProductView.WillBeSentLink
          span(*ngIf="willBeSentPromo", translate) EvodeskShop.components.EvodeskShopProductView.WillBeSentPromo
        .c-actions
          .c-actions-left
            ng-container(*ngIf="props.buying")
              .buy-progress
                .__evodesk-app-circle-loader
            ng-container(*ngIf="! props.buying && wasOrdered")
              button.button.button-green-outline.button-buy(mat-button, type="button")
                .__evodesk-icon.ic-check-green-24x24px
                span {{ 'EvodeskShop.components.EvodeskShopProductView.Bought' | translate }}
            ng-container(*ngIf="! props.buying && ! wasOrdered")
              button.button.button-green.button-buy(mat-button, type="button", *ngIf="! wasOrdered", (click)="buyVariants()")
                .__evodesk-icon.ic-shopping-card-24x24px
                span {{ 'EvodeskShop.components.EvodeskShopProductView.Buy' | translate }}
              .buy-trigger(#buyTrigger, [matMenuTriggerFor]="matMenuBuy")
            button.button.button-gray(mat-button, type="button", (click)="close()", *ngIf="props.context === 'modal'")
              span {{ 'EvodeskShop.components.EvodeskShopProductView.Close' | translate }}
          .c-actions-right
            button.button.button-share(mat-button, type="button", (click)="openShareMenu()")
              .icon-box
                .__evodesk-icon.i-not-hovered.ic-share-post-18x14px
                .__evodesk-icon.i-hovered.ic-share-post-blue-18x14px
              span {{ 'EvodeskShop.components.EvodeskShopProductView.Share' | translate }}
            .share-trigger(#shareTrigger, [matMenuTriggerFor]="matMenuShare")
        ng-container(*ngIf="props.loadingReviews")
          .c-loading-reviews
            .__evodesk-loading-top
              .__evodesk-loading-top-bar
        ng-container(*ngIf="! props.loadingReviews")
          .c-no-reviews(*ngIf="! hasReviews")
            span(translate) EvodeskShop.components.EvodeskShopProductView.NoReviews
          .c-reviews(*ngIf="hasReviews")
            .c-reviews-title
              span(translate) EvodeskShop.components.EvodeskShopProductView.Reviews
            .c-review-form(*ngIf="props.canReview")
              evodesk-shop-review-form-container([product]="props.product", (success)="successReviewEvent.emit(undefined)")
            .c-reviews-entries
              .entry(*ngFor="let review of props.reviews; trackBy: trackByReviewId")
                evodesk-shop-review-container([review]="review")

mat-menu(#matMenuShare="matMenu", yPosition="below", xPosition="after")
  ng-container(*ngTemplateOutlet="shareMenuTemplate")

mat-menu(#matMenuBuy="matMenu", yPosition="below", xPosition="after")
  ng-container(*ngTemplateOutlet="buyMenuTemplate")

ng-template(#buyMenuTemplate)
  .buy-menu.f5564afc
    .buy-menu-item((click)="buyRubles()")
      .bmi-icon
        svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M5 5.68695C5 4.20296 8.13363 3 11.9991 3C15.8646 3 18.9983 4.20296 18.9983 5.68695V6.26967C18.9983 7.75365 15.8646 8.95661 11.9991 8.95661C8.13363 8.95661 5 7.75365 5 6.26967V5.68695ZM5.14891 8.63994C5.81042 9.85996 8.62667 10.7766 12.0008 10.7766C15.375 10.7766 18.1913 9.85996 18.8528 8.63994C18.9491 8.8176 19 9.6116 19 9.80027V10.383C19 11.867 15.8663 13.0699 12.0008 13.0699C8.13534 13.0699 5.00171 11.867 5.00171 10.383V9.80027C5.00171 9.6116 5.05257 8.8176 5.14891 8.63994ZM12.0008 18.7066C8.62667 18.7066 5.81042 17.79 5.14891 16.57C5.05257 16.7477 5.00171 17.5417 5.00171 17.7303V18.3131C5.00171 19.797 8.13534 21 12.0008 21C15.8663 21 19 19.797 19 18.3131V17.7303C19 17.5417 18.9491 16.7477 18.8528 16.57C18.1913 17.79 15.375 18.7066 12.0008 18.7066ZM5.14891 12.6679C5.81042 13.8879 8.62667 14.8045 12.0008 14.8045C15.375 14.8045 18.1913 13.8879 18.8528 12.6679C18.9491 12.8456 19 13.6396 19 13.8282V14.411C19 15.8949 15.8663 17.0979 12.0008 17.0979C8.13534 17.0979 5.00171 15.8949 5.00171 14.411V13.8282C5.00171 13.6396 5.05257 12.8456 5.14891 12.6679Z', fill='#FFD751')
      .bmi-title
        span(translate) EvodeskShop.components.EvodeskShopProductView.BuyPoints
    .buy-menu-item((click)="buy()")
      .bmi-icon
        span.rubles ₽
      .bmi-title
        span(translate) EvodeskShop.components.EvodeskShopProductView.BuyRubles

ng-template(#shareMenuTemplate)
  .a54dcdff.share-menu
    .c-item((click)="share('vk')")
      .c-item-icon
        .__evodesk-sn-icon.sn-vk
      .c-item-name
        span(translate) EvodeskShop.components.EvodeskShopProductView.SocialNetworks.Vk
    .c-item((click)="share('facebook')")
      .c-item-icon
        .__evodesk-sn-icon.sn-facebook
      .c-item-name
        span(translate) EvodeskShop.components.EvodeskShopProductView.SocialNetworks.Facebook
    .c-item((click)="share('linkedin')")
      .c-item-icon
        .__evodesk-sn-icon.sn-linkedin
      .c-item-name
        span(translate) EvodeskShop.components.EvodeskShopProductView.SocialNetworks.LinkedIn
    .c-item((click)="share('google-plus')")
      .c-item-icon
        .__evodesk-sn-icon.sn-google-plus
      .c-item-name
        span(translate) EvodeskShop.components.EvodeskShopProductView.SocialNetworks.GooglePlus
