.c
  .c-title
    .c-title-left
      span {{ 'EvodeskProfile.components.EvodeskProfileFollowing.Title' | translate }}
    .c-title-right
      .close((click)="close()")
        .__evodesk-icon.ic-close-modal-13x13px.with-hover
  form.c-search([formGroup]="state.searchForm", novalidate, *ngIf="hasFollowing")
    .search-box((click)="onSearchBoxClick()", [ngClass]="{ 'is-active': state.isSearchBoxActive }")
      .search-box-icon
        .__evodesk-icon.ic-search-blue-18px
      .search-box-input
        input(#searchInput, [formControlName]="'query'", type="text", (focus)="onSearchBoxFocus()", (blur)="onSearchBoxBlur()", placeholder="{{ 'EvodeskProfile.components.EvodeskProfileFollowing.SearchPlaceholder' | translate }}")
  .c-contents
    ng-container(*ngIf="hasNoSearchResults")
      .message
        span {{ 'EvodeskProfile.components.EvodeskProfileFollowing.NoSearchResults' | translate }}
    ng-container(*ngIf="hasNoFollowing")
      .message
        span {{ 'EvodeskProfile.components.EvodeskProfileFollowing.HasNoFollowing' | translate }}
    ng-container(*ngIf="hasSearchResults || noSearchAndHasFollowing")
      .c-contents-following(#followingContainer, evodeskTouchScroll="y", evodeskMouseWheelScroll, evodeskKeyboardScroll)
        .following-list
          ng-container(*ngFor="let following of following")
            .following
              .following-avatar
                evodesk-profile-avatar([profileId]="following.id", [size]="52")
              .following-info
                .following-name
                  span {{ getFollowingName(following) }}
                .following-status
                  span {{ following.position || '' }}
              .following-options
                .trigger([matMenuTriggerFor]="contextMenu")
                  .__evodesk-icon.ic-dots-menu-4x20px.with-hover
                mat-menu(#contextMenu, yPosition="below", xPosition="before", class="__evodesk-material-context-menu")
                  button(type="button", mat-menu-item, (click)="openProfile(following)")
                    span {{ 'EvodeskProfile.components.EvodeskProfileFollowing.OpenProfile' | translate }}
                  button(type="button", mat-menu-item, (click)="remove(following)", *ngIf="props.canRemove")
                    span {{ 'EvodeskProfile.components.EvodeskProfileFollowing.Remove' | translate }}
      .c-contents-scroll
        evodesk-app-common-scroll-bar([elementRef]="followingContainer", [scrollBarDirection]="'y'", [theme]="'blue'")
