.__evodesk-blue-button {
  display: inline-block;
  padding: 20px 40px;
  color: #fff;
  font-family: 'GothamProMedium', sans-serif;
  font-size: 11px;
  font-weight: normal;
  border-radius: 25px;
  background-color: #0225fb;
  text-transform: uppercase;
  transition: all .15s;
  cursor: pointer;
  outline: 0;
  border: 1px solid #0225fb;

  &:focus {
    outline: 0!important;
  }

  &:hover {
    box-shadow: 0 7px 18px rgba(29, 46, 72, 0.31);
    background-color: #1d2e48;
  }

  &:disabled {
    border-color: lighten(#0225fb, 40%);
    background-color: lighten(#0225fb, 40%);
    color: lighten(#0225fb, 70%);

    &:hover {
      box-shadow: none;
      border-color: lighten(#0225fb, 40%);
      background-color: lighten(#0225fb, 40%);
    }
  }
}

.__evodesk-blue-button--with-box-shadow {
  box-shadow: 0 10px 29px rgba(0, 36, 255, 0.6);

  &:hover {
    background-color: #0225fb;
  }
}

.__evodesk-blue-button--gray {
  color: #444;
  background-color: #e5e5e5;
  border: 1px solid #ccc;

  &:hover {
    color: #333;
    background-color: #f0f0f0;
    border-color: #ccc;
  }

  &:disabled {
    border-color: #ccc;
    background-color: #f0f0f0;
    color: #999;

    &:hover {
      border-color: #ccc;
      background-color: #f0f0f0;
      color: #999;
    }
  }
}

.__evodesk-blue-button--medium {
  padding: 7px 14px;
  border-radius: 4px;
}

.__evodesk-button--with-submit-icon {
  background-image: url(/assets/images/icons/submit.png);
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding-right: 50px;
  &[disabled] {
    color: gray;
    opacity: 0.5;
    cursor: default;
    box-shadow: unset;
  }
}
