@import "~sass-mq";

@include mq($until: 600px) {
  .c {
    .c-contents {
      .c-contents-area {
        .c-item-avatar {
          margin-right: 16px;
        }

        .c-item-description {
          .desc {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

@include mq($from: 601px) {
  .c {
    .c-contents {
      .c-contents-area {
        .c-item-avatar {
          margin-right: 16px;
        }

        .c-item-description {
          display: flex;
          align-items: center;

          .desc {
            flex: 1;
            margin-right: 8px;
          }

          .status {
            flex-grow: 0;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}

.c {
  display: flex;
  flex-direction: column;

  .c-title {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d0d6f5;

    .c-icon {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 8px;
    }

    .c-text {
      flex: 1;
      margin-right: 8px;

      span {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.4px;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
      }
    }

    .c-close {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  .c-contents {
    display: flex;
    max-height: 400px;

    .c-contents-area {
      flex: 1;
      overflow: hidden;
      padding-right: 40px;
      height: 400px;

      .c-items {
        .c-item {
          padding-top: 16px;
          padding-bottom: 12px;
          padding-left: 16px;
          border-bottom: 1px solid #d0d6f5;
          display: flex;
          align-items: center;

          .c-item-avatar {
            position: relative;

            .indicator {
              position: absolute;
              right: -3px; top: -3px;
            }
          }

          .c-item-description {
            flex: 1;

            .name {
              span {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.57;
                letter-spacing: 0.3px;
                text-align: left;
                color: #010307;
              }
            }

            .status {
              span {
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.83;
                letter-spacing: 0.2px;
                text-align: left;
                color: #aaacb4;
              }
            }

            .actions {
              .followed {
                display: flex;
                align-items: center;
                height: 32px;

                .icon {
                  width: 32px;
                }

                .text {
                  span {
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.57;
                    letter-spacing: 0.3px;
                    text-align: left;
                    color: #010307;
                  }
                }
              }

              .follow {
                button {
                  border-radius: 3px;
                  background-color: #2e4ce6;

                  span {
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.57;
                    letter-spacing: 0.3px;
                    text-align: left;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }

      .c-loading, .c-load-more {
        height: 80px;
      }

      .c-loading {
        padding-top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        .__evodesk-app-circle-loader {
          width: 16px;
          height: 16px;
        }
      }

      .c-load-more {
        margin: 16px 0;

        .load-more {
          text-align: center;

          span {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.83;
            letter-spacing: 0.2px;
            text-align: center;
            color: #aaacb4;
            text-transform: lowercase;
          }
        }
      }
    }

    .c-contents-scroll {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 4px;
    }
  }
}
