ng-container(*ngIf="!! state && state.ready")
  .c
    .c-card
      .c-card-title
        .c-title-left
          span {{ props.userCompetence.competence.title }}
        .c-title-right
          .marks-buttons
            evodesk-profile-competence-points-container([userCompetence]="props.userCompetence", (success)="marks.pushMark($event)")
          .close-button((click)="close()")
            .__evodesk-icon.ic-close-modal-15x15px.with-hover
      .c-card-contents
        .__evodesk-loading-top(*ngIf="props.loading")
          .__evodesk-loading-top-bar
        .competence-progress
          evodesk-profile-competence-progress([points]="props.userCompetence.points")
        .skills.section
          .skills-title.section-title
            span {{ 'EvodeskProfile.components.EvodeskProfileCompetenceDetails.Skills' | translate }}
          .skills-contents
            evodesk-profile-competence-skills([skills]="props.skills")
        .documents.section
          .documents-title.section-title
            span {{ 'EvodeskProfile.components.EvodeskProfileCompetenceDetails.Documents' | translate }}
          .documents-contents
            evodesk-profile-competence-documents-container([userCompetence]="props.userCompetence")
        .marks.section
          .marks-title.section-title
            span {{ 'EvodeskProfile.components.EvodeskProfileCompetenceDetails.Marks' | translate }}
          .marks-contents
            evodesk-profile-competence-marks-container(#marks, [userCompetence]="props.userCompetence")
