.c {
  max-height: 80vh;
  overflow: auto;

  .c-card {
    .c-card-title {
      padding: 4px 14px 4px 16px;
      border-bottom: 1px solid #d0d6f5;
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: #fff;

      &:hover {
        .c-title-right {
          .edit {
            display: block;
          }
        }
      }

      .c-title-left {
        flex: 1;
        margin-right: 16px;

        span {
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.4px;
          text-align: left;
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .c-title-right {
        flex-grow: 0;
        flex-shrink: 0;

        .marks-buttons, .close-button {
          display: inline-block;
        }

        .marks-buttons {
          margin-right: 24px;

          .box {
            display: flex;
            align-items: center;

            .mark {
              margin: 0 4px;
              width: 55px;
              text-align: center;
              overflow: hidden;

              span {
                font-size: 18px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: center;
                color: #010307;
              }
            }
          }
        }


        .close-button {
          cursor: pointer;
          padding: 2px;
        }
      }
    }

    .c-card-contents {
      position: relative;
      padding: 30px;

      .competence-progress {
        position: absolute;
        top: 0; right: 0; left: 0;
        height: 4px;
      }

      .section {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        .section-title {
          margin-bottom: 30px;

          span {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.34;
            letter-spacing: normal;
            text-align: left;
            color: #010307;
          }
        }
      }
    }
  }
}
