.c
  .c-title
    span {{ 'EvodeskShop.components.EvodeskShopNavigationDesktop.Main' | translate }}
  .c-nav
    .c-nav-area(#area, evodeskTouchScroll="y", evodeskMouseWheelScroll, evodeskKeyboardScroll, [evodeskMouseWheelDisableScrollPass]="true")
      a.c-nav-item([routerLink]="allRouterLink", [ngClass]="{ 'is-active': isAllActive }")
        span(translate) EvodeskShop.components.EvodeskShopNavigationDesktop.All
      a.c-nav-item([routerLink]="ordersRouterLink", [ngClass]="{ 'is-active': isOrdersActive }")
        span(translate) EvodeskShop.components.EvodeskShopNavigationDesktop.Orders
      a.c-nav-item([routerLink]="favoritesRouterLink", [ngClass]="{ 'is-active': isFavoritesActive }")
        span(translate) EvodeskShop.components.EvodeskShopNavigationDesktop.Favorites
      a.c-nav-item(*ngFor="let c of props.categories", [routerLink]="categoryRouterLink(c)", [ngClass]="{ 'is-active': isCategoryActive(c) }", [attr.data-shop-category-id]="c.id")
        span {{ c.title }}
    .c-nav-scrollbar
      evodesk-app-common-scroll-bar([elementRef]="area", [theme]="'blue'")
  .c-order-by
    .radio-buttons
      .radio-button((click)="orderBy('popularity')")
        .left
          .flag([ngClass]="{ 'is-active': isOrderByActive('popularity') }")
        .right
          span {{ 'EvodeskShop.components.EvodeskShopNavigationDesktop.OrderByPopularity' | translate }}
      .radio-button((click)="orderBy('createdAt')")
        .left
          .flag([ngClass]="{ 'is-active': isOrderByActive('createdAt') }")
        .right
          span {{ 'EvodeskShop.components.EvodeskShopNavigationDesktop.OrderByCreatedAt' | translate }}
      .radio-button((click)="orderBy('rating')")
        .left
          .flag([ngClass]="{ 'is-active': isOrderByActive('rating') }")
        .right
          span {{ 'EvodeskShop.components.EvodeskShopNavigationDesktop.OrderByRating' | translate }}
      .radio-button((click)="orderBy('feedback')")
        .left
          .flag([ngClass]="{ 'is-active': isOrderByActive('feedback') }")
        .right
          span {{ 'EvodeskShop.components.EvodeskShopNavigationDesktop.OrderByFeedback' | translate }}
  .c-order-direction
    .radio-buttons
      .radio-button((click)="orderDirection('asc')")
        .left
          .flag([ngClass]="{ 'is-active': isOrderDirectionActive('asc') }")
        .right
          span {{ 'EvodeskShop.components.EvodeskShopNavigationDesktop.OrderDirectionAsc' | translate }}
      .radio-button((click)="orderDirection('desc')")
        .left
          .flag([ngClass]="{ 'is-active': isOrderDirectionActive('desc') }")
        .right
          span {{ 'EvodeskShop.components.EvodeskShopNavigationDesktop.OrderDirectionDesc' | translate }}
