.c {
  display: flex;
  position: absolute;

  &.inverse-x {
    .c-actions {
      .card-actions {
        left: 0; margin-left: -166px;

        .ca-list {
          .ca-hover {
            &:hover {
              .ca-item {
                transform: translateX(-18px);
              }
            }
          }
        }
      }
    }
  }

  &.inverse-y {
    .c-actions {
      .card-actions {
        top: auto!important;
        bottom: 10px!important;
      }
    }
  }

  .ca-trigger {
    position: relative;
    top: 2px;
  }

  .c-actions {
    .card-actions {
      width: 160px;
      z-index: 2;
      position: absolute;
      left: 100%; margin-left: 6px;
      top: 0;
      animation: showDelayed 0.2s normal forwards ease-in-out;
      opacity: 0;

      @keyframes showDelayed {
        from {
          opacity: 0;
        }

        50% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      .ca-list {
        .ca-hover {
          padding-bottom: 4px;
          cursor: pointer;

          &:last-child {
            padding-bottom: 0;
          }

          &:hover {
            .ca-item {
              transform: translateX(18px);
            }
          }
        }

        .ca-item {
          background: rgba(29, 38, 57, 0.75);
          box-shadow: 0 1px 10px rgba(29, 38, 57, 0.1);
          border-radius: 2px;
          display: flex;
          align-items: center;
          transition: .12s ease-in;
          height: 32px;
          overflow: hidden;
          padding-left: 6px;
          padding-top: 3px;

          .icon {
            margin-right: 10px;
          }

          .title {
            position: relative;
            left: -4px;
            top: -4px;

            span {
              font-size: 12px;
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }
}
