.c(#container, *ngIf="state.ready", [ngClass]="{ 'inverse-x': state.inverseX, 'inverse-y': state.inverseY }", [ngStyle]="containerNgStyle")
  .c-card(#card, [ngStyle]="cardNgStyle")
    evodesk-desk-card-container([card]="props.card", [editMode]="true", (stopEdit)="close()")
  .c-actions
    .card-actions
      .ca-list(#actions)
        .ca-hover((click)="openLabelEvent.emit(labelMatMenuTrigger)")
          .ca-item
            .icon
              svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M4 5C4 4.44772 4.44772 4 5 4H12.3025C12.5677 4 12.822 4.10536 13.0096 4.29289L19.2845 10.5678C19.7428 11.0288 20 11.6524 20 12.3025C20 12.9525 19.7428 13.5761 19.2845 14.0371L18.5753 13.3321L19.2824 14.0392L14.0469 19.2747C13.8184 19.5035 13.547 19.685 13.2483 19.8088C12.9496 19.9326 12.6295 19.9963 12.3061 19.9963C11.9828 19.9963 11.6626 19.9326 11.3639 19.8088C11.0654 19.685 10.7942 19.5037 10.5658 19.2752C10.5656 19.275 10.5659 19.2753 10.5658 19.2752L4.29331 13.01C4.10552 12.8224 4 12.5679 4 12.3025V5ZM17.8661 12.6271C17.8664 12.6269 17.8666 12.6266 17.8669 12.6263C17.9522 12.5401 18 12.4238 18 12.3025C18 12.1812 17.9522 12.0648 17.8669 11.9786C17.8666 11.9784 17.8664 11.9781 17.8661 11.9778L11.8883 6H6V11.8879L11.9803 17.8613C12.0231 17.9041 12.0739 17.9381 12.1298 17.9612C12.1857 17.9844 12.2456 17.9963 12.3061 17.9963C12.3666 17.9963 12.4266 17.9844 12.4825 17.9612C12.5384 17.9381 12.5892 17.9041 12.6319 17.8613L17.8661 12.6271Z', fill='white')
            .title
              span(translate) EvodeskDesk.components.common.EvodeskDeskCardFloat.Actions.Labels
          .ca-trigger(#sLabelMatMenuTrigger, [matMenuTriggerFor]="props.labelMatMenu", *ngIf="props.labelMatMenu")
        .ca-hover((click)="openDeadlineEvent.emit(deadlineMatMenuTrigger)")
          .ca-item
            .icon
              svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M6 12C6 8.68629 8.68629 6 12 6C15.3137 6 18 8.68629 18 12C18 15.3137 15.3137 18 12 18C8.68629 18 6 15.3137 6 12ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM13 8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8V11.75C11 12.1537 11.2427 12.5178 11.6154 12.6731L14.6154 13.9231C15.1252 14.1355 15.7107 13.8944 15.9231 13.3846C16.1355 12.8748 15.8944 12.2893 15.3846 12.0769L13 11.0833V8Z', fill='white')
            .title
              span(translate) EvodeskDesk.components.common.EvodeskDeskCardFloat.Actions.Deadline
          .ca-trigger(#sDeadlineMatMenuTrigger, [matMenuTriggerFor]="props.deadlineMatMenu")
        .ca-hover((click)="openChecklistEvent.emit(checklistsMatMenuTrigger)")
          .ca-item
            .icon
              svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M18.7071 7.28575C19.0976 7.66675 19.0976 8.28447 18.7071 8.66547L10.4571 16.7143C10.0666 17.0953 9.43342 17.0953 9.04289 16.7143L5.29289 13.0557C4.90237 12.6747 4.90237 12.057 5.29289 11.676C5.68342 11.295 6.31658 11.295 6.70711 11.676L9.75 14.6447L17.2929 7.28575C17.6834 6.90475 18.3166 6.90475 18.7071 7.28575Z', fill='white')
            .title
              span(translate) EvodeskDesk.components.common.EvodeskDeskCardFloat.Actions.Checklist
          .ca-trigger(#sChecklistsMatMenuTrigger, [matMenuTriggerFor]="props.checklistsMatMenu")
        .ca-hover((click)="openAddAttachmentEvent.emit(addAttachmentMatMenu)")
          .ca-item
            .icon
              svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M15.3412 5C14.7144 5 14.1242 5.23537 13.6979 5.63749L6.13343 12.7717C5.40014 13.4633 5 14.3883 5 15.3396C5 16.2909 5.40014 17.2159 6.13343 17.9075C6.8687 18.601 7.87783 19 8.94144 19C10.0051 19 11.0142 18.601 11.7494 17.9075L19.3139 10.7733C19.7157 10.3944 20.3486 10.4129 20.7275 10.8147C21.1064 11.2165 21.0879 11.8494 20.6861 12.2283L13.1217 19.3625C12.0036 20.417 10.4989 21 8.94144 21C7.38395 21 5.87932 20.417 4.7612 19.3625C3.64109 18.3061 3 16.8604 3 15.3396C3 13.8189 3.64109 12.3731 4.7612 11.3167L12.3256 4.18251C13.1349 3.41931 14.2205 3 15.3412 3C16.4618 3 17.5475 3.41931 18.3567 4.18251C19.1679 4.94758 19.6355 5.99818 19.6355 7.10693C19.6355 8.21568 19.1679 9.26628 18.3567 10.0314L10.784 17.1656C10.7839 17.1657 10.7842 17.1654 10.784 17.1656C10.2838 17.6372 9.61682 17.8931 8.93321 17.8931C8.24942 17.8931 7.58271 17.6374 7.08238 17.1656C6.58007 16.6918 6.28606 16.0363 6.28606 15.3396C6.28606 14.6429 6.58007 13.9874 7.08238 13.5136L14.0711 6.93021C14.4731 6.55151 15.106 6.57041 15.4846 6.97242C15.8633 7.37442 15.8444 8.00731 15.4424 8.386L8.45462 14.9686C8.45461 14.9686 8.45463 14.9686 8.45462 14.9686C8.33915 15.0775 8.28606 15.2123 8.28606 15.3396C8.28606 15.4669 8.33913 15.6017 8.45462 15.7106C8.57209 15.8214 8.7433 15.8931 8.93321 15.8931C9.12312 15.8931 9.29433 15.8214 9.4118 15.7106L16.9845 8.57637C16.9846 8.57625 16.9843 8.5765 16.9845 8.57637C17.4086 8.17617 17.6355 7.64603 17.6355 7.10693C17.6355 6.56766 17.4089 6.03774 16.9845 5.63749C16.5581 5.23537 15.9679 5 15.3412 5Z', fill='white')
            .title
              span(translate) EvodeskDesk.components.common.EvodeskDeskCardFloat.Actions.Attachment
          .ca-trigger(#sAddAttachmentMatMenu, [matMenuTriggerFor]="props.addAttachmentMatMenu")
        .ca-hover((click)="openMoveEvent.emit(moveMatMenu)")
          .ca-item
            .icon
              svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M12.7071 4.29289C12.3166 3.90237 11.6834 3.90237 11.2929 4.29289L9.29289 6.29289C8.90237 6.68342 8.90237 7.31658 9.29289 7.70711C9.68342 8.09763 10.3166 8.09763 10.7071 7.70711L11 7.41421V11H7.41421L7.70711 10.7071C8.09763 10.3166 8.09763 9.68342 7.70711 9.29289C7.31658 8.90237 6.68342 8.90237 6.29289 9.29289L4.29289 11.2929C3.90237 11.6834 3.90237 12.3166 4.29289 12.7071L6.29289 14.7071C6.68342 15.0976 7.31658 15.0976 7.70711 14.7071C8.09763 14.3166 8.09763 13.6834 7.70711 13.2929L7.41421 13H11V16.5858L10.7071 16.2929C10.3166 15.9024 9.68342 15.9024 9.29289 16.2929C8.90237 16.6834 8.90237 17.3166 9.29289 17.7071L11.2929 19.7071C11.6834 20.0976 12.3166 20.0976 12.7071 19.7071L14.7071 17.7071C15.0976 17.3166 15.0976 16.6834 14.7071 16.2929C14.3166 15.9024 13.6834 15.9024 13.2929 16.2929L13 16.5858V13H16.5858L16.2929 13.2929C15.9024 13.6834 15.9024 14.3166 16.2929 14.7071C16.6834 15.0976 17.3166 15.0976 17.7071 14.7071L19.7071 12.7071C20.0976 12.3166 20.0976 11.6834 19.7071 11.2929L17.7071 9.29289C17.3166 8.90237 16.6834 8.90237 16.2929 9.29289C15.9024 9.68342 15.9024 10.3166 16.2929 10.7071L16.5858 11H13V7.41421L13.2929 7.70711C13.6834 8.09763 14.3166 8.09763 14.7071 7.70711C15.0976 7.31658 15.0976 6.68342 14.7071 6.29289L12.7071 4.29289Z', fill='white')
            .title
              span(translate) EvodeskDesk.components.common.EvodeskDeskCardFloat.Actions.Move
          .ca-trigger(#sMoveMatMenu, [matMenuTriggerFor]="props.moveMatMenu")
        .ca-hover((click)="openMoveEvent.emit(copyLinkMatMenu)")
          .ca-item
            .icon
              svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M6.11265 6.11265C6.18478 6.04052 6.28261 6 6.38462 6H12.6154C12.7174 6 12.8152 6.04052 12.8873 6.11265C12.9595 6.18478 13 6.28261 13 6.38462V7.07692C13 7.62921 13.4477 8.07692 14 8.07692C14.5523 8.07692 15 7.62921 15 7.07692V6.38462C15 5.75218 14.7488 5.14564 14.3016 4.69844C13.8544 4.25124 13.2478 4 12.6154 4H6.38462C5.75218 4 5.14564 4.25124 4.69844 4.69844C4.25124 5.14564 4 5.75218 4 6.38462V12.6154C4 13.2478 4.25124 13.8544 4.69844 14.3016C5.14564 14.7488 5.75218 15 6.38462 15H7.07692C7.62921 15 8.07692 14.5523 8.07692 14C8.07692 13.4477 7.62921 13 7.07692 13H6.38462C6.28261 13 6.18478 12.9595 6.11265 12.8873C6.04052 12.8152 6 12.7174 6 12.6154V6.38462C6 6.28261 6.04052 6.18478 6.11265 6.11265ZM11 11.3846C11 11.1722 11.1722 11 11.3846 11H17.6154C17.8278 11 18 11.1722 18 11.3846V17.6154C18 17.8278 17.8278 18 17.6154 18H11.3846C11.1722 18 11 17.8278 11 17.6154V11.3846ZM11.3846 9C10.0676 9 9 10.0676 9 11.3846V17.6154C9 18.9324 10.0676 20 11.3846 20H17.6154C18.9324 20 20 18.9324 20 17.6154V11.3846C20 10.0676 18.9324 9 17.6154 9H11.3846Z', fill='white')
            .title
              span(translate) EvodeskDesk.components.common.EvodeskDeskCardFloat.Actions.CopyLink
          .ca-trigger(#sCopyLinkMatMenu, [matMenuTriggerFor]="props.copyLinkMatMenu")
        .ca-hover((click)="archiveEvent.emit(undefined)")
          .ca-item
            .icon
              svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M4 6C4 5.44772 4.44772 5 5 5H19C19.5523 5 20 5.44772 20 6V10C20 10.5523 19.5523 11 19 11V18C19 18.5523 18.5523 19 18 19H6C5.44772 19 5 18.5523 5 18V11C4.44772 11 4 10.5523 4 10V6ZM7 17H17V11H7V17ZM18 7V9H6V7H18ZM11 12C10.4477 12 10 12.4477 10 13C10 13.5523 10.4477 14 11 14H13C13.5523 14 14 13.5523 14 13C14 12.4477 13.5523 12 13 12H11Z', fill='white')
            .title
              span(translate) EvodeskDesk.components.common.EvodeskDeskCardFloat.Actions.Archive
          .ca-trigger
        .ca-hover((click)="deleteEvent.emit(undefined)")
          .ca-item
            .icon
              svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M10.2612 6.12426C10.3401 6.04695 10.4513 6 10.5714 6H13.4286C13.5487 6 13.6599 6.04695 13.7388 6.12426C13.817 6.20091 13.8571 6.30051 13.8571 6.4V7H10.1429V6.4C10.1429 6.30051 10.183 6.20091 10.2612 6.12426ZM8.14286 7V6.4C8.14286 5.75689 8.40374 5.1443 8.86135 4.69584C9.31827 4.24805 9.93378 4 10.5714 4H13.4286C14.0662 4 14.6817 4.24805 15.1387 4.69584C15.5963 5.1443 15.8571 5.75689 15.8571 6.4V7H19C19.5523 7 20 7.44772 20 8C20 8.55228 19.5523 9 19 9H18V17.6C18 18.2431 17.7391 18.8557 17.2815 19.3042C16.8246 19.7519 16.2091 20 15.5714 20H8.42857C7.79092 20 7.17542 19.7519 6.71849 19.3042C6.26088 18.8557 6 18.2431 6 17.6V9H5C4.44772 9 4 8.55228 4 8C4 7.44772 4.44772 7 5 7H8.14286ZM8 9V17.6C8 17.6995 8.04014 17.7991 8.11835 17.8757C8.19724 17.9531 8.30846 18 8.42857 18H15.5714C15.6915 18 15.8028 17.9531 15.8817 17.8757C15.9599 17.7991 16 17.6995 16 17.6V9H8Z', fill='white')
            .title
              span(translate) EvodeskDesk.components.common.EvodeskDeskCardFloat.Actions.Delete
          .ca-trigger
