.__evodesk-submit-button {
  margin: 10px 0;
  padding: 0 18px;
  font-size: 0;
  background-color: #0829f0;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 16px rgba(0,36,255,.57);
  transition: all .3s;
  outline: 0;

  span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
    line-height: 50px;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
  }

  &:hover {
    box-shadow: 0 0 16px rgba(0,36,255,.85);
  }

  i {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #abb5c3;
  }

  &:disabled {
    color: #ccc;
    background-color: #e0e0e0;
    box-shadow: 0 4px 16px rgba(0,36,255,0);
  }
}

.__evodesk-submit-button-tip {
  display: block;
  margin: 7px 0;
  padding-top: 4px;
  color: #abb5c3;
  background-color: transparent;
  font-family: 'Intro Book', sans-serif;
  font-size: 12px;

  i.icon-pointer {
    margin-right: 8px;
  }

  i {
    span {
      background-color: transparent;
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      font-family: 'Intro Book', sans-serif;
      padding-left: 10px;
    }
  }
}
