.c
  .c-fluid-container
    .c-contents
      .c-contents-content
        ng-content
      .c-contents-sidebar
        .auth-sticky
          .c-auth-placeholder(*ngIf="! hasAuthToken")
            .img
              img(src="/assets/landing/userpic.svg")
            .welcome
              span {{ 'EvodeskLanding.components.LandingAuthPanel.Welcome' | translate }}
          .c-auth-form
            evodesk-landing-auth-container(theme='light')
  .c-footer
    .c-footer-flex
      evodesk-landing-footer
