.c {
  .c-fluid-container {
    width: 1360px;
    max-width: 100%;
    margin: 0 auto;

    &:before {
      content: ' ';
      display: table;
    }
  }

  .c-contents {
    display: flex;
    margin-left: -16px;
    margin-right: -16px;

    .c-contents-content {
      padding-top: 48px;
      padding-right: 65px;
      width: 66.66666667%;
      position: relative;
      min-height: 1px;
      padding-left: 16px;
      float: left;
    }

    .c-contents-sidebar {
      background: #fff;
      border-left: 1px solid #E0E0E0;
      position: relative;
      width: 33.33333333%;
      float: left;
      min-height: 1px;
      padding-left: 16px;
      padding-right: 16px;
      flex: 1;
      margin-right: 20px;
      min-width: 380px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: -99999px;
        background: #fff;
        top: 0;
        bottom: 0;
      }

      .auth-sticky {
        position: fixed;
        padding: 45px 32px;
        max-width: 380px;
        width: 100%;
      }

      .c-auth-placeholder {
        .img {
          width: 80px;
          height: 80px;
          margin: 0 auto 24px;

          img {
            width: 80px;
            height: 80px;
          }
        }

        .welcome {
          margin: 24px auto;
          text-align: center;
          max-width: 300px;

          span {
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: 0.3px;
            text-align: center;
            color: #010307;
          }
        }
      }

      .c-auth-placeholder {
        width: 320px;
      }
    }
  }

  .c-footer {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #000;

    .c-footer-flex {
      flex: 1;

      ::ng-deep {
        .c {
          border-top: none;
        }
      }
    }
  }
}
