.c.___evodesk-desk-filter-ng-deep(*ngIf="state.ready", (click)="$event.stopPropagation()")
  .c-modal
    .c-modal-contents
      .c-header
        .c-header-title
          span(translate) EvodeskDesk.components.common.EvodeskDeskFilter.Title
        .c-header-reset(*ngIf="props.filters.length > 0")
          .reset-button((click)="resetEvent.emit(undefined)")
            span(translate) EvodeskDesk.components.common.EvodeskDeskFilter.Reset
            .bottom-hr
        .c-header-close
          button.close-button((click)="close()")
            .__evodesk-icon-v3.iv3-x-medium-24x24px.with-hover
      .c-enabled-filters(*ngIf="props.filters.length > 0")
        ng-container(*ngFor="let f of sortedFilters")
          ng-container(*ngIf="f.type === 'label'")
            ng-template(let-label, [ngTemplateOutletContext]="{ $implicit: labelOfFilter(f) }", [ngTemplateOutlet]="t", #t)
              .ib
                .badge.badge-label
                  .b-pin
                    .pin([ngStyle]="colorPinNgStyles(label)")
                  .b-title
                    span(*ngIf="(label.name || '').length > 0") {{ label.name }}
                    span(*ngIf="(label.name || '').length === 0 && findDefaultPaletteByColor(label.color)", translate) {{ findDefaultPaletteByColor(label.color).translate }}
                    span(*ngIf="(label.name || '').length === 0 && ! findDefaultPaletteByColor(label.color)", translate) EvodeskDesk.components.common.EvodeskDeskFilter.NoName
                  .b-remove
                    .remove-button((click)="toggleLabel(label)")
                      ng-container(*ngTemplateOutlet="removeIcon")
          ng-container(*ngIf="f.type === 'deadline'")
            .ib
              .badge.badge-deadline
                .b-title
                  span(translate) {{ translateDeadlineVariant(f.options.variant) }}
                .b-remove
                  .remove-button((click)="toggleDeadline(f.options.variant)")
                    ng-container(*ngTemplateOutlet="removeIcon")
          ng-container(*ngIf="f.type === 'participant'")
            ng-template(let-participant, [ngTemplateOutletContext]="{ $implicit: participant(f.options.participantId) }", [ngTemplateOutlet]="s", #s)
              .ib
                .badge.badge-participant
                  .b-avatar
                    evodesk-profile-avatar([size]="32", [profileId]="participant.id")
                  .b-title
                    span {{ participant.name || participant.email }}
                  .b-remove
                    .remove-button((click)="toggleParticipant(participant)")
                      ng-container(*ngTemplateOutlet="removeIcon")
      .c-screen
        mat-tab-group([disableRipple]="true", [animationDuration]="'0ms'")
          mat-tab(label="{{ 'EvodeskDesk.components.common.EvodeskDeskFilter.Labels' | translate }}")
            .c-labels
              .c-labels-list
                .c-labels-area(#labels, evodeskMouseWheelScroll, evodeskTouchScroll="y", evodeskKeyboardScroll)
                  .no-labels(*ngIf="! hasAnyLabels")
                    span(translate) EvodeskDesk.components.common.EvodeskDeskFilter.NoLabels
                  .labels(*ngIf="hasAnyLabels")
                    .label(*ngFor="let label of props.labels; trackBy: trackByLabelId", (click)="toggleLabel(label)", [ngClass]="{ 'is-enabled': isLabelEnabled(label.id) }")
                      .label-color
                        .pin-container
                          .pin([ngStyle]="colorPinNgStyles(label)")
                      .label-title
                        span(*ngIf="(label.name || '').length > 0") {{ label.name }}
                        span(*ngIf="(label.name || '').length === 0 && findDefaultPaletteByColor(label.color)", translate) {{ findDefaultPaletteByColor(label.color).translate }}
                        span(*ngIf="(label.name || '').length === 0 && ! findDefaultPaletteByColor(label.color)", translate) EvodeskDesk.components.common.EvodeskDeskFilter.NoName
                      .label-checked
                        .icon-container
                          ng-container(*ngIf="isLabelEnabled(label.id)")
                            ng-container(*ngTemplateOutlet="checkedIcon")
                .c-labels-scroll
                  evodesk-app-common-scroll-bar([elementRef]="labels", [scrollBarDirection]="'y'", [theme]="'v3'")
          mat-tab(label="{{ 'EvodeskDesk.components.common.EvodeskDeskFilter.Deadline' | translate }}")
            .c-deadline
              .c-deadline-list
                .dl-item(*ngFor="let variant of availableDeadlines", (click)="toggleDeadline(variant)", [ngClass]="{ 'is-enabled': isDeadlineEnabled(variant) }")
                  .dl-item-title
                    span(translate) {{ translateDeadlineVariant(variant) }}
                  .dl-item-checked
                    .icon-container
                      ng-container(*ngIf="isDeadlineEnabled(variant)")
                        svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(fill-rule='evenodd', clip-rule='evenodd', d='M18.7071 7.28575C19.0976 7.66675 19.0976 8.28447 18.7071 8.66547L10.4571 16.7143C10.0666 17.0953 9.43342 17.0953 9.04289 16.7143L5.29289 13.0557C4.90237 12.6747 4.90237 12.057 5.29289 11.676C5.68342 11.295 6.31658 11.295 6.70711 11.676L9.75 14.6447L17.2929 7.28575C17.6834 6.90475 18.3166 6.90475 18.7071 7.28575Z', fill='#4A84FB')

          mat-tab(label="{{ 'EvodeskDesk.components.common.EvodeskDeskFilter.Participants' | translate }}")
            .c-participants
              .c-participants-list
                .c-participants-area(#participants, evodeskMouseWheelScroll, evodeskTouchScroll="y", evodeskKeyboardScroll)
                  .participant(*ngFor="let p of props.participants; trackBy: trackByParticipantId", (click)="toggleParticipant(p)", [ngClass]="{ 'is-enabled': isParticipantEnabled(p.id) }")
                    .p-avatar
                      evodesk-profile-avatar([size]="32", [profileId]="p.id")
                    .p-name
                      span {{ p.name || p.email }}
                    .p-checked
                      .icon-container
                        ng-container(*ngIf="isParticipantEnabled(p.id)")
                          ng-container(*ngTemplateOutlet="checkedIcon")
                .c-participants-scroll
                  evodesk-app-common-scroll-bar([elementRef]="participants", [scrollBarDirection]="'y'", [theme]="'v3'")


ng-template(#checkedIcon)
  svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd', clip-rule='evenodd', d='M18.7071 7.28575C19.0976 7.66675 19.0976 8.28447 18.7071 8.66547L10.4571 16.7143C10.0666 17.0953 9.43342 17.0953 9.04289 16.7143L5.29289 13.0557C4.90237 12.6747 4.90237 12.057 5.29289 11.676C5.68342 11.295 6.31658 11.295 6.70711 11.676L9.75 14.6447L17.2929 7.28575C17.6834 6.90475 18.3166 6.90475 18.7071 7.28575Z', fill='#4A84FB')

ng-template(#removeIcon)
  svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd', clip-rule='evenodd', d='M16.3536 8.35355C16.5488 8.15829 16.5488 7.84171 16.3536 7.64645C16.1583 7.45118 15.8417 7.45118 15.6464 7.64645L12 11.2929L8.35355 7.64645C8.15829 7.45118 7.84171 7.45118 7.64645 7.64645C7.45118 7.84171 7.45118 8.15829 7.64645 8.35355L11.2929 12L7.64645 15.6464C7.45118 15.8417 7.45118 16.1583 7.64645 16.3536C7.84171 16.5488 8.15829 16.5488 8.35355 16.3536L12 12.7071L15.6464 16.3536C15.8417 16.5488 16.1583 16.5488 16.3536 16.3536C16.5488 16.1583 16.5488 15.8417 16.3536 15.6464L12.7071 12L16.3536 8.35355Z', fill='#BBBEC4')
