@import "~sass-mq";

.c {
  .c-modal {
    background-color: #fff;
    z-index: 1;
    width: 349px;
    max-width: 100%;

    .c-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 48px;
      border-bottom: 1px solid #EFF0F1;
      padding-left: 20px;
      padding-right: 19px;

      .c-header-title {
        flex-grow: 0;
        flex-shrink: 0;
        font-weight: 500;
        line-height: 21px;
        font-size: 14px;
        color: #000;
        margin-right: 4px;
      }

      .c-header-reset {
        flex: 1;

        .reset-button {
          cursor: pointer;
          position: relative;
          display: inline-block;

          .bottom-hr {
            position: absolute;
            bottom: 4px; left: 0; right: 0;
            height: 1px; background: #777D88;
          }

          span {
            line-height: 21px;
            font-size: 14px;
            color: #777D88;
          }
        }
      }

      .c-header-close {
        flex-grow: 0;
        flex-shrink: 0;

        button.close-button {
          border: 0;
          outline: 0;
          background-color: transparent;
          cursor: pointer;
          width: 24px;
          height: 24px;

          i {
            font-size: 14px;
            color: #999;
          }

          &:hover {
            i {
              color: #666;
            }
          }
        }
      }
    }
  }

  .c-enabled-filters {
    border-bottom: 1px solid #EFF0F1;
    line-height: 40px;
    vertical-align: middle;
    padding: 16px 16px 8px;

    .ib {
      display: inline-block;
      vertical-align: top;
      margin-right: 8px;
    }

    .badge {
      margin-right: 8px;
      background: #F8F8F9;
      border-radius: 21px;
      height: 32px;
      word-break: keep-all;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 260px;

      &:last-child {
        margin-right: 0;
      }
    }

    .badge-label {
      padding-right: 5px;
      padding-left: 12px;
      display: flex;
      align-items: center;

      .b-pin {
        margin-right: 10px;

        .pin {
          width: 8px;
          height: 8px;
          border-radius: 100%;
          overflow: hidden;
        }
      }

      .b-title {
        flex: 1;
        margin-right: 3px;
        word-break: break-word;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;

        span {
          font-size: 14px;
          color: #1D2639;
        }
      }

      .b-remove {
        .remove-button {
          cursor: pointer;
          width: 24px;
          height: 24px;

          &:hover {
            svg path {
              fill: #000;
            }
          }
        }
      }
    }

    .badge-deadline {
      padding: 5px 5px 8px 14px;
      display: flex;
      align-items: center;

      .b-title {
        flex: 1;
        margin-right: 3px;
        word-break: break-word;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;

        span {
          font-size: 14px;
          color: #1D2639;
        }
      }

      .b-remove {
        .remove-button {
          cursor: pointer;
          width: 24px;
          height: 24px;

          &:hover {
            svg path {
              fill: #000;
            }
          }
        }
      }
    }

    .badge-participant {
      display: flex;
      align-items: center;
      height: 32px;
      padding-right: 5px;

      .b-avatar {
        margin-right: 10px;
      }

      .b-title {
        flex: 1;
        margin-right: 3px;
        word-break: break-word;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;

        span {
          font-size: 14px;
          color: #1D2639;
        }
      }

      .b-remove {
        .remove-button {
          cursor: pointer;
          width: 24px;
          height: 24px;

          &:hover {
            svg path {
              fill: #000;
            }
          }
        }
      }
    }
  }

  .c-labels {
    padding: 10px 0;

    .c-labels-list {
      display: flex;

      .c-labels-area {
        flex: 1;
        max-height: 420px;
        overflow: hidden;

        .no-labels {
          padding: 20px 10px;
          text-align: center;
          max-width: 200px;
          margin: 0 auto;

          span {
            font-size: 14px;
            color: #1D2639
          }
        }

        .labels {
          .label {
            padding: 8px 13px 8px 12px;
            display: flex;
            cursor: pointer;
            margin-bottom: 4px;

            &:last-child {
              margin-bottom: 0;
            }

            &.is-enabled {
              background: rgba(74, 132, 251, 0.1);

              &:hover {
                background: rgba(74, 132, 251, 0.1);
              }
            }

            &:hover {
              background: #FAFAFA;
            }

            .label-color {
              flex: 0;
              margin-right: 2px;

              .pin-container {
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;

                .pin {
                  width: 8px;
                  height: 8px;
                  border-radius: 100%;
                  overflow: hidden;
                }
              }
            }

            .label-title {
              flex: 1;
              margin-right: 10px;
              display: block;
              word-break: break-all;
              margin-top: 1px;

              span {
                font-size: 14px;
                color: #1D2639;
              }
            }

            .label-checked {
              flex: 0;

              .icon-container {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }

      .c-labels-scroll {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
  }

  .c-deadline {
    padding: 10px 0;

    .c-deadline-list {

      .dl-item {
        padding: 8px 15px 8px 20px;
        display: flex;
        cursor: pointer;
        margin-bottom: 4px;

        &:last-child {
          margin-bottom: 0;
        }

        &.is-enabled {
          background: rgba(74, 132, 251, 0.1);

          &:hover {
            background: rgba(74, 132, 251, 0.1);
          }
        }

        &:hover {
          background: #FAFAFA;
        }

        .dl-item-title {
          flex: 1;
          margin-right: 10px;
          display: block;
          word-break: break-all;
          margin-top: 1px;

          span {
            font-size: 14px;
            color: #1D2639;
          }
        }

        .dl-item-checked {
          flex: 0;

          .icon-container {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  .c-participants {
    .c-participants-list {
      display: flex;

      .c-participants-area {
        flex: 1;
        max-height: 420px;
        overflow: hidden;
        padding: 10px 0;

        .participant {
          height: 48px;
          display: flex;
          align-items: center;
          padding-left: 19px;
          padding-right: 15px;
          cursor: pointer;

          &:last-child {
            margin-bottom: 0;
          }

          &.is-enabled {
            background: rgba(74, 132, 251, 0.1);

            &:hover {
              background: rgba(74, 132, 251, 0.1);
            }
          }

          &:hover {
            background: #FAFAFA;
          }

          .p-avatar {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 10px;
          }

          .p-name {
            flex: 1;
            margin-right: 10px;
            display: block;
            word-break: break-all;
            margin-top: 1px;

            span {
              font-size: 14px;
              color: #1D2639;
            }
          }

          .p-checked {
            flex: 0;

            .icon-container {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .c-participants-scroll {
        flex-shrink: 0;
        flex-grow: 0;
      }
    }
  }
}

.search {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px 20px;
  padding-bottom: 8px;

  &.is-not-focused {
    border-bottom: 1px solid #EFF0F1;

    .focused { display: none; }
    .not-focused { display: block; }
  }

  &.is-focused {
    border-bottom: 1px solid #4A84FB;

    .focused { display: block; }
    .not-focused { display: none; }
  }

  &:hover {
    border-bottom: 1px solid #4A84FB;

    .not-hovered {
      display: none;
    }

    .hovered {
      display: block;
    }
  }

  .c-search-icon {
    flex: 0;
    margin-right: 10px;
  }

  .c-search-input {
    flex: 1;
    margin-right: 10px;

    input.input {
      font-style: normal;
      font-weight: normal;
      line-height: 21px;
      font-size: 14px;
      color: #1D2639;
      width: 100%;
      border: 0;
      cursor: pointer;

      &::placeholder {
        color: #BBBEC4;
      }

      &:hover::placeholder {
        color: #777D88;
      }
    }
  }

  .c-search-clear {
    flex: 0;
    cursor: pointer;
  }
}

::ng-deep {
  .___evodesk-desk-filter-ng-deep {
    .mat-tab-label {
      min-width: 0!important;
      padding: 0 20px!important;
      height: 48px!important;
      opacity: 1;
    }

    .mat-ink-bar {
      background-color: #4A84FB!important;
      height: 2px!important;
      transition-duration: 50ms!important;
      bottom: -1px;
    }

    .mat-tab-header {
      overflow: visible;

      .mat-tab-label-container {
        overflow: visible;
      }
    }

    .mat-tab-label-content {
      font-size: 14px!important;
      color: #BBBEC4!important;
      font-weight: normal!important;
    }

    .mat-tab-label-active {
      .mat-tab-label-content {
        color: #1D2639!important;
      }
    }

    .mat-tab-header {
      border-bottom: 1px solid #EFF0F1!important;
    }
  }
}
