.c
  form.main-form(#mainContainerRef, evodeskMouseWheelScroll, evodeskTouchScroll, evodeskKeyboardScroll, [formGroup]="form", novalidate, (submit)="$event.preventDefault()")
    .c-modal-close
      button.close-button((click)="cancel()", type="button")
        i.icon-cross
    .c-modal-title
      input.input(
      cdkFocusInitial,
      [formControlName]="'title'", type="text", maxlength="32",
      placeholder="{{ 'EvodeskDeskDashboard.components.DeskDashboardCard.EditModal.TitlePlaceholder' | translate }}",
      (keyup.escape)="cancel()", (keyup.enter)="save()"
      )
    .c-modal-colors
      .c-modal-colors-label
        span {{ 'EvodeskDeskDashboard.components.DeskDashboardCard.EditModal.ColorsLabel' | translate }}
      .c-modal-colors-palette
        .palette
          .palette-item(*ngFor="let color of state.availableColors", (click)="setColor(color)", [ngClass]="{ 'is-selected': color === form.get('color').value }")
            .palette-hover
            .palette-bg([ngStyle]="{ 'background-color': color}")
    .c-modal-participants
      .c-modal-participants-label
        span {{ 'EvodeskDeskDashboard.components.DeskDashboardCard.EditModal.Participants' | translate }}
      .c-modal-participants-list
        .participants
          .participants-item(
          *ngFor="let p of props.usersToDisplay", [ngClass]="{ 'is-active': p.active }", (click)="navigateToProfile(p.id)")
            a.avatar([ngStyle]="getParticipantNgStylesFor(p)", target="_blank", [routerLink]="['/profile/', p.id]")
            .delete-button((click)="deleteParticipant(p)", *ngIf="p.id !== props.currentUserId", type="button")
              i.icon-cross
          .add-button((click)="openInviteSection()")
            i.icon-plus
    .c-modal-send-invite(*ngIf="state.isInviteSectionEnabled")
      .c-modal-send-invite-label
        span {{ 'EvodeskDeskDashboard.components.DeskDashboardCard.EditModal.Invite' | translate }}
      .c-modal-send-invite-form
        .f-title
          input.input(
          #sendInviteToInput,
          [formControlName]="'sendInviteTo'", type="text", minlength="3", maxlength="255",
          placeholder="{{ 'EvodeskDeskDashboard.components.DeskDashboardCard.EditModal.InvitePlaceholder' | translate }}",
          (keyup.escape)="cancel()", (keyup.enter)="$event.preventDefault(); sendInvite()"
          )
        .f-tip
          span {{ 'EvodeskDeskDashboard.components.DeskDashboardCard.EditModal.InviteTip' | translate }}
        .c-search-results
          .c-search-has-results(*ngIf="props.searchResults.length > 0")
            .title
              span {{ 'EvodeskDeskDashboard.components.DeskDashboardCard.EditModal.Select' | translate }}
            .search-results
              .search-results-list(#searchResults, evodeskMouseWheelScroll, evodeskTouchScroll, evodeskKeyboardScroll)
                .record(*ngFor="let u of props.searchResults", (click)="selectUser(u)", [ngClass]="{ 'inactive': isInactive(u) }")
                  .r-avatar
                    .avatar([ngStyle]="getParticipantNgStylesFor(u)")
                  .r-name
                    span {{ u.email }}
                .show-more((click)="showMoreEvent.emit()") {{ 'EvodeskDeskDashboard.components.DeskDashboardCard.EditModal.ShowMore' | translate }}
              .search-results-scroll
                evodesk-app-common-scroll-bar([elementRef]="searchResults", [scrollBarDirection]="'y'")
        .c-search-results-fetching(*ngIf="props.searchInProgress")
          .__evodesk-app-circle-loader
        .f-submit
          button.button((click)="sendInvite()", type="button", [disabled]="! form.get('sendInviteTo').valid")
            span {{ 'EvodeskDeskDashboard.components.DeskDashboardCard.EditModal.InviteSubmit' | translate }}
        .f-invite-link
    .c-modal-send-invite-link(*ngIf="state.isInviteSectionEnabled && props.inviteLink")
      button.button((click)="copyInviteLink()", type="button")
        i.copy-link-icon
        span(*ngIf="state.isInviteLinkCopied") {{ 'EvodeskDeskDashboard.components.DeskDashboardCard.EditModal.InviteLinkCopied' | translate }}
        span(*ngIf="! state.isInviteLinkCopied") {{ 'EvodeskDeskDashboard.components.DeskDashboardCard.EditModal.CopyInviteLink' | translate }}
      input.link(#copyLink, readonly, value="{{ props.inviteLink }}")
    .c-modal-save((click)="save()")
      button.button(type="button")
        span {{ 'EvodeskDeskDashboard.components.DeskDashboardCard.EditModal.SaveDesk' | translate }}
  .search-results-scroll
    evodesk-app-common-scroll-bar([elementRef]="mainContainerRef", [scrollBarDirection]="'y'")
