@import "../../../../../../node_modules/sass-mq";

:host {
  width: 100%;
  height: 100%;
}

.c {
  width: 100%;
  height: 100%;
  transition: .15s;
  position: relative;
  display: flex;

  .main-form {
    flex: 1;
    max-height: calc(100vh - 48px);
    overflow: hidden;
    margin-right: 14px;
  }

  input.input {
    width: 100%;
    outline: none;
    background: white;
    color: #1d2e48;
    font-family: 'GothamPro', sans-serif;
    border: 0;
    border-bottom: 1px solid #E7E8EC;
    margin: 8px 0 4px;
    font-size: 15px;
    border-radius: 0;
    font-weight: 400;
    height: 40px;
    padding: 10px;

    &:focus {
      outline: 0;
      border-bottom: 1px solid #1d2e48;
    }
  }

  .c-modal-title {
    padding-top: 10px;
    margin-bottom: 15px;
  }

  .c-modal-colors {
    margin-bottom: 15px;

    .c-modal-colors-label {
      margin-bottom: 15px;

      span {
        color: black;
        font-size: 13px;
        text-align: left;
        font-weight: 500;
        padding: 5px;
        font-family: 'Helvetica Neue', sans-serif;
      }
    }

    .c-modal-colors-palette {
      margin-left: 10px;

      .palette {
        .palette-item {
          position: relative;
          width: 37px;
          height: 37px;
          cursor: pointer;
          margin-right: 22px;
          margin-bottom: 15px;
          border: 1px solid transparent;
          display: inline-block;
          border-radius: 100%;
          overflow: hidden;

          &.is-selected {
            border: 1px solid #000;
          }

          &:hover {
            .palette-hover {
              display: block;
            }
          }

          .palette-hover, .palette-bg {
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
          }

          .palette-hover {
            display: none;
            background-color: rgba(255, 255, 255, 0.3);
            z-index: 2;
          }

          .palette-bg {
            z-index: 1;
          }
        }
      }
    }
  }

  .c-modal-participants {
    margin-bottom: 15px;

    .c-modal-participants-label {
      margin-bottom: 15px;

      span {
        color: black;
        font-size: 13px;
        text-align: left;
        font-weight: 500;
        padding: 5px;
        font-family: 'Helvetica Neue', sans-serif;
      }
    }

    .c-modal-participants-list {
      margin-left: 10px;
      margin-bottom: 15px;

      .participants {
        .participants-item {
          position: relative;
          display: inline-block;
          margin-right: 28px;
          margin-bottom: 10px;
          opacity: 0.5;
          pointer-events: none;

          .avatar {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            overflow: hidden;
            background-size: cover;
            display: inline-block;
            background-image: url('/assets/images/desk-dashboard/none.jpg');
            cursor: pointer;
            transition: .15s;
            box-shadow: 0 2px 7px 1px rgba(84, 121, 182, 0.1);
            border: 1px solid #ddd;
          }

          &:hover {
            .avatar {
              box-shadow: 0 2px 7px 1px rgba(84, 121, 182, 0.4);
            }
          }

          .delete-button {
            position: absolute;
            top: 0; right: -16px;
            cursor: pointer;

            &:hover {
              i {
                color: #000;
              }
            }

            i {
              font-size: 10px;
              color: #999;
            }
          }

          &.is-active {
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }
  }

  .c-modal-save {
    margin-top: 25px;

    button {
      background: #0024ff;
      color: #fff;
      font-size: 10px;
      font-family: 'GothaProMed', sans-serif;
      text-transform: uppercase;
      min-height: 38px;
      line-height: 38px;
      border-radius: 8px;
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      padding: 0 10px;
      border: 0;
      width: 100%;
      text-align: center;
      outline: 0;
      cursor: pointer;
      transition: .15s;

      &:hover {
        background-color: #286090;
        border-color: #204d74;
      }
    }
  }

  .c-modal-send-invite {
    margin-top: 25px;
    margin-bottom: 15px;

    .c-modal-send-invite-label {
      margin-bottom: 15px;

      span {
        color: black;
        font-size: 13px;
        text-align: left;
        font-weight: 500;
        padding: 5px;
        font-family: 'Helvetica Neue', sans-serif;
      }
    }

    .c-modal-send-invite-form {
      position: relative;

      .f-title {
        margin-bottom: 15px;
      }

      .f-submit {
        button {
          background: #0024ff;
          color: #fff;
          font-size: 10px;
          font-family: 'GothaProMed', sans-serif;
          text-transform: uppercase;
          height: 38px;
          line-height: 38px;
          border-radius: 8px;
          display: inline-block;
          vertical-align: top;
          text-decoration: none;
          padding: 0;
          border: 0;
          width: 100%;
          text-align: center;
          outline: 0;
          cursor: pointer;
          transition: .15s;

          &:disabled {
            color: lighten(#9ba2b4, 15%);
            background: #e6e6f2;

            &:hover {
              color: lighten(#9ba2b4, 15%);
              background: #e6e6f2;
            }
          }

          &:hover {
            background-color: #286090;
            border-color: #204d74;
          }
        }
      }

      .f-tip {
        margin: 10px 0 20px 0;

        span {
          font-size: 13px;
          line-height: 20px;
          color: #8d97a3;
          font-family: 'Helvetica Neue', sans-serif;
        }
      }

      .f-invite-link {
        button {
          display: inline-block;
          vertical-align: top;
          text-decoration: none;
          font-family: 'GothaProMed', sans-serif;
          font-size: 10px;
          text-transform: uppercase;
          color: #999;
          padding: 10px 13px;
          border-radius: 4px;
          background: #e6e6f2;

          &:hover {
            color: #000;
          }
        }
      }

      .c-search-results-fetching {
        position: absolute;
        top: 20px;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        display: flex;
        justify-items: center;
        align-items: center;
        align-content: center;

        .__evodesk-app-circle-loader {
          width: 15px;
          height: 15px;
          border-width: 3px;
          background-color: #fff;
          margin: 0 auto;
        }
      }
    }
  }

  .c-modal-send-invite-link {
    input.link {
      border-radius: 8px;
      font-size: 10px;
      font-family: 'GothaProMed', sans-serif;
      color: #aaa;
      background-color: #fff;
      height: 38px;
      line-height: 34px;
      display: block;
      width: 100%;
      border: 1px solid #ddd;
      margin: 10px 0;
      padding: 0 10px;
      overflow: hidden;
      text-align: center;
      outline: 0;
    }

    button.button {
      font-size: 10px;
      font-family: 'GothaProMed', sans-serif;
      text-transform: uppercase;
      height: 38px;
      line-height: 38px;
      border-radius: 8px;
      display: inline-block;
      vertical-align: top;
      padding: 0;
      border: 0;
      width: 100%;
      text-align: center;
      outline: 0;
      cursor: pointer;
      transition: .15s;
      color: #9ba2b4;
      background: #e6e6f2;
      text-decoration: underline;

      i.copy-link-icon {
        width: 12px;
        height: 7px;
        top: 40%;
        margin-top: -3px;
        left: 0;
        background: url(/assets/images/icon-maps/1.png) -92px -97px no-repeat;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  .c-modal-close {
    position: absolute;
    right: 14px;

    button {
      border: 0;
      outline: 0;
      background: none;
      cursor: pointer;
      padding: 10px;

      &:hover {
        i {
          color: #666;
        }
      }

      i {
        font-size: 12px;
        color: #999;
      }
    }
  }
}

.add-button {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  background: #e6e6f2;
  text-align: center;
  color: #999;
  border-radius: 100%;
  transition: all .3s;
  cursor: pointer;
  vertical-align: top;

  i {
    line-height: 48px;
  }

  &:hover {
    color: #fff;
    background: #0024ff;
  }
}

.c-search-results {
  position: relative;
  margin-bottom: 10px;

  >.c-search-no-results {
    span {
      vertical-align: middle;
      font-size: 13px;
      font-family: "Helvetica Neue", sans-serif;
      color: #1D2F47;
    }
  }

  .c-search-has-results {
    >.title {
      margin-bottom: 10px;

      span {
        vertical-align: middle;
        font-size: 13px;
        font-family: "Helvetica Neue", sans-serif;
        color: #1D2F47;
      }
    }

    >.search-results {
      padding: 0 10px;
      display: flex;

      .search-results-list {
        flex: 1;
        overflow: hidden;
        max-height: 300px;

        .show-more {
          font-size: 13px;
          font-family: "Helvetica Neue", sans-serif;
          color: #1D2F47;
          cursor: pointer;

          &:hover {
            color: lighten(#1D2F47, 30%);
          }
        }
      }

      .search-results-scroll {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }

    .record {
      $height: 36px;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px;

      &:hover {
        background-color: lighten(#0024ff, 60%);
      }

      &.inactive {
        opacity: 0.5;
      }

      .r-avatar {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 10px;

        .avatar {
          display: inline-block;
          line-height: $height;
          vertical-align: middle;
          width: 30px;
          height: 30px;
          overflow: hidden;
          background-image: url(/assets/images/profile-image/placeholder-2.jpg);
          background-size: 100%;
          border-radius: 100%;
          font-size: 0;
          box-shadow: 0 0 5px 1px rgba(29, 76, 42, 0.15);
        }
      }

      .r-name {
        flex: 1;
        margin-right: 10px;

        span {
          color: #9396A5;
          font-family: 'GothaProLig', sans-serif;
          font-size: 11px;
          vertical-align: middle;
        }
      }
    }
  }
}
