.c {
  height: 100%;
  position: relative;

  .c-forms {
    padding: 10px 0;
    position: relative;
    background-color: #3e424e;

    .triangle {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #3e424e;
      position: absolute;
      top: 0; margin-top: -5px;
    }

    .form {
      padding-bottom: 10px;
      line-height: 35px;

      .input, .text, .submit {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
      }

      .text span {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.3px;
        text-align: left;
        color: #999a9b;
      }

      .submit {
        button {
          font-weight: bold;
        }
      }
    }

    .help-link {
      span {
        font-family: Roboto, sans-serif;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: 0.2px;
        text-align: left;
        color: #ffffff;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        transition: .15s;
        cursor: pointer;
      }

      &:hover {
        border-bottom-color: rgba(255, 255, 255, 100);
      }
    }
  }

  .c-widget {
    height: 100%;
    cursor: pointer;
    transition: .15s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }

    >.c-widget-not-expanded {
      height: 100%;
      cursor: pointer;

      .items {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-left: 25px;
        padding-right: 30px;

        .item {
          white-space: nowrap;
          display: flex;
          align-items: center;

          .value {
            span {
              line-height: 21px;
              font-size: 14px;
              color: #FFFFFF;
            }
          }

          &.item-points {
            margin-right: 30px;

            .currency {
              margin-right: 3px;
              position: relative;
              top: 2px;
            }
          }

          &.item-evocoin {
            margin-right: 19px;

            .currency {
              position: relative;
              top: 2px;
            }
          }

          &.item-rubles {
            .value {
              margin-right: 4px;
            }
          }
        }
      }
    }

    >.c-widget-expanded {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;

      .widget {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        >.title {
          span {
            font-family: Roboto, sans-serif;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.4px;
            text-align: left;
            color: rgba(255, 255, 255, 0.8);
          }
        }
      }
    }
  }

  .c-currencies {
    display: none;
    position: absolute;
    left: -1px; right: -1px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.4);
    background-color: #010307;
    border: solid 1px #ffffff;
    border-radius: 0 0 8px 8px;
    border-top-color: rgba(208, 214, 245, 0.6);
    transform-origin: top;

    @keyframes showCurrencies {
      from {
        transform:scaleY(0);
      }

      to {
        transform:scaleY(1);
      }
    }

    &.is-expanded {
      display: block;
      animation: showCurrencies 0.15s normal forwards ease-in-out;
    }

    input.round-input {
      width: 72px;
      padding: 5px 0;
      border-radius: 4px;
      background-color: rgba(246, 247, 253, 0.6);
      font-family: Roboto, sans-serif;
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.2px;
      text-align: center;
      color: #000;
      border: 0;
      outline: 0;
    }

    button.blue-button {
      height: 24px;
      border-radius: 3px;
      background: #2e4ce6;
      border: 0;
      color: #fff;
      outline: 0;
      cursor: pointer;
      padding: 0 4px;
      line-height: 24px;

      span {
        line-height: 24px;
        vertical-align: middle;
      }

      span.arrow {
        color: #fff;
        margin-right: 5px;
        font-family: "Lucida Grande", sans-serif;
      }

      span.text {
        font-family: Roboto, sans-serif;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: 0.2px;
        text-align: left;
        color: #ffffff;
      }
    }

    button.help-button {
      width: 16px;
      height: 16px;
      line-height: 16px;
      font-family: Roboto, sans-serif;
      text-align: center;
      border-radius: 100%;
      overflow: hidden;
      background: #2e4ce6;
      border: 0;
      min-width: 0;
      padding: 0;

      span {
        position: relative;
        top: -1px;
        font-family: Roboto, sans-serif;
        font-size: 10px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        color: #ffffff;
      }
    }

    button.exchange-button {
      padding: 0 10px;

      span {
        font-family: Roboto, sans-serif;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.2px;
        color: #ffffff;
      }
    }

    .c-rubles {
      border-bottom: 1px solid rgba(208, 214, 245, 0.6);
      padding: 21px 0 0;

      .c-rubles-paddings, .c-form-paddings {
        padding: 0 32px;
      }

      .c-rubles-balance {
        .value, .currency {
          display: inline-block;
          vertical-align: middle;
        }

        .value {
          font-family: Roboto, sans-serif;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.14;
          letter-spacing: 0.3px;
          text-align: left;
          color: #ffffff;
          margin-right: 6px;
        }

        .currency {
          font-family: Roboto, sans-serif;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.3px;
          color: rgba(255, 255, 255, 0.6);
        }
      }

      .c-rubles-actions {
        margin-bottom: 15px;

        .action {
          display: inline-block;
          font-family: Roboto, sans-serif;
          font-size: 10px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.4;
          letter-spacing: 0.2px;
          text-align: left;
          color: #ffffff;
          margin-right: 24px;
          border-bottom: 1px solid rgba(255, 255, 255, 1);
          transition: .15s;
          cursor: pointer;

          &.is-active {
            border-bottom-color: rgba(255, 255, 255, 0);
          }
        }
      }

      .c-rubles-forms-replenish {
        .triangle {
          left: 50px;
        }
      }

      .c-rubles-forms-withdraw {
        .triangle {
          left: 122px;
        }

        input {
          width: 50px;
        }
      }
    }

    .c-evocoin {
      padding-top: 21px;
      border-bottom: 1px solid rgba(208, 214, 245, 0.6);

      .c-evocoin-paddings, .c-form-paddings {
        padding: 0 32px;
      }

      .c-evocoin-status {
        padding-bottom: 15px;

        .left, .right {
          display: inline-block;
          vertical-align: top;
        }

        .left {
          margin-right: 24px;

          .c-evocoin-balance {
            margin-bottom: 10px;

            .value, .currency {
              display: inline-block;
              vertical-align: middle;
            }

            .value {
              font-family: Roboto, sans-serif;
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 2.14;
              letter-spacing: 0.3px;
              text-align: left;
              color: #ffffff;
              margin-right: 8px;
            }
          }

          .c-create-evocheck {
            .link {
              cursor: pointer;
              margin-right: 10px;

              &:hover {
                span {
                  border-bottom-color: rgba(255, 255, 255, 1);
                }
              }

              span {
                font-family: Roboto, sans-serif;
                font-size: 10px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.4;
                letter-spacing: 0.2px;
                text-align: left;
                color: #ffffff;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                transition: .15s;
              }
            }

            .link, .help {
              display: inline-block;
              vertical-align: middle;
              line-height: 24px;
            }

            .help {
              position: relative;
              top: 2px;
            }
          }
        }

        .right {
          .c-exchange-rate {
            margin-bottom: 10px;

            >span, >div {
              line-height: 35px;
              vertical-align: middle;
              display: inline-block;
              margin: 0 5px;
            }

            span {
              font-family: Roboto, sans-serif;
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 2.14;
              letter-spacing: 0.3px;
              text-align: right;
              color: #ffffff;
            }

            .n-1 {
              margin-right: 0;
            }
          }
        }
      }

      .c-evocoin-checks {
        margin-bottom: 16px;
        display: flex;
        .c-evocoin-checks-scroll {
          flex-grow: 0;
          flex-shrink: 0;
        }

        .c-evocoin-checks-contents {
          flex: 1;
          max-height: 400px;
          overflow: hidden;
          padding: 0 32px;

          .c-evocoin-checks-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;

            .left {
              flex: 1;

              .title {
                span {
                  font-size: 10px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.4;
                  letter-spacing: 0.2px;
                  text-align: left;
                  color: #ffffff;
                }
              }

              .createdAt {
                span {
                  font-family: PTMono, sans-serif;
                  font-size: 12px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: 0.3px;
                  text-align: left;
                  color: rgba(255, 255, 255, 0.6);
                }
              }
            }

            .right {
              flex-shrink: 0;
              flex-grow: 0;

              button.copy-link-button {
                background-color: #2e4ce6;
                color: #fff;
                padding: 0 14px;

                span {
                  font-size: 10px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.4;
                  letter-spacing: 0.2px;
                  text-align: left;
                  color: #ffffff;
                }
              }
            }
          }
        }
      }

      .c-evocoin-forms-create {
        .triangle {
          left: 55px;
        }

        button.blue-button {
          min-width: 0;
          padding: 0 13px;
          margin-right: 0;

          span.text {
            margin-right: 0;
          }
        }
      }
    }

    .c-points {
      padding: 21px 32px;

      .c-inline {
        >div {
          display: inline-block;
          vertical-align: middle;
          line-height: 35px;
        }

        .c-points-balance {
          margin-right: 16px;
        }

        .c-tooltip {
          margin-right: 24px;
        }
      }

      .c-points-balance {
        .value, .currency {
          display: inline-block;
          vertical-align: middle;
        }

        .value {
          font-family: Roboto, sans-serif;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.14;
          letter-spacing: 0.3px;
          text-align: left;
          color: #ffffff;
          margin-right: 6px;
        }

        .currency {
          font-family: Roboto, sans-serif;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.3px;
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
}

.c {
  .c-widget-not-expanded, .c-widget-expanded, .c-currencies-not-expanded, .c-currencies-expanded {
    transition: opacity 0.3s;
  }

  &.is-expanded {
    .c-widget-not-expanded, .c-currencies-not-expanded {
      opacity: 0;
      z-index: 0;
    }

    .c-widget-expanded, .c-currencies-expanded {
      opacity: 1;
      z-index: 1;
    }
  }

  &.not-expanded {
    .c-widget-not-expanded, .c-currencies-not-expanded {
      opacity: 1;
      z-index: 1;
    }

    .c-widget-expanded, .c-currencies-expanded {
      opacity: 0;
      z-index: 0;
    }
  }


  &.is-mobile {
    &.is-expanded {
      animation: none!important;

      .c-widget {
        display: none;
      }

      .c-widget-expanded {
        display: none;
      }

      .c-currencies {
        position: static;
        border: 0;
        padding: 0;

        .c-evocoin-checks-contents {
          max-height: none;
        }

        .c-rubles-paddings, .c-evocoin-paddings {
          padding-left: 0;
          padding-right: 0;
        }

        .c-rubles {
          padding-top: 0;
        }
      }
    }
  }
}
