.c(*ngIf="!!state && state.ready", [ngClass]="{ 'is-expanded': state.isExpanded, 'not-expanded': ! state.isExpanded, 'is-mobile': isMobile }", (clickOutside)="shrink()", [delayClickOutsideInit]="true", [clickOutsideEvents]="'mousedown,touchstart'")
  .c-widget((click)="toggle()")
    .c-widget-not-expanded
      .items
        .item.item-points
          .currency
            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M5 5.68695C5 4.20296 8.13363 3 11.9991 3C15.8646 3 18.9983 4.20296 18.9983 5.68695V6.26967C18.9983 7.75365 15.8646 8.95661 11.9991 8.95661C8.13363 8.95661 5 7.75365 5 6.26967V5.68695ZM5.14891 8.63994C5.81042 9.85996 8.62667 10.7766 12.0008 10.7766C15.375 10.7766 18.1913 9.85996 18.8528 8.63994C18.9491 8.8176 19 9.6116 19 9.80027V10.383C19 11.867 15.8663 13.0699 12.0008 13.0699C8.13534 13.0699 5.00171 11.867 5.00171 10.383V9.80027C5.00171 9.6116 5.05257 8.8176 5.14891 8.63994ZM12.0008 18.7066C8.62667 18.7066 5.81042 17.79 5.14891 16.57C5.05257 16.7477 5.00171 17.5417 5.00171 17.7303V18.3131C5.00171 19.797 8.13534 21 12.0008 21C15.8663 21 19 19.797 19 18.3131V17.7303C19 17.5417 18.9491 16.7477 18.8528 16.57C18.1913 17.79 15.375 18.7066 12.0008 18.7066ZM5.14891 12.6679C5.81042 13.8879 8.62667 14.8045 12.0008 14.8045C15.375 14.8045 18.1913 13.8879 18.8528 12.6679C18.9491 12.8456 19 13.6396 19 13.8282V14.411C19 15.8949 15.8663 17.0979 12.0008 17.0979C8.13534 17.0979 5.00171 15.8949 5.00171 14.411V13.8282C5.00171 13.6396 5.05257 12.8456 5.14891 12.6679Z', fill='#FFD751')
          .value
            span {{ props.stat.points }}
        .item.item-evocoin
          .value
            span {{ props.stat.evocoin }}
          .currency
            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M16 8.00015H8V15.9999H16M8 12H13M10 5V8.00015M14 5V8.00015M10 15.9999V19M14 15.9999V19', stroke='#777D88')
        .item.item-rubles
          .value
            span {{ props.stat.rubles }}
          .currency
            span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.Rubles' | translate }}
    .c-widget-expanded
      .widget
        .title
          span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.TotalBalance' | translate }}
        .close
          .__evodesk-icon.ic-close-12px
  .c-currencies([ngClass]="{ 'is-expanded': state.isExpanded, 'not-expanded': ! state.isExpanded }")
    .c-rubles
      .c-rubles-paddings
        .c-rubles-balance
          .value
            span {{ props.stat.rubles }}
          .currency
            span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.Rubles' | translate }}
      .c-rubles-paddings
        .c-rubles-actions
          .action.action-replenish((click)="openRublesForm('replenish')", [ngClass]="{ 'is-active': state.currentRublesForm === 'replenish' }")
            span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.RublesReplenish' | translate }}
          .action.action-withdraw((click)="openRublesForm('withdraw')", [ngClass]="{ 'is-active': state.currentRublesForm === 'withdraw' }")
            span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.RublesWithdraw' | translate }}
      .c-rubles-forms-replenish(*ngIf="state.currentRublesForm === 'replenish'")
        form.c-forms([formGroup]="state.rublesReplenishForm", novalidate, (ngSubmit)="submitRublesReplenishForm()")
          .c-form-paddings
            .triangle
            .form
              .input
                input.round-input(#rublesReplenishAutoFocus, type="text", [formControlName]="'value'")
              .text
                span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.Rubles' | translate }}
              .submit
                button.blue-button(mat-button, type="submit")
                  span.arrow →
                  span.text {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.Payeer' | translate }}
            .help-link((click)="rublesHowToReplenishEvent.emit(undefined)")
              span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.RublesHowToReplenish' | translate }}
      .c-rubles-forms-withdraw(*ngIf="state.currentRublesForm === 'withdraw'")
        form.c-forms([formGroup]="state.rublesWithdrawForm", novalidate, (ngSubmit)="submitRublesWithdrawForm()")
          .c-form-paddings
            .triangle
            .form
              .input
                input.round-input(#rublesWithdrawAutoFocus, type="text", [formControlName]="'id'")
              .text
                span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.RublesWithdrawID' | translate }}
              .input
                input.round-input(#rublesWithdrawAutoFocus, type="text", [formControlName]="'value'")
              .text
                span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.Rubles' | translate }}
              .submit
                button.blue-button(mat-button, type="submit")
                  span.arrow →
                  span.text {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.Payeer' | translate }}
            .help-link((click)="rublesHowToWithdrawEvent.emit(undefined)")
              span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.RublesHowToWithdraw' | translate }}
    .c-evocoin
      .c-evocoin-paddings
        .c-evocoin-status
          .left
            .c-evocoin-balance
              .value
                span {{ props.stat.evocoin }}
              .currency
                .__evodesk-icon.ic-evocoin-14px
            .c-create-evocheck
              .link((click)="openEvocoinForm('create-check')")
                span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.CreateEvoCheck' | translate }}
              .help
                button(mat-button, type="button", (click)="whatIsEvoCheck()").help-button
                  span ?
          .right
            .c-exchange-rate
              span.n-1 1
              span
                .__evodesk-icon.ic-evocoin-14px
              span {{ '= ' + props.evocoinToRubles }}
            .c-exchange-button
              button(mat-button, type="button", (click)="shrink()", [routerLink]="['/exchange']").blue-button.exchange-button
                span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.Exchange' | translate }}
      .c-evocoin-checks(*ngIf="props.evoChecks.length > 0")
        .c-evocoin-checks-contents(#evocoinChecks, evodeskMouseWheelScroll, evodeskTouchScroll='y', evodeskKeyboardScroll)
          ng-container(*ngFor="let evoCheck of props.evoChecks")
            .c-evocoin-checks-item
              .left
                .title
                  span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.EvoCheck' | translate }}
                .createdAt
                  span {{ getEvoCheckDate(evoCheck) }}
              .right
                button.copy-link-button(type="button", mat-button, (click)="copyEvoCheckLink(evoCheck)")
                    span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.EvoCheckCopyLink' | translate }}
        .c-evocoin-scroll
          evodesk-app-common-scroll-bar([elementRef]="evocoinChecks", [scrollBarDirection]="'y'")
      .c-evocoin-forms-create(*ngIf="state.currentEvocoinForm === 'create-check'")
        form.c-forms([formGroup]="state.evocoinCreateCheckForm", novalidate, (ngSubmit)="submitCreateEvocheckForm()")
          .c-form-paddings
            .triangle
            .form
              .input
                input.round-input(#evocoinCreateCheckAutoFocus, type="text", [formControlName]="'amount'")
              .text
                .__evodesk-icon.ic-evocoin-14px
              .submit
                button.blue-button(mat-button, type="submit")
                  span.text {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.SubmitCreateEvoCheck' | translate }}
    .c-points
      .c-inline
        .c-points-balance
          .value
            span {{ props.stat.points }}
          .currency
            span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.Points.' + state.pointsUseVariant | translate }}
        .c-tooltip
          button(mat-button, type="button", (click)="whatIsEvocoin()").help-button
            span ?
        .c-exchange-button
          button(mat-button, type="button", (click)="shrink()", [routerLink]="['/exchange']").blue-button.exchange-button
            span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonUserBalance.Exchange' | translate }}
