.star {
  display: inline-block;
  margin-right: 4px;

  .ic-crown-gold-16x13px { display: none; }

  &.is-active {
    .ic-crown-gray-16x13px { display: none; }
    .ic-crown-gold-16x13px { display: block; }
  }
}
