.star([ngClass]="{ 'is-active': stars >= 1 }")
  .__evodesk-icon.ic-crown-gold-16x13px
  .__evodesk-icon.ic-crown-gray-16x13px
.star([ngClass]="{ 'is-active': stars >= 2 }")
  .__evodesk-icon.ic-crown-gold-16x13px
  .__evodesk-icon.ic-crown-gray-16x13px
.star([ngClass]="{ 'is-active': stars >= 3 }")
  .__evodesk-icon.ic-crown-gold-16x13px
  .__evodesk-icon.ic-crown-gray-16x13px
.star([ngClass]="{ 'is-active': stars >= 4 }")
  .__evodesk-icon.ic-crown-gold-16x13px
  .__evodesk-icon.ic-crown-gray-16x13px
.star([ngClass]="{ 'is-active': stars >= 5 }")
  .__evodesk-icon.ic-crown-gold-16x13px
  .__evodesk-icon.ic-crown-gray-16x13px
