mat-dialog-content
  .contents([ngClass]="{ 'is-text-html': data.textAsHtml }")
    h1(*ngIf="!!data.title && data.title.length > 0") {{ data.title }}
    ng-container(*ngIf="data.textAsHtml")
      p([innerHtml]="data.text")
    ng-container(*ngIf="! data.textAsHtml")
      p {{ data.text }}
mat-dialog-actions
  .actions
    button.cancel-button(tabindex="0", (click)="cancelEvent.emit(undefined)")
      span {{ data.cancelButton }}
    button.confirm-button(tabindex="1", (click)="confirmEvent.emit(undefined)")
      span {{ data.confirmButton }}
