.text {
  margin: 0 auto;
  width: 70%;
  letter-spacing: 0.3px;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  color: #010307;
}

.save-btn {
  margin: 20px auto;
}

.hidden-input {
  display: none;
}
