.dialog
  .header
    .title {{ 'EvodeskProfile.components.EvodeskUploadPhotos.Title' | translate }}
    button.close-btn(mat-icon-button mat-dialog-close)
      mat-icon(svgIcon="ic-cross")
  .text {{ 'EvodeskProfile.components.EvodeskUploadPhotos.Text' | translate }}
  button.save-btn(mat-button (click)="file.click()") {{ 'EvodeskProfile.components.EvodeskUploadPhotos.ButtonText' | translate }}
  input.hidden-input(type='file', accept="image/x-png,image/gif,image/jpeg", multiple, #file='', (change)='selectPhotos($event.target.files)')
