.c(*ngIf="state.ready")
  .c-author
    .c-author-avatar
      .avatar
        evodesk-profile-avatar([profileId]="props.logRecord.user.id", [size]="24")
    .c-author-name
      span {{ username }}
    .c-author-dot
      span •
    .c-author-date
      span([evodeskBind]="date$")
  .c-description.__evodesk-desk-history-record-action_parse-area
    span([innerHtml]="description | async")
  .c-attachment(*ngIf='props.logRecord.entity === "attachment"')
    .c-info
      .c-url
        a.link([href]="attachmentLink", target="__top")
          span {{ text }}
    .c-preview([ngStyle]="previewNgStyle")
