.c {

  .c-attachment {
    .c-preview {
      height: 400px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #fff;
    }

    .c-info {
      padding: 16px;
      flex: 1;
      background: #FAFAFA;

      .c-url {
        margin-bottom: 4px;

        .link {
          cursor: pointer;
          display: block;

          span {
            line-height: 21px;
            font-size: 14px;
            color: #1D2639;
          }
        }
      }
    }
  }

  .c-author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;

    .c-author-avatar {
      margin-right: 9px;

      .avatar {
        position: relative;
        top: 2px;
      }
    }

    .c-author-name {
      span {
        font-size: 14px;
        color: #1D2639;
      }
    }

    .c-author-dot {
      margin: 0 7px;

      span {
        line-height: normal;
        font-size: 12px;
        color: #777D88;
      }
    }

    .c-author-date {
      span {
        font-size: 12px;
        color: #777D88;
      }
    }
  }

  .c-description {
    span {
      font-size: 14px;
      color: #1D2639;
    }
  }
}

::ng-deep {
  .__evodesk-desk-history-record-action_parse-area {
    strong, b {
      font-weight: normal;
    }
  }
}
