.c {
  width: 100%;

  &.c-common {
    display: flex;
    cursor: pointer;
    padding: 16px;
    transition: background-color .15s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }

    &.is-viewed {
      .c-icon {
        opacity: 0.6;
      }

      .c-info {
        opacity: 0.6;
      }
    }

    .c-icon {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 16px;
    }

    .c-info {
      flex: 1;

      .c-info-tags {
        margin-bottom: 8px;

        .tag {
          display: inline-block;
          margin-right: 8px;
          border-radius: 4px;
          padding: 4px 8px;

          &.is-desk {
            background-color: #2e4ce6;

            span {
              color: #fff;
            }
          }

          span {
            font-size: 12px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.6px;
            text-align: left;
          }
        }
      }

      .c-info-text {
        margin-bottom: 8px;

        .__evodesk-icon {
          display: inline-block;
          vertical-align: middle;
        }

        span {
          font-size: 12px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          text-align: left;
          color: #010307;
        }

        span.strong {
          font-weight: 400;
        }

        span.spaces {
          &:before {
            content: ' ';
          }

          &:after {
            content: ' ';
          }
        }

        span.quotes {
          &:before {
            content: '«';
          }

          &:after {
            content: '»';
          }
        }

        span.quotes.spaces {
          &:before {
            content: ' «';
          }

          &:after {
            content: '» ';
          }
        }

        span.label {
          font-weight: 400;
          border-radius: 4px;
          padding: 4px 8px;
          color: #fff;
          display: inline-block;

          &.has-no-name {
            width: 16px;
            display: inline-block;
            height: 16px;
            border-radius: 100%;
            vertical-align: bottom;
          }
        }
      }

      .c-info-date {
        span {
          font-size: 12px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          text-align: left;
          color: #a0a7b2;
        }
      }
    }
  }

  &.c-achievement-earned {
    .c-achievement {
      img {
        width: 33px;
      }
    }

    .c-info {
      .c-info-text {
        span.title {
          display: block;
          font-weight: 400;
        }
      }
    }
  }
}
