ng-container(*ngIf="type === 'AchievementEarned'")
  .c.c-common.c-achievement-earned([ngClass]="cssClasses", (click)="open()")
    .c-icon.c-achievement
      img([src]="achievementImageUrl")
    .c-info
      .c-info-text
        span.title {{ m.entity.achievement.title }}
        span.text {{ m.entity.achievement.text }}
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'CardDeleted'")
  .c.c-common.c-card-deleted([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-tags
        .tag([ngClass]="deskEntityNgClass", [ngStyle]="deskEntityNgStyle")
          span(*ngIf="m.entity.deskType === 'multidesk' && !! m.entity.deskName") {{ m.entity.deskName }}
          span(*ngIf="m.entity.deskType === 'multidesk' && ! m.entity.deskName", translate) EvodeskNotification.components.EvodeskNotification.MultiDesk
          span(*ngIf="m.entity.deskType === 'personal'", translate) EvodeskNotification.components.EvodeskNotification.PersonalDesk
      .c-info-text
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardDeletedL1
        span.strong.quotes.spaces {{ m.entity.cardTitle }}
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardDeletedL2
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'CardParticipantAdded'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-tags
        .tag([ngClass]="deskEntityNgClass", [ngStyle]="deskEntityNgStyle")
          span(*ngIf="m.entity.deskType === 'multidesk' && !! m.entity.deskName") {{ m.entity.deskName }}
          span(*ngIf="m.entity.deskType === 'personal'", translate) EvodeskNotification.components.EvodeskNotification.PersonalDesk
      .c-info-text
        span.strong.spaces {{ m.entity.participantName }}
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardParticipantAddedL1
        span.strong.quotes.spaces {{ m.entity.cardTitle }}
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'CardParticipantDeleted'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-tags
        .tag([ngClass]="deskEntityNgClass", [ngStyle]="deskEntityNgStyle")
          span(*ngIf="m.entity.deskType === 'multidesk' && !! m.entity.deskName") {{ m.entity.deskName }}
          span(*ngIf="m.entity.deskType === 'personal'", translate) EvodeskNotification.components.EvodeskNotification.PersonalDesk
      .c-info-text
        span.strong.spaces {{ m.entity.participantName }}
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardParticipantDeletedL1
        span.strong.quotes.spaces {{ m.entity.cardTitle }}
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'CardTitleChanged'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-tags
        .tag([ngClass]="deskEntityNgClass", [ngStyle]="deskEntityNgStyle")
          span(*ngIf="m.entity.deskType === 'multidesk' && !! m.entity.deskName") {{ m.entity.deskName }}
          span(*ngIf="m.entity.deskType === 'personal'", translate) EvodeskNotification.components.EvodeskNotification.PersonalDesk
      .c-info-text
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardTitleChangedL1
        span.strong.quotes.spaces {{ m.entity.oldTitle }}
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardTitleChangedL2
        span.strong.quotes.spaces {{ m.entity.newTitle }}
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'CardDescriptionChanged'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-tags
        .tag([ngClass]="deskEntityNgClass", [ngStyle]="deskEntityNgStyle")
          span(*ngIf="m.entity.deskType === 'multidesk' && !! m.entity.deskName") {{ m.entity.deskName }}
          span(*ngIf="m.entity.deskType === 'personal'", translate) EvodeskNotification.components.EvodeskNotification.PersonalDesk
      .c-info-text
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardDescriptionChangedL1
        span.strong.quotes.spaces {{ m.entity.cardTitle }}
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardDescriptionChangedL2
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'CardLabelAdded'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-tags
        .tag([ngClass]="deskEntityNgClass", [ngStyle]="deskEntityNgStyle")
          span(*ngIf="m.entity.deskType === 'multidesk' && !! m.entity.deskName") {{ m.entity.deskName }}
          span(*ngIf="m.entity.deskType === 'personal'", translate) EvodeskNotification.components.EvodeskNotification.PersonalDesk
      .c-info-text
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardLabelAddedL1
        span.strong.quotes.spaces {{ m.entity.cardTitle }}
        span.text.spaces(translate) EvodeskNotification.components.EvodeskNotification.CardLabelAddedL2
        span.label([ngStyle]="deskCardLabelNgStyle", [ngClass]="{ 'has-no-name': ! m.entity.labelName }") {{ m.entity.labelName }}
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'CardLabelDeleted'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-tags
        .tag([ngClass]="deskEntityNgClass", [ngStyle]="deskEntityNgStyle")
          span(*ngIf="m.entity.deskType === 'multidesk' && !! m.entity.deskName") {{ m.entity.deskName }}
          span(*ngIf="m.entity.deskType === 'personal'", translate) EvodeskNotification.components.EvodeskNotification.PersonalDesk
      .c-info-text
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardLabelDeletedL1
        span.strong.quotes.spaces {{ m.entity.cardTitle }}
        span.text.spaces(translate) EvodeskNotification.components.EvodeskNotification.CardLabelDeletedL2
        span.label([ngStyle]="deskCardLabelNgStyle", [ngClass]="{ 'has-no-name': ! m.entity.labelName }") {{ m.entity.labelName }}
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'CardCommentAdded'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-tags
        .tag([ngClass]="deskEntityNgClass", [ngStyle]="deskEntityNgStyle")
          span(*ngIf="m.entity.deskType === 'multidesk' && !! m.entity.deskName") {{ m.entity.deskName }}
          span(*ngIf="m.entity.deskType === 'multidesk' && ! m.entity.deskName", translate) EvodeskNotification.components.EvodeskNotification.MultiDesk
          span(*ngIf="m.entity.deskType === 'personal'", translate) EvodeskNotification.components.EvodeskNotification.PersonalDesk
      .c-info-text
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardCommentAddedL1
        span.strong.quotes.spaces {{ m.entity.cardTitle }}
        span.text.spaces(translate) EvodeskNotification.components.EvodeskNotification.CardCommentAddedL2
        span.strong.quotes.space(innerHtml="{{ commentShort | async }}")
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'CardCommentDeleted'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-tags
        .tag([ngClass]="deskEntityNgClass", [ngStyle]="deskEntityNgStyle")
          span(*ngIf="m.entity.deskType === 'multidesk' && !! m.entity.deskName") {{ m.entity.deskName }}
          span(*ngIf="m.entity.deskType === 'multidesk' && ! m.entity.deskName", translate) EvodeskNotification.components.EvodeskNotification.MultiDesk
          span(*ngIf="m.entity.deskType === 'personal'", translate) EvodeskNotification.components.EvodeskNotification.PersonalDesk
      .c-info-text
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardCommentDeletedL1
        span.strong.quotes.spaces {{ m.entity.cardTitle }}
        span.text.spaces(translate) EvodeskNotification.components.EvodeskNotification.CardCommentDeletedL2
        span.strong.quotes.space(innerHtml="{{ commentShort | async }}")
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'CardChecklistAdded'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-tags
        .tag([ngClass]="deskEntityNgClass", [ngStyle]="deskEntityNgStyle")
          span(*ngIf="m.entity.deskType === 'multidesk' && !! m.entity.deskName") {{ m.entity.deskName }}
          span(*ngIf="m.entity.deskType === 'multidesk' && ! m.entity.deskName", translate) EvodeskNotification.components.EvodeskNotification.MultiDesk
          span(*ngIf="m.entity.deskType === 'personal'", translate) EvodeskNotification.components.EvodeskNotification.PersonalDesk
      .c-info-text
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardChecklistAddedL1
        span.strong.quotes.spaces {{ m.entity.cardTitle }}
        span.text.spaces(translate) EvodeskNotification.components.EvodeskNotification.CardChecklistAddedL2
        span.strong.quotes.space {{ m.entity.checklistName }}
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'CardChecklistDeleted'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-tags
        .tag([ngClass]="deskEntityNgClass", [ngStyle]="deskEntityNgStyle")
          span(*ngIf="m.entity.deskType === 'multidesk' && !! m.entity.deskName") {{ m.entity.deskName }}
          span(*ngIf="m.entity.deskType === 'multidesk' && ! m.entity.deskName", translate) EvodeskNotification.components.EvodeskNotification.MultiDesk
          span(*ngIf="m.entity.deskType === 'personal'", translate) EvodeskNotification.components.EvodeskNotification.PersonalDesk
      .c-info-text
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardChecklistDeletedL1
        span.strong.quotes.spaces {{ m.entity.cardTitle }}
        span.text.spaces(translate) EvodeskNotification.components.EvodeskNotification.CardChecklistDeletedL2
        span.strong.quotes.space {{ m.entity.checklistName }}
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'CardMovedToAnotherColumn'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-tags
        .tag([ngClass]="deskEntityNgClass", [ngStyle]="deskEntityNgStyle")
          span(*ngIf="m.entity.deskType === 'multidesk' && !! m.entity.deskName") {{ m.entity.deskName }}
          span(*ngIf="m.entity.deskType === 'multidesk' && ! m.entity.deskName", translate) EvodeskNotification.components.EvodeskNotification.MultiDesk
          span(*ngIf="m.entity.deskType === 'personal'", translate) EvodeskNotification.components.EvodeskNotification.PersonalDesk
      .c-info-text
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardMovedToAnotherColumnL1
        span.strong.quotes.spaces {{ m.entity.cardTitle }}
        span.text.spaces(translate) EvodeskNotification.components.EvodeskNotification.CardMovedToAnotherColumnL2
        span.strong.quotes.space(translate) {{ deskColumnName(m.entity.previousColumnId) }}
        span.text.spaces(translate) EvodeskNotification.components.EvodeskNotification.CardMovedToAnotherColumnL3
        span.strong.quotes.space(translate) {{ deskColumnName(m.entity.newColumnId) }}
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'CardDeadlineUpdated'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-tags
        .tag([ngClass]="deskEntityNgClass", [ngStyle]="deskEntityNgStyle")
          span(*ngIf="m.entity.deskType === 'multidesk' && !! m.entity.deskName") {{ m.entity.deskName }}
          span(*ngIf="m.entity.deskType === 'multidesk' && ! m.entity.deskName", translate) EvodeskNotification.components.EvodeskNotification.MultiDesk
          span(*ngIf="m.entity.deskType === 'personal'", translate) EvodeskNotification.components.EvodeskNotification.PersonalDesk
      .c-info-text
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardDeadlineAddedL1
        span.strong.quotes.spaces {{ m.entity.cardTitle }}
        span.text.spaces(translate) EvodeskNotification.components.EvodeskNotification.CardDeadlineAddedL2
        span.strong {{ deadline(m.entity.newDeadline) }}
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'CardDeadlineAdded'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-tags
        .tag([ngClass]="deskEntityNgClass", [ngStyle]="deskEntityNgStyle")
          span(*ngIf="m.entity.deskType === 'multidesk' && !! m.entity.deskName") {{ m.entity.deskName }}
          span(*ngIf="m.entity.deskType === 'multidesk' && ! m.entity.deskName", translate) EvodeskNotification.components.EvodeskNotification.MultiDesk
          span(*ngIf="m.entity.deskType === 'personal'", translate) EvodeskNotification.components.EvodeskNotification.PersonalDesk
      .c-info-text
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardDeadlineUpdatedL1
        span.strong.quotes.spaces {{ m.entity.cardTitle }}
        span.text.spaces(translate) EvodeskNotification.components.EvodeskNotification.CardDeadlineUpdatedL2
        span.strong {{ deadline(m.entity.newDeadline) }}
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'CardDeadlineDeleted'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-tags
        .tag([ngClass]="deskEntityNgClass", [ngStyle]="deskEntityNgStyle")
          span(*ngIf="m.entity.deskType === 'multidesk' && !! m.entity.deskName") {{ m.entity.deskName }}
          span(*ngIf="m.entity.deskType === 'multidesk' && ! m.entity.deskName", translate) EvodeskNotification.components.EvodeskNotification.MultiDesk
          span(*ngIf="m.entity.deskType === 'personal'", translate) EvodeskNotification.components.EvodeskNotification.PersonalDesk
      .c-info-text
        span.text(translate) EvodeskNotification.components.EvodeskNotification.CardDeadlineDeletedL1
        span.strong.quotes.spaces {{ m.entity.cardTitle }}
        span.text.spaces(translate) EvodeskNotification.components.EvodeskNotification.CardDeadlineDeletedL2
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'IMReceivedMessage'")
  .c.c-common.c-im-receive-message([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .avatar
        evodesk-profile-avatar([profileId]="m.entity.author.id", [size]="33")
    .c-info
      .c-info-text
        span.text.strong.spaces {{ imMessageAuthor }}
        span.text(translate) EvodeskNotification.components.EvodeskNotification.IMReceivedMessageL1
        span.text.spaces.strong.quotes(innerHtml="{{ imMessage | async }}")
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'EvoCoinReceived'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-text
        span.text(translate) EvodeskNotification.components.EvodeskNotification.EvoCoinReceivedL1
        span.text.spaces.strong {{ m.entity.received }}
        .__evodesk-icon.ic-evocoin-black-14px
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'EvoPointsReceived'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .__evodesk-icon.ic-notification-common-33x33px
    .c-info
      .c-info-text
        span.text(translate) EvodeskNotification.components.EvodeskNotification.EvoPointsReceivedL1
        span.text.spaces.strong {{ m.entity.received }}
        span.text(translate) EvodeskNotification.components.EvodeskNotification.EvoPointsReceivedL2
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'Post'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .avatar
        evodesk-profile-avatar([profileId]="m.entity.postBy.id", [size]="33")
    .c-info
      .c-info-text
        span.text.spaces.strong {{ m.entity.postBy.name }}
        span.text(translate, *ngIf="isPostText") EvodeskNotification.components.EvodeskNotification.Post
        span.text(translate, *ngIf="isPostPhoto") EvodeskNotification.components.EvodeskNotification.PostPhoto
        span.text(translate, *ngIf="isPostVideo") EvodeskNotification.components.EvodeskNotification.PostVideo
        span.text(translate, *ngIf="isPostLink") EvodeskNotification.components.EvodeskNotification.PostLink
        span.text.spaces.strong.quotes(*ngIf="isPostText && hasPostText", innerHtml="{{ postText | async }}")
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'PostReposted'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .avatar
        evodesk-profile-avatar([profileId]="m.entity.repostBy.id", [size]="33")
    .c-info
      .c-info-text
        span.text.spaces.strong {{ m.entity.repostBy.name }}
        span.text(translate, *ngIf="isPostText") EvodeskNotification.components.EvodeskNotification.PostReposted
        span.text(translate, *ngIf="isPostPhoto") EvodeskNotification.components.EvodeskNotification.PostRepostedPhoto
        span.text(translate, *ngIf="isPostVideo") EvodeskNotification.components.EvodeskNotification.PostRepostedVideo
        span.text(translate, *ngIf="isPostLink") EvodeskNotification.components.EvodeskNotification.PostRepostedLink
        span.text.spaces.strong.quotes(*ngIf="isPostText && hasPostText", innerHtml="{{ postText | async }}")
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'PostCommented'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .avatar
        evodesk-profile-avatar([profileId]="m.entity.commentedBy.id", [size]="33")
    .c-info
      .c-info-text
        span.text.spaces.strong {{ m.entity.commentedBy.name }}
        span.text(translate, *ngIf="isPostText") EvodeskNotification.components.EvodeskNotification.PostCommented
        span.text(translate, *ngIf="isPostPhoto") EvodeskNotification.components.EvodeskNotification.PostCommentedPhoto
        span.text(translate, *ngIf="isPostVideo") EvodeskNotification.components.EvodeskNotification.PostCommentedVideo
        span.text(translate, *ngIf="isPostLink") EvodeskNotification.components.EvodeskNotification.PostCommentedLink
        span.text.spaces.strong.quotes(*ngIf="isPostText && hasPostText", innerHtml="{{ postText | async }}")
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'PostLiked'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .avatar
        evodesk-profile-avatar([profileId]="m.entity.likedBy.id", [size]="33")
    .c-info
      .c-info-text
        span.text(translate, *ngIf="isPostText") EvodeskNotification.components.EvodeskNotification.PostLikedTextL1
        span.text(translate, *ngIf="isPostPhoto") EvodeskNotification.components.EvodeskNotification.PostLikedPhotoL1
        span.text(translate, *ngIf="isPostVideo") EvodeskNotification.components.EvodeskNotification.PostLikedVideoL1
        span.text(translate, *ngIf="isPostLink") EvodeskNotification.components.EvodeskNotification.PostLikedLinkL1
        span.text.spaces.strong.quotes(*ngIf="isPostText && hasPostText", innerHtml="{{ postText | async }}")
        span.text(translate) EvodeskNotification.components.EvodeskNotification.PostLikedL2
        span.text.spaces.strong {{ m.entity.likedBy.name }}
      .c-info-date
        span([evodeskBind]="date")
ng-container(*ngIf="type === 'PostCommentLiked'")
  .c.c-common([ngClass]="cssClasses", (click)="open()")
    .c-icon
      .avatar
        evodesk-profile-avatar([profileId]="m.entity.likedBy.id", [size]="33")
    .c-info
      .c-info-text
        span.text(translate) EvodeskNotification.components.EvodeskNotification.PostCommentLikedL1
        span.text.spaces.strong.quotes(innerHtml="{{ postCommentText | async }}")
        span.text(translate) EvodeskNotification.components.EvodeskNotification.PostCommentLikedL2
        span.text.spaces.strong {{ m.entity.likedBy.name }}
      .c-info-date
        span([evodeskBind]="date")
