.c(*ngIf="!! state && state.ready")
  .c-row-1
    .c-avatar
      evodesk-profile-avatar([profileId]="props.entity.authorProfileId", [size]="48")
      .c-notification-type-icon
        .__evodesk-icon.ic-news-like-16x15px
    .c-description
      .row-2
        a([routerLink]="props.entity.authorProfileUrl", target="_blank")
          span.link {{ props.entity.authorProfileName }}
        span.text {{ 'EvodeskFeed.components.EvodeskFeedPostCommentLiked.Text' | translate }}
      .row-1
        span.link.link-post((click)="openPost()") {{ props.entity.title$ | async }}
  .c-row-2
    span([evodeskBind]="props.entity.date$")
