.c
  .c-icon
    .__evodesk-icon-v3.iv3-desk-card-modal-section-label-24x24px
  .c-contents
    .c-row-1
      .c-row-11
        span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalLabel.Title
    .c-row-2
      .label(*ngFor="let label of props.card.labels; trackBy: trackByLabelId")
        .label-pin
          .pin([ngStyle]="labelPinNgStyles(label)")
        .label-title
          span(*ngIf="!! label.name") {{ label.name }}
          span(*ngIf="isPresetColor(label)", translate) {{ presetColorName(label) }}
        .label-delete
          .delete-button((click)="delete(label)")
            .__evodesk-icon-v3.iv3-desk-card-modal-delete-label-24x24px
      .label-add
        .mat-menu-trigger(*ngIf="props.matMenu", [matMenuTriggerFor]="props.matMenu", #matMenuTrigger)
        .add-button((click)="open()")
          .__evodesk-icon-v3.iv3-desk-card-modal-add-label-24x24px
