.c {
  display: flex;

  .c-icon {
    flex: 0;
    margin-right: 12px;
  }

  .c-contents {
    flex: 1;
    padding-top: 3px;

    .c-row-1 {
      margin-bottom: 14px;

      .c-row-11 {
        span {
          font-weight: 500;
          line-height: normal;
          font-size: 16px;
          color: #1D2639;
          position: relative;
          top: -2px;
          left: 1px;
        }
      }
    }

    .c-row-2 {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}

.label {
  background: #F8F8F9;
  border-radius: 21px;
  height: 32px;
  padding-left: 12px;
  padding-right: 5px;
  display: flex;
  margin-right: 8px;
  margin-bottom: 8px;
  align-items: center;

  .label-pin {
    flex: 0;
    margin-right: 10px;

    .pin {
      width: 8px;
      height: 8px;
      overflow: hidden;
      border-radius: 100%;
    }
  }

  .label-title {
    margin-right: 3px;

    span {
      font-size: 14px;
      color: #1D2639;
      position: relative;
      top: -2px;
      left: 2px;
    }
  }

  .label-delete {
    .delete-button {
      cursor: pointer;
      position: relative;
      left: 2px;
    }
  }
}

.label-add {
  .add-button {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #F8F8F9;
    position: relative;
    left: 2px;
  }
}
