form.c([formGroup]="props.form", novalidate, (ngSubmit)="submit()")
  .c-flex
    .c-left
      .c-avatar
        evodesk-profile-avatar-current-user([size]="48")
    .c-right
      .c-review
        textarea.review(
          [formControlName]="'review'",
          matTextareaAutosize, matAutosizeMinRows="3", matAutosizeMaxRows="10",
        )
      .c-bottom
        .c-left.c-stars
          .star([ngClass]="{ 'is-active': (state.hoveredStars === 0 && stars >= 1) || state.hoveredStars >= 1 }", (click)="setStars(1)", (mouseover)="hoverStars(1)", (mouseout)="overStars()")
            .__evodesk-icon.ic-crown-gold-16x13px
            .__evodesk-icon.ic-crown-gray-16x13px
          .star([ngClass]="{ 'is-active': (state.hoveredStars === 0 && stars >= 2) || state.hoveredStars >= 2 }", (click)="setStars(2)", (mouseover)="hoverStars(2)", (mouseout)="overStars()")
            .__evodesk-icon.ic-crown-gold-16x13px
            .__evodesk-icon.ic-crown-gray-16x13px
          .star([ngClass]="{ 'is-active': (state.hoveredStars === 0 && stars >= 3) || state.hoveredStars >= 3 }", (click)="setStars(3)", (mouseover)="hoverStars(3)", (mouseout)="overStars()")
            .__evodesk-icon.ic-crown-gold-16x13px
            .__evodesk-icon.ic-crown-gray-16x13px
          .star([ngClass]="{ 'is-active': (state.hoveredStars === 0 && stars >= 4) || state.hoveredStars >= 4 }", (click)="setStars(4)", (mouseover)="hoverStars(4)", (mouseout)="overStars()")
            .__evodesk-icon.ic-crown-gold-16x13px
            .__evodesk-icon.ic-crown-gray-16x13px
          .star([ngClass]="{ 'is-active': (state.hoveredStars === 0 && stars >= 5) || state.hoveredStars >= 5 }", (click)="setStars(5)", (mouseover)="hoverStars(5)", (mouseout)="overStars()")
            .__evodesk-icon.ic-crown-gold-16x13px
            .__evodesk-icon.ic-crown-gray-16x13px
        .c-right.c-submit
          button.button(mat-button, type="submit")
            span(translate) EvodeskShop.components.EvodeskShopReviewForm.Submit

