.c {
  .c-flex {
    display: flex;
    justify-content: space-between;

    >.c-left {
      margin-right: 8px;
      flex-grow: 0;
      flex-shrink: 0;
    }

    >.c-right {
      flex: 1;
    }
  }

  .c-review {
    margin-bottom: 8px;

    textarea.review {
      resize: none;
      width: 100%;
      border-radius: 4px;
      padding: 12px;
      border: 1px solid #ccc;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      text-align: left;
      color: #010307;

      &:active, &:focus {
        border-color: #2E4CE6;
      }

      &:disabled {
        background-color: transparent;
        color: #999;
      }
    }
  }

  .c-stars {
    .star {
      display: inline-block;
      padding-right: 4px;
      cursor: pointer;

      .ic-crown-gold-16x13px { display: none; }

      &.is-active, &:hover {
        .ic-crown-gray-16x13px { display: none; }
        .ic-crown-gold-16x13px { display: block; }
      }
    }
  }

  .c-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
