.c
  .c-title
    .c-icon
      .__evodesk-icon.ic-like-30x28px
    .c-text
      span {{ props.numLikes }}
    .c-close
      .__evodesk-icon.ic-close-modal-15x15px((click)="close()")
  .c-contents
    .c-contents-area(#area, evodeskTouchScroll="y", [evodeskTouchScrollEnabled]="true", evodeskMouseWheelScroll, evodeskKeyboardScroll, (scroll.out-zone)="onScroll()")
      .c-items
        .c-item(*ngFor="let entry of entries; trackBy: trackByEntry")
          .c-item-avatar
            .indicator
              .__evodesk-icon.ic-news-like-16x15px
            evodesk-profile-avatar([profileId]="entry.profileId", [size]="48")
          .c-item-description
            .desc
              .name
                span {{ entry.profileName }}
              .status
                span {{ entry.profileStatus }}
            .actions
              ng-container(*ngIf="entry.isFollowed")
                .followed
                  .icon
                    .__evodesk-icon.ic-request-sent-16x11
                  .text
                    span {{ 'EvodeskFeed.components.EvodeskFeedPostLikesModal.Followed' | translate }}
              ng-container(*ngIf="! entry.isFollowed")
                .follow
                  button(mat-button, type="button", (click)="follow(entry)", [disabled]="isFollowButtonDisabled(entry)")
                    span {{ 'EvodeskFeed.components.EvodeskFeedPostLikesModal.Follow' | translate }}
      .c-loading(*ngIf="props.loading")
        .__evodesk-app-circle-loader
      .c-load-more(*ngIf="props.hasMoreToLoad && ! props.loading")
        .load-more((click)="next()")
          span {{ 'EvodeskFeed.components.EvodeskFeedPostLikesModal.LoadMore' | translate }}
    .c-contents-scroll
      evodesk-app-common-scroll-bar([elementRef]="area", [theme]="'blue'")
