.c {
  .c-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border-bottom: 1px solid #EFF0F1;
    padding-left: 20px;
    padding-right: 16px;
    margin-bottom: 16px;

    .c-header-title {
      flex: 1;
      font-weight: 500;
      line-height: 21px;
      font-size: 14px;
      color: #000;
    }

    .c-header-close {
      flex-shrink: 0;

      button.close-button {
        border: 0;
        outline: 0;
        background-color: transparent;
        cursor: pointer;
        width: 24px;
        height: 24px;

        i {
          font-size: 14px;
          color: #999;
        }

        &:hover {
          i {
            color: #666;
          }
        }
      }
    }
  }

  .c-columns {
    .column {
      padding: 12px 20px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #FAFAFA;
      }

      &.is-active {
        background-color: #f6f9ff;

        &:hover {
          background-color: #edf3ff;
        }
      }

      .icon-container {
        width: 24px;
        height: 24px;
      }

      .column-icon {
        flex: 0;
        margin-right: 10px;
      }

      .column-name {
        flex: 1;
        margin-right: 10px;
        max-width: 200px;
        display: block;
        word-break: break-all;

        span {
          font-size: 14px;
          color: #1D2639;
        }
      }
    }
  }

  .c-submit {
    padding: 10px;

    button.submit-button {
      background: #4A84FB;
      border-radius: 2px;
      cursor: pointer;
      width: 100%;
      padding: 12px;
      border: 0;
      transition: .15s;

      &:disabled {
        background: #F8F8F9;
        cursor: not-allowed;

        span {
          color: #777D88;
        }
      }

      span {
        font-size: 14px;
        text-align: center;
        color: #FFFFFF;
      }
    }
  }
}
