.c
  .c-header
    .c-header-title
      span(translate) EvodeskDesk.components.common.EvodeskDeskMoveMulti.Title
    .c-header-close
      button.close-button((click)="close()")
        .__evodesk-icon-v3.iv3-x-medium-24x24px.with-hover
  .c-columns
    ng-container(*ngFor="let column of props.toColumns; trackBy: trackByColumnId")
      .column((click)="select(column.id)", [ngClass]="{ 'is-active': state.toColumnId === column.id }")
        .column-icon
          .icon-container
            .__evodesk-icon-v3.iv3-desk-column-done-24x24px(*ngIf="isDoneColumn(column)")
            .__evodesk-icon-v3.iv3-desk-column-failed-24x24px(*ngIf="isFailedColumn(column)")
        .column-name
          span {{ column.name }}
  .c-submit
    button.submit-button(type="button", (click)="move()", [disabled]="state.toColumnId === undefined")
      span(translate) EvodeskDesk.components.common.EvodeskDeskMoveMulti.Submit
