ng-container(*ngIf="!!state && state.ready")
  .c
    .c-card
      .c-title
        .c-title-left
          span {{ 'EvodeskProfile.components.EvodeskProfileCommon.Title' | translate }}
        .c-title-right
          ng-container(*ngIf="props.canEdit")
            .edit([routerLink]="['/user-settings']", [queryParams]="{ 'section': 'common' }")
              .__evodesk-icon.ic-edit-24x24px
      .c-fields
        ng-container(*ngFor="let m of metadata")
          .c-field.c-field-address
            .left
              span {{ m.title | translate }}
            .right
              span {{ m.value }}
