.c {
  .c-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .c-search {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f6f7fd;
      border-radius: 4px;
      padding: 11px 16px;
      margin-right: 24px;
      border: 1px solid #f6f7fd;
      cursor: text;

      &.is-focused {
        border-color: #2e4ce6;
      }

      .c-search-icon {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 16px;
      }

      .c-search-input {
        flex: 1;
        margin-right: 16px;

        input[type="text"] {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 14px;
          letter-spacing: 0.3px;
          text-align: left;
          height: 14px;
          border: 0;
          background-color: transparent;
          width: 100%;
          color: #010307;

          &:disabled {
            color: #aaacb4;
          }

          &::placeholder {
            color: #aaacb4;
          }
        }
      }

      .c-search-cancel {
        flex-grow: 0;
        flex-shrink: 0;

        .search-cancel-button {
          cursor: pointer;
        }
      }
    }

    .c-start-dialog {
      flex-grow: 0;
      flex-shrink: 0;

      button {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2e4ce6;
        cursor: pointer;
        min-width: 40px;

        span {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
