ng-container(*ngIf="!! state && state.ready")
  .c([formGroup]="props.form", novalidate)
    .c-row-1
      .c-search([ngClass]="{ 'is-focused': state.isSearchInputFocused }", (click)="focusSearchInput()")
        .c-search-icon
          .__evodesk-icon.ic-search-blue-18px
        .c-search-input
          input(
            #input, type="text", [formControlName]="'queryString'",
            placeholder="{{ 'EvodeskIM.components.IMSearch.SearchPlaceholder' | translate }}",
            (focusout)="onSearchInputFocusOut()",
            (input)="searchDialog()",
            (keyup.escape)="resetSearchInput()",
          )
        .c-search-cancel
          .search-cancel-button((click)="resetSearchInput()")
            .__evodesk-icon.ic-close-modal-11x11px
      .c-start-dialog
        button(type="button", mat-button, (click)="startDialog()")
          .__evodesk-icon.ic-pencil-18x18px
