@import "~sass-mq";

// Default

.__evodesk-mat-dialog-default-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.__evodesk-mat-dialog-v3-backdrop {
  background-color: rgba(29, 38, 57, 0.4);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.__evodesk-mat-dialog-default {
  padding: 24px;
  margin: 0;
  max-width: 100%!important;

  .mat-dialog-container {
    background-color: #fff;
    padding: 24px; margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.5);
    max-width: 520px;
    overflow: hidden;
  }
}

// Default (no paddings)

.__evodesk-mat-dialog-disable-paddings {
  padding: 24px;
  margin: 0;
  width: 100%;
  max-width: 100%!important;

  .mat-dialog-container {
    background-color: #fff;
    padding: 0; margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.5);
    max-width: 520px;
    overflow: hidden;
  }
}

// Bottom

.mat-dialog-actions {
  margin-bottom: -10px!important;
}

@mixin matDialogBottom($breakpoint) {
  .__evodesk-mat-dialog-bottom-#{$breakpoint} {
    @include mq($until: $breakpoint) {
      & {
        padding: 0; margin: 0;
        width: 100%;
        max-width: 100%!important;
        position: absolute!important;
        left: 0; right: 0; bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;

        .mat-dialog-container {
          padding: 0; margin: 0;
          border-radius: 0;
          background-color: #ffffff;
          box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.5);
          max-width: 100vw!important;
          width: 100vw;
          overflow: hidden;
        }

        .mat-dialog-content {
          margin: 0!important;
          padding: 0!important;
        }

        .mat-dialog-actions {
          margin: 0!important;
        }
      }
    }

    @include mq($from: $breakpoint + 1px) {
      & {
        padding: 0; margin: 0;
        width: 100%;
        max-width: 100%!important;
        overflow-x: hidden;
        overflow-y: auto;

        .mat-dialog-container {
          padding: 0;
          border-radius: 8px;
          background-color: #ffffff;
          box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.5);
          overflow: hidden!important;
          max-height: none;
          max-width: $breakpoint;
          margin: 24px auto;
        }

        .mat-dialog-content {
          margin: 0!important;
          padding: 0!important;
          max-height: none;
        }
      }
    }
  }
}

@include matDialogBottom(420px);
@include matDialogBottom(600px);
@include matDialogBottom(800px);
@include matDialogBottom(720px);

// Bottom 600px

.__evodesk-mat-dialog-bottom-600px {
  @include mq($until: 420px) {
    & {
      padding: 0; margin: 0;
      width: 100%;
      max-width: 100%!important;
      position: absolute!important;
      left: 0; right: 0; bottom: 0;
      overflow-x: hidden;
      overflow-y: auto;

      .mat-dialog-container {
        padding: 0; margin: 0;
        border-radius: 0;
        background-color: #ffffff;
        box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.5);
        max-width: 100vw!important;
        width: 100vw;
        overflow: hidden;
      }

      .mat-dialog-content {
        margin: 0!important;
        padding: 0!important;
      }

      .mat-dialog-actions {
        margin: 0!important;
      }
    }
  }

  @include mq($from: 421px) {
    & {
      padding: 0; margin: 0;
      width: 100%;
      max-width: 100%!important;
      overflow-x: hidden;
      overflow-y: auto;

      .mat-dialog-container {
        padding: 0;
        border-radius: 8px;
        background-color: #ffffff;
        box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.5);
        overflow: hidden;
        max-height: none;
        max-width: 600px;
        margin: 24px auto;
      }

      .mat-dialog-content {
        margin: 0!important;
        padding: 0!important;
        max-height: none;
      }
    }
  }
}

// EvodeskFeed/components/EvodeskFeedPost/EvodeskFeedPostModal

.__evodesk-mat-dialog-feed-post-modal {
  @include mq($until: 420px) {
    & {
      padding: 0; margin: 0;
      width: 100%;
      max-width: 100%!important;
      position: absolute!important;
      left: 0; right: 0; bottom: 0;

      .mat-dialog-container {
        padding: 0; margin: 0;
        border-radius: 0;
        background-color: #ffffff;
        box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.5);
        max-width: 100%!important;
      }

      .mat-dialog-content {
        overflow: inherit;
        max-height: 85vh;
        margin: 0;
        padding: 0;
      }
    }
  }

  @include mq($from: 421px) {
    & {
      padding: 24px;
      margin: 0;
      width: 100%;
      max-width: 100%!important;
      overflow-x: hidden;
      overflow-y: auto;

      .mat-dialog-container {
        background-color: #fff;
        padding: 0;
        border-radius: 8px;
        box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.5);
        max-width: 520px;
        overflow-x: hidden;
        max-height: none;
        margin: 24px auto;
      }

      .mat-dialog-content {
        overflow: inherit;
        max-height: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}

// EvodeskFeed/components/EvodeskFeedPost/EvodeskFeedPostEditorContainer

.__evodesk-mat-dialog-feed-post-editor-container {
  max-width: 100%!important;
  max-height: 100%;
  overflow-y: auto;

  .mat-dialog-container {
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.5);
    padding: 0;
    overflow: initial;
  }
}

.__evodesk-mat-dialog-card-editor {
  height: 100%;

  .mat-dialog-container {
    padding: 0;
    overflow: visible;
    box-shadow: none;
    background-color: transparent;
  }

  @include mq($until: tablet) {
    max-width: 100%!important;
    max-height: 100%;
  }

  @include mq($from: tablet) {
    max-width: 850px!important;
    max-height: 640px;
  }
}

// Mat Dialog (v3)

.__evodesk-v3-mat-dialog-confirm {
  padding: 24px;
  margin: 0;
  max-width: 100%!important;

  .mat-dialog-container {
    background-color: #fff;
    padding: 24px; margin: 0 auto;
    max-width: 520px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(29, 38, 57, 0.15);
    border-radius: 2px;
  }
}

// Mat Dialog Bottom (v3)

@mixin matDialogBottomV3($breakpoint) {
  .__evodesk-v3-mat-dialog-bottom-#{$breakpoint} {
    @include mq($until: $breakpoint) {
      & {
        padding: 0; margin: 0;
        width: 100%;
        max-width: 100%!important;
        position: absolute!important;
        left: 0; right: 0; bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;

        .mat-dialog-container {
          padding: 0; margin: 0;
          max-width: 100vw!important;
          width: 100vw;
          overflow: hidden;
          background: #fff;
          border: 1px solid #EFF0F1;
          box-sizing: border-box;
          box-shadow: 0 6px 12px rgba(29, 38, 57, 0.15);
          border-radius: 0;
        }

        .mat-dialog-content {
          margin: 0!important;
          padding: 0!important;
        }

        .mat-dialog-actions {
          margin: 0!important;
        }
      }
    }

    @include mq($from: $breakpoint + 1px) {
      & {
        padding: 0; margin: 0;
        min-width: $breakpoint;
        max-width: 100%!important;
        overflow-x: hidden;
        overflow-y: auto;

        .mat-dialog-container {
          padding: 0;
          overflow: hidden!important;
          max-height: none;
          max-width: $breakpoint;
          margin: 24px auto;
          border: 1px solid #EFF0F1;
          box-sizing: border-box;
          box-shadow: 0 6px 12px rgba(29, 38, 57, 0.06);
          border-radius: 2px!important;
        }

        .mat-dialog-content {
          margin: 0!important;
          padding: 0!important;
          max-height: none;
        }
      }
    }
  }
}

@include matDialogBottomV3(420px);
@include matDialogBottomV3(600px);
@include matDialogBottomV3(800px);
@include matDialogBottomV3(720px);
@include matDialogBottomV3(317px);
@include matDialogBottomV3(294px);
@include matDialogBottomV3(349px);

// Desk card modal (v3)

.__evodesk-v3-mat-dialog-desk-card-modal {
  @include mq($until: 853px) {
    & {
      padding: 0; margin: 0;
      width: 100%;
      max-width: 100%!important;
      position: absolute!important;
      left: 0; right: 0; bottom: 0;
      overflow-x: hidden;
      overflow-y: auto;

      .mat-dialog-container {
        padding: 0; margin: 0;
        max-width: 100vw!important;
        border-radius: 0;
        width: 100vw;
        overflow: hidden;
        background: #fff;
        border: 1px solid #EFF0F1;
        box-sizing: border-box;
        box-shadow: 0 6px 25px rgba(29, 38, 57, 0.2);
      }

      .mat-dialog-content {
        margin: 0!important;
        padding: 0!important;
      }

      .mat-dialog-actions {
        margin: 0!important;
      }
    }
  }

  @include mq($from: 854px) {
    & {
      padding: 0; margin: 0;
      width: 100%;
      max-width: 100%!important;
      overflow-x: hidden;
      overflow-y: auto;

      .mat-dialog-container {
        padding: 0;
        border-radius: 0;
        overflow: hidden!important;
        max-height: none;
        max-width: 853px;
        margin: 24px auto;
        border: 1px solid #EFF0F1;
        box-sizing: border-box;
        box-shadow: 0 6px 12px rgba(29, 38, 57, 0.15);
      }

      .mat-dialog-content {
        margin: 0!important;
        padding: 0!important;
        max-height: none;
      }
    }
  }
}
