.c((click)="$event.stopPropagation()", *ngIf="state.ready")
  .c-modal-header
    .c-modal-title
      span(translate) EvodeskDesk.components.common.EvodeskDeskChecklists.ModalTitle
    .c-modal-close
      .close-button((click)="close()")
        svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M16.7071 8.70711C17.0976 8.31658 17.0976 7.68342 16.7071 7.29289C16.3166 6.90237 15.6834 6.90237 15.2929 7.29289L12 10.5858L8.70711 7.29289C8.31658 6.90237 7.68342 6.90237 7.29289 7.29289C6.90237 7.68342 6.90237 8.31658 7.29289 8.70711L10.5858 12L7.29289 15.2929C6.90237 15.6834 6.90237 16.3166 7.29289 16.7071C7.68342 17.0976 8.31658 17.0976 8.70711 16.7071L12 13.4142L15.2929 16.7071C15.6834 17.0976 16.3166 17.0976 16.7071 16.7071C17.0976 16.3166 17.0976 15.6834 16.7071 15.2929L13.4142 12L16.7071 8.70711Z', fill='#BBBEC4')
  .c-checklists(*ngIf="props.checklists.length > 0")
    .c-checklists-area(#contents, evodeskEdgeScroll, evodeskMouseWheelScroll, evodeskKeyboardScroll)
      .c-checklist(*ngFor="let c of props.checklists; trackBy: trackByChecklistId")
        evodesk-desk-card-checklist-container([card]="props.card", [checklist]="c")
    .c-checklists-scroll
      evodesk-app-common-scroll-bar([elementRef]="contents", [theme]="'v3'")
  .c-actions
    .c-action
      button.button.button-submit(type="button", (click)="$event.stopImmediatePropagation(); addChecklist()")
        span(translate) EvodeskDesk.components.common.EvodeskDeskChecklists.AddChecklist
