.c {
  min-width: 300px;

  .c-modal-header {
    border-bottom: 1px solid #EFF0F1;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 13px;

    .c-modal-title {
      span {
        font-weight: 500;
        line-height: 21px;
        font-size: 14px;
        color: #1D2639;
      }
    }

    .c-modal-close {
      .close-button {
        cursor: pointer;

        &:hover {
          svg path {
            fill: #000000;
          }
        }
      }
    }
  }

  .c-checklists {
    display: flex;
    padding: 20px;

    .c-checklists-area {
      flex: 1;
      max-height: 420px;
      overflow: hidden;

      .c-checklist {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .c-checklists-scroll {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  .c-actions {
    padding: 0 20px 20px;

    .c-action {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }

      .button {
        width: 100%;
        height: 40px;
        background: #4A84FB;
        border-radius: 2px;
        text-align: center;
        cursor: pointer;
        border: none;

        span {
          font-size: 14px;
          text-align: center;
          line-height: 40px;
        }

        &.button-submit {
          background-color: #4A84FB;

          span {
            color: #FFFFFF;
          }
        }

        &.button-cancel {
          background-color: #F8F8F9;

          span {
            color: #BBBEC4;
          }
        }
      }
    }
  }
}
