.c(#element, *ngIf="props", [attr.data-evodesk-desk-card]="state.uniqueId", [formGroup]="state.form")
  .card([ngClass]="state.cardNgClasses", (click)="open()", (touchstart)="onCardTouchStart($event)", (contextmenu)="$event.preventDefault(); $event.stopPropagation()", [attr.data-evodesk-desk-card]="props.editMode || props.card.id")
    .card-deadline-exceed(*ngIf="state.hasDeadline && state.isDeadlineOverdue")
      .__evodesk-icon-v3.iv3-desk-deadline-notification-square-16x16px
    .card-contents
      .card-preview(*ngIf="state.imageAttachment")
        evodesk-desk-attachment-image-container([deskId]="props.card.deskId", [cardId]="props.card.id", [attachment]="state.imageAttachment", [maxHeight]="600")
      .card-labels(*ngIf="state.hasLabels")
        .labels
          ng-container(*ngFor="let label of state.labels")
            .label-inline-block
              .label-container([matTooltip]="label.name", matTooltipClass="label-color-{{label.color.slice(1)}}", [matTooltipShowDelay]="500")
                .label([ngStyle]="{ 'background-color': label.color }")
      .card-projects(*ngIf="props.card.projects.length > 0", [ngClass]="{ 'add-padding': state.labels.length === 0 }")
        .projects-list
          .pl-item(*ngFor="let p of props.card.projects")
            .pl-item-name
              span {{ p.title }}
      .card-title([ngClass]="{ 'has-labels': state.hasLabels, 'has-widgets': state.hasStatusWidgets }")
        textarea(
          #input,
          [formControlName]="'title'",
          rows="1", matTextareaAutosize, matAutosizeMinRows="1", matAutosizeMaxRows="10",
          [readonly]="! props.editMode",
          (focus)="formFocus()",
          (blur)="formBlur()",
          (keydown.enter)="$event.stopImmediatePropagation(); onKeyDownEnter()"
        )
      .card-responsible(*ngIf="props.card.responsible.length > 0", [ngClass]="{ 'add-padding': ! state.hasStatusWidgets }")
        .responsible-list
          .rl-item(*ngFor="let r of props.card.responsible")
            .rl-item-avatar
              evodesk-profile-avatar([size]="16", [profileId]="r.id")
            .rl-item-name
              span {{ r.name || r.email }}
      .card-status-widgets(*ngIf="state.hasStatusWidgets")
        .status-widget.status-widget-default.status-widget-repeatable(*ngIf="state.isRepeatable")
          .w
            .icon
              .__evodesk-icon-v3.iv3-desk-sw-repeatable-12x12px
        .status-widget.status-widget-default.status-widget-deadline(*ngIf="state.hasDeadline && ! state.isDeadlineOverdue")
          .w
            .icon
              .__evodesk-icon-v3.iv3-desk-sw-deadline-12x12px
            .text
              span {{ state.deadlineStr }}
        .status-widget.status-widget-default.status-widget-deadline-exceed(*ngIf="state.hasDeadline && state.isDeadlineOverdue")
          .w
            .icon
              .__evodesk-icon-v3.iv3-desk-sw-deadline-exceed-12x12px
            .text
              span {{ state.deadlineStr }}
        .status-widget.status-widget-default.status-widget-checklist(*ngIf="state.hasChecklist", [ngClass]="{ 'is-all-completed': state.totalChecklistItems === state.completedChecklistItems }")
          .w
            .icon
              .__evodesk-icon-v3.iv3-desk-sw-checklist-12x12px
            .text
              span {{ state.completedChecklistItems }}/{{ state.totalChecklistItems }}
        .status-widget.status-widget-default.status-widget-comment(*ngIf="state.numComments > 0")
          .w
            .icon
              .__evodesk-icon-v3.iv3-desk-sw-comments-12x12px
            .text
              span {{ state.numComments }}
        .status-widget.status-widget-default.status-widget-attachments(*ngIf="state.numAttachments > 0")
          .w
            .icon
              .__evodesk-icon-v3.iv3-desk-sw-attachments-12x12px
            .text
              span {{ state.numAttachments }}
    .c-hover-controls(*ngIf="! props.editMode")
      .edit-button(*ngIf="! props.editMode", (click)="edit()")
        svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M14.404 4.29289C14.7945 3.90237 15.4277 3.90237 15.8182 4.29289L19.7071 8.18178C20.0976 8.57231 20.0976 9.20547 19.7071 9.596L9.596 19.7071C9.40846 19.8946 9.15411 20 8.88889 20H5C4.44772 20 4 19.5523 4 19V15.1111C4 14.8459 4.10536 14.5915 4.29289 14.404L14.404 4.29289ZM6 15.5253V18H8.47468L17.5858 8.88889L15.1111 6.41421L6 15.5253Z', fill='#BBBEC4')
