.c {
  width: 100%;
  position: relative;

  .card-bg {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(29, 38, 57, 0.4);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
  }

  .card {
    background: #FFFFFF;
    box-shadow: 0 6px 8px rgba(29, 38, 57, 0.2);
    position: relative;
    border-radius: 0;
    margin-bottom: 10px;
    width: 100%;
    z-index: 1;

    &:hover {
      .c-hover-controls {
        display: block;
        opacity: 1;
      }
    }

    &.card__is-disabled {
      opacity: 0.6;
    }

    &.card__is-todo-today, &.card__is-done-today, &.card__is-responsible-for {
      margin-top: 1px;

      .card-contents {
        .card-labels {
          padding-left: 15px;
          padding-right: 39px;
        }

        .card-title {
          padding-left: 15px;
          padding-right: 19px;
        }

        .card-responsible {
          padding-left: 9px;
          padding-right: 9px;
        }

        .card-status-widgets {
          padding-left: 15px;
        }
      }
    }

    &.card__is-todo-today {
      border: 1px solid #4A84FB;
      box-shadow: 0 6px 12px rgba(74, 132, 251, 0.3);;
    }

    &.card__is-done-today {
      border: 1px solid #8CD66B;
      box-shadow: 0 6px 12px rgba(140, 214, 107, 0.3);
    }

    &.card__is-responsible-for {
      border: 1px solid #FB4A4A;
      box-shadow: 0 6px 12px rgba(251, 74, 74, 0.3);
    }

    .card-deadline-exceed {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3;
      width: 16px; height: 16px;
    }

    .card-contents {
      cursor: pointer;
      position: relative;
      z-index: 1;

      .card-labels {
        padding-left: 16px;
        padding-right: 40px;
        padding-top: 3px;
        white-space: initial;

        .labels {
          position: relative;
          left: -5px;

          .label-inline-block {
            display: inline-block;
          }

          .label-container {
            margin-right: 8px;
            width: 37px; height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:last-child {
              margin-right: 0;
            }

            .label {
              margin-left: 4px;
              width: 30px; height: 2px;
              border-bottom-left-radius: 2px;
              border-bottom-right-radius: 2px;
            }
          }
        }
      }

      .card-responsible {
        margin-top: 10px;
        padding: 0 10px;

        &.add-padding {
          padding-bottom: 10px;
        }

        .responsible-list {
          .rl-item {
            border-radius: 21px;
            height: 32px;
            padding-left: 12px;
            padding-right: 5px;
            display: flex;
            margin-right: 8px;
            margin-bottom: 8px;
            align-items: center;

            .rl-item-avatar {
              flex: 0;
              margin-right: 10px;
            }

            .rl-item-name {
              margin-right: 10px;
              overflow: hidden;
              word-break: keep-all;
              text-overflow: ellipsis;
              flex: 1;

              span {
                font-size: 12px;
                color: #1D2639;
                position: relative;
                top: -2px;
                left: 2px;
                word-break: keep-all;
                white-space: nowrap;
              }
            }
          }
        }
      }

      .card-projects {
        padding: 0 10px;

        &.add-padding {
          padding-top: 20px;
        }

        .projects-list {
          .pl-item {
            background: #F8F8F9;
            border-radius: 21px;
            height: 32px;
            padding-left: 12px;
            padding-right: 5px;
            display: flex;
            margin-right: 8px;
            margin-bottom: 8px;
            align-items: center;

            .pl-item-name {
              margin-right: 10px;
              overflow: hidden;
              word-break: keep-all;
              text-overflow: ellipsis;
              flex: 1;

              span {
                font-size: 12px;
                color: #1D2639;
                position: relative;
                top: -2px;
                left: 2px;
                word-break: keep-all;
                white-space: nowrap;
              }
            }
          }
        }
      }

      .card-title {
        padding: 20px 20px 20px 16px;
        margin-top: -1px;

        &.has-labels {
          padding-top: 0;
        }

        &.has-widgets {
          padding-bottom: 0;
        }

        textarea {
          line-height: 21px;
          font-size: 14px;
          color: #1D2639;
          word-break: break-word;
          white-space: initial;
          border: 0; padding: 0;
          margin: 0; outline: 0;
          caret-color: #4A84FB;
          width: 100%;
          resize: none;

          &:read-only {
            cursor: pointer;
            user-select: none;
          }
        }
      }

      .card-status-widgets {
        display: flex;
        flex-wrap: wrap;
        line-height: 17px;
        padding: 4px 0 10px 16px;

        .status-widget-default {
          display: inline-block;
          margin-right: 16px;

          .w {
            .icon {
              display: inline-block;
              vertical-align: middle;
            }

            .text {
              display: inline-block;
              vertical-align: middle;
              margin-left: 4px;
              position: relative;

              span {
                font-size: 12px;
                color: #777D88;
              }
            }
          }
        }

        .status-widget-deadline {
          margin-right: 12px;
        }

        .status-widget-repeatable {
          margin-right: 8px;
        }

        .status-widget-checklist {
          margin-right: 10px;
        }

        .status-widget-deadline-exceed {
          margin-right: 12px;

          .text {
            span {
              color: #FB4A4A!important;
            }
          }
        }
      }
    }

    .c-hover-controls {
      display: none;
      opacity: 0;
      position: absolute;
      right: 3px; top: 3px;
      transition: opacity .15s;
      z-index: 4;

      .edit-button {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.85);
        overflow: hidden;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1px;

        &:hover {
          svg {
            path {
              fill: #4A84FB;
            }
          }
        }
      }
    }
  }
}

::ng-deep {
  .cdk-drag-dragging {
  }

  .cdk-drag-preview {
    .drag-card-inner {
      transform: rotate(5deg);

      .c-hover-controls {
        display: none!important;
      }
    }
  }

  .cdk-drag-placeholder {
    .drag-card-inner {
      background-color: #F8F8F9;
      opacity: 1!important;

      * {
        opacity: 0;
      }
    }
  }
}
