ng-container(*ngIf="!!state && state.ready && state.sorted.length > 0")
  .c([ngClass]="containerCSSClasses")
    .c-card
      .c-card-title
        .c-title-left
          span {{ 'EvodeskProfile.components.EvodeskProfileCompetence.Title' | translate }}
        .c-title-right
          ng-container(*ngIf="props.canEdit")
            .edit([routerLink]="['/user-settings']", [queryParams]="{ 'section': 'competence' }")
              .__evodesk-icon.ic-edit-24x24px
      .c-card-contents
        .c-competences
          .c-competence(*ngFor="let uC of userCompetences", [ngClass]="userCompetenceClasses(uC)")
            .c-competence-info
              .row-1
                .row-1-block-1
                  .title
                    span {{ uC.competence.title }}
                .row-2-block-2
                  .row-2-block-2-1
                    .item.item-mark((click)="marks(uC)")
                      .icon.icon-no-hover
                        .__evodesk-icon.ic-competence-mark-16x16px
                      .icon.icon-with-hover
                        .__evodesk-icon.ic-competence-mark-hover-16x16px
                      .count
                        span {{ uC.marks }}
                    .item.item-documents((click)="documents(uC)")
                      .icon.icon-no-hover
                        .__evodesk-icon.ic-competence-document-16x16px
                      .icon.icon-with-hover
                        .__evodesk-icon.ic-competence-document-hover-16x16px
                      .count
                        span {{ uC.documents }}
                  .row-2-block-2-2
                    .item.item-open((click)="details(uC)")
                      .icon
                        .__evodesk-icon.ic-competence-open-16x16px.with-hover
              .row-2
                .progress
                  evodesk-profile-competence-progress([points]="uC.points")
              .row-3
                evodesk-profile-competence-skills([skills]="skills(uC)")
            .c-competence-controls
              evodesk-profile-competence-points-container([userCompetence]="uC")
