@import "~sass-mq";

.c {
  &.___mobile {
    .c-competences {
      .c-competence {
        border-bottom: 1px solid #ddd;
        padding-bottom: 16px;

        .c-competence-info {
          margin-bottom: 16px;

          .row-1 {
            .row-2-block-2 {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 16px;

              .row-2-block-2-1 {
                flex: 1;
                margin-right: 8px;
                display: flex;
                align-items: center;
                justify-content: left;

                .item {
                  zoom: 1.3;
                }
              }

              .row-2-block-2-2 {
                flex-grow: 0;
                flex-shrink: 0;

                .item {
                  zoom: 1.3;
                }
              }
            }
          }

          .row-2 {
            margin-bottom: 16px;
          }
        }

        .c-competence-controls {
          margin-bottom: 16px;
        }
      }
    }
  }

  &.___tablet-and-desktop {
    .c-competences {
      .c-competence {
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        padding-bottom: 16px;

        .c-competence-info {
          flex: 1;

          .row-1 {
            display: flex;
            align-items: center;
            justify-content: left;

            .row-1-block-1 {
              flex-grow: 0;
              flex-shrink: 0;
              margin-right: 8px;

              .title {
                span {
                  overflow: hidden;
                  word-break: keep-all;
                  text-overflow: ellipsis;
                  display: block;
                  white-space: nowrap;
                  max-width: 190px;
                  height: 55px;
                }
              }
            }

            .row-2-block-2 {
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .row-2-block-2-1 {
                flex: 1;
                margin-right: 8px;
                display: flex;
                align-items: center;
                justify-content: left;
              }

              .row-2-block-2-2 {
                flex-grow: 0;
                flex-shrink: 0;
              }
            }
          }

          .row-2 {
            margin-bottom: 16px;
          }
        }

        .c-competence-controls {
          width: 160px;
          flex-shrink: 0;
          flex-grow: 0;
        }
      }
    }
  }

  .c-card {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

    .c-card-title {
      padding: 4px 14px 4px 16px;
      border-bottom: 1px solid #d0d6f5;
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      &:hover {
        .c-title-right {
          .edit {
            display: block;
          }
        }
      }

      .c-title-left {
        flex: 1;
        margin-right: 16px;

        span {
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.4px;
          text-align: left;
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .c-title-right {
        flex-grow: 0;
        flex-shrink: 0;

        .edit {
          display: none;
          cursor: pointer;
          padding: 2px;
        }
      }
    }

    .c-card-contents {
      padding-left: 24px;
      padding-right: 16px;

      .c-competences {
        .c-competence {
          .c-competence-info {
            .row-1 {
              .title {
                margin-right: 16px;

                span {
                  font-size: 16px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 3.37;
                  letter-spacing: normal;
                  text-align: left;
                  color: #010307;
                }
              }

              .row-2-block-2-1 {
                .icon {
                  margin-right: 8px;
                }
              }

              .row-2-block-2-2 {
                .item {
                  margin-right: 0;
                }
              }

              .item {
                margin-right: 8px;
                cursor: pointer;
                display: flex;
                align-items: center;

                .icon.icon-no-hover { display: block; }
                .icon.icon-with-hover { display: none; }

                &:hover {
                  .icon.icon-no-hover { display: none; }
                  .icon.icon-with-hover { display: block; }
                }

                .count {
                  span {
                    font-size: 12px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.6px;
                    text-align: left;
                    color: #8d8d8d;
                  }
                }
              }
            }

            .row-2 {
              .progress {
                height: 4px;
                border-radius: 3px;
                overflow: hidden;
                background-color: #f5f5f5;
              }
            }
          }

          .c-competence-controls {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
          }
        }
      }
    }
  }
}
