.c
  .c-preview([ngStyle]="previewNgStyle")
  .c-info
    .c-url
      a.link([href]="link", target="__top")
        span {{ text }}
    .c-created-at
      span([evodeskBind]="date$")
  .c-actions
    .delete-button((click)="delete()")
      .__evodesk-icon-v3.iv3-desk-card-modal-attachment-image-delete-24x24px
