.c {
  background: #FAFAFA;
  height: 105px;
  display: flex;

  .c-preview {
    width: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
  }

  .c-info {
    padding: 16px;
    flex: 1;

    .c-url {
      margin-bottom: 4px;

      .link {
        cursor: pointer;
        display: block;

        span {
          line-height: 21px;
          font-size: 14px;
          color: #1D2639;
        }
      }
    }

    .c-created-at {
      span {
        font-size: 12px;
        color: #777D88;
      }
    }
  }

  .c-actions {
    flex: 0;
    padding: 20px;

    .delete-button {
      cursor: pointer;
    }
  }
}
