.c(*ngIf="state.ready", [formGroup]="form", novalidate, (ngSubmit)="ngSubmit()", [ngClass]="{ 'is-focused': state.isFocused }")
  .c-title-input
    textarea.input(
      #titleInput, [formControlName]="'title'", (keydown.enter)="$event.preventDefault(); ngSubmit()",
      (focus)="focus()", (blur)='blur(); ngSubmit()',
      placeholder="{{ 'EvodeskDesk.components.sharedModal.EvodeskDeskCardModalTitle.TitlePlaceholder' | translate }}",
      (keyup.escape)="revertAndBack()",
      autosize, [minRows]="1", [maxRows]="10", rows="1"
    )
    .hr
