.c {
  &.is-focused {
    .c-title-input {
      .hr {
        display: block;
      }
    }
  }

  .c-title-input {
    position: relative;
    left: 4px;
    top: -1px;

    .hr {
      display: none;
      height: 1px;
      position: absolute; bottom: -4px; left: 0; right: 0;
      background-color: #4A84FB;
    }

    textarea.input {
      font-style: normal;
      font-weight: 500;
      line-height: 30px!important;
      font-size: 24px;
      color: #1D2639;
      border: 0;
      outline: 0;
      resize: none;
      caret-color: #4A84FB;
      width: 100%;
      padding: 0!important;
      margin: 0!important;
      cursor: pointer;

      &:focus {
        cursor: text;
      }

      &::placeholder {
        color: #BBBEC4;
      }
    }
  }

  .c-screen-view {
    textarea.input {
      cursor: pointer;
    }
  }
}
