:host {
  height: 100%;
}

.c {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.___desktop, &.___tablet {
    .c-header-actions {
      .menu {
        width: 48px;
        text-align: center;
      }
    }
  }

  &.___mobile {
    .c-header-actions {
      .menu {
        width: 24px;
        text-align: center;
      }
    }
  }

  .c-header {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 16px;
    border-bottom: 1px solid #d0d6f5;

    .c-header-back {
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: 8px;
    }

    .c-header-name {
      flex: 1;

      .name {
        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;
          word-break: break-word;
        }
      }
    }

    .c-header-actions {
      flex-shrink: 0;
      flex-grow: 0;
      font-size: 0;

      .menu {
        cursor: pointer;

        .__evodesk-icon {
          display: inline-block;
        }
      }
    }
  }

  .c-messages {
    flex: 1;
    display: flex;
    position: relative;

    .c-messages-content {
      flex: 1;
      overflow: hidden;
      height: 100%;
    }

    .c-messages-scrollbar {
      position: absolute;
      right: 0; top: 0; bottom: 0;
    }
  }
}

.messages-load-before, .messages-loading {
  height: 50px;
}

.messages-loading {
  padding: 24px 16px;

  .__evodesk-app-circle-loader {
    width: 16px;
    height: 16px;
    margin: 0 auto;
  }
}

.messages-load-before {
  padding: 24px 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  .button {
    cursor: pointer;

    span {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.83;
      letter-spacing: 0.2px;
      text-align: center;
      color: #aaacb4;
      text-transform: lowercase;
    }
  }
}

.message-groups {
  .message-group {
    margin: 20px;

    .message-group-header {
      height: 22px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 24px;

      .line {
        border-bottom: 1px solid #d0d6f5;
        position: absolute;
        left: 0; right: 0;
        top: 11px;
        z-index: 1;
      }

      .title {
        z-index: 2;
        background-color: #fff;
        padding: 0 16px;

        span {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.83;
          letter-spacing: 0.2px;
          text-align: center;
          color: #aaacb4;
        }
      }
    }
  }
}
