ng-container(*ngIf="!! state && state.ready")
  .c([ngClass]="containerCSSClasses")
    .c-header
      .c-header-back(*ngIf="isMobile")
        .button.close((click)="close()")
          .__evodesk-icon.icon-left-arrow
      .c-header-name
        .name
          span {{ props.dialogName }}
      .c-header-actions
        .menu([matMenuTriggerFor]="headerContextMenu")
          .__evodesk-icon.ic-dots-menu-4x20px
    .c-messages
      .c-messages-content(#content, evodeskTouchScroll='y', evodeskMouseWheelScroll, evodeskKeyboardScroll, (wheel.out-zone)="onWheel($event)", (touchmove.out-zone)="onTouchMove($event)", (scroll.out-zone)="onContentScroll()")
        .messages-loading(*ngIf="props.loading && props.hasMoreToLoad")
          .__evodesk-app-circle-loader
        .messages-load-before(*ngIf="props.hasMoreToLoad && ! props.loading")
          .button((click)="loadBefore()")
            span {{ 'EvodeskIM.components.IMDialog.LoadBefore' | translate }}
        .message-groups
          .message-group(*ngFor="let mg of state.messages")
            .message-group-header
              .line
              .title
                span([evodeskBind]="mg.timestamp$")
            .message-group-messages
              .message-group-message(*ngFor="let m of mg.messages")
                evodesk-im-message-container([message]="m")
      .c-messages-scrollbar
        evodesk-app-common-scroll-bar([elementRef]="content", [autoHide]="true", [theme]="'blue'", )

mat-menu(#headerContextMenu, yPosition="below", xPosition="before", class="__evodesk-material-context-menu")
  button(type="button", mat-menu-item, (click)="blockUser()")
    span {{ 'EvodeskIM.components.IMDialog.BlockUser' | translate }}
  button(type="button", mat-menu-item, (click)="dropDialog()")
    span {{ 'EvodeskIM.components.IMDialog.DropDialog' | translate }}
