.__evodesk-material-checkbox {
  .mat-checkbox-ripple {
    display: none;
  }

  .mat-checkbox-frame {
    border: 1px solid #dddddd;
    background-color: transparent;
    border-radius: 3px;
  }

  .mat-checkbox-checked {
    .mat-checkbox-frame {
      background-color: transparent;
    }

    .mat-checkbox-background {
      svg path {
        stroke: #000000 !important;
      }
    }
  }

  .mat-checkbox-background {
    background-color: transparent;
  }

  .mat-checkbox-frame {
    border: 1px solid #dddddd;
    background-color: transparent;
    border-radius: 3px;
  }

  .mat-checkbox-checked {
    .mat-checkbox-frame {
      border-color: rgba(255, 255, 255, 0);
      background-color: transparent;
    }

    .mat-checkbox-background {
      background-color: #fff;

      svg path {
        stroke: #000000!important;
      }
    }
  }
}

.__evodesk-material-checkbox--bordered {
  .mat-checkbox-checked {
    .mat-checkbox-frame {
      border-color: #ddd;
    }
  }
}
