.c {
  width: 100%;

  .c-title {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d0d6f5;
    margin-bottom: 20px;
    padding: 8px 16px;
    background-color: #fff;
    z-index: 2;
    position: sticky;
    top: 0;

    .c-title-left {
      flex: 1;
      margin-right: 16px;

      span {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.4px;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
      }
    }

    .c-title-right {
      flex-shrink: 0;
      flex-grow: 0;

      .close {
        cursor: pointer;
      }
    }
  }

  .c-text {
    padding: 0 16px;
    margin-bottom: 24px;
    z-index: 1;

    .c-form-textarea {
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 0;

      &.focused {
        border: 1px solid #2e4ce6;
      }

      textarea.message {
        resize: none;
        width: 100%;
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        border: 0;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
        color: #010307;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.5);
        min-height: 48px;
        padding: 12px;

        &:disabled {
          background-color: transparent;
          color: #999;
        }
      }

      textarea.message::placeholder {
        color: #010307;
      }
    }
  }

  .c-orig-post {
    border-left: 8px solid #d0d6f5;
    z-index: 1;

    .c-orig-post-header {
      border-bottom: 1px solid #d0d6f5;
      padding-left: 24px;

      .c-orig-post-header-contents {
        height: 48px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: left;

        .avatar {
          width: 48px;
          height: 48px;
          flex-grow: 0;
          flex-shrink: 0;
          position: relative;
          margin-right: 8px;

          .repost-icon {
            position: absolute;
            top: 0; right: 0;
          }
        }

        .info {
          .name {
            span {
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.57;
              letter-spacing: 0.3px;
              text-align: left;
              color: #010307;
              word-break: break-all;
            }
          }

          .created-at {
            span {
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.83;
              letter-spacing: 0.2px;
              text-align: left;
              color: #aaacb4;
              word-break: break-all;
            }
          }
        }
      }
    }

    .c-orig-post-attachments {
      padding-left: 16px;
      padding-right: 8px;
      margin-bottom: 16px;

      &.is-multi {
        padding-left: 32px;
        padding-right: 16px;
      }
    }

    .c-orig-post-text {
      padding-left: 32px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 16px;

      .box {
        display: flex;
        width: 100%;

        .contents {
          flex: 1;
          overflow: hidden;
          margin-right: 16px;
          height: 100%;
          max-height: 300px;

          span {
            font-size: 15px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: 0.3px;
            text-align: left;
            color: #010307;
          }
        }

        .scroll {
          flex-grow: 0;
          flex-shrink: 0;
        }
      }
    }
  }

  .c-actions {
    border-top: 1px solid #d0d6f5;
    padding: 8px 16px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;

    button.cancel {
      border-radius: 3px;
      background-color: #f0f0f0;

      span {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.3px;
        text-align: left;
        color: #999;
      }
    }

    button.submit {
      border-radius: 3px;
      background-color: #2e4ce6;

      &:disabled {
        background-color: #f0f0f0;

        span {
          color: #999;
        }
      }

      span {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.3px;
        text-align: left;
        color: #ffffff;
      }
    }
  }
}
