mat-dialog-content
  .c([formGroup]="state.form")
    .c-title
      .c-title-left
        span {{ 'EvodeskFeed.components.EvodeskFeedRepostModal.Title' | translate }}
      .c-title-right
        .close((click)="cancel()")
          .__evodesk-icon.ic-close-modal-13x13px.with-hover
    .c-text
      .c-form-textarea([ngClass]="{ 'focused': state.isTextareaFocused }")
        textarea.message(
          #textAreaInput, rows="1", matTextareaAutosize, matAutosizeMinRows="1", matAutosizeMaxRows="10",
          formControlName="text", placeholder="{{ textareaPlaceholder | translate }}",
          (keydown)="onTextKeyDown($event)", (focus)="onTextareaFocus()", (blur)="onTextareBlur()",
        )
    .c-orig-post
      .c-orig-post-header
        .c-orig-post-header-contents
          .avatar
            evodesk-profile-avatar([profileId]="props.authorProfile.id", [size]="48")
            .repost-icon
              .__evodesk-icon.ic-share-post-blue-18x14px
          .info
            .name
              span {{ props.authorProfile.name || props.authorProfile.email }}
            .created-at
              span {{ createdAt }}
      .c-orig-post-attachments(*ngIf="props.post.attachments.length > 0", [ngClass]="{ 'is-multi': props.post.attachments.length > 1 }")
        evodesk-feed-post-list-attachments([attachments]="attachments", [controls]="false")
      .c-orig-post-text(*ngIf="hasText")
        .box
          .contents(#parsedContent, evodeskTouchScroll="y", evodeskMouseWheelScroll, evodeskKeyboardScroll)
            span([innerHtml]="state.parsed")
          .scroll
            evodesk-app-common-scroll-bar([elementRef]="parsedContent", [scrollBarDirection]="'y'", [theme]="'blue'")
mat-dialog-actions
  .c
    .c-actions
      .c-action
        button.cancel(type="button", mat-button, (click)="cancel()", tabindex="-1")
          span {{ 'EvodeskFeed.components.EvodeskFeedRepostModal.Cancel' | translate }}
      .c-action
        button.submit(type="button", mat-button, (click)="submit()", tabindex="-1")
          span {{ 'EvodeskFeed.components.EvodeskFeedRepostModal.Submit' | translate }}
