:host {
  height: 100%;
}

.c {
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;

  &.has-scroll {
    .c-cards {
      width: 265px;

      .c-cards-area {
        .cl-actions {
          height: 60px;
          background: #fff;
        }
      }
    }
  }

  .c-box-shadow-bg {
    background: #fff;
    position: absolute;
    top: 0; height:51px;
    left: 0; right: 0;
    z-index: 8;
  }

  .c-box-shadow-top {
    background: radial-gradient(252.00px at 100% 99.93%, #FFFFFF 0%, #EFF0F1 50.76%, #FFFFFF 100%);
    box-shadow: 0 1px 15px rgba(29, 38, 57, 0.6);
    position: absolute;
    left: 0; top: 51px; right: 0; height: 1px;
    z-index: 7;
    transition: .15s opacity;
  }

  .c-box-shadow-bottom {
    position: absolute;
    background: radial-gradient(252.00px at 100% 99.93%, #FFFFFF 0%, #EFF0F1 50.76%, #FFFFFF 100%);
    box-shadow: 0 1px 15px rgba(29, 38, 57, 0.6);
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: 7;
    left: 0; right: 0; height: 1px; bottom: 60px;
  }

  .c-title {
    flex: 0;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 14px;
    z-index: 9;
    background-color: #fff;

    .c-title-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #EFF0F1;
      height: 44px;
      overflow: hidden;
      padding-left: 15px;

      .c-title-box-icon {
        flex: 0;
        margin-right: 5px;
        margin-left: -4px;

        .icon-container {
          width: 24px;
          height: 24px;
        }
      }

      .c-title-box-name {
        flex: 1;

        span {
          font-size: 14px;
          color: #1D2639;
          position: relative;
          top: -2px;
          left: 2px;
        }
      }

      .c-title-box-context {
        flex: 0;

        .context-menu-trigger {
          cursor: pointer;

          .hovered { display: none; }
          .not-hovered { display: block; }

          &:hover {
            .hovered { display: block; }
            .not-hovered { display: none; }
          }

          .icon-container {
            width: 35px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .c-cards {
    display: flex;
    position: relative;
    flex: 1;
    width: 272px;
    z-index: 1;

    .c-cards-area {
      flex: 1;
      position: relative;
      padding-left: 15px;
      padding-right: 5px;
      overflow: hidden;

      .cards-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        .cl-cards {
          z-index: 2;

          &.no-cards {
            min-height: 1px;
          }
        }

        .cl-add-form {
          z-index: 1;
        }

        .cl-actions {
          flex-grow: 0;
          flex-shrink: 0;
          z-index: 3;
        }

        .cl-bottom-overlay {
          &:not(:nth-child(2)):not(:first-child) {
            margin-top: 10px;
          }
          flex: 1;
        }
      }
    }

    .c-cards-scroll {
      width: 0;
      left: -4px;
      position: relative;
      top: 0; /* it should be -3px but these shadows  and overflows won't let me do it right */
    }
  }

  .c-actions {
    height: 60px;
    background-color: #fff;
    padding: 8px 14px 12px 15px;
    z-index: 10;
  }
}

.card-actions {
  .add-button {
    display: flex;
    align-items: center;
    background-color: #EFF0F1;
    cursor: pointer;
    width: 100%;
    height: 40px;
    padding-left: 11px;
    padding-top: 3px;

    .button-icon {
      flex: 0;
    }

    .button-title {
      margin-left: 9px;
      margin-top: -7px;

      span {
        font-size: 14px;
        color: #1D2639;
      }
    }
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFF0F1;
    cursor: pointer;
    width: 100%;
    height: 40px;

    .info-counter {
      margin-right: 4px;
      position: relative;
      left: 2px;
      top: -2px;

      span {
        font-weight: 500;
        line-height: normal;
        font-size: 14px;
        color: #1D2639;
      }
    }

    .info-text {
      position: relative;
      top: -2px;
      left: 2px;

      span {
        font-size: 14px;
        color: #777D88;
      }
    }
  }
}
