.c(*ngIf="props", [ngClass]="containerNgClass")
  .c-box-shadow-bg(#shadowTopBg)
  .c-box-shadow-top(#shadowTop)
  .c-box-shadow-bottom(#shadowBottom)

  .c-title
    .c-title-box
      .c-title-box-icon(*ngIf="isDoneColumn || isFailedColumn")
        .icon-container
          .__evodesk-icon-v3.iv3-desk-column-done-24x24px(*ngIf="isDoneColumn")
          .__evodesk-icon-v3.iv3-desk-column-failed-24x24px(*ngIf="isFailedColumn")
      .c-title-box-name
        span {{ props.column.name }}
      .c-title-box-context(*ngIf="props.isContextMenuEnabled", (click)="openContextMenu()")
        .context-menu-trigger
          .icon-container
            .hovered.__evodesk-icon-v3.iv3-desk-column-context-hover-3x14px
            .not-hovered.__evodesk-icon-v3.iv3-desk-column-context-3x14px
            .context-menu-trigger(*ngIf="props.contextMenu", [matMenuTriggerFor]="props.contextMenu", #contextMenuTrigger)
  .c-cards
    .c-cards-area(#contents, evodeskEdgeScroll, evodeskMouseWheelScroll, evodeskKeyboardScroll, [evodeskEdgeScrollDragEnabled]="props.isEdgeScrollDragEnabled", [evodeskEdgeScrollScrollEnabled]="props.isEdgeScrollEnabled", [evodeskEdgeScrollOptions]="state.edgeScrollOptions")
      .cards-list
        .cl-cards([ngClass]="{ 'no-cards': props.cards.length === 0 }", cdkDropList, [id]="cdkColumnId", [cdkDropListConnectedTo]="cdkConnectedColumns", (cdkDropListDropped)="cdkDropListDropped($event)")
          ng-container(*ngFor="let card of props.cards; trackBy: trackByDeskCardId")
            .drag-card(#cardElement, cdkDrag, [cdkDragData]="cdkDropData(card)", (cdkDragStarted)="cdkDragStarted()", (cdkDragEnded)="cdkDragEnded($event)")
              .drag-card-inner
                evodesk-desk-card-container(#deskCardContainer, [card]="card", (beforeEdit)="stickToCard(cardElement)", (afterEdit)="stopStickToCard()")
        .cl-add-form(*ngIf="props.displayAddForm")
          evodesk-desk-card-add-form-container(
            #addCardForm,
            [columnId]="props.column.id",
            (close)="closeAddCardForm()",
            (created)="onAfterCardCreated()",
          )
        .cl-actions(*ngIf="! state.hasScroll")
          ng-container(*ngTemplateOutlet="actionsTemplate")
        .cl-bottom-overlay(cdkDropList, [id]="cdkColumnOverlayId", [cdkDropListConnectedTo]="cdkConnectedColumns", (cdkDropListDropped)="cdkDropListDroppedAtBottom($event)")
    .c-cards-scroll
      evodesk-app-common-scroll-bar([elementRef]="contents", [scrollBarDirection]="'y'", [theme]="'v3-desk'")
  .c-actions(*ngIf="state.hasScroll")
    ng-container(*ngTemplateOutlet="actionsTemplate")

ng-template(#actionsTemplate)
  .card-actions
    ng-container(*ngIf="props.display === 'add'")
      .add-button((click)="onAddButtonClick()")
        .button-icon
          svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M13.0244 6.02439C13.0244 5.45864 12.5658 5 12 5C11.4343 5 10.9757 5.45864 10.9757 6.02439V10.9756H6.02439C5.45864 10.9756 5 11.4342 5 12C5 12.5657 5.45864 13.0244 6.02439 13.0244H10.9757V17.9756C10.9757 18.5414 11.4343 19 12 19C12.5658 19 13.0244 18.5414 13.0244 17.9756V13.0244H17.9756C18.5414 13.0244 19 12.5657 19 12C19 11.4342 18.5414 10.9756 17.9756 10.9756H13.0244V6.02439Z', fill='#1D2639')
        .button-title
          span(translate) EvodeskDesk.components.common.EvodeskDeskColumn.AddCard
    ng-container(*ngIf="props.display === 'done'")
      .info.info-done
        .info-counter
          span {{ props.cards.length }}
        .info-text
          span(translate) {{ doneText }}
    ng-container(*ngIf="props.display === 'failed'")
      .info.info-done
        .info-counter
          span {{ props.cards.length }}
        .info-text
          span(translate) {{ failedText }}
