.c
  .c-single-attachment(*ngIf="attachments.length === 1")
    .c-attachment-lists
      ng-container(*ngFor="let listItem of attachments; trackBy: trackBy")
        .c-attachment.c-attachment-post(*ngIf="listItem.type === 'post'")
          evodesk-feed-post-attachment-post-container([attachment]="listItem.attachment", [controls]="controls")
        .c-attachment.c-attachment-link(*ngIf="listItem.type === 'link'")
          evodesk-feed-post-attachment-link([attachment]="listItem.attachment", [controls]="controls", (remove)="remove($event)")
        .c-attachment.c-attachment-photo(*ngIf="listItem.type === 'photo'")
          evodesk-feed-post-attachment-photo([attachment]="listItem.attachment", [controls]="controls", (remove)="remove($event)")
        .c-attachment.c-attachment-video(*ngIf="listItem.type === 'video'")
          evodesk-feed-post-attachment-video([attachment]="listItem.attachment", [controls]="controls", (remove)="remove($event)")
  .c-multiple-attachments(*ngIf="attachments.length > 1")
    .c-attachment-lists
      .swiper-container([swiper]="swiperConfig", #swiper)
        .swiper-wrapper
          ng-container(*ngFor="let listItem of attachments; trackBy: trackBy")
            ng-container(*ngIf="listItem.type === 'link'")
              .swiper-slide.swiper-slide-link
                .c-attachment
                  evodesk-feed-post-attachment-link([attachment]="listItem.attachment", [controls]="controls", (remove)="remove($event)")
            ng-container(*ngIf="listItem.type === 'photo'")
              .swiper-slide.swiper-slide-photo
                .c-attachment
                  evodesk-feed-post-attachment-photo([attachment]="listItem.attachment", [controls]="controls", (remove)="remove($event)")
            ng-container(*ngIf="listItem.type === 'video'")
              .swiper-slide.swiper-slide-video
                .c-attachment
                    evodesk-feed-post-attachment-video([attachment]="listItem.attachment", [controls]="controls", (remove)="remove($event)")
