.c {
  >.c-single-attachment {
    .c-attachment-lists {
      .c-attachment {
        &.c-attachment-link, &.c-attachment-photo, &.c-attachment-video {
          margin: 16px;
        }
      }
    }
  }

  >.c-multiple-attachments {
    .swiper-slide {
      width: 100%;
      padding: 16px;
    }
  }
}
