ng-container(*ngIf="!! state && state.ready")
  form.c([formGroup]="props.form", novalidate, (ngSubmit)="send()")
    .c-title
      .c-left
        span {{ 'EvodeskIM.shared.components.IMStartDialog.Title' | translate }}
      .c-right
        .c-close
          .close-button((click)="close()")
            .__evodesk-icon.ic-close-modal-11x11px.with-hover
    .c-contents
      .c-field.c-field-recipients
        .c-search(*ngIf='props.form.value.recipients.length === 0', [ngClass]="{ 'is-focused': state.isSearchInputFocused }", (click)="focusSearchInput()")
          .c-search-input
            input(
              #input, type="text", [formControlName]="'queryString'",
              placeholder="{{ 'EvodeskIM.shared.components.IMStartDialog.Recipient' | translate }}",
              (focusout)="onSearchInputFocusOut()",
            )
        .search-results(*ngIf="hasSearchResults && props.form.value.recipients.length === 0")
          .search-results-contents(#searchResultsScrollContent, evodeskTouchScroll="y", evodeskMouseWheelScroll, evodeskKeyboardScroll)
            .search-results-section.search-results-section-profiles(*ngIf="props.searchResults.profiles.length > 0")
              .items
                ng-container(*ngFor="let profile of props.searchResults.profiles")
                  .item((click)="addRecipient.emit(profile)")
                    .avatar
                      evodesk-profile-avatar([profileId]="profile.id", [size]="48")
                    .info
                      .name
                        span {{ profile.name || profile.email }}
                      .post
                        span {{ profile.position || '' }}
                .show-more((click)="showMoreEvent.emit()") Показать ещё...
          .c-scroll
            evodesk-app-common-scroll-bar([elementRef]="searchResultsScrollContent", [scrollBarDirection]="'y'", [theme]="'blue'")
        .c-field-contents
          .recepients
            .recipient(*ngFor="let profile of props.form.value.recipients")
              .avatar
                evodesk-profile-avatar([profileId]="profile.id", [size]="48")
              .name
                span {{ profile.name || profile.email }}
              i.icon-cross((click)="removeRecipient.emit(profile)")
      .c-field.c-field-text
        .c-field-label
          span {{ 'EvodeskIM.shared.components.IMStartDialog.Text' | translate }}
        .c-field-contents
          .textarea
            textarea(
              formControlName="text",
              (keyup)="enter($event)",
              (keyup.escape)="close()",
              rows="4", matTextareaAutosize, matAutosizeMinRows="4", matAutosizeMaxRows="10",
            )
          .textarea-indicators
            .left
            .right([ngClass]="{ 'invalid': textLength > state.maxTextLength }")
              span {{ textLength }} / {{ state.maxTextLength }}
    .c-footer
      .c-left
        button(type="submit", mat-button)
          span {{ 'EvodeskIM.shared.components.IMStartDialog.Submit' | translate }}
      .c-right
