.c {
  .c-contents {
    height: 100%;
    overflow: hidden;

    .search-results {
      display: flex;
      flex-direction: row;

      .search-results-contents {
        flex: 1;
        margin-right: 16px;
        height: 100%;
        max-height: 30vh;
        overflow: hidden;
      }
    }

    .search-results-section {
      &.search-results-section-profiles {
        .items {

          .item:hover {
            background-color: #d0d6f5;
          }

          .item {
            display: flex;
            cursor: pointer;
            padding: 8px;
            border-radius: 3px;
            margin-bottom: 4px;
            align-items: center;


            .avatar {
              flex-grow: 0;
              flex-shrink: 0;
              margin-right: 16px;
            }

            .info {
              flex: 1;

              .name {
                span {
                  font-size: 14px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.57;
                  letter-spacing: 0.3px;
                  text-align: left;
                  color: #010307;
                  word-break: break-all;
                }
              }

              .post {
                span {
                  font-size: 12px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.83;
                  letter-spacing: 0.2px;
                  text-align: left;
                  color: #aaacb4;
                  word-break: break-all;
                }
              }
            }
          }
        }

        .show-more {
          cursor: pointer;
        }
      }
    }
  }

  .c-search {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f7fd;
    border-radius: 4px;
    padding: 11px 16px;
    border: 1px solid #f6f7fd;
    cursor: text;
    min-width: 300px;

    &.is-focused {
      border-color: #2e4ce6;
    }

    .c-search-icon {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 16px;
    }

    .c-search-input {
      flex: 1;
      margin-right: 16px;

      input[type="text"] {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 14px;
        letter-spacing: 0.3px;
        text-align: left;
        height: 14px;
        border: 0;
        background-color: transparent;
        width: 100%;
        color: #010307;

        &:disabled {
          color: #aaacb4;
        }

        &::placeholder {
          color: #aaacb4;
        }
      }
    }

    .c-search-cancel {
      flex-grow: 0;
      flex-shrink: 0;

      .search-cancel-button {
        cursor: pointer;
      }
    }
  }

  .c-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d0d6f5;
    padding: 8px 16px;
    margin-bottom: 19px;

    .c-left {
      flex: 1;

      span {
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.4px;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
      }

      input {
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.4px;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
      }
    }

    .c-right {
      flex-shrink: 0;
      flex-grow: 0;

      .c-close {
        .close-button {
          cursor: pointer;
        }
      }
    }
  }

  .c-contents {
    .c-field {
      margin-bottom: 24px;
      padding: 0 16px;

      .c-field-label {
        margin-bottom: 8px;

        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: left;
          color: #aaacb4;
        }
      }

      &.c-field-recipients {
        .recepients {
          border: 1px solid #dddddd;
          border-radius: 4px;
          min-width: 300px;

          .recipient {
            position: relative;
            padding: 8px;
            border-bottom: 1px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:last-child {
              border-bottom: 0;
            }

            .avatar {
              flex-grow: 0;
              flex-shrink: 0;
              margin-right: 8px;
            }

            .name {
              flex: 1;

              span {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 14px;
                letter-spacing: 0.3px;
                text-align: left;
                color: #2e4ce6;
              }
            }

            .icon-cross {
              position: absolute;
              right: 5px;
              top: 5px;
              color: #2e4ce6;
              font-size: 12px;
              cursor: pointer;
            }
          }
        }
      }

      &.c-field-text {
        .textarea {
          border-radius: 4px;
          border: 1px solid #dddddd;
          padding: 8px 0;

          textarea {
            width: 100%;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 19px;
            letter-spacing: 0.3px;
            text-align: left;
            color: #010307;
            padding: 0 8px;
            border: 0;
          }
        }

        .textarea-indicators {
          display: flex;
          justify-content: space-between;

          .left { flex: 1; }

          .right {
            flex-grow: 0;
            flex-shrink: 0;

            &.invalid {
              span {
                color: #f00;
              }
            }

            span {
              font-size: 11px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 19px;
              letter-spacing: 0.3px;
              text-align: left;
              color: #aaacb4;
              padding: 0 8px;
              border: 0;
            }
          }
        }
      }
    }
  }

  .c-footer {
    padding: 0 16px 24px;

    .c-left {
      button {
        padding: 9px 16px;
        line-height: 22px;
        background-color: #2e4ce6;
        border-radius: 3px;

        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 14px;
          letter-spacing: 0.3px;
          text-align: left;
          color: #ffffff;
        }
      }
    }

    .c-right {}
  }
}
