@import "~sass-mq";

@include mq($from: 600px) {
  .c {
    max-width: 317px;
  }
}

.c {
  min-width: 170px;

  .c-modal-header {
    border-bottom: 1px solid #EFF0F1;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 13px;

    .c-modal-title {
      span {
        font-weight: 500;
        line-height: 21px;
        font-size: 14px;
        color: #1D2639;
      }
    }

    .c-modal-close {
      .close-button {
        cursor: pointer;

        .hovered { display: none; }
        .not-hovered { display: block; }

        &:hover {
          .hovered { display: block; }
          .not-hovered { display: none; }
        }
      }
    }
  }

  .c-deadline-inputs {
    display: flex;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    margin-bottom: 20px;

    .c-deadline-input {
      flex: 1;
      margin-right: 17px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .c-deadline-calendar {
    max-width: 317px;
    margin: 0 auto;
  }

  .c-deadline-actions {
    display: flex;
    justify-content: flex-start;
    padding: 0 20px 20px;

    .button {
      border-radius: 2px;
      cursor: pointer;
      height: 40px;
      text-align: center;
      margin-right: 8px;

      span {
        line-height: 40px;
        text-align: center;
        font-size: 14px;
      }

      &.button-submit {
        background: #4A84FB;
        width: 105px;

        span {
          color: #fff;
        }
      }

      &.button-clear {
        width: 105px;
        background: #F8F8F9;

        span {
          color: #BBBEC4;
        }
      }
    }
  }
}

.input {
  width: 100%;
  padding-bottom: 7px;
  border-bottom: 1px solid #EFF0F1;

  &.is-focused {
    border-bottom-color: #4A84FB;
  }

  input {
    border: 0;
    background: transparent;
    line-height: 21px;
    font-size: 14px;
    color: #1D2639;
    border: none;
    width: 100%;
  }
}

::ng-deep {
  .__evodesk-desk-deadline-mat-calendar {
    .mat-calendar-table-header-divider {
      display: none;
    }

    .mat-calendar-body-label {
      color: transparent;
    }

    .mat-calendar-table-header {
      th {
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 12px;
        text-align: center;
        color: #BBBEC4;
      }
    }

    .mat-calendar-period-button {
      .mat-button-wrapper {
        color: #1D2639;
      }
    }

    .mat-button-ripple, .mat-button-focus-overlay {
      display: none;
    }

    .mat-calendar-body-cell-content {
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 12px;
      text-align: center;

      color: #1D2639;
    }

    .mat-calendar-body-today {
      border: none;
      color: #4A84FB;
    }

    .mat-calendar-body-selected {
      background-color: #4A84FB;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: 12px;
      text-align: center;
      color: #FFFFFF;
      box-shadow: none;
    }

    .mat-calendar-controls {
      align-items: center;

      .mat-calendar-period-button {
        .mat-button-wrapper {
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          font-size: 14px;
          color: #1D2639;
        }

        .mat-calendar-arrow {
          display: none;
        }
      }
    }

    .mat-calendar-header {
      padding: 0 8px;
    }

    .mat-calendar-previous-button, .mat-calendar-next-button {
      width: 24px; height: 24px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: 100%;

      .mat-button-wrapper, .mat-button-ripple, .mat-button-focus-overlay {
        display: none;
      }

      &:after {
        display: none;
      }
    }

    .mat-calendar-previous-button {
      background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-modal-deadline-calendar-right.svg);

      &:hover {
        background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-modal-deadline-calendar-right-hover.svg);
      }
    }

    .mat-calendar-next-button {
      background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-modal-deadline-calendar-left.svg);

      &:hover {
        background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-modal-deadline-calendar-left-hover.svg);
      }
    }
  }
}
