.c(*ngIf="state.ready", [formGroup]="state.form", (click)="$event.stopPropagation()")
  .c-modal-header(*ngIf="shouldDisplayModalHeader")
    .c-modal-title
      span(translate) EvodeskDesk.components.common.EvodeskDeskDeadline.ModalTitle
    .c-modal-close
      .close-button((click)="close()")
        .not-hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-24x24px
        .hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-hover-24x24px
  .c-deadline-inputs
    .c-deadline-input
      .input([ngClass]="{ 'is-focused': state.isDateInputFocused }")
        input([formControlName]="'dateInput'", type="text", (focus)="state.isDateInputFocused = true", (blur)="state.isDateInputFocused = false; onDateInputBlur(); ", [textMask]="state.dateInputMask", placeholder="__.__.____")
    .c-deadline-input
      .input([ngClass]="{ 'is-focused': state.isTimeInputFocused }")
        input([formControlName]="'timeInput'", type="text", (focus)="state.isTimeInputFocused = true", (blur)="state.isTimeInputFocused = false; onTimeInputBlur()", [textMask]="state.timeInputMask", placeholder="__:__")
  .c-deadline-calendar
    mat-calendar(#matCalendar, (selectedChange)="onSelectedChange($event)", [selected]="matCalendarDate", class="__evodesk-desk-deadline-mat-calendar")
  .c-deadline-actions
    .button.button-submit((click)="submit()")
      span(translate) EvodeskDesk.components.common.EvodeskDeskDeadline.Submit
    .button.button-clear((click)="clear()")
      span(translate) EvodeskDesk.components.common.EvodeskDeskDeadline.Clear

