.counter {
  position: fixed;
  z-index: 9999;
  bottom: 0; right: 0;
  font-size: 0;

  .counter-header, .counter-text {
    display: inline-block;
  }

  .counter-text {
    padding: 10px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    font-family: "Consolas", "Courier New", monospace;
    font-size: 11px;
  }
}

