.c(*ngIf="state.ready", (click)="$event.stopPropagation()")
  .c-modal-header(*ngIf="shouldDisplayModalHeader")
    .c-modal-title
      span(translate) EvodeskDesk.components.common.EvodeskDeskCopyLink.ModalTitle
    .c-modal-close
      .close-button((click)="close()")
        .not-hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-24x24px
        .hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-hover-24x24px
  .c-copy-link-input
    .input-box([ngClass]="{ 'is-focused': state.linkUrlFocused, 'is-not-focused': ! state.linkUrlFocused }")
      .input-area
        input.input(#input, type="text", readonly, [value]="props.linkUrl")
  .c-actions
    .c-action
      button.button.__evodesk-v3-button-blue(type="button", (click)="selectAndCopy(); close();", mat-ripple)
        span(translate) EvodeskDesk.components.common.EvodeskDeskCopyLink.Copy
    .c-action
      button.button.__evodesk-v3-button(type="button", (click)="close()", mat-ripple)
        span(translate) EvodeskDesk.components.common.EvodeskDeskCopyLink.Close
