.c {
  min-width: 315px;
  width: 100%;

  .c-modal-header {
    border-bottom: 1px solid #EFF0F1;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 13px;

    .c-modal-title {
      span {
        font-weight: 500;
        line-height: 21px;
        font-size: 14px;
        color: #1D2639;
      }
    }

    .c-modal-close {
      .close-button {
        cursor: pointer;

        .hovered {
          display: none;
        }
        .not-hovered {
          display: block;
        }

        &:hover {
          .hovered {
            display: block;
          }
          .not-hovered {
            display: none;
          }
        }
      }
    }
  }

  .c-copy-link-input {
    margin: 20px;

    .input-box {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding-bottom: 8px;
      border-bottom: 1px solid #4A84FB;

      &.is-not-focused {
        border-bottom: 1px solid #EFF0F1;

        .focused { display: none; }
        .not-focused { display: block; }
      }

      &.is-focused {
        border-bottom: 1px solid #4A84FB;

        .focused { display: block; }
        .not-focused { display: none; }
      }

      &:hover {
        border-bottom: 1px solid #4A84FB;

        .not-hovered {
          display: none;
        }

        .hovered {
          display: block;
        }
      }

      .input-area {
        flex: 1;
        margin-right: 10px;

        input.input {
          font-style: normal;
          font-weight: normal;
          line-height: 21px;
          font-size: 14px;
          color: #1D2639;
          width: 100%;
          border: 0;
          cursor: pointer;

          &::placeholder {
            color: #BBBEC4;
          }

          &:hover::placeholder {
            color: #777D88;
          }
        }
      }
    }
  }

  .c-actions {
    display: flex;
    margin: 20px;
    justify-content: flex-start;

    .c-action {
      margin-right: 8px;

      .button {
        width: 105px;

      }
    }
  }
}
