.c(*ngIf="state.ready")
  .c-modal-header(*ngIf="shouldDisplayModalHeader")
    .c-modal-title
      span(translate) EvodeskDesk.components.common.EvodeskDeskResponsible.ModalTitle
    .c-modal-close
      .close-button((click)="close()")
        .not-hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-24x24px
        .hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-hover-24x24px
  .c-search
    .search-form([ngClass]="{ 'is-focused': state.isSearchFieldFocused, 'is-not-focused': ! state.isSearchFieldFocused }", [formGroup]="state.searchForm")
      .c-icon((click)="searchInput.focus()")
        .__evodesk-icon-v3.iv3-search-20x20px.not-focused.not-hovered
        .__evodesk-icon-v3.iv3-search-blue-20x20px.focused.hovered
      .c-input((click)="searchInput.focus()")
        input.input(
        #searchInput, type="text", [formControlName]="'search'", placeholder="{{ 'EvodeskDesk.components.common.EvodeskDeskResponsible.Search' | translate }}",
        (focus)="state.isSearchFieldFocused = true", (blur)="state.isSearchFieldFocused = false", (keyup.escape)="stopSearch()"
        )
      .c-clear(*ngIf="hasInput", (click)="clear()")
        .__evodesk-icon-v3.iv3-x-light-9x9px
  .c-list
    .c-list-item(*ngFor="let p of filtered", [ngClass]="{ 'is-active': isActive(p) }", (click)="toggle(p)")
      .ci-avatar
        evodesk-profile-avatar([size]="24", [profileId]="p.id")
      .ci-names
        .ci-name
          span {{ p.name || p.email }}
      .ci-check
        .icon-container
          ng-container(*ngIf="isActive(p)")
            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M18.7071 7.28575C19.0976 7.66675 19.0976 8.28447 18.7071 8.66547L10.4571 16.7143C10.0666 17.0953 9.43342 17.0953 9.04289 16.7143L5.29289 13.0557C4.90237 12.6747 4.90237 12.057 5.29289 11.676C5.68342 11.295 6.31658 11.295 6.70711 11.676L9.75 14.6447L17.2929 7.28575C17.6834 6.90475 18.3166 6.90475 18.7071 7.28575Z', fill='#4A84FB')
  .c-open-desk-participants
    button.button.__evodesk-v3-button-blue((click)="participants()", type="button")
      span(translate) EvodeskDesk.components.common.EvodeskDeskResponsible.Participants
