@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?iovy8d');
  src:  url('fonts/icomoon.eot?iovy8d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?iovy8d') format('truetype'),
    url('fonts/icomoon.woff?iovy8d') format('woff'),
    url('fonts/icomoon.svg?iovy8d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logout:before {
  content: "\e92f";
}
.icon-phone:before {
  content: "\e92e";
}
.icon-twitter:before {
  content: "\e923";
}
.icon-fb:before {
  content: "\e924";
}
.icon-mail:before {
  content: "\e925";
}
.icon-diskette:before {
  content: "\e926";
}
.icon-pin:before {
  content: "\e927";
}
.icon-upload:before {
  content: "\e928";
}
.icon-pointing-down:before {
  content: "\e929";
}
.icon-yandex:before {
  content: "\e92a";
}
.icon-ok:before {
  content: "\e92b";
}
.icon-vk:before {
  content: "\e92c";
}
.icon-google:before {
  content: "\e92d";
}
.icon-mark:before {
  content: "\e922";
}
.icon-right-arrow:before {
  content: "\e920";
}
.icon-left-arrow:before {
  content: "\e921";
}
.icon-cart:before {
  content: "\e91f";
}
.icon-reload:before {
  content: "\e91e";
}
.icon-edit:before {
  content: "\e900";
}
.icon-edit-2:before {
  content: "\e901";
}
.icon-enter:before {
  content: "\e902";
}
.icon-files:before {
  content: "\e903";
}
.icon-files-2:before {
  content: "\e904";
}
.icon-files-3:before {
  content: "\e905";
}
.icon-go-back:before {
  content: "\e906";
}
.icon-logo:before {
  content: "\e907";
}
.icon-magnifinder:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e909";
}
.icon-menu-bars:before {
  content: "\e90a";
}
.icon-move:before {
  content: "\e90b";
}
.icon-play:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-pointer:before {
  content: "\e90e";
}
.icon-pointing:before {
  content: "\e90f";
}
.icon-pointing-2:before {
  content: "\e910";
}
.icon-shop:before {
  content: "\e911";
}
.icon-smile:before {
  content: "\e912";
}
.icon-star:before {
  content: "\e913";
}
.icon-time:before {
  content: "\e914";
}
.icon-check:before {
  content: "\e915";
}
.icon-check-2:before {
  content: "\e916";
}
.icon-comment:before {
  content: "\e917";
}
.icon-copy:before {
  content: "\e918";
}
.icon-cross:before {
  content: "\e919";
}
.icon-cross-2:before {
  content: "\e91a";
}
.icon-dots:before {
  content: "\e91b";
}
.icon-dots-2:before {
  content: "\e91c";
}
.icon-download:before {
  content: "\e91d";
}
.icon-user:before {
  content: "\e971";
}
