.c {
  display: flex;

  >.c-left {
    flex: 0;
    margin-right: 12px;
  }

  >.c-right {
    flex: 1;

    >.c-title {
      margin-bottom: 18px;
      position: relative;
      top: 2px;

      span {
        font-weight: 500;
        line-height: normal;
        font-size: 16px;
        color: #1D2639;
      }
    }

    >.c-attachments {
      margin-bottom: 16px;

      .attachment {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    >.c-add-attacment {
      .add-attachment {
        display: inline-block;

        .flex {
          cursor: pointer;
          display: flex;
          align-items: center;

          .icon {
            flex: 0;
            margin-right: 4px;
          }

          .title {
            span {
              font-size: 14px;
              color: #777D88;
            }
          }
        }
      }
    }
  }
}
