.c
  .c-left
    .c-icon
      .__evodesk-icon-v3.iv3-desk-card-modal-section-attachment-24x24px
  .c-right
    .c-title
      span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalAttachment.Title
    .c-attachments
      .attachments
        .attachment(*ngFor="let a of props.card.attachments; trackBy: trackByAttachmentId")
          ng-container(*ngIf="isImageAttachment(a)")
            evodesk-desk-card-modal-attachment-image([props]="imageProps(a)", (delete)="deleteAttachment(a)")
          ng-container(*ngIf="isAudioAttachment(a)")
            evodesk-desk-card-modal-attachment-audio([props]="audioProps(a)")
    .c-add-attacment
      .add-attachment((click)="addAttachment()")
        .flex
          .icon
            .__evodesk-icon-v3.iv3-desk-card-modal-add-attachment-button-24x24px
          .title
            span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalAttachment.Attach
