mat-dialog-content
  .contents
    h1
      span {{ 'EvodeskFeed.components.EvodeskFeedAttachLinkModal.Title' | translate }}
    .form
      label
        .title
          span {{ 'EvodeskFeed.components.EvodeskFeedAttachLinkModal.Text' | translate }}
        .field
          input.input(type="text", [(ngModel)]="data.url", placeholder="{{ 'EvodeskFeed.components.EvodeskFeedAttachLinkModal.UrlPlaceholder' | translate }}")
mat-dialog-actions
  .actions
    button.cancel-button(mat-dialog-close, mat-button, (click)="cancel()")
      span {{ 'EvodeskFeed.components.EvodeskFeedAttachLinkModal.Cancel' | translate }}
    button.submit-button(mat-dialog-close, mat-button, (click)="submit()")
      span {{ 'EvodeskFeed.components.EvodeskFeedAttachLinkModal.Submit' | translate }}
