.c((clickOutside)="close()", [delayClickOutsideInit]="true", [clickOutsideEvents]="'mousedown,touchstart'")
  .c-title
    .c-title-left
      span {{ 'EvodeskShop.components.EvodeskShopNavigationModal.Main' | translate }}
    .c-title-right
      .close((click)="close()")
        .__evodesk-icon.ic-close-modal-13x13px.with-hover
  .c-order-by
    .radio-buttons
      .radio-button((click)="orderBy('popularity')")
        .left
          .flag([ngClass]="{ 'is-active': isOrderByActive('popularity') }")
        .right
          span {{ 'EvodeskShop.components.EvodeskShopNavigationModal.OrderByPopularity' | translate }}
      .radio-button((click)="orderBy('createdAt')")
        .left
          .flag([ngClass]="{ 'is-active': isOrderByActive('createdAt') }")
        .right
          span {{ 'EvodeskShop.components.EvodeskShopNavigationModal.OrderByCreatedAt' | translate }}
      .radio-button((click)="orderBy('rating')")
        .left
          .flag([ngClass]="{ 'is-active': isOrderByActive('rating') }")
        .right
          span {{ 'EvodeskShop.components.EvodeskShopNavigationModal.OrderByRating' | translate }}
      .radio-button((click)="orderBy('feedback')")
        .left
          .flag([ngClass]="{ 'is-active': isOrderByActive('feedback') }")
        .right
          span {{ 'EvodeskShop.components.EvodeskShopNavigationModal.OrderByFeedback' | translate }}
  .c-order-direction
    .radio-buttons
      .radio-button((click)="orderDirection('asc')")
        .left
          .flag([ngClass]="{ 'is-active': isOrderDirectionActive('asc') }")
        .right
          span {{ 'EvodeskShop.components.EvodeskShopNavigationModal.OrderDirectionAsc' | translate }}
      .radio-button((click)="orderDirection('desc')")
        .left
          .flag([ngClass]="{ 'is-active': isOrderDirectionActive('desc') }")
        .right
          span {{ 'EvodeskShop.components.EvodeskShopNavigationModal.OrderDirectionDesc' | translate }}
  .c-nav
    .c-nav-area
      a.c-nav-item([routerLink]="allRouterLink", [ngClass]="{ 'is-active': isAllActive }", (click)="close()")
        span(translate) EvodeskShop.components.EvodeskShopNavigationModal.All
      a.c-nav-item([routerLink]="ordersRouterLink", [ngClass]="{ 'is-active': isOrdersActive }", (click)="close()")
        span(translate) EvodeskShop.components.EvodeskShopNavigationModal.Orders
      a.c-nav-item(*ngFor="let c of props.categories", [routerLink]="categoryRouterLink(c)", [ngClass]="{ 'is-active': isCategoryActive(c) }", [attr.data-shop-category-id]="c.id", (click)="close()")
        span {{ c.title }}
