.c {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  .c-title {
    padding: 8px 16px;
    border-bottom: 1px solid #d0d6f5;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .c-title-left {
      span {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.4px;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
      }
    }

    .c-title-right {
      .close {
        cursor: pointer;
      }
    }
  }

  .c-nav {
    flex: 1;
    position: relative;

    .c-nav-area {
      padding: 8px 0;

      .c-nav-item {
        padding: 11px 16px;
        border-left: 3px solid transparent;
        display: block;

        &.is-active {
          border-left-color: #2e4ce6;

          span {
            color: #000;
          }
        }

        span {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;
          letter-spacing: 0.3px;
          text-align: left;
          color: #2e4ce6;
        }
      }
    }
  }

  .c-order-by {
    flex-shrink: 0;
    flex-grow: 0;
  }

  .c-order-by, .c-order-direction {
    border-bottom: 1px solid #d0d6f5;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0 16px;
  }

  .radio-buttons {
    .radio-button {
      display: flex;
      padding: 12px 0;
      cursor: pointer;
      align-items: center;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        .left {
          .flag {
            border-color: #808183;

            &.is-active:after {
              background-color: #2e4ce6;
            }
          }
        }
      }

      .left {
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 10px;

        .flag {
          border-radius: 100%;
          width: 22px; height: 22px;
          border: solid 1px #dddddd;
          cursor: pointer;
          position: relative;

          &.is-active {
            border-color: #2e4ce6;

            &:after {
              content: '';
              position: absolute;
              right: 5px; top: 5px;
              border-radius: 100%;
              overflow: hidden;
              width: 10px; height: 10px;
              background-color: #808183;
            }
          }
        }
      }

      .right {
        flex: 1;
        padding: 10px 0;

        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: 0.2px;
          text-align: left;
          color: #010307;
        }
      }
    }
  }
}
