.c {
  width: 294px;

  .c-modal-header {
    border-bottom: 1px solid #EFF0F1;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 13px;

    .c-modal-title {
      span {
        font-weight: 500;
        line-height: 21px;
        font-size: 14px;
        color: #1D2639;
      }
    }

    .c-modal-close {
      .close-button {
        cursor: pointer;

        .hovered { display: none; }
        .not-hovered { display: block; }

        &:hover {
          .hovered { display: block; }
          .not-hovered { display: none; }
        }
      }
    }
  }

  .c-form {
    padding: 15px 20px;

    .c-form-title {
      padding-bottom: 2px;
      border-bottom: 1px solid #EFF0F1;

      &.is-focused {
        border-bottom-color: #4A84FB;
      }

      .input {
        input {
          font-style: normal;
          font-weight: normal;
          line-height: 21px;
          font-size: 14px;
          color: #1D2639;
          width: 100%;
          border: 0;
          cursor: pointer;
          text-align: left;
          height: 21px;

          &::placeholder {
            color: #BBBEC4;
          }

          &:hover::placeholder {
            color: #777D88;
          }
        }
      }
    }
  }

  .c-actions {
    padding: 0 20px 20px;

    .c-action {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }

      .button {
        width: 105px;
        height: 40px;
        background: #4A84FB;
        border-radius: 2px;
        text-align: center;
        cursor: pointer;
        border: none;

        span {
          font-size: 14px;
          text-align: center;
          line-height: 40px;
        }

        &.button-submit {
          background-color: #4A84FB;

          span {
            color: #FFFFFF;
          }
        }

        &.button-cancel {
          background-color: #F8F8F9;

          span {
            color: #BBBEC4;
          }
        }
      }
    }
  }
}
