form.c(*ngIf="state.ready", [formGroup]="state.form", (ngSubmit)="submit()", (click)="$event.stopPropagation()")
  .c-modal-header(*ngIf="shouldDisplayModalHeader")
    .c-modal-title
      span(translate) EvodeskDesk.components.common.EvodeskDeskAddChecklist.ModalTitle
    .c-modal-close
      .close-button((click)="$event.stopPropagation(); close()")
        .not-hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-24x24px
        .hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-hover-24x24px
  .c-form([formGroup]="state.form")
    .c-form-title([ngClass]="{ 'is-focused': state.isTitleFocused }")
      .input
        input(
          #titleInput, [formControlName]="'title'", type="text",
          (focus)="state.isTitleFocused = true;",
          (blur)="state.isTitleFocused = false",
          placeholder="{{ 'EvodeskDesk.components.common.EvodeskDeskAddChecklist.Title' | translate }}",
        )
  .c-actions
    .c-action
      button.button.button-submit(type="submit")
        span(translate) EvodeskDesk.components.common.EvodeskDeskAddChecklist.Submit
