.c {
  .c-loading {
    padding: 32px;

    .__evodesk-app-circle-loader {
      width: 16px;
      height: 16px;
      margin: 0 auto;
    }
  }

  .c-list {
    max-width: 350px;

    .c-list-item {
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .c-li-avatar {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 8px;
      }

      .c-li-name {
        a {
          cursor: pointer;

          &:hover {
            span {
              border-bottom-color: #2e4ce6;
            }
          }

          span {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: 0.3px;
            text-align: left;
            color: #2e4ce6;
            transition: .15s;
            border-bottom: 1px solid transparent;
          }
        }
      }
    }
  }

  .c-details {
    span {
      cursor: pointer;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.83;
      letter-spacing: 0.2px;
      text-align: left;
      color: #2e4ce6;
      transition: .15s;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom-color: #2e4ce6;
      }
    }
  }
}

.arrow_box {
  position: relative;
  background: #fff;
  border: 1px solid #d0d6f5;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 12px;
  margin-left: -12px;
}

.arrow_box:before {
  border-color: rgba(208, 214, 245, 0);
  border-bottom-color: #d0d6f5;
  border-width: 13px;
  margin-left: -13px;
}
