.c.arrow_box
  ng-container(*ngIf="props.loading")
    .c-loading
      .__evodesk-app-circle-loader
  ng-container(*ngIf="! props.loading")
    .c-list
      .c-list-item(*ngFor="let profile of props.profiles")
        .c-li-avatar
          evodesk-profile-avatar([profileId]="profile.id", [size]="24")
        .c-li-name
          a([routerLink]="profile.routerLink", target="_blank")
            span {{ profile.name }}
    .c-details(*ngIf="hasDetails")
      span((click)="details()") {{ 'EvodeskFeed.components.EvodeskFeedPostLikesFloat.Details' | translate: detailsParam }}
