.c {
  .c-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;

    .c-avatar {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 16px;
      position: relative;

      .c-notification-type-icon {
        position: absolute;
        right: -3px; top: -3px;
      }
    }

    .c-description {
      flex: 1;

      span, a {
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: 0.3px;
        text-align: left;
      }
    }

    .row-1 {
      a {
        &:after {
          content: ' ';
        }
      }
    }

    .row-2 {
      span.link {
        &:before {
          content: '«';
        }

        &:after {
          content: '»';
        }
      }
    }
  }

  .c-row-2 {
    padding-left: 48px + 16px;

    span {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.83;
      letter-spacing: 0.2px;
      text-align: left;
      color: #aaacb4;
    }
  }
}

span.text {
  color: #010307;
}

a, .link {
  color: #2e4ce6;
  border-bottom: 1px solid transparent;
  transition: .15s;
  cursor: pointer;

  &:hover {
    border-bottom-color: #2e4ce6;
  }
}
