.c {
  padding: 16px;
  display: flex;
  width: 100%;
  max-width: 400px;
  align-items: center;

  .c-spinner {
    flex-shrink: 0;
    flex-grow: 0;
    width: 40px;
    height: 40px;
    margin-right: 24px;
  }

  .c-text {
    flex: 1;

    span {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 0.3px;
      text-align: center;
      color: #000;
    }
  }
}
