.c
  .c-groups-left
    .row
      .col-lg-12
        .__evodesk-dashboard-card
          evodesk-faq-group([groupName]="props.groupNames[0]", [entries]="props.entries[0]", (faqEntryClick)="modalOpenEvent.emit($event)")
      .col-lg-12
        .row
          .col
            .__evodesk-dashboard-card
              evodesk-faq-group([groupName]="props.groupNames[1]", [entries]="props.entries[1]", (faqEntryClick)="modalOpenEvent.emit($event)")
      .col-lg-12
        .row
          .col
            .__evodesk-dashboard-card
              evodesk-faq-group([groupName]="props.groupNames[2]", [entries]="props.entries[2]", (faqEntryClick)="modalOpenEvent.emit($event)")
