.c
  .c-feed
    ng-container(*ngIf="! props.hasEntries")
      .no-entries
        span {{ 'EvodeskNews.components.NewsFiltered.NoEntries' | translate }}
    ng-container(*ngIf="props.hasEntries")
      evodesk-feed-container([context]="'news-filtered'")
