.c
  .c-widget((mouseup)="toggle()", (touchend)="toggle()", [ngClass]="{ 'is-expanded': state.isExpanded }")
    .relative
      .c-notification-icon
        .__evodesk-icon-v3.iv3-bell-24x24px
      .c-notification-indicator(*ngIf="props.numUnreadNotifications > 0")
        .circle
  .c-notifications-modal(*ngIf="state.isExpanded", [ngClass]="{ 'is-expanded': state.isExpanded }", (clickOutside)="clickOutside()", [delayClickOutsideInit]="true", [clickOutsideEvents]="'mousedown,touchend'")
    .c-nm-loading(*ngIf="props.loading && props.notifications.length > 0")
      .__evodesk-loading-top
        .__evodesk-loading-top-bar
    .mat-tab-group-header-notifications
      .tab([ngClass]="{ 'is-hidden': state.currentTab !== 'list' }")
        .c-nm-slide-notifications
          ng-container(*ngIf="! hasNotifications && ! props.loading")
            .c-nm-no-notifications
              span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonNotifications.NoNotifications' | translate }}
          ng-container(*ngIf="hasNotifications || props.loading")
            .c-nm-notifications
              .c-nm-notification-area(#area, evodeskMouseWheelScroll, [evodeskMouseWheelDisableScrollPass]="true", evodeskTouchScroll="y", [evodeskTouchScrollDisableScrollPass]="true", evodeskKeyboardScroll, (scroll.out-zone)="onScroll($event)")
                .c-nm-notifications-loading(*ngIf="props.loading && props.notifications.length === 0")
                  .__evodesk-app-circle-loader
                .c-nm-notification(*ngFor="let n of notifications; trackBy: trackByNotificationId")
                  evodesk-notification-container([notification]="n", (open)="onNotificationOpen(n)", (openPost)="onNotificationOpenPost(n, $event)")
                .c-nm-load-more(*ngIf="props.hasMoreNotificationsToLoad && ! props.loading", (click)="next()", [ngClass]="{ 'is-loading': props.loading, 'is-not-loading': ! props.loading }")
                  span(*ngIf="! props.loading") {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonNotifications.LoadMore' | translate }}
              .c-nm-notification-scroll
                evodesk-app-common-scroll-bar([elementRef]="area", [theme]="'blue'")
      .tab([ngClass]="{ 'is-hidden': state.currentTab !== 'preview-post' }")
        .c-nm-slide-view-post
          .nav
            .left((click)="goBackToNotifications()")
              i.icon-go-back
          .post
            .post-area(#postArea, evodeskMouseWheelScroll, [evodeskMouseWheelDisableScrollPass]="true", evodeskTouchScroll="y", [evodeskTouchScrollDisableScrollPass]="true", evodeskKeyboardScroll)
              ng-container(*ngIf="props.loadingPost")
                .c-post-loading
                  .__evodesk-app-circle-loader
              ng-container(*ngIf="! props.loadingPost && props.currentPost")
                evodesk-feed-post-container([post]="props.currentPost", [viewMode]="'notification'")
            .post-scroll
              evodesk-app-common-scroll-bar([elementRef]="postArea", [theme]="'blue'")
