@import "~sass-mq";

:host {
  height: 100%;
}

::ng-deep {
  .mat-tab-group-header-notifications {
    .mat-tab-header {
      display: none!important;
    }

    .mat-tab-body, .mat-tab-body-content {
      overflow: hidden!important;
    }
  }
}

.c {
  height: 100%;
  position: relative;

  .is-hidden {
    display: none;
  }

  .c-widget {
    height: 100%;
    padding-left: 28px;
    padding-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s;
    cursor: pointer;
    position: relative;

    .relative {
      position: relative;
      width: 24px; height: 24px;
      left: 2px;
    }

    .c-notification-icon {
      display: flex;
      align-items: center;
    }

    .c-notification-indicator {
      position: absolute;
      top: -1px;
      right: 1px;

      .circle {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        overflow: hidden;
        background-color: #FB4A4A;
      }
    }
  }

  .c-notifications-modal {
    z-index: 5;
    position: relative;

    @keyframes showNotificationsModal {
      from {
        transform:scaleY(0);
      }

      to {
        transform:scaleY(1);
      }
    }

    &.is-expanded {
      display: block;
      animation: showNotificationsModal 0.15s normal forwards ease-in-out;
    }

    display: none;
    background-color: #f9f9f9;
    overflow: hidden;
    box-shadow: 0 3px 43px 0 rgba(21, 21, 21, 0.55);
    transform-origin: top;

    @include mq($until: 480px) {
      position: fixed;
      left: 0; right: 0; top: 65px;
      border-radius: 0;

      .c-nm-notifications {
        display: flex;
        justify-content: space-between;

        .c-nm-notification-area {
          flex: 1;
          max-height: 80vh;
          overflow: hidden;
        }

        .c-nm-notification-scroll {
          flex-grow: 0;
          flex-shrink: 0;
        }
      }
    }

    @include mq($from: 481px) {
      position: fixed;
      width: 480px;
      right: 0;
      border-radius: 0 0 4px 4px;

      .c-nm-notifications {
        display: flex;
        justify-content: space-between;

        .c-nm-notification-area {
          flex: 1;
          max-height: 50vh;
          overflow: hidden;
        }

        .c-nm-notification-scroll {
          flex-grow: 0;
          flex-shrink: 0;
        }
      }
    }

    .c-nm-notifications-loading {
      padding: 80px 16px;

      .__evodesk-app-circle-loader {
        width: 16px;
        height: 16px;
        margin: 0 auto;
      }
    }

    .c-nm-loading {
      position: absolute;
      bottom: 1px; left: 0; right: 0; height: 2px;
      overflow: hidden;
    }

    .c-nm-notifications {
      background-color: #f5f5f5;
    }

    .c-nm-no-notifications {
      background-color: #f5f5f5;
    }

    .c-nm-notification {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ddd;

      &:last-child {
        border-bottom: 0;
      }
    }

    .c-nm-no-notifications {
      padding: 48px 24px;
      text-align: center;

      span {
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        text-align: center;
        color: #010307;
        transition: .15s;
        border-bottom: 1px solid transparent;
        text-transform: uppercase;
      }
    }

    .c-nm-load-more {
      padding: 16px;
      text-align: center;
      cursor: pointer;

      &.is-loading {
        cursor: default;

        span {
          color: #010307;
        }
      }

      &.is-not-loading {
        &:hover {
          span {
            color: #2E4CE6;
            border-bottom-color: #2E4CE6;
          }
        }
      }

      span {
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        text-align: center;
        color: #a0a7b2;
        transition: .15s;
        border-bottom: 1px solid transparent;
        text-transform: uppercase;
      }
    }
  }

  .c-nm-slide-view-post {
    >.nav {
      display: flex;
      justify-content: space-between;
      padding: 16px;

      .left {
        flex: 1;
        cursor: pointer;

        &:hover {
          i.icon-go-back {
            color: #010307;
          }
        }

        i.icon-go-back {
          cursor: pointer;
          color: #aaa;
        }
      }
    }

    >.post {
      display: flex;

      .post-area {
        flex: 1;
        max-height: 80vh;
        overflow: hidden;

        .c-post-loading {
          padding: 80px 16px;

          .__evodesk-app-circle-loader {
            width: 16px;
            height: 16px;
            margin: 0 auto;
          }
        }
      }

      .post-scroll {
        flex-shrink: 0;
        flex-grow: 0;
      }
    }
  }
}

.c-modal {
  background-color: #fff;
  width: 600px;
  height: 90px;
}
