.c
  .c-avatar([ngStyle]="cAvatarStyles")
    ng-container(*ngIf="state.profileImage === undefined")
      .__evodesk-icon.ic-profile-placeholder([ngStyle]="cAvatarStyles")
    ng-container(*ngIf="state.profileImage !== undefined")
      img([src]="state.profileImage")
