.__evodesk-icon-v3 {
  background-repeat: no-repeat;
  background-size: 100%;

  &.iv3-bell-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/bell.svg);
    width: 24px; height: 24px;
  }

  &.iv3-chevron-down-12x6px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/chevron-down.svg);
    width: 12px; height: 6px;
  }

  &.iv3-chevron-up-12x6px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/chevron-down.svg);
    width: 12px; height: 6px;
    transform: rotate(180deg);
  }

  &.iv3-search-20x20px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/search.svg);
    width: 20px; height: 20px;
  }

  &.iv3-search-blue-20x20px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/search-blue.svg);
    width: 20px; height: 20px;
  }

  &.iv3-x-light-9x9px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/x-light.svg);
    width: 9px; height: 9px;

    &.with-hover:hover {
      background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/x-light-hover.svg);
    }
  }

  &.iv3-x-light-10x10px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/x-light.svg);
    width: 10px; height: 10px;

    &.with-hover:hover {
      background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/x-light-hover.svg);
    }
  }

  &.iv3-x-medium-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/x-medium.svg);
    width: 24px; height: 24px;

    &.with-hover:hover {
      background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/x-medium-hover.svg);
    }
  }

  &.iv3-actions-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/actions.svg);
    width: 24px; height: 24px;
  }

  &.iv3-actions-blue-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/actions-blue.svg);
    width: 24px; height: 24px;
  }

  &.iv3-filter-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/filter.svg);
    width: 24px; height: 24px;
  }

  &.iv3-filter-blue-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/filter-blue.svg);
    width: 24px; height: 24px;
  }

  &.iv3-check-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/check.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-column-done-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-column-done.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-column-failed-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-column-failed.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-deadline-notification-28x28px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-deadline-notification.svg);
    width: 28px; height: 28px;
  }

  &.iv3-desk-column-context-3x14px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-column-context.svg);
    width: 3px; height: 14px;
  }

  &.iv3-desk-column-context-hover-3x14px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-column-context-hover.svg);
    width: 3px; height: 14px;
  }

  &.iv3-desk-column-add-card-14x14px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-column-add-card.svg);
    width: 14px; height: 14px;
  }

  &.iv3-desk-sw-attachments-12x12px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-sw-attachments.svg);
    width: 12px; height: 12px;
  }

  &.iv3-desk-sw-attachments-12x12px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-sw-attachments.svg);
    width: 12px; height: 12px;
  }

  &.iv3-desk-sw-attachments-12x12px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-sw-attachments.svg);
    width: 12px; height: 12px;
  }

  &.iv3-desk-sw-checklist-12x12px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-sw-checklist.svg);
    width: 12px; height: 12px;
  }

  &.iv3-desk-sw-comments-12x12px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-sw-comments.svg);
    width: 12px; height: 12px;
  }

  &.iv3-desk-sw-deadline-12x12px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-sw-deadline.svg);
    width: 12px; height: 12px;
  }

  &.iv3-desk-sw-deadline-exceed-12x12px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-sw-deadline-exceed.svg);
    width: 12px; height: 12px;
  }

  &.iv3-desk-deadline-notification-square-16x16px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-deadline-notification-square.svg);
    width: 16px; height: 16px;
  }

  &.iv3-desk-sw-repeatable-12x12px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-sw-repeatable.svg);
    width: 12px; height: 12px;
  }

  &.iv3-desk-card-edit-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-edit.svg);
    width: 24px; height: 24px;

    &.with-hover:hover {
      background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-edit-hover.svg);
    }
  }

  &.iv3-desk-card-edit-hover-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-edit-hover.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-modal-section-attachment-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-section-attachment.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-modal-section-description-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-section-description.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-modal-section-checklist-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-section-checklist.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-modal-section-comment-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-section-comment.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-modal-section-history-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-section-history.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-modal-section-deadline-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-section-deadline.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-modal-section-estimation-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-section-estimation.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-modal-section-label-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-section-label.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-modal-add-deadline-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-add-deadline.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-modal-add-attachment-button-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-add-attachment-button.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-modal-attachment-image-delete-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-attachment-image-delete.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-modal-common-close-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-modal-common-close.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-modal-common-close-hover-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-modal-common-close-hover.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-label-add-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-label-add.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-label-check-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-label-check.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-label-check-blue-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-label-check-blue.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-label-delete-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-label-delete.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-label-edit-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-label-edit.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-label-edit-hover-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-label-edit-hover.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-label-delete-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-label-delete.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-label-delete-hover-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-label-delete-hover.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-label-palette-selected-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-label-palette-selected.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-modal-delete-label-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-delete-label.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-modal-add-label-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-add-label.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-modal-checklist-add-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-checklist-add.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-modal-checklist-add-blue-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-checklist-add-blue.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-modal-checklist-check-14x10px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-checklist-check.svg);
    width: 14px; height: 10px;
  }

  &.iv3-desk-card-checklist-edit-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-label-edit.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-checklist-item-edit-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-label-edit.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-checklist-item-edit-hover-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-label-edit-hover.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-checklist-item-delete-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-label-delete.svg);
    width: 24px; height: 24px;
  }

  &.iv3-desk-card-checklist-item-delete-hover-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons-v3/resources/desk-card-label-delete-hover.svg);
    width: 24px; height: 24px;
  }
}
