ng-container(*ngIf="!!state && state.ready")
  form.c([formGroup]="props.form", novalidate, (ngSubmit)="submit()")
    .padding.padding-before-special
      .c-schedule
        span {{ 'EvodeskLanding.components.LandingInvestorForm.NextSchedule' | translate }}
      .c-fields
        .c-field.c-field-name
          input(type="text", placeholder="{{ 'EvodeskLanding.components.LandingInvestorForm.Name' | translate }}", [formControlName]="'name'")
        .c-field.c-field-phone
          input(type="text", placeholder="{{ 'EvodeskLanding.components.LandingInvestorForm.Phone' | translate }}", [formControlName]="'phone'")
        .c-field.c-field-email
          input(type="text", placeholder="{{ 'EvodeskLanding.components.LandingInvestorForm.Email' | translate }}", [formControlName]="'email'")
    .c-special
      .c-special-title
        span {{ 'EvodeskLanding.components.LandingInvestorForm.Special' | translate }}
      .c-special-ready((click)="toggleAgreeWithSpecial()")
        .c-special-ready-checkbox
          .checkbox([ngClass]="{ 'checkbox-active': isAgreeWithSpecial }")
        .c-special-ready-title
          span {{ 'EvodeskLanding.components.LandingInvestorForm.SpecialReady' | translate }}
    .padding.padding-after-special
      .c-personal-info-agree((click)="toggleAgreeWithPersonalInfoConditionsAccepted()")
        .c-personal-info-agree-checkbox
          .checkbox([ngClass]="{ 'checkbox-active': isAgreeWithPersonalInfoConditionsAccepted }")
        .c-personal-info-agree-title
          span {{ 'EvodeskLanding.components.LandingInvestorForm.PersonalInfoAgree' | translate }}
      .c-submit
        button(type="submit", mat-button, [disabled]="! props.form.valid")
          span {{ 'EvodeskLanding.components.LandingInvestorForm.Submit' | translate }}
