.c {
  min-height: 100px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

  .padding {
    padding: 32px;

    &.padding-before-special {
      padding-bottom: 10px;
    }
  }

  .c-schedule {
    margin-bottom: 32px;

    span {
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.5px;
      text-align: left;
      color: #000000;
    }
  }

  .c-fields {
    margin-bottom: 26px;

    .c-field {
      margin-bottom: 24px;

      input[type="text"] {
        width: 100%;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.5);
        border: solid 1px #dddddd;
        padding: 20px 16px 17px;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: left;
        color: #010307;

        &:focus {
          border-color: #2e4ce6;
        }
      }

      input[type="text"]::placeholder {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: left;
        color: #999999;
      }
    }
  }

  .c-special {
    background-color: #ffe796;
    border-top: solid 1px #ffc80e;
    border-bottom: solid 1px #ffc80e;
    padding: 20px 32px;

    .c-special-title {
      margin-bottom: 16px;

      span {
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.9;
        letter-spacing: 0.4px;
        text-align: left;
        color: #000000;
      }
    }

    .c-special-ready {
      display: flex;
      align-items: center;
      cursor: pointer;

      .c-special-ready-checkbox {
        margin-right: 12px;

        input[type="checkbox"] {
          border-radius: 3px;
          background-color: #ffffff;
          border: solid 1px #847e7e;
        }
      }

      .c-special-ready-title {
        span {
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.6;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;
        }
      }
    }
  }

  .c-personal-info-agree {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    cursor: pointer;

    .c-personal-info-agree-checkbox {
      margin-right: 12px;
    }

    .c-personal-info-agree-title {
      span {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 0.3px;
        text-align: left;
        color: #999999;
      }
    }
  }

  .c-submit {
    button[type="submit"] {
      border-radius: 3px;
      background-image: linear-gradient(100deg, #6a3bb2, #42c6dc);
      padding: 10px 70px;

      span {
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
        color: #ffffff;
      }
    }
  }
}

.checkbox {
  cursor: pointer;
  position: relative;
  width: 22px;
  height: 22px;

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: solid 1px #dddddd;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    background: #fff;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    z-index: 10;
    height: 4px;
    width: 8px;
    top: 10px;
    left: 0;
    margin: -3px 0 0 6px;
    border: 1px solid #000;
    border-width: 0 0 1px 1px;
    transform: rotate(-45deg);
    opacity: 0;
    transition: .15s;
  }
}

.checkbox-active {
  &::after {
    opacity: 1;
  }
}
