.icon-plus {
  background-color: #2e4ce6;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin: 0 auto 8px auto;
  line-height: 40px;
}

.create {
  * {
    text-align: center;
  }
  margin: auto;
  width: 172px;
  height: 140px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selectable {
  cursor: pointer;
  position: relative;
}

.ripple-overlay {
  border-radius: 4px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.text {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.3px;
  text-align: left;
  color: #2e4ce6;
}

.c {
  .c-card {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

    .c-card-title {
      display: flex;
      justify-content: space-between;
      padding: 4px 16px;
      border-bottom: 1px solid #d0d6f5;
      margin-bottom: 24px;

      span {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.4px;
        text-align: left;
        color: rgba(0, 0, 0, 0.8)
      }

      .photos-count {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.4px;
        text-align: right;
        color: #2e4ce6;
        cursor: pointer;
      }
    }

    .c-card-contents {
      padding-bottom: 1px;

      .c-items {
        margin: 0 16px 20px 16px;

        .c-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          cursor: pointer;
          width: 25%;

          .image {
            display: flex;
            justify-content: center;
            width: calc(100% - 10px);
            padding-top: calc(100% - 10px);
            height: 0;
            margin: 0 5px 8px 5px;

            img {
              border-radius: 4px;
              margin-top: -100%;
              width: 100%;
            }
          }

          .title {
            padding: 0 4px;
            text-align: center;

            span {
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.57;
              letter-spacing: 0.5px;
              text-align: center;
              color: #010307;
            }
          }
        }
      }
    }
  }
}
