ng-container(*ngIf="!!state && state.ready && (props.photos.length > 0 || props.canAddPhotos)")
  .c
    .c-card
      .c-card-title
        span {{ 'EvodeskProfile.components.EvodeskProfilePhotos.Title' | translate }}
        .photos-count((click)="openPhotosDialog()") {{ props.photos.length }}
      .c-card-contents
        .create.selectable(*ngIf='props.canAddPhotos && props.photos.length === 0', (click)="openPhotosDialog()")
          .ripple-overlay(matRipple)
          .icon-plus
          .text {{ 'EvodeskProfile.components.EvodeskProfilePhotos.OpenAlbum' | translate }}
        .c-items.swiper-container(*ngIf='props.photos.length >= 0', [swiper]="state.swiperConfig")
          .swiper-wrapper
            ng-container(*ngFor="let photo of props.photos let i = index")
              .c-item.swiper-slide((click)="openPhotoView(i)")
                .image
                  img([src]="getPhotoPreview(photo)")
