.sticky-wrapper(#sticky='', (click)="state.handleBackdrop()")
  .dialog((click)="$event.stopPropagation()")
    .header
      .title {{ photosInfo.albumName ? photosInfo.albumName : "Фотографии" }}
      button.close-btn(mat-icon-button mat-dialog-close)
        mat-icon(svgIcon="ic-cross")
    .pagination-container
      .arrow.left((click)="goToPrev()", [ngClass]="(index <= 0) ? 'disabled' : ''")
      .photo
        img([src]="getPhoto()")
      .arrow.right((click)="goToNext()", [ngClass]="(index >= photosInfo.photos.length - 1) ? 'disabled' : ''")
    .footer
      .description {{ photosInfo.photos[index].description }}
      button.share(mat-button) Поделиться
