@import "~sass-mq";

.dialog {
  grid-template-rows: auto 1fr auto;
  width: 640px;
  max-height: 90vh;
  border-radius: 8px;
  overflow: visible;
}

.header {
  border-bottom: none;
  padding: 0;
  width: unset;
  margin: 5px 8px 4px 16px;
}

.photo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.footer {
  padding: 0 16px 16px 16px;
  grid-row: 3;
  display: flex;
  flex-direction: column;

  .description {
    margin-top: 16px;
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .share {
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.2px;
    color: #2e4ce6;
    width: fit-content;
    margin-left: auto;
  }
}

.pagination-container {
  position: relative;
  display: flex;
  align-items: center;
  grid-row: 2;
  width: 100%;
  min-height: 100px;
}

.arrow {
  position: absolute;
  height: 34px;
  width: 34px;
  border-style: solid;
  border-color: white;
  cursor: pointer;

  &.disabled {
    filter: none;
    border-color: #b2b2b2;
    cursor: default;
  }

  &.right {
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.5));
    border-width: 3px 3px 0 0;
    transform: rotate(45deg);
    right: -54px;
  }

  &.left {
    filter: drop-shadow(3px 5px 2px rgba(0,0,0,0.5));
    border-width: 0 0 3px 3px;
    transform: rotate(45deg);
    left: -54px;
  }
}

@include mq($until: 768px) {
  .sticky-wrapper {
    margin: 0;
    height: unset;
  }

  .arrow {
    position: absolute;
    width: 20px;
    height: 20px;

    &.left {
      left: 14px;
    }

    &.right {
      right: 14px;
    }
  }

  .dialog {
    border-radius: 0;
    width: 100%;
    height: calc(100% - 60px);
  }
}
