@import "~sass-mq";

@include mq($until: 420px) {
  .entry {
    .entry-box {
      margin-bottom: 16px;
    }

    .entry-actions {
      margin-bottom: 16px;
      padding: 0 16px;
    }
  }
}

@include mq($from: 421px) {
  .entry {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .entry-box {
      flex: 1;
    }

    .entry-actions {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}

.c {
  .c-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d0d6f5;
    padding: 8px 16px;
    position: sticky;
    top: 0;
    margin-bottom: 20px;

    .c-title-left {
      flex: 1;
      margin-right: 8px;

      span {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.4px;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
      }
    }

    .c-title-right {
      flex-grow: 0;
      flex-shrink: 0;

      .close-button {
        cursor: pointer;
      }
    }
  }

  .c-search {
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 40px;
    position: relative;

    .search-box {
      display: flex;
      align-items: center;
      border-radius: 4px;
      background-color: #f6f7fd;
      padding-right: 24px;
      border: 1px solid transparent;
      height: 40px;

      &.is-active {
        background-color: #f6f7fd;
        border-color: #2e4ce6;
      }

      .search-box-icon {
        padding: 0 11px;
        flex-shrink: 0;
        flex-grow: 0;
      }

      .search-box-input {
        flex: 1;

        input {
          border: 0;
          padding: 0; margin: 0;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          height: 22px;
          line-height: 22px;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;
          width: 100%;
          background-color: transparent;
        }

        input::placeholder {
          color: #aaacb4;
        }
      }
    }
  }

  .c-contents {
    display: flex;
    max-height: 400px;
    position: relative;
    padding-top: 8px;

    .message {
      padding: 16px 24px 35px;
      margin: 0 auto;

      span {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: 0.2px;
        text-align: center;
        color: #aaacb4;
        text-transform: uppercase;
      }
    }

    .c-contents-area {
      flex: 1;
      padding-right: 40px;
      overflow: hidden;

      .entries-list {
        .entry {
          border-bottom: 1px solid #d0d6f5;
          margin-bottom: 16px;
          padding-bottom: 8px;

          .entry-box {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .entry-avatar {
              flex-grow: 0;
              flex-shrink: 0;
              margin-right: 8px;
              margin-left: 16px;
            }

            .entry-info {
              flex: 1;
              margin-right: 16px;

              .entry-name {
                span {
                  font-size: 14px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.57;
                  letter-spacing: 0.3px;
                  text-align: left;
                  color: #010307;
                }
              }

              .entry-status {
                span {
                  font-size: 12px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.83;
                  letter-spacing: 0.2px;
                  text-align: left;
                  color: #aaacb4;
                }
              }
            }
          }

          .entry-actions {
            flex-shrink: 0;
            flex-grow: 0;

            .trigger {
              .__evodesk-icon {
                padding: 0 16px;
                cursor: pointer;
                background-size: auto;
                background-position: center;
              }
            }
          }
        }
      }
    }

    .c-contents-scroll {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 4px;
    }
  }
}

button {
  width: 160px;
}

button.button.button-fill {
  background-color: #2e4ce6;
  border-radius: 3px;
  text-align: center;

  &:disabled {
    background-color: #f0f0f0;

    span {
      color: #ccc;
    }
  }

  span {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
  }
}

button.button.button-no-fill {
  &:disabled {
    background-color: #f0f0f0;

    .flex {
      .flex-text {
        span {
          color: #ccc;
        }
      }
    }
  }

  .flex {
    display: flex;
    align-items: center;

    .flex-icon {
      margin-right: 8px;
    }

    .flex-text {
      span {
        font-family: Roboto, sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: 0.1px;
        text-align: left;
        color: #2e4ce6;
      }
    }
  }
}
