.c
  .c-title
    .c-title-left
      span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperienceConfirm.Title' | translate }}
    .c-title-right
      .close-button((click)="close()")
        .__evodesk-icon.ic-close-modal-15x15px.with-hover
  form.c-search([formGroup]="state.searchForm", novalidate)
    .search-box((click)="onSearchBoxClick()", [ngClass]="{ 'is-active': state.isSearchBoxActive }")
      .search-box-icon
        .__evodesk-icon.ic-search-blue-18px
      .search-box-input
        input(#searchInput, [formControlName]="'query'", type="text", (focus)="onSearchBoxFocus()", (blur)="onSearchBoxBlur()", placeholder="{{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperienceConfirm.Search' | translate }}")
  .c-search-results
    .c-search-results-area(#area, evodeskTouchScroll="y", evodeskMouseWheelScroll, evodeskKeyboardScroll)
    .c-search-results-scroll
      evodesk-app-common-scroll-bar([elementRef]="area", [theme]="'blue'")
  .c-contents
    .__evodesk-loading-top(*ngIf="props.loading > 0 || props.searching")
      .__evodesk-loading-top-bar
    ng-container(*ngIf="hasNoSearchResults")
      .message
        span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperienceConfirm.NoSearchResults' | translate }}
    ng-container(*ngIf="hasNoSearchResults && ! props.hasRelations")
      .message
        span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperienceConfirm.HasNoRelations' | translate }}
    ng-container(*ngIf="hasSearchResults")
      .c-contents-area(#area, evodeskTouchScroll="y", evodeskMouseWheelScroll, evodeskKeyboardScroll)
        .entries-list
          ng-container(*ngFor="let entry of props.entries")
            .entry
              .entry-box
                .entry-avatar
                  evodesk-profile-avatar([profileId]="entry.id", [size]="52")
                .entry-info
                  .entry-name
                    span {{ entry.name || entry.email }}
                  .entry-status
                    span {{ entry.position || '' }}
              .entry-actions
                ng-container(*ngIf="isApproveRequestSent(entry)")
                  button.button.button-no-fill(type="button", mat-button, (click)="cancel(entry)", [disabled]="isSending(entry)")
                    .flex
                      .flex-icon
                        .__evodesk-icon.ic-we-approve-sent-16x11px
                      .flex-text
                        span(*ngIf="props.experienceId > 0") {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperienceConfirm.Sent' | translate }}
                        span(*ngIf="props.experienceId < 0") {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperienceConfirm.WillBeSent' | translate }}
                ng-container(*ngIf="isApproveRequestNotSent(entry)")
                  button.button.button-fill(type="button", mat-button, (click)="send(entry)", [disabled]="isSending(entry)")
                      span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperienceConfirm.Send' | translate }}
                ng-container(*ngIf="isApproved(entry)")
                  button.button.button-no-fill(type="button", mat-button)
                    .flex
                      .flex-icon
                        .__evodesk-icon.ic-we-approve-sent-16x11px
                      .flex-text
                        span(*ngIf="props.experienceId > 0") {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperienceConfirm.Approved' | translate }}
      .c-contents-scroll
        evodesk-app-common-scroll-bar([elementRef]="area", [scrollBarDirection]="'y'", [theme]="'blue'")
