.c
  .c-products
    .products
      ng-container(*ngFor="let p of props.products")
        a.product([routerLink]="productUrl(p)")
          .prevent-defaults((click)="preventDefault($event)")
            evodesk-shop-product-card-container([product]="p", (open)="open($event)")
  .c-loading(*ngIf="props.loading")
    .__evodesk-app-circle-loader
  .c-load-more((click)="loadMore()", *ngIf="! props.loading && props.canLoadMore")
    span(translate) EvodeskShop.components.EvodeskShopCatalogFeed.LoadMore

