ng-container(*ngIf="!! state && state.ready")
  .c([ngClass]="{ 'is-search-form-enabled': state.isSearchFormEnabled, 'is-not-search-form-enabled': ! state.isSearchFormEnabled }", (clickOutside)="onClickOutside()", [delayClickOutsideInit]="true", [clickOutsideEvents]="'mousedown,touchstart'")
    .c-widget.c-widget-search-button((click)="openSearchForm()")
      .button.button-search((click)="toggleSearchForm($event)")
        svg(width='22', height='22', viewBox='0 0 22 22', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M9 18C4.02944 18 0 13.9706 0 9C0 4.02944 4.02944 0 9 0C13.9706 0 18 4.02944 18 9C18 11.125 17.2635 13.078 16.0319 14.6177L19.7071 18.2929C20.0976 18.6834 20.0976 19.3166 19.7071 19.7071C19.3166 20.0976 18.6834 20.0976 18.2929 19.7071L14.6177 16.0319C13.078 17.2635 11.125 18 9 18ZM13.8564 14.0414C12.5977 15.2542 10.8859 16 9 16C5.13401 16 2 12.866 2 9C2 5.13401 5.13401 2 9 2C12.866 2 16 5.13401 16 9C16 10.8859 15.2542 12.5977 14.0414 13.8564C14.0072 13.8827 13.9742 13.9115 13.9429 13.9429C13.9115 13.9743 13.8827 14.0072 13.8564 14.0414Z', fill='white')
      .search-form(*ngIf="state.isSearchFormEnabled", [formGroup]='props.searchForm')
        .input
          input(#searchInput, type="text", (keyup.escape)="onSearchInputKeyEscape()", [formControlName]="'query'",
            placeholder="{{ 'EvodeskHeader.components.common.EvodeskHeaderCommonSearch.InputPlaceholder' | translate }}",
            (keydown)="onSearchInputKeyDown($event)"
          )
        .close((click)="closeSearchForm($event)")
          .__evodesk-icon.ic-close-12px
    .search-results(*ngIf="hasSearchResults")
      evodesk-header-common-search-results-container([searchResults]="props.searchResults", (close)="closeSearchForm()")
