@keyframes showSearchForm {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.c {
  height: 100%;

  &.is-search-form-enabled {
    .c-widget {
      background-color: rgba(208, 214, 245, 0.6);

      >.button {
        margin-right: 16px;
      }
    }
  }

  &.is-not-search-form-enabled {
    .c-widget {
      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }
    }
  }

  .c-widget {
    height: 100%;
    padding-left: 32px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgba(208, 214, 245, 0);
    transition: opacity 0.15s;
    border-right: 1px solid #d0d6f5;

    &.c-widget-search-button {
      .button-search {
        font-size: 0;
        position: relative;
        top: 1px;
      }
    }

    >.search-form {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      animation: showSearchForm 0.15s normal forwards ease-in-out;
      width: 100%;

      .input {
        flex: 1;
        margin-right: 15px;

        input {
          background-color: transparent;
          width: 100%;
          font-family: Roboto, sans-serif;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: left;
          color: #ffffff;
          border: 0;
          outline: 0;
        }

        input::placeholder {
          color: #fff;
        }
      }

      .close {
        flex-grow: 0;
        flex-shrink: 0;
        opacity: 0.6;
      }
    }
  }

  .search-results {
    background-color: #fff;
    padding: 16px 8px 16px 16px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
  }
}
