.c(*ngIf="state.ready")
  .c-author
    .c-author-avatar
      .avatar
        evodesk-profile-avatar([profileId]="props.logRecord.user.id", [size]="24")
    .c-author-name
      span {{ username }}
    .c-author-dot
      span •
    .c-author-date
      span([evodeskBind]="date$")
  .c-view(*ngIf="state.screen === 'view'")
    .c-view-body
      div([innerHtml]="parsedBody | async")
    .c-view-actions(*ngIf="props.canDelete || props.canEdit")
      .c-view-action(*ngIf="props.canDelete")
        .delete-button((click)="delete()")
          span(translate) EvodeskDesk.components.common.EvodeskDeskHistoryRecordComment.Delete
      .c-view-action(*ngIf="props.canEdit")
        .edit-button((click)="edit()")
          span(translate) EvodeskDesk.components.common.EvodeskDeskHistoryRecordComment.Edit
  .c-edit(*ngIf="state.screen === 'edit'", [formGroup]="state.form")
    .c-body
      .body-box((click)="body.focus()")
        textarea.body(
          #body,
          [formControlName]="'body'",
          autosize, [minRows]="1", [maxRows]="10",
          placeholder="{{ 'EvodeskDesk.components.modal.EvodeskDeskCardModalComment.BodyPlaceholder' | translate }}"
        )
    .c-actions
      .c-action
        button.button.__evodesk-v3-button-blue(type="button", (click)="submit()", mat-ripple, [disabled]="! state.form.valid")
          span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalComment.Submit
      .c-action
        button.button.__evodesk-v3-button(type="button", (click)="cancel()", mat-ripple)
          span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalComment.Cancel
