.c {
  .c-author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 14px;

    .c-author-avatar {
      margin-right: 9px;

      .avatar {
        position: relative;
        top: 2px;
      }
    }

    .c-author-name {
      span {
        font-size: 14px;
        color: #1D2639;
      }
    }

    .c-author-dot {
      margin: 0 7px;

      span {
        line-height: normal;
        font-size: 12px;
        color: #777D88;
      }
    }

    .c-author-date {
      span {
        font-size: 12px;
        color: #777D88;
      }
    }
  }

  .c-view {
    .c-view-body {
      margin-bottom: 6px;

      div {
        display: inline-block;
        font-size: 14px;
        background: #F8F8F9;
        border-radius: 2px;
        padding: 11px 12px 12px;
        overflow: hidden;
        color: #1D2639;
      }
    }

    .c-view-actions {
      display: flex;
      align-items: flex-start;

      .c-view-action {
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }

        .edit-button, .delete-button {
          cursor: pointer;

          &:hover {
            color: #4A84FB;
          }

          span {
            font-size: 14px;
            text-decoration-line: underline;
            color: #777D88;
          }
        }
      }
    }
  }

  .c-edit {
    .c-body {
      margin-bottom: 14px;

      .body-box {
        background: #F8F8F9;
        border-radius: 2px;
        overflow: hidden;
        min-height: 64px;
        cursor: text;

        textarea.body {
          width: 100%;
          border: 0;
          outline: 0;
          font-size: 14px;
          color: #1D2639;
          resize: none;
          background-color: transparent;
          padding: 11px 13px;
          caret-color: #4A84FB;

          &::placeholder {
            color: #777D88;
          }
        }
      }
    }

    .c-actions {
      display: flex;
      margin: 20px 0;
      justify-content: flex-start;

      .c-action {
        margin-right: 8px;

        .button {
          width: 105px;

        }
      }
    }
  }
}
