@import "~sass-mq";

.c {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1380px;
  margin: 0 auto;

  .c-left {
    width: 100%;
    max-width: 252px;
    margin-right: 30px;
  }

  .c-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .toolbar-buttons {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      left: 2px;
      top: -2px;
    }

    .toolbar-participants {
      display: flex;
      align-items: center;
      margin-right: 16px;
      margin-top: -9px;

      @include mq($until: 600px) {
        display: none;
      }

      .circle {
        width: 32px;
        height: 32px;
        background-color: #EFF0F1;
        border-radius: 100%;
      }

      .participant {
        width: 32px;
        height: 32px;
      }

      .tb-shift {
        width: 26px;
        height: 32px;
        overflow: visible;
      }

      .participant-counter {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 13px;

        span {
          font-weight: 500;
          line-height: normal;
          font-size: 14px;
          text-align: center;
          color: #BBBEC4;
        }
      }

      .participant-add {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          svg path {
            fill: #4A84FB;
          }
        }
      }
    }

    .toolbar-button {
      flex: 0;
      cursor: pointer;
      margin-right: 19px;

      &.toolbar-button-activity {
        position: relative;
        left: -1px;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        svg path {
          fill: #4A84FB;
        }
      }
    }
  }
}
