.c(*ngIf="state.ready")
  .c-left
    evodesk-desk-query-string-filter-container
  .c-right
    .toolbar-participants
      .tb.tb-shift.circle.participant.participant-owner(*ngIf="props.participants.length > 0", style="z-index: 1")
        evodesk-profile-avatar([profileId]="props.participants[0].id", [size]="32")
      .tb.tb-shift.circle.participant.participant-second(*ngIf="props.participants.length > 1", style="z-index: 2")
        evodesk-profile-avatar([profileId]="props.participants[1].id", [size]="32")
      .tb.circle.participant-counter(style="z-index: 3")
        span {{ numParticipants }}
      .tb.participant-add((click)="addParticipants()")
        svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M5.5 7C5.5 5.34315 6.84315 4 8.5 4C10.1569 4 11.5 5.34315 11.5 7C11.5 8.65685 10.1569 10 8.5 10C6.84315 10 5.5 8.65685 5.5 7ZM8.5 2C5.73858 2 3.5 4.23858 3.5 7C3.5 9.76142 5.73858 12 8.5 12C11.2614 12 13.5 9.76142 13.5 7C13.5 4.23858 11.2614 2 8.5 2ZM5 14C3.67392 14 2.40215 14.5268 1.46447 15.4645C0.526784 16.4021 0 17.6739 0 19V21C0 21.5523 0.447715 22 1 22C1.55228 22 2 21.5523 2 21V19C2 18.2044 2.31607 17.4413 2.87868 16.8787C3.44129 16.3161 4.20435 16 5 16H12C12.7956 16 13.5587 16.3161 14.1213 16.8787C14.6839 17.4413 15 18.2043 15 19V21C15 21.5523 15.4477 22 16 22C16.5523 22 17 21.5523 17 21V19C17 17.6739 16.4732 16.4021 15.5355 15.4645C14.5979 14.5268 13.3261 14 12 14H5ZM20 7C20.5523 7 21 7.44772 21 8V10H23C23.5523 10 24 10.4477 24 11C24 11.5523 23.5523 12 23 12H21V14C21 14.5523 20.5523 15 20 15C19.4477 15 19 14.5523 19 14V12H17C16.4477 12 16 11.5523 16 11C16 10.4477 16.4477 10 17 10H19V8C19 7.44772 19.4477 7 20 7Z', fill='#BBBEC4')
    .toolbar-buttons
      .toolbar-button((click)="openFilters()")
        svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M1.23835 3.64573L9.00192 12.8261V19C9.00192 19.3788 9.21592 19.725 9.55471 19.8944L13.5547 21.8944C14.2196 22.2269 15.0019 21.7434 15.0019 21V12.8261L22.7655 3.64573C23.3152 2.99575 22.8532 2 22.0019 2H2.00192C1.15069 2 0.688693 2.99575 1.23835 3.64573ZM4.15723 4H19.8466L13.2384 11.8143C13.0857 11.9948 13.0019 12.2236 13.0019 12.46V19.382L11.0019 18.382V12.46C11.0019 12.2236 10.9182 11.9948 10.7655 11.8143L4.15723 4Z', fill='#BBBEC4')
        .trigger(*ngIf="props.filtersMatMenu", [matMenuTriggerFor]="props.filtersMatMenu", #filtersMatMenuTrigger)
      .toolbar-button.toolbar-button-activity
        svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M9 2C9.43043 2 9.81257 2.27543 9.94868 2.68377L15 17.8377L17.0513 11.6838C17.1874 11.2754 17.5696 11 18 11H22C22.5523 11 23 11.4477 23 12C23 12.5523 22.5523 13 22 13H18.7208L15.9487 21.3162C15.8126 21.7246 15.4304 22 15 22C14.5696 22 14.1874 21.7246 14.0513 21.3162L9 6.16228L6.94868 12.3162C6.81257 12.7246 6.43043 13 6 13H2C1.44772 13 1 12.5523 1 12C1 11.4477 1.44772 11 2 11H5.27924L8.05132 2.68377C8.18743 2.27543 8.56957 2 9 2Z', fill='#BBBEC4')


