.c((mousedown)="toggle()", [ngClass]="{ 'is-active': props.isActive, 'is-not-active': ! props.isActive }")
  .c-title
    span {{ props.project.title }}
  .c-info
    .c-info-row
      .c-info-title
        span(translate) EvodeskDesk.components.common.EvodeskDeskProjectCard.Week
      .c-info-count
        span {{ props.countCardsWeek }}
    .c-info-row
      .c-info-title
        span(translate) EvodeskDesk.components.common.EvodeskDeskProjectCard.InProgress
      .c-info-count
        span {{ props.countCardsInProgress }}
    .c-info-row.c-info-row-done
      .c-info-title
        span(translate) EvodeskDesk.components.common.EvodeskDeskProjectCard.Done
      .c-info-count([ngClass]="{ 'more-than-zero': props.countCardsDone > 0 }")
        span {{ props.countCardsDone }}
    .c-info-row.c-info-row-failed
      .c-info-title
        span(translate) EvodeskDesk.components.common.EvodeskDeskProjectCard.Failed
      .c-info-count([ngClass]="{ 'more-than-zero': props.countCardsFailed > 0 }")
        span {{ props.countCardsFailed }}
  .c-progress(*ngIf="props.countCardsTotal > 0", [ngClass]="{ 'none': props.progress === 0, 'yellow': props.progress > 0 && props.progress < 80, 'lime': props.progress >= 80 && props.progress < 100, 'green': props.progress === 100 }")
    span {{ props.progress.toFixed(1) }}%
  .c-hover-controls
    .button.delete-button((mousedown)="$event.stopImmediatePropagation(); delete()", (touchstart)="$event.stopImmediatePropagation(); delete()")
      svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M16.7071 8.70711C17.0976 8.31658 17.0976 7.68342 16.7071 7.29289C16.3166 6.90237 15.6834 6.90237 15.2929 7.29289L12 10.5858L8.70711 7.29289C8.31658 6.90237 7.68342 6.90237 7.29289 7.29289C6.90237 7.68342 6.90237 8.31658 7.29289 8.70711L10.5858 12L7.29289 15.2929C6.90237 15.6834 6.90237 16.3166 7.29289 16.7071C7.68342 17.0976 8.31658 17.0976 8.70711 16.7071L12 13.4142L15.2929 16.7071C15.6834 17.0976 16.3166 17.0976 16.7071 16.7071C17.0976 16.3166 17.0976 15.6834 16.7071 15.2929L13.4142 12L16.7071 8.70711Z', fill='#BBBEC4')
    .button.edit-button((mousedown)="$event.stopImmediatePropagation(); edit()", (touchstart)="$event.stopImmediatePropagation(); edit()")
      svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M14.404 4.29289C14.7945 3.90237 15.4277 3.90237 15.8182 4.29289L19.7071 8.18178C20.0976 8.57231 20.0976 9.20547 19.7071 9.596L9.596 19.7071C9.40846 19.8946 9.15411 20 8.88889 20H5C4.44772 20 4 19.5523 4 19V15.1111C4 14.8459 4.10536 14.5915 4.29289 14.404L14.404 4.29289ZM6 15.5253V18H8.47468L17.5858 8.88889L15.1111 6.41421L6 15.5253Z', fill='#BBBEC4')
