.c {
  background: #FFFFFF;
  box-shadow: 0 6px 8px rgba(29, 38, 57, 0.2);
  position: relative;
  border-radius: 0;
  margin-bottom: 10px;
  width: 100%;
  cursor: pointer;

  &.is-not-active {
    &:hover {
      .c-title {
        span {
          color: #4A84FB;
        }
      }
    }
  }

  &.is-active {
    .c-title {
      background: #4A84FB;

      span {
        color: #fff;
      }
    }
  }

  &:hover {
    .c-hover-controls {
      display: block;
      opacity: 1;
    }
  }

  .c-title {
    padding: 20px 20px;

    span {
      font-size: 16px;
      color: #1D2639;
    }
  }

  .c-info {
    padding: 10px 20px 20px;

    .c-info-row {
      display: flex;
      align-items: center;

      &.c-info-row-failed {
        .c-info-count.more-than-zero {
          span {
            color: #FB4A4A;
          }
        }
      }

      .c-info-title {
        text-align: left;
        margin-right: 10px;
        width: 140px;

        span {
          font-size: 12px;
          color: #999;
        }
      }

      .c-info-count {
        span {
          font-size: 12px;
          color: #1D2639;
        }
      }
    }
  }

  .c-progress {
    padding: 0 20px 20px;

    &.orange { span { color: #DCB907; } }
    &.lime { span { color: #A9D26A; } }
    &.green { span { color: #8CD66B;  } }

    span {
      font-size: 16px;
      color: #1D2639;
    }
  }

  .c-hover-controls {
    display: none;
    opacity: 0;
    position: absolute;
    right: 10px; bottom: 10px;
    transition: opacity .15s;
    z-index: 2;

    .edit-button, .delete-button {
      display: inline-block;
    }

    .button {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 5px;
      position: relative;
      border-radius: 1px;
      font-size: 0;

      &:hover {
        svg {
          path {
            fill: #4A84FB;
          }
        }
      }
    }
  }
}
