@import "~sass-mq";

.c {
  .c-post-editor-container {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
}

@include mq($until: 1160px) {
  :host, .c, .__evodesk-fluid-container {
    height: 100%;
  }

  .c {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    .c-left-scroll, .c-right-scroll {
      display: none;
    }
  }

  .c {
    .c-header {
      background-color: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
      z-index: 2;
      margin-bottom: 24px;
    }

    .c-block {
      margin-bottom: 24px;

      &.c-block-footer {
        padding: 0 16px;
      }
    }
  }

  ::ng-deep {
    .__evodesk-profile {
      .c-card {
        border-radius: 0!important;
      }
    }
  }
}

@include mq($from: 1161px) {
  :host, .c, .__evodesk-fluid-container {
    height: 100%;
  }

  .c {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .c {
    display: flex;
    flex-direction: column;

    .c-header {
      flex-grow: 0;
      flex-shrink: 0;
      height: 148px;
      background-color: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
      z-index: 2;
    }

    .c-panels {
      display: flex;
      flex: 1;
      overflow: hidden;
      z-index: 1;

      .__evodesk-fluid-container {
        height: 100%;
        overflow: hidden;
        display: flex;

        .c-left, .c-right {
          height: 100%;
          width: 50%;
          flex: 1;
          flex-shrink: 0;
        }

        .c-left {
          margin-right: 6px;
          overflow: hidden;
          display: flex;

          .c-block {
            margin-bottom: 24px;

            &.c-block-footer {
              margin-top: 80px;
            }
          }

          .c-left-contents {
            flex: 1;
            overflow: hidden;
            padding: 26px 8px 26px 2px;
          }

          .c-left-scroll {
            flex-grow: 0;
            flex-shrink: 0;
            transition: .15s;
          }
        }

        .c-right {
          margin-left: 6px;
          display: flex;

          .c-block {
            margin-bottom: 24px;
          }

          .c-right-contents {
            flex: 1;
            overflow: hidden;
            padding: 26px 8px 26px 2px;
          }

          .c-right-scroll {
            flex-grow: 0;
            flex-shrink: 0;
            transition: .15s;
          }
        }
      }
    }
  }
}
