ng-container(*ngIf="!!state && state.ready")
  .c.__evodesk-profile((scroll.out-zone)="onScroll($event)")
    .c-header
      evodesk-profile-header-container
    .c-desktop.c-panels
      .__evodesk-fluid-container
        .c-left
          .c-left-contents(#leftPanel, evodeskTouchScroll='y', [evodeskTouchPreventDefaults]="false", evodeskMouseWheelScroll, [evodeskMouseWheelPreventDefaults]="false", evodeskKeyboardScroll)
            .c-block.c-block-common
              evodesk-profile-common-container
            .c-block.c-block-competence
              evodesk-profile-competence-container
            .c-block.c-block-work-experience
              evodesk-profile-work-experience-container
            .c-block.c-block-achievements
              evodesk-profile-achievements-container
            .c-block.c-block-photos
              evodesk-profile-photos-container
            .c-block.c-block-footer
              evodesk-profile-footer-container
          .c-left-scroll
            evodesk-app-common-scroll-bar([elementRef]="leftPanel", scrollBarDirection="y", [theme]="'blue'", [autoHide]="true")
        .c-right
          .c-right-contents(#rightPanel, evodeskTouchScroll='y', [evodeskTouchPreventDefaults]="false", evodeskMouseWheelScroll, [evodeskMouseWheelPreventDefaults]="false", (mouseWheelScroll)="onScroll($event)", evodeskKeyboardScroll, (keyScroll)="onScroll($event)")
            .c-block.c-block-feed-add-post(*ngIf="props.isOwnProfile")
              .c-post-editor-container
                evodesk-profile-feed-post-editor-container([enableAutoFocus]="false")
            .c-block.c-block-feed
              evodesk-profile-feed-container
          .c-right-scroll
            evodesk-app-common-scroll-bar([elementRef]="rightPanel", scrollBarDirection="y", [theme]="'blue'", [autoHide]="true", (scrollBlockMove)="onScroll($event)")
