@import "~sass-mq";

.c {
  .c-block-slide {
    display: flex;
    margin: 40px 0;
    align-items: center;

    .c-block-slide-image {
      flex-shrink: 0;
      flex-grow: 0;
      width: 300px;
      overflow: hidden;
      margin-right: 32px;

      img {
        max-width: 100%;
      }
    }

    .c-block-slide-contents {
      flex: 2;

      .c-block-slide-title {
        margin-bottom: 8px;

        span {
          font-family: Roboto, sans-serif;
          font-size: 24px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: 0.5px;
          text-align: left;
          color: #000000;
        }
      }

      .c-block-slide-text {
        span {
          font-family: Roboto, sans-serif;
          font-size: 15px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.6;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;
        }
      }
    }
  }

  .c-swiper-controls {
    border-top: 1px solid #d8d8d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;

    .c-swiper-controls-left, .c-swiper-controls-right {
      flex-shrink: 0;
    }

    .c-swiper-controls-left {
      .paginations {
        .pagination-left, .pagination-right {
          cursor: pointer;
          display: inline-block;
          margin-right: 24px;
          width: 25px;
          height: 14px;
          position: relative;

          img {
            transition: opacity .15s;
          }

          img.active {
            opacity: 0;
            position: absolute;
            top: 0; left: 0;
          }

          img.not-active {
            opacity: 1;
            position: absolute;
            top: 0; left: 0;
          }

          &:hover {
            img.active { opacity: 1; }
            img.not-active { opacity: 0; }
          }
        }
      }
    }

    .c-swiper-controls-right {
      .status {
        span {
          font-family: Ubuntu, Roboto, sans-serif;
          font-size: 16px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: 0.4px;
          text-align: left;
          color: #000000;
        }
      }
    }
  }
}

@include mq($until: 1330px) {
  .c {
    .c-block-slide {
      display: block;

      .c-block-slide-image {
        margin-right: 0;
        margin-bottom: 16px;
        width: 100%;
      }
    }
  }
}
