.c
  .swiper-container([swiper]="state.swiperConfig", #swiper, [(index)]="state.index")
    .swiper-wrapper
      .c-block-slide.swiper-slide(*ngFor="let slide of slides")
        .c-block-slide-image
          img([src]="slide.img")
        .c-block-slide-contents
          .c-block-slide-title
            span {{ slide.title | translate }}
          .c-block-slide-text
            span(innerHtml="{{ slide.htmlText | translate }}")
    .c-swiper-controls
      .c-swiper-controls-left
        .paginations
          .pagination-left((click)="prev()")
            img.active(src="/assets/landing/features/swiper/left-active.svg")
            img.not-active(src="/assets/landing/features/swiper/left.svg")
          .pagination-right((click)="next()")
            img.active(src="/assets/landing/features/swiper/right-active.svg")
            img.not-active(src="/assets/landing/features/swiper/right.svg")
      .c-swiper-controls-right
        .status
          span.status-current {{ state.index + 1 }}
          span.status-slash /
          span.status-total {{ slides.length }}
