.c(*ngIf="!! state && state.ready")
  .c-list-item
    .circle
    .post
      .post-text
        span {{ props.experience.position }}
      .post-edit
        ng-container(*ngIf="props.canEdit")
          .edit([routerLink]="['/user-settings']", [queryParams]="{ 'section': 'work-experience' }")
            .__evodesk-icon.ic-edit-20x20px
    .place-and-url
      .place
        span {{ props.experience.place }}
      .url(*ngIf="state.visibility.url && !! props.experience.url")
        a(target="_blank", [href]="props.experience.site") {{ props.experience.site }}
    .dates(*ngIf="state.visibility.dates")
      .date-start
        span {{ dateStart }}
      .date-separator
        span –
      .date-end
        span {{ dateFinish | translate }}
    .responsibilities.list(*ngIf="state.visibility.responsibilities && state.json.responsibilities.length > 0 && !! state.json.responsibilities[0].value")
      .responsibility.list-item(*ngFor="let r of state.json.responsibilities")
        .list-mark
          .__evodesk-icon.ic-expu-check-blue-11x10px
        .list-text
          span {{ r.value }}
    .tools(*ngIf="state.visibility.tools && state.json.tools.length > 0 && !! state.json.tools[0].value")
      .tools-title
        span {{ 'EvodeskProfile.components.EvodeskProfileWorkExperienceEntry.Tools' | translate }}
      .tools-list.list
        .tool.list-item(*ngFor="let r of state.json.tools")
          .list-mark
            .__evodesk-icon.ic-expu-check-blue-11x10px
          .list-text
            span {{ r.value }}
    .skills(*ngIf="state.visibility.skills && state.json.skills.length > 0 && !! state.json.skills[0].value")
      .skills-title
        span {{ 'EvodeskProfile.components.EvodeskProfileWorkExperienceEntry.Skills' | translate }}
      .skills-list.list
        .skill.list-item(*ngFor="let r of state.json.skills")
          .list-mark
            .__evodesk-icon.ic-expu-check-blue-11x10px
          .list-text
            span {{ r.value }}
    .results(*ngIf="state.visibility.results && !! state.json.about")
      .results-title
        span {{ 'EvodeskProfile.components.EvodeskProfileWorkExperienceEntry.Results' | translate }}
      .results-content
        span(innerHtml="{{ state.json.about | evodeskProfileWorkExperienceBodyParser | async }}")
    .approves(*ngIf="state.visibility.approvesList || state.visibility.approvesForm")
      .accept-approve(*ngIf="state.visibility.approvesForm && hasPendingRequest")
        .q
          p {{ 'EvodeskProfile.components.EvodeskProfileWorkExperienceEntry.HasApproveL1' | translate }}
          p {{ 'EvodeskProfile.components.EvodeskProfileWorkExperienceEntry.HasApproveL2' | translate }}
        .a(*ngIf="! props.approving")
          .a-left
            .a-acccept
              button.button.button-fill.accept(mat-button, type="button", (click)="approveAccept()")
                .flex
                  .flex-text
                    span {{ 'EvodeskProfile.components.EvodeskProfileWorkExperienceEntry.AcceptApprove' | translate }}
            .a-reject
              button.button.button-no-fill.reject(mat-button, type="button", (click)="approveReject()")
                .flex
                  .flex-text
                    span {{ 'EvodeskProfile.components.EvodeskProfileWorkExperienceEntry.RejectApprove' | translate }}
          .a-right
            .a-not-now(*ngIf="state.visibility.approvesFormNotNow")
              button.button.button-no-fill.reject(mat-button, type="button", (click)="approveNotNow()")
                .flex
                  .flex-text
                    span {{ 'EvodeskProfile.components.EvodeskProfileWorkExperienceEntry.NotNowApprove' | translate }}
        .l(*ngIf="props.approving")
          .box
            .__evodesk-loading-top
              .__evodesk-loading-top-bar
      .accepted-approves(*ngIf="state.visibility.approvesList && hasAcceptedApproves")
        .ac-title
          span {{ 'EvodeskProfile.components.EvodeskProfileWorkExperienceEntry.AcceptedApproves' | translate }}
        .ac-list
          .ac-list-item(*ngFor="let approve of acceptedApproves")
            .avatar
              evodesk-profile-avatar([profileId]="approve.user_id", [size]="24")
            .name
              a([routerLink]="urlProfile(approve.user_id)")
                span {{ approve.user_name || approve.user_email }}
