@import "~sass-mq";

@include mq($until: 420px) {
  .a {
    button {
      margin-bottom: 8px;
      width: 100%;
    }
  }
}

@include mq($from: 421px) {
  .a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .a-acccept, .a-reject {
      display: inline-block;
      margin-right: 8px;
    }
  }
}

.c {
  .c-list-item {
    .circle {
      position: absolute;
      left: -9px;
    }

    .post {
      .post-text, .post-edit {
        display: inline-block;
      }

      .post-text {
        margin-right: 8px;

        span {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;
        }
      }

      .post-edit {
        position: relative;
        top: 4px;

        .edit {
          opacity: 0;
          transition: .15s;
        }
      }

      &:hover {
        .post-edit {
          .edit {
            display: block;
            opacity: 1;
          }
        }
      }
    }

    .place-and-url {
      .place, .url {
        display: inline-block;

        .place {
          margin-right: 16px;

          span {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: 0.5px;
            text-align: left;
            color: #010307;
          }
        }

        .url {

        }
      }
    }

    .dates {
      margin-bottom: 12px;

      >div {
        display: inline-block;
      }

      .date-start, .date-separator, .date-end {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: 0.2px;
        text-align: left;
        color: #aaacb4;
      }

      .date-separator {
        margin: 0 8px;
      }
    }

    .tools {
      margin-bottom: 12px;

      .tools-title {
        margin-bottom: 8px;

        span {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.83;
          letter-spacing: 0.2px;
          text-align: left;
          color: #aaacb4;
        }
      }
    }

    .skills {
      margin-bottom: 12px;

      .skills-title {
        margin-bottom: 8px;

        span {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.83;
          letter-spacing: 0.2px;
          text-align: left;
          color: #aaacb4;
        }
      }
    }

    .results {
      margin-bottom: 12px;

      .results-title {
        margin-bottom: 8px;

        span {}
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: 0.2px;
        text-align: left;
        color: #aaacb4;
      }

      .results-content {
        max-width: 400px;

        span {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.17;
          letter-spacing: 0.1px;
          text-align: left;
          color: rgba(1, 3, 7, 0.6);
        }
      }
    }

    .approves {
      margin-top: 12px;

      .accept-approve {
        padding-left: 16px;
        border-left: 4px solid #fff3d0;

        .q {
          p {
            margin-bottom: 12px;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: 0.1px;
            text-align: left;
            color: #010307;
          }
        }

        .l, .a {
          min-height: 36px;
        }

        .l {
          .box {
            position: relative;
            top: 12px;
          }
        }
      }

      .accepted-approves {
        margin-top: 12px;

        .ac-title {
          margin-bottom: 8px;

          span {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.83;
            letter-spacing: 0.2px;
            text-align: left;
            color: #aaacb4;
          }
        }

        .ac-list {
          .ac-list-item {
            margin-bottom: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .avatar {
              flex-grow: 0;
              flex-shrink: 0;
              margin-right: 8px;
            }

            .name {
              flex: 1;

              a {
                cursor: pointer;

                &:hover {
                  span {
                    border-bottom-color: #2e4ce6;
                  }
                }

                span {
                  font-size: 14px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.57;
                  letter-spacing: 0.3px;
                  text-align: left;
                  color: #2e4ce6;
                  border-bottom: 1px solid transparent;
                  transition: .15s;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }

    .list {
      padding: 0 16px;
      max-width: 400px;

      .list-item {
        display: flex;
        margin-bottom: 8px;
        align-items: baseline;

        .list-mark {
          margin-right: 8px;
        }

        .list-text {
          span {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: 0.1px;
            text-align: left;
            color: rgba(1, 3, 7, 0.6);
          }
        }
      }
    }
  }
}


button.button.button-fill {
  background-color: #2e4ce6;
  border-radius: 3px;
  text-align: center;

  &:disabled {
    background-color: #f0f0f0;

    .flex {
      .flex-text {
        span {
          background-color: #f0f0f0;
          color: #ccc;
        }
      }
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .flex-icon {
      margin-right: 8px;
    }

    .flex-text {
      span {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.3px;
        text-align: left;
        color: #ffffff;
      }
    }
  }
}

button.button.button-no-fill {
  &:disabled {
    background-color: #f0f0f0;

    .flex {
      .flex-text {
        span {
          background-color: #f0f0f0;
          color: #ccc;
        }
      }
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .flex-icon {
      margin-right: 8px;
    }

    .flex-text {
      span {
        font-family: Roboto, sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: 0.1px;
        text-align: left;
        color: #2e4ce6;
      }
    }
  }
}
