.c(*ngIf="state.ready")
  .c-card.card-navigation
    .c-menu
      .c-menu-title.c-card-title
        span(translate) EvodeskLeaders.components.EvodeskLeaders.NavTitle
      .c-menu-items.c-card-contents
        a.c-menu-item([ngClass]="{ 'is-active': section === 'week' }", [routerLink]="['/leaders/week']")
          span(translate) EvodeskLeaders.components.EvodeskLeaders.NavLeadersWeek
        a.c-menu-item([ngClass]="{ 'is-active': section === 'month' }", [routerLink]="['/leaders/month']")
          span(translate) EvodeskLeaders.components.EvodeskLeaders.NavLeadersMonth
        a.c-menu-item([ngClass]="{ 'is-active': section === 'total' }", [routerLink]="['/leaders/total']")
          span(translate) EvodeskLeaders.components.EvodeskLeaders.NavLeadersTotal
