.c {
  .c-card {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

    .c-card-title {
      padding: 4px 14px 4px 16px;
      border-bottom: 1px solid #d0d6f5;
      display: flex;
      align-items: center;

      &:hover {
        .c-title-right {
          .edit {
            display: block;
          }
        }
      }

      .c-title-left {
        flex: 1;
        margin-right: 16px;

        span {
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.4px;
          text-align: left;
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .c-title-right {
        flex-grow: 0;
        flex-shrink: 0;

        .edit {
          display: none;
          cursor: pointer;
          padding: 2px;
        }
      }
    }

    .c-card-contents {
      padding-top: 24px;
      padding-left: 24px;
      padding-right: 16px;

      .c-list {
        border-left: 2px solid #d0d6f5;
        padding-left: 24px;
        padding-bottom: 20px;
        position: relative;

        .c-list-item {
          margin-bottom: 32px;
        }

        .c-list-end {
          .show-more {
            cursor: pointer;

            &:hover {
              border-bottom-color: #2e4ce6;
            }

            span {
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.83;
              letter-spacing: 0.2px;
              text-align: left;
              color: #2e4ce6;
              border-bottom: 1px solid transparent;
              transition: .15s;
            }
          }
        }
      }
    }
  }
}

.circle {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: solid 2px #d0d6f5;
  border-radius: 100%;
}
