ng-container(*ngIf="!!state && state.ready && state.sorted.length > 0")
  .c
    .c-card
      .c-card-title
        .c-title-left
          span {{ 'EvodeskProfile.components.EvodeskProfileWorkExperience.Title' | translate }}
        .c-title-right
          ng-container(*ngIf="props.canEdit")
            .edit([routerLink]="['/user-settings']", [queryParams]="{ 'section': 'work-experience' }")
              .__evodesk-icon.ic-edit-24x24px
      .c-card-contents
        .c-list
          .c-list-item(*ngFor="let experience of experiences")
            evodesk-profile-work-experience-entry-container([experience]="experience", [layoutVariant]="'short'")
          .c-list-end
            .show-more((click)="showMore()")
              span {{ 'EvodeskProfile.components.EvodeskProfileWorkExperience.ShowMore' | translate }}
