input.file(#fileInput, type="file", (change)="onFileInputChange()")

.c
  .c-avatar
    evodesk-profile-avatar([profileId]="props.origAvatar.profileId", [size]="80")
  .c-controls
    button(type="button", mat-button, (click)="changeAvatar()")
      span(*ngIf="props.origAvatar.profileImage") {{ 'EvodeskUserSettings.components.EvodeskUserSettingsAvatar.UploadReplace' | translate }}
      span(*ngIf="! props.origAvatar.profileImage ") {{ 'EvodeskUserSettings.components.EvodeskUserSettingsAvatar.Upload' | translate }}
