input.file {
  display: none;
}

.c {
  display: flex;
  justify-content: left;
  align-items: center;

  .c-avatar {
    margin-right: 16px;
  }

  .c-controls {
    button {
      background-color: #2e4ce6;
      border-radius: 3px;
      margin-left: 8px;

      span {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.3px;
        text-align: left;
        color: #ffffff;
      }
    }
  }
}
