.c
  .c-left
    .c-links
      .link-box.link-box-partners
        a.link.link-partners([routerLink]="['/landing/partners']")
          span {{ 'EvodeskLanding.components.LandingFooter.Partners' | translate }}
      .link-box.link-box-conditions
        .link.link-conditions((click)="showConditions()")
          span {{ 'EvodeskLanding.components.LandingFooter.Conditions' | translate }}
  .c-right
    .c-apps
      a.mobile-app.mobile-app-android(target="_blank", [href]="state.mobile.android")
        img(src="/assets/landing/gp-badge.svg" width="135px")
      a.mobile-app.mobile-app-osx( target="_blank", href="state.mobile.osx")
        img(src="/assets/landing/ap-badge.svg" width="135px")
    .c-social-networks
      a([href]="state.social.vk" target="_blank")
        .__evodesk-icon.ic-vk-25x15px
      a([href]="state.social.telegram" target="_blank")
        .__evodesk-icon.ic-telegram-23x20px
      a([href]="state.social.twitter" target="_blank")
        .__evodesk-icon.ic-facebook-10x22px
      a([href]="state.social.facebook" target="_blank")
        .__evodesk-icon.ic-twitter-21x18px
      a([href]="state.social.youtube" target="_blank")
        .__evodesk-icon.ic-youtube-24x18px
