@import "~sass-mq";

.c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 56px;
  padding-right: 56px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.3);

  .c-left {
    flex: 1;
    padding-right: 50px;
    max-width: 520px;

    .c-links {
      display: flex;
      justify-content: space-between;

      .link {
        display: block;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.3px;
        text-align: left;
        color: #ffffff;
        text-decoration: none;
        opacity: 0.91;
        cursor: pointer;
        padding: 0 8px;

        &:hover {
          opacity: 1;

          span {
            border-bottom: 1px solid rgba(255, 255, 255, 100);
          }
        }
      }
    }
  }

  .c-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;

    .c-apps {
      padding-right: 20px;
      white-space: nowrap;

      a {
        padding: 0 14px;
      }
    }

    .c-social-networks {
      white-space: nowrap;

      a {
        display: inline-block;
        margin: 0 15px;
        vertical-align: middle;

        &:hover {
          .__evodesk-icon {
            opacity: 0.9;
          }
        }

        .__evodesk-icon {
          opacity: 0.6;
        }
      }
    }
  }
}

@include mq($until: 720px) {
  .c {
    padding: 0;

    .c-left {
      display: none;
    }

    .c-right {
      flex: 1;

      .c-social-networks {
        display: none;
      }

      .c-apps {
        flex: 1;
        display: flex;
        justify-content: space-around;
        padding: 0 10px;

        a {
          padding: 0;
        }
      }
    }
  }
}

@include mq($from: 721px, $until: 1100px) {
  .c {
    .c-left {
      display: none;
    }

    .c-right {
      flex: 1;
    }
  }
}

@include mq($from: 1441px) {
  .link-box-partners {
    display: none!important;
  }
}
