.c {
  min-width: 250px;
  width: 100%;

  .c-modal-header {
    border-bottom: 1px solid #EFF0F1;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 13px;

    .c-modal-title {
      span {
        font-weight: 500;
        line-height: 21px;
        font-size: 14px;
        color: #1D2639;
      }
    }

    .c-modal-close {
      .close-button {
        cursor: pointer;

        .hovered {
          display: none;
        }
        .not-hovered {
          display: block;
        }

        &:hover {
          .hovered {
            display: block;
          }
          .not-hovered {
            display: none;
          }
        }
      }
    }
  }

  .c-items {
    padding: 6px 0;
  }
}

.items {
  .item {
    cursor: pointer;
    padding: 10px 20px;

    &:hover {
      background-color: #FAFAFA;
    }

    span {
      line-height: 21px;
      font-size: 14px;
      color: #1D2639;
    }
  }
}
