@import "~sass-mq";

.__evodesk-albums-dialog {
  margin-left: auto!important;
  margin-right: auto!important;

  .sticky-wrapper {
    background-color: transparent;
    overflow: hidden;
  }

  .content {
    margin-right: -16px;
  }

  .mat-dialog-container {
    background-color: transparent;
    overflow: hidden;

    border-radius: 8px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.5);
    padding: 0;
  }

  .mat-button-focus-overlay {
    background-color: transparent;
  }

  .close-btn {

    border-radius: 0;
    mat-icon {
      line-height: 12px!important;
      height: 12px;
      svg * {
        fill: #aaacb4;
      }
    }
  }

  .mat-form-field {
    padding-top: 30px;

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-subscript-wrapper {
      top: 36px;
    }

    .mat-form-field-infix {
      border-radius: 3px;
      padding: 9px;
      line-height: 20px;
      border: 1px solid #dddddd;
      font-family: Roboto, serif;
      font-size: 14px;

      .mat-form-field-label-wrapper {
        top: -48px;
        padding-top: 48px;

        label {
          transform: none !important;
        }
      }
    }

    .mat-form-field-underline {
      display: none;
    }
  }

  .mat-progress-bar {
    height: 4px!important;
  }

  .mat-progress-bar-fill::after {
    background-color: #2e4ce6;
  }

  .mat-progress-bar-buffer {
    background-color: #d0d6f5;
  }

  .dialog {
    background-color: white;
    max-height: 80vh;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
  }

  .photos-flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: -16px;
    overflow-y: hidden;

    .photo {
      flex-grow: 1;
      margin: 0 16px 16px 0;
      min-height: 72px;
      min-width: 100px;
      flex-shrink: 1;
      max-width: calc(100% - 16px);
      max-height: 736px;
      width: 25%;
      background-color: #dddddd;
      cursor: pointer;

      img {
        border-radius: 4px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .header {
    padding: 5px 8px 4px 16px;
    border-bottom: 1px solid #d0d6f5;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: white;

    .title {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      margin-top: 2px;
      letter-spacing: 0.4px;
      text-align: left;
      color: rgba(0, 0, 0, 0.8);
    }
  }

  .content {
    padding: 0 16px;
    margin-bottom: 32px;
  }

  .save-btn {
    width: 180px;
    min-width: 180px;
    height: 40px;
    border-radius: 3px;
    font-size: 14px;
    background-color: #2e4ce6;
    //background-image: linear-gradient(103deg, #6a3bb2, #42c6dc), linear-gradient(#2e4ce6, #2e4ce6);
    color: white;
  }

  .cancel-btn {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.3px;
    height: 40px;
    color: #2e4ce6;
  }

  .selector-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.3px;

    .right {
      margin-left: auto;
      margin-right: 16px;
    }

    .margin-right {
      margin-right: 8px;
    }
  }

  .mask {
    background-image: url('/assets/images/social/img.jpg');
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d5dbfb;
  }

  @include mq($until: tablet) {
    margin-top: 10vh;

    .sticky-wrapper {
      height: 90vh;
      position: relative;
      overflow: scroll;
      margin-right: -16px;

      .dialog {
        margin-right: 16px;
        margin-top: 30vh;
        min-height: calc(100% - 30vh);
        box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.5);
      }
    }

    .header.sticky {
      position: sticky;
      z-index: 1000;
      top: -1px;
    }

    .mat-dialog-container {
      box-shadow: none;
      border-radius: 0 !important;
    }

    .photos-flex {
      margin-bottom: 0;
    }

    .photo {
      min-width: calc(100% - 16px) !important;
    }

    .selector-bar {
      flex-direction: column;
      align-items: flex-start;

      .right {
        margin-left: 0 !important;
      }
    }

    .content {
      padding-right: 0!important;
      width: 100%;
    }

    .dialog {
      max-height: unset;
      overflow: unset;
    }
  }

  @include mq($from: tablet, $until: 768px) {
    margin: 0 auto;
    position: fixed!important;
    bottom: 30px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.5);

    .mat-dialog-container {
      box-shadow: none;
      border-radius: 0 !important;
    }
  }
}

.transparent-backdrop {
  background-color: transparent;
}

.__evodesk-albums-dialog-photo-view {
  @extend .__evodesk-albums-dialog;

  margin-top: 0;
  box-shadow: none;

  .dialog {
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.5);
    margin: 5vh auto!important;
  }

  .mat-dialog-container {
    box-shadow: none;
  }

  @include mq($until: 768px) {
    position: fixed!important;
    bottom: 0!important;

    .dialog {
      max-height: 80vh!important;
      min-height: 50vh!important;
    }
  }
}

.__evodesk-albums-confirm-dialog {
  @extend .__evodesk-albums-dialog;
  position: static!important;

  .mat-dialog-container {
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px !important;
  }

  @include mq($until: 768px) {

    .mat-dialog-container {
      border-radius: 0 !important;
    }

    margin-top: 15vh;
  }
}
