@import "~sass-mq";

.content {
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
}

.scroll-area {
  overflow: hidden;
}

.scroll-bar {
  grid-column: 2;
}

.photo-info {
  display: grid;
  grid-template-areas: "a c"
                       "b c";
  grid-row-gap: 8px;
  grid-column-gap: 21px;
  grid-template-columns: 272px 1fr;
  grid-template-rows: 180px 3px;
  margin-bottom: 24px;

  @include mq($until: tablet) {
    margin-right: 16px;
    grid-template-areas: "a"
                         "b"
                         "c";
    grid-template-columns: auto;
    grid-template-rows: auto 3px auto;

    .description {
      width: unset!important;
    }

    .photo-overlay {
      width: 100%;
      padding-top: 70%;
    }
  }

  img {
    position: absolute;
    top: 0;
    grid-area: a;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }

  .description {
    grid-area: c;
    width: 420px;

    textarea {
      min-height: 78px;
      resize: none;
    }
  }

  .progress {
    grid-area: b;
  }
}

.btn-flex {
  margin-top: 8px;
  display: flex;

  .cancel-btn {
    margin-left: 8px;
  }
}

.photo-overlay {
  position: relative;
  width: 272px;
  height: 180px;
}

.delete-icon {
  position: absolute;
  justify-self: end;
  z-index: 2;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
  background-color: #dc3030;
  border: solid 2px #ffffff;
  border-radius: 50%;
  grid-area: a;
  cursor: pointer;
}
