.sticky-wrapper(#sticky='', (click)="state.handleBackdrop()")
  .dialog((click)="$event.stopPropagation()")
    .header.sticky
      .title {{ 'EvodeskProfile.components.EvodeskProfileAddPhotosToAlbum.Title' | translate }}
      button.close-btn(mat-icon-button mat-dialog-close)
        mat-icon(svgIcon="ic-cross")
    .content
      .scroll-area(#scrollArea, evodeskTouchScroll='y', [evodeskTouchPreventDefaults]="false", evodeskMouseWheelScroll, [evodeskMouseWheelPreventDefaults]="false", evodeskKeyboardScroll)
        .photo-info(*ngFor='let file of filesToLoad')
          .photo-overlay(*ngIf='!file.photo')
            .mask
          .photo-overlay(*ngIf='file.photo')
            .delete-icon.__evodesk-icon.ic-trash-bin((click)="deletePhoto(file.photo)")
            img.mask([src]="getPhotoPreview(file.photo)")
          mat-progress-bar.progress(*ngIf='!file.photo', mode="determinate", [value]="file.progressBar")
          mat-form-field.description(floatLabel="always")
            mat-label {{ 'EvodeskProfile.components.EvodeskProfileAddPhotosToAlbum.Comment' | translate }}
            textarea(matInput, [(ngModel)]='file.description')
      evodesk-app-common-scroll-bar.scroll-bar([elementRef]="scrollArea", scrollBarDirection="y", [theme]="'blue'")
      .btn-flex
        button.save-btn(mat-button, (click)='moveListToAlbum()') {{ 'EvodeskProfile.components.EvodeskProfileAddPhotosToAlbum.Save' | translate }}
        button.cancel-btn(mat-button mat-dialog-close) {{ 'EvodeskProfile.components.EvodeskProfileAddPhotosToAlbum.Cancel' | translate }}
