.c {
  margin-top: 40px;
  padding: 30px 40px;

  .c-group-title {
    color: #1d2e48;
    font-size: 16px;
    font-weight: 400;
    font-family: 'GothaProMed', sans-serif;
    margin-bottom: 25px;
    margin-top: 0;
  }

  .c-entry {
    display: block;
    font-size: 13px;
    margin-bottom: 6px;
    color: #1d2e48;
    padding: 10px 25px;
    background: #f9f9fc;
    border-radius: 13px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    transition: all .15s ease-in-out;
    box-shadow: 0 14px 29px 1px rgba(202, 207, 229, 0);

    &:hover {
      background: #fff;
      color: #3a76d1;
      border-bottom-color: #d9e2f4;
      box-shadow: 0 14px 29px 1px rgba(202, 207, 229, .46);
    }

    >span.question {
      border-bottom: 1px solid #d1d3d8;
    }
  }
}