@import "~sass-mq";

$MOBILE_BREAKPOINT: 853px;

button.focus-button {
  width: 0; height: 0; opacity: 0;
  overflow: hidden;
  position: absolute;
}

.c {
  .c-m {
    position: relative;
    box-shadow: 0 6px 25px rgba(29, 38, 57, 0.2);
    background-color: #fff;

    >.c-m-close {
      position: absolute;
      right: 7px; top: 7px;

      .close-button {
        cursor: pointer;
        font-size: 0;

        img {
          width: 24px;
          height: 24px;
        }

        .not-hovered { display: block; }
        .hovered { display: none; }

        &:hover {
          .not-hovered { display: none; }
          .hovered { display: block; }
        }
      }
    }

    >.c-m-flex {
      @include mq($until: $MOBILE_BREAKPOINT) {
        >.c-m-flex-contents {
          padding: 30px;
        }

        >.c-m-flex-menu {
          border-top: 1px solid #EFF0F1;
          padding: 30px 29px 30px 30px;
        }
      }

      @include mq($from: $MOBILE_BREAKPOINT + 1) {
        display: flex;
        flex-direction: row;
        padding: 30px 28px 30px 30px;

        >.c-m-flex-contents {
          flex: 1;
          margin-right: 28px;
        }

        >.c-m-flex-menu {
          flex: 0;
          flex-basis: 205px;
          padding-top: 5px;
        }
      }
    }
  }
}

.menu {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }

  >.title {
    margin-bottom: 16px;

    span {
      font-size: 14px;
      text-transform: uppercase;
      color: #777D88;
    }
  }
  >.items {
    >.item {
      display: flex;
      align-items: center;
      background: #FFFFFF;
      box-shadow: 0 1px 10px rgba(29, 38, 57, 0.1);
      border-radius: 2px;
      margin-bottom: 8px;
      padding: 8px 10px;
      cursor: pointer;
      transition: .15s;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        box-shadow: 0 4px 16px rgba(29, 38, 57, 0.1);
      }

      >.icon {
        margin-right: 6px;
        font-size: 0;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: -2px;

        .not-hovered { display: block; }
        .hovered { display: none; }

        &:hover {
          .not-hovered { display: none; }
          .hovered { display: block; }
        }
      }

      >.title {
        flex: 1;
        position: relative;
        top: -2px;
        left: -2px;

        span {
          font-size: 14px;
          color: #1D2639;
        }
      }
    }
  }
}

.contents {
  >.section {
    margin-bottom: 23px;
    position: relative;
    left: -4px;

    &.section-title {
      margin-bottom: 23px;
    }

    &.section-label {
      top: -1px;
    }

    &.section-description {
      margin-bottom: 16px;
    }

    &.section-deadline {
      margin-bottom: 34px;
    }
  }
}
