.c
  .c-m
    .c-m-close
      .close-button((click)="close()")
        img.not-hovered(src="/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-close.svg")
        img.hovered(src="/assets/components/evodesk-sprite-icons-v3/resources/desk-card-modal-close-hover.svg")
    .c-m-flex
      .c-m-flex-contents
        button.focus-button
        .contents
          .section.section-title
            evodesk-desk-modal-title-container([card]="props.card")
          .section.section-label
            evodesk-desk-modal-label-container([card]="props.card", [labelMatMenu]="props.labelMatMenu", (open)="openLabelEvent.emit($event)")
          .section.section-description
            evodesk-desk-modal-description-container([card]="props.card")
          .section.section-deadline
            evodesk-desk-modal-deadline-container([card]="props.card")
          .section.section-responsible
            evodesk-desk-card-modal-responsible-container([card]="props.card")
          .section.section-projects(*ngIf="props.isProjectsFeatureEnabled")
            evodesk-desk-card-modal-projects-container([card]="props.card")
          .section.section-checklist(*ngFor="let checklist of props.card.checklists; trackBy: trackByChecklistId")
            evodesk-desk-modal-checklist-container([card]="props.card", [checklist]="checklist")
          .section.section-attachment
            evodesk-desk-modal-attachment-container([card]="props.card")
          .section.section-comment
            evodesk-desk-modal-comment-container([card]="props.card")
          .section.section-history
            evodesk-desk-modal-history-container([card]="props.card")
      .c-m-flex-menu
        .menu.menu-add-to-card
          .title
            span(translate) EvodeskDesk.components.common.EvodeskDeskCardModal.AddToCard
          .items
            .item((click)="openLabelEvent.emit(labelMatMenuTrigger)")
              .label-mat-menu-trigger(*ngIf="props.labelMatMenu", #sLabelMatMenuTrigger, [matMenuTriggerFor]="props.labelMatMenu")
              .icon
                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M4 5C4 4.44772 4.44772 4 5 4H12.3025C12.5677 4 12.822 4.10536 13.0096 4.29289L19.2845 10.5678C19.7428 11.0288 20 11.6524 20 12.3025C20 12.9525 19.7428 13.5761 19.2845 14.0371L18.5753 13.3321L19.2824 14.0392L14.0469 19.2747C13.8184 19.5035 13.547 19.685 13.2483 19.8088C12.9496 19.9326 12.6295 19.9963 12.3061 19.9963C11.9828 19.9963 11.6626 19.9326 11.3639 19.8088C11.0654 19.685 10.7942 19.5037 10.5658 19.2752C10.5656 19.275 10.5659 19.2753 10.5658 19.2752L4.29331 13.01C4.10552 12.8224 4 12.5679 4 12.3025V5ZM17.8661 12.6271C17.8664 12.6269 17.8666 12.6266 17.8669 12.6263C17.9522 12.5401 18 12.4238 18 12.3025C18 12.1812 17.9522 12.0648 17.8669 11.9786C17.8666 11.9784 17.8664 11.9781 17.8661 11.9778L11.8883 6H6V11.8879L11.9803 17.8613C12.0231 17.9041 12.0739 17.9381 12.1298 17.9612C12.1857 17.9844 12.2456 17.9963 12.3061 17.9963C12.3666 17.9963 12.4266 17.9844 12.4825 17.9612C12.5384 17.9381 12.5892 17.9041 12.6319 17.8613L17.8661 12.6271Z', fill='#4A84FB')
              .title
                span(translate) EvodeskDesk.components.common.EvodeskDeskCardModal.Label
            .item((click)="openDeadlineEvent.emit(undefined)")
              .deadline-mat-menu-trigger(*ngIf="props.deadlineMatMenu", #deadlineMatMenuTrigger, [matMenuTriggerFor]="props.deadlineMatMenu")
              .icon
                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M6 12C6 8.68629 8.68629 6 12 6C15.3137 6 18 8.68629 18 12C18 15.3137 15.3137 18 12 18C8.68629 18 6 15.3137 6 12ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM13 8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8V11.75C11 12.1537 11.2427 12.5178 11.6154 12.6731L14.6154 13.9231C15.1252 14.1355 15.7107 13.8944 15.9231 13.3846C16.1355 12.8748 15.8944 12.2893 15.3846 12.0769L13 11.0833V8Z', fill='#4A84FB')
              .title
                span(translate) EvodeskDesk.components.common.EvodeskDeskCardModal.Deadline
            .item((click)="openAddChecklistEvent.emit(undefined)")
              .icon
                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M6.13017 6.13017C6.21352 6.04683 6.32657 6 6.44444 6H15.3889C15.9412 6 16.3889 5.55228 16.3889 5C16.3889 4.44772 15.9412 4 15.3889 4H6.44444C5.79614 4 5.17438 4.25754 4.71596 4.71596C4.25754 5.17438 4 5.79614 4 6.44444V17.5556C4 18.2039 4.25754 18.8256 4.71596 19.284C5.17438 19.7425 5.79614 20 6.44444 20H17.5556C18.2039 20 18.8256 19.7425 19.284 19.284C19.7425 18.8256 20 18.2039 20 17.5556V12.5C20 11.9477 19.5523 11.5 19 11.5C18.4477 11.5 18 11.9477 18 12.5V17.5556C18 17.6734 17.9532 17.7865 17.8698 17.8698C17.7865 17.9532 17.6734 18 17.5556 18H6.44444C6.32657 18 6.21352 17.9532 6.13017 17.8698C6.04683 17.7865 6 17.6734 6 17.5556V6.44444C6 6.32657 6.04683 6.21352 6.13017 6.13017ZM19.711 7.70319C20.0994 7.31051 20.0959 6.67736 19.7032 6.289C19.3105 5.90064 18.6774 5.90413 18.289 6.29681L12.0769 12.5779L10.711 11.1968C10.3226 10.8041 9.68949 10.8006 9.29681 11.189C8.90413 11.5774 8.90064 12.2105 9.289 12.6032L11.3659 14.7032C11.5538 14.8931 11.8098 15 12.0769 15C12.3441 15 12.6001 14.8931 12.7879 14.7032L19.711 7.70319Z', fill='#4A84FB')
              .title
                span(translate) EvodeskDesk.components.common.EvodeskDeskCardModal.Checklist
            .item((click)="openAddAttachmentEvent.emit(undefined)")
              .icon
                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M15.3412 5C14.7144 5 14.1242 5.23537 13.6979 5.63749L6.13343 12.7717C5.40014 13.4633 5 14.3883 5 15.3396C5 16.2909 5.40014 17.2159 6.13343 17.9075C6.8687 18.601 7.87783 19 8.94144 19C10.0051 19 11.0142 18.601 11.7494 17.9075L19.3139 10.7733C19.7157 10.3944 20.3486 10.4129 20.7275 10.8147C21.1064 11.2165 21.0879 11.8494 20.6861 12.2283L13.1217 19.3625C12.0036 20.417 10.4989 21 8.94144 21C7.38395 21 5.87932 20.417 4.7612 19.3625C3.64109 18.3061 3 16.8604 3 15.3396C3 13.8189 3.64109 12.3731 4.7612 11.3167L12.3256 4.18251C13.1349 3.41931 14.2205 3 15.3412 3C16.4618 3 17.5475 3.41931 18.3567 4.18251C19.1679 4.94758 19.6355 5.99818 19.6355 7.10693C19.6355 8.21568 19.1679 9.26628 18.3567 10.0314L10.784 17.1656C10.7839 17.1657 10.7842 17.1654 10.784 17.1656C10.2838 17.6372 9.61682 17.8931 8.93321 17.8931C8.24942 17.8931 7.58271 17.6374 7.08238 17.1656C6.58007 16.6918 6.28606 16.0363 6.28606 15.3396C6.28606 14.6429 6.58007 13.9874 7.08238 13.5136L14.0711 6.93021C14.4731 6.55151 15.106 6.57041 15.4846 6.97242C15.8633 7.37442 15.8444 8.00731 15.4424 8.386L8.45462 14.9686C8.45461 14.9686 8.45463 14.9686 8.45462 14.9686C8.33915 15.0775 8.28606 15.2123 8.28606 15.3396C8.28606 15.4669 8.33913 15.6017 8.45462 15.7106C8.57209 15.8214 8.7433 15.8931 8.93321 15.8931C9.12312 15.8931 9.29433 15.8214 9.4118 15.7106L16.9845 8.57637C16.9846 8.57625 16.9843 8.5765 16.9845 8.57637C17.4086 8.17617 17.6355 7.64603 17.6355 7.10693C17.6355 6.56766 17.4089 6.03774 16.9845 5.63749C16.5581 5.23537 15.9679 5 15.3412 5Z', fill='#4A84FB')
              .title
                span(translate) EvodeskDesk.components.common.EvodeskDeskCardModal.Attachment
        .menu.menu-actions
          .title
            span(translate) EvodeskDesk.components.common.EvodeskDeskCardModal.Actions
          .items
            .item((click)="openMoveEvent.emit(undefined)")
              .icon
                svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893L5.29289 2.29289C4.90237 2.68342 4.90237 3.31658 5.29289 3.70711C5.68342 4.09763 6.31658 4.09763 6.70711 3.70711L7 3.41421V7H3.41421L3.70711 6.70711C4.09763 6.31658 4.09763 5.68342 3.70711 5.29289C3.31658 4.90237 2.68342 4.90237 2.29289 5.29289L0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L2.29289 10.7071C2.68342 11.0976 3.31658 11.0976 3.70711 10.7071C4.09763 10.3166 4.09763 9.68342 3.70711 9.29289L3.41421 9H7V12.5858L6.70711 12.2929C6.31658 11.9024 5.68342 11.9024 5.29289 12.2929C4.90237 12.6834 4.90237 13.3166 5.29289 13.7071L7.29289 15.7071C7.68342 16.0976 8.31658 16.0976 8.70711 15.7071L10.7071 13.7071C11.0976 13.3166 11.0976 12.6834 10.7071 12.2929C10.3166 11.9024 9.68342 11.9024 9.29289 12.2929L9 12.5858V9H12.5858L12.2929 9.29289C11.9024 9.68342 11.9024 10.3166 12.2929 10.7071C12.6834 11.0976 13.3166 11.0976 13.7071 10.7071L15.7071 8.70711C16.0976 8.31658 16.0976 7.68342 15.7071 7.29289L13.7071 5.29289C13.3166 4.90237 12.6834 4.90237 12.2929 5.29289C11.9024 5.68342 11.9024 6.31658 12.2929 6.70711L12.5858 7H9V3.41421L9.29289 3.70711C9.68342 4.09763 10.3166 4.09763 10.7071 3.70711C11.0976 3.31658 11.0976 2.68342 10.7071 2.29289L8.70711 0.292893Z', fill='#4A84FB')
              .title
                span(translate) EvodeskDesk.components.common.EvodeskDeskCardModal.Move
            .item((click)="openCopyLinkEvent.emit(undefined)")
              .icon
                svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M2.11265 2.11265C2.18478 2.04052 2.28261 2 2.38462 2H8.61539C8.71739 2 8.81522 2.04052 8.88735 2.11265C8.95948 2.18478 9 2.28261 9 2.38462V3.07692C9 3.62921 9.44772 4.07692 10 4.07692C10.5523 4.07692 11 3.62921 11 3.07692V2.38462C11 1.75218 10.7488 1.14564 10.3016 0.698438C9.85436 0.251236 9.24782 0 8.61539 0H2.38462C1.75218 0 1.14564 0.251235 0.698438 0.698438C0.251235 1.14564 0 1.75218 0 2.38462V8.61539C0 9.24782 0.251236 9.85436 0.698438 10.3016C1.14564 10.7488 1.75218 11 2.38462 11H3.07692C3.62921 11 4.07692 10.5523 4.07692 10C4.07692 9.44772 3.62921 9 3.07692 9H2.38462C2.28261 9 2.18478 8.95948 2.11265 8.88735C2.04052 8.81522 2 8.71739 2 8.61539V2.38462C2 2.28261 2.04052 2.18478 2.11265 2.11265ZM7 7.38462C7 7.1722 7.1722 7 7.38462 7H13.6154C13.8278 7 14 7.1722 14 7.38462V13.6154C14 13.8278 13.8278 14 13.6154 14H7.38462C7.1722 14 7 13.8278 7 13.6154V7.38462ZM7.38462 5C6.06763 5 5 6.06763 5 7.38462V13.6154C5 14.9324 6.06763 16 7.38462 16H13.6154C14.9324 16 16 14.9324 16 13.6154V7.38462C16 6.06763 14.9324 5 13.6154 5H7.38462Z', fill='#4A84FB')
              .title
                span(translate) EvodeskDesk.components.common.EvodeskDeskCardModal.CopyLink
            .item((click)="archiveEvent.emit(undefined)")
              .icon
                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M4 6C4 5.44772 4.44772 5 5 5H19C19.5523 5 20 5.44772 20 6V10C20 10.5523 19.5523 11 19 11V18C19 18.5523 18.5523 19 18 19H6C5.44772 19 5 18.5523 5 18V11C4.44772 11 4 10.5523 4 10V6ZM7 17H17V11H7V17ZM18 7V9H6V7H18ZM11 12C10.4477 12 10 12.4477 10 13C10 13.5523 10.4477 14 11 14H13C13.5523 14 14 13.5523 14 13C14 12.4477 13.5523 12 13 12H11Z', fill='#4A84FB')
              .title
                span(translate) EvodeskDesk.components.common.EvodeskDeskCardModal.Archive
            .item((click)="deleteEvent.emit(undefined)")
              .icon
                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M10.2612 6.12426C10.3401 6.04695 10.4513 6 10.5714 6H13.4286C13.5487 6 13.6599 6.04695 13.7388 6.12426C13.817 6.20091 13.8571 6.30051 13.8571 6.4V7H10.1429V6.4C10.1429 6.30051 10.183 6.20091 10.2612 6.12426ZM8.14286 7V6.4C8.14286 5.75689 8.40374 5.1443 8.86135 4.69584C9.31827 4.24805 9.93378 4 10.5714 4H13.4286C14.0662 4 14.6817 4.24805 15.1387 4.69584C15.5963 5.1443 15.8571 5.75689 15.8571 6.4V7H19C19.5523 7 20 7.44772 20 8C20 8.55228 19.5523 9 19 9H18V17.6C18 18.2431 17.7391 18.8557 17.2815 19.3042C16.8246 19.7519 16.2091 20 15.5714 20H8.42857C7.79092 20 7.17542 19.7519 6.71849 19.3042C6.26088 18.8557 6 18.2431 6 17.6V9H5C4.44772 9 4 8.55228 4 8C4 7.44772 4.44772 7 5 7H8.14286ZM8 9V17.6C8 17.6995 8.04014 17.7991 8.11835 17.8757C8.19724 17.9531 8.30846 18 8.42857 18H15.5714C15.6915 18 15.8028 17.9531 15.8817 17.8757C15.9599 17.7991 16 17.6995 16 17.6V9H8Z', fill='#4A84FB')
              .title
                span(translate) EvodeskDesk.components.common.EvodeskDeskCardModal.Delete
