@import "~sass-mq";

.c {
  .c-items {
    .items {
      .item {
        cursor: pointer;
        padding: 12px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
          background-color: #FAFAFA;
        }

        .item-title {
          flex: 1;

          span {
            display: block;
            font-size: 14px;
            color: #1D2639;
          }
        }
      }
    }
  }
}
