.c
  .c-header(*ngIf="props.displayHeader")
    .c-header-title
      span {{ 'EvodeskDesk.components.common.EvodeskDeskColumnContextMenu.Title' | translate }}
    .c-header-close
      button.close-button((click)="close()")
        i.icon-cross
  .c-items(*ngIf="listSet === 'clear-only'")
    .items
      .item((click)="doAction('clear')", *ngIf="props.numCardsInColumn > 0")
        .item-title
          span {{ 'EvodeskDesk.components.common.EvodeskDeskColumnContextMenu.Items.Clear' | translate }}
  .c-items(*ngIf="listSet === 'full-list'")
    .items
      .item((click)="doAction('add-card')")
        .item-title
          span(translate) EvodeskDesk.components.common.EvodeskDeskColumnContextMenu.Items.AddCard
      .item((click)="doAction('move-cards')", *ngIf="props.numCardsInColumn > 0")
        .item-title
          span(translate) EvodeskDesk.components.common.EvodeskDeskColumnContextMenu.Items.MoveCards
      .item((click)="doAction('remove-cards')", *ngIf="props.numNonSystemCardsInColumn > 0")
        .item-title
          span(translate) EvodeskDesk.components.common.EvodeskDeskColumnContextMenu.Items.RemoveCards
      .item((click)="doAction('sort-by-date-created-at-desc')", *ngIf="props.numCardsInColumn > 0")
        .item-title
          span(translate) EvodeskDesk.components.common.EvodeskDeskColumnContextMenu.Items.SortByDateCreatedAt
          span(translate) EvodeskDesk.components.common.EvodeskDeskColumnContextMenu.Items.SortByDateCreatedAtDesc
      .item((click)="doAction('sort-by-date-created-at-asc')", *ngIf="props.numCardsInColumn > 0")
        .item-title
          span(translate) EvodeskDesk.components.common.EvodeskDeskColumnContextMenu.Items.SortByDateCreatedAt
          span(translate) EvodeskDesk.components.common.EvodeskDeskColumnContextMenu.Items.SortByDateCreatedAtAsc
