img(*ngFor="let img of images", style="display: none;", [src]="img")

.c
  .c-desktop
    evodesk-landing-auth-panel
      .c-padding
        .c-partners
          .partners
            .partners-title
              span {{ 'EvodeskLanding.components.LandingPartners.Title' | translate }}
            .partners-list
              ng-container(*ngFor="let partner of props.partners")
                .partners-list-item
                  a.preview([href]="props.url", target="_blank")
                    img([src]="partner.img")
                  .description
                    span([innerHtml]="partner.htmlText | translate")
  .c-mobile
    evodesk-landing-auth-panel-mobile
      .c-partners
        .partners
          .partners-title
            span {{ 'EvodeskLanding.components.LandingPartners.Title' | translate }}
          .partners-list
            ng-container(*ngFor="let partner of props.partners")
              .partners-list-item
                a.preview([href]="props.url", target="_blank")
                  img([src]="partner.img")
                .description
                  span([innerHtml]="partner.htmlText | translate")
