@import "~sass-mq";

.c {
  .c-desktop {
    overflow: hidden;
  }

  .c-padding {
    padding-left: 32px;
  }

  .c-partners {
    padding: 48px 60px;

    .partners {
      .partners-title {
        margin-bottom: 56px;

        span {
          font-family: Roboto, sans-serif;
          font-size: 36px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: 0.7px;
          text-align: left;
          color: #010307;
        }
      }

      .partners-list {
        .partners-list-item {
          display: flex;
          align-items: center;
          margin-bottom: 40px;

          .preview {
            margin-right: 24px;
            width: 260px;
            padding: 50px;
            display: flex;
            align-items: center;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
            min-height: 180px;
            background: #fff;
            border-radius: 8px;
            justify-content: center;

            img {
              max-width: 100%;
            }
          }

          .description {
            flex: 1;

            span {
              font-family: Roboto, sans-serif;
              font-size: 15px;
              font-weight: 300;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.6;
              letter-spacing: 0.3px;
              text-align: left;
              color: #010307;

              strong {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

@include mq($until: 1240px) {
  .c-desktop { display: none; }
  .c-mobile { display: block };

  .c {
    .c-partners {
      padding: 48px 91px 81px 24px;

      .partners {
        .partners-title {
          span {
            font-family: Roboto, sans-serif;
            font-size: 26px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.23;
            letter-spacing: 0.5px;
            text-align: left;
            color: #010307;
          }
        }

        .partners-list {
          .partners-list-item {
            display: block;
            margin-bottom: 40px;

            .preview {
              margin-right: 0;
              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }
}

@include mq($from: 1241px) {
  .c-desktop { display: block; }
  .c-mobile { display: none; };
}
