@import "~sass-mq";

.content {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
}

.hidden-input {
  display: none;
}

@include mq($until: tablet) {
  .save-btn {
    margin-bottom: 5px;
  }

  .cancel-btn {
    height: 30px;
  }
}

.selector-bar {
  grid-column: 1 / 3;
  margin-bottom: 24px;
}

.photos-container {
  overflow: hidden;
}
