.sticky-wrapper(#sticky='', (click)="state.handleBackdrop()")
  .dialog((click)="$event.stopPropagation()")
    .header.sticky
      .title {{ album.name }} ({{ album.photos.length }})
      button.close-btn(mat-icon-button mat-dialog-close)
        mat-icon(svgIcon="ic-cross")
    .content
      .selector-bar(*ngIf="canAdmin")
        button.save-btn.margin-right(mat-button (click)='uploadPhotos()') {{ 'EvodeskProfile.components.EvodeskProfileViewPhotoAlbum.Add' | translate }}
        button.cancel-btn.margin-right(mat-button (click)='openEditAlbum()') {{ 'EvodeskProfile.components.EvodeskProfileViewPhotoAlbum.Edit' | translate }}
        button.cancel-btn.right(mat-button (click)='requestDeleteConfirm()') {{ 'EvodeskProfile.components.EvodeskProfileViewPhotoAlbum.Delete' | translate }}
      .photos-container(#scrollArea, evodeskTouchScroll='y', [evodeskTouchPreventDefaults]="false", evodeskMouseWheelScroll, [evodeskMouseWheelPreventDefaults]="false", evodeskKeyboardScroll)
        .photos-flex
          .photo(*ngFor='let photo of album.photos let i = index')
            img([src]="getPhotoPreview(photo)", (click)="openViewPhoto(i)")
      evodesk-app-common-scroll-bar([elementRef]="scrollArea", scrollBarDirection="y", [theme]="'blue'")
