.__evodesk-icon {
  background-repeat: no-repeat;
  background-size: 100%;

  &.ic-evocoin-14px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-evocoin.svg);
    width: 9px; height: 14px;
  }

  &.ic-evocoin-black-14px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-evocoin-black.svg);
    width: 9px; height: 14px;
  }

  &.ic-evocoin-blue-33px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-evocoin-blue.svg);
    width: 33px; height: 51px;
  }

  &.ic-close-12px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-cross.svg);
    width: 12px; height: 12px;
  }

  &.ic-close-14px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-cross.svg);
    width: 14px; height: 14px;
  }

  &.ic-close-15px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-cross.svg);
    width: 14px; height: 14px;
  }

  &.ic-close-16px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-cross.svg);
    width: 16px; height: 16px;
  }

  &.ic-close-20px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-cross.svg);
    width: 20px; height: 20px;
  }

  &.ic-select-arrow-6x3px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-select-arrow.svg);
    width: 6px; height: 3px;
  }

  &.ic-select-arrow-white-6x3px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-select-arrow-white.svg);
    width: 6px; height: 3px;
  }

  &.ic-select-arrow-9x4px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-select-arrow.svg);
    width: 9px; height: 4px;
  }

  &.ic-search-18px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-search.svg);
    width: 18px; height: 17.4px;
  }

  &.ic-search-blue-18px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-search-blue.svg);
    width: 18px; height: 17.4px;
  }

  &.ic-menu-24x20px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-menu.svg);
    width: 24px; height: 20px;
  }

  &.ic-vk-25x15px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-vkontakte.svg);
    width: 25px; height: 15px;
  }

  &.ic-telegram-23x20px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-telegram.svg);
    width: 23px; height: 20px;
  }

  &.ic-facebook-10x22px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-facebook.svg);
    width: 10px; height: 22px;
  }

  &.ic-twitter-21x18px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-twitter.svg);
    width: 21px; height: 18px;
  }

  &.ic-youtube-24x18px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-youtube.svg);
    width: 24px; height: 18px;
  }

  &.ic-video-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-video.svg);
    width: 24px; height: 24px;
  }

  &.ic-video-81x81px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-video.svg);
    width: 81px; height: 81px;
  }

  &.ic-blue-check-11x10px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-blue-check.svg);
    width: 11px; height: 10px;
  }

  &.ic-spoiler-arrow-up-22x23px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-spoiler-arrow-up.svg);
    width: 22px; height: 23px;
  }

  &.ic-spoiler-arrow-down-22x23px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-spoiler-arrow-down.svg);
    width: 22px; height: 23px;
  }

  &.ic-add-link-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-add-link.svg);
    width: 24px; height: 24px;

    &.with-hover {
      &:hover {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-add-link-hover.svg);
      }
    }

    &.with-active {
      &.is-active {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-add-link-hover.svg);
      }
    }
  }

  &.ic-add-photo-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-add-photo.svg);
    width: 24px; height: 24px;

    &.with-hover {
      &:hover {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-add-photo-hover.svg);
      }
    }

    &.with-active {
      &.is-active {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-add-photo-hover.svg);
      }
    }
  }

  &.ic-add-video-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-add-video.svg);
    width: 24px; height: 24px;

    &.with-hover {
      &:hover {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-add-video-hover.svg);
      }
    }

    &.with-active {
      &.is-active {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-add-video-hover.svg);
      }
    }
  }

  &.ic-pin-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-pin.svg);
    width: 24px; height: 24px;

    &.with-hover {
      &:hover, &.is-active {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-pin-hover.svg);
      }
    }

    &.with-active {
      &.is-active {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-pin-hover.svg);
      }
    }
  }

  &.ic-comment-post-16x16px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-comment-post.svg);
    width: 16px; height: 16px;

    &.with-hover {
      &:hover, &.is-active {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-comment-post-hover.svg);
      }
    }
  }

  &.ic-like-post-16x15px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-like-post.svg);
    width: 16px; height: 15px;

    &.with-hover {
      &:hover, &.is-active {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-like-post-hover.svg);
      }
    }
  }

  &.ic-share-post-18x14px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-share-post.svg);
    width: 18px; height: 14px;

    &.with-hover {
      &:hover, &.is-active {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-share-post-hover.svg);
      }
    }
  }

  &.ic-reply-18x18px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-reply.svg);
    width: 18px; height: 18px;

    &.with-hover {
      &:hover, &.is-active {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-reply-hover.svg);
      }
    }
  }

  &.ic-reply-25x25px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-reply-big.svg);
    width: 25px; height: 25px;
  }

  &.ic-views-18x12px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-views.svg);
    width: 18px; height: 12px;
  }

  &.ic-delete-photos-32x32px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-delete-photo.svg);
    width: 32px; height: 32px;
  }

  &.ic-close-modal-11x11px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-close-modal.svg);
    width: 11px; height: 11px;

    &.with-hover {
      &:hover {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-close-modal-hover.svg);
      }
    }
  }

  &.ic-close-modal-13x13px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-close-modal.svg);
    width: 13px; height: 13px;

    &.with-hover {
      &:hover {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-close-modal-hover.svg);
      }
    }
  }

  &.ic-close-modal-15x15px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-close-modal.svg);
    width: 15px; height: 15px;

    &.with-hover {
      &:hover {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-close-modal-hover.svg);
      }
    }
  }

  &.ic-dots-menu-4x20px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-dots-menu.svg);
    width: 4px; height: 20px;

    &.with-hover {
      &:hover {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-dots-menu-hover.svg);
      }
    }

    &.is-active {
      background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-dots-menu-hover.svg);
    }
  }

  &.ic-profile-placeholder {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-profile-placeholder.svg);
  }

  &.ic-profile-placeholder-52x52px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-profile-placeholder.svg);
    width: 52px; height: 52px;
  }

  &.ic-expu-check-24x19px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-expu-check.svg);
    width: 24px; height: 19px;
  }

  &.ic-expu-check-blue-11x10px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-expu-check-blue.svg);
    width: 11px; height: 10px;
  }

  &.ic-edit-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-edit.svg);
    width: 24px; height: 24px;
  }

  &.ic-edit-no-circle-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-edit-no-circle.svg);
    width: 24px; height: 24px;
  }

  &.ic-edit-20x20px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-edit.svg);
    width: 20px; height: 20px;
  }

  &.ic-share-post-blue-18x14px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-share-post-blue.svg);
    width: 18px; height: 14px;
  }

  &.ic-trash-bin {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-trash-bin.svg);
  }

  &.ic-plus-blue-40x40px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-plus-blue.svg);
    width: 40px; height: 40px;
  }

  &.ic-calendar-16x18px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-calendar.svg);
    width: 16px; height: 18px;

    &.with-hover {
      &:hover {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-calendar-hover.svg);
      }
    }
  }

  &.ic-remove-10x14px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-remove.svg);
    width: 10px; height: 14px;
  }

  &.ic-pencil-18x18px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-pencil.svg);
    width: 18px; height: 18px;
  }

  &.ic-start-dialog-256x256px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-start-dialog.svg);
    width: 256px; height: 256px;
  }

  &.ic-im-read-16x7px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-im-read.svg);
    width: 16px; height: 7px;
  }

  &.ic-im-delivered-13x8px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-im-delivered.svg);
    width: 13px; height: 8px;
  }

  &.ic-im-error-13x13px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-im-error.svg);
    width: 13px;
    height: 13px;
  }

  &.ic-news-repost-22x18px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-news-repost.svg);
    width: 22px; height: 18px;
  }

  &.ic-news-like-16x15px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-news-like.svg);
    width: 16px; height: 15px;
  }

  &.ic-news-comment-16x16px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-news-comment.svg);
    width: 16px; height: 16px;
  }

  &.ic-like-30x28px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-news-like.svg);
    width: 30px; height: 28px;
  }

  &.ic-request-sent-16x11 {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-request-sent.svg);
    width: 16px; height: 11px;
  }

  &.ic-repost-30x28px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-news-repost.svg);
    width: 30px; height: 28px;
  }

  &.ic-news-menu-26x26px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-news-menu.svg);
    width: 26px; height: 26px;
  }

  &.ic-responsible-11x11px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-responsible.svg);
    width: 11px;
    height: 11px;
  }

  &.ic-we-approve-sent-16x11px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-we-approve-sent.svg);
    width: 16px; height: 11px;
  }

  &.ic-competence-mark-16x16px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-competence-mark.svg);
    width: 16px; height: 16px;
  }

  &.ic-competence-mark-hover-16x16px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-competence-mark-hover.svg);
    width: 16px; height: 16px;
  }

  &.ic-competence-document-16x16px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-competence-document.svg);
    width: 16px; height: 16px;
  }

  &.ic-competence-document-hover-16x16px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-competence-document-hover.svg);
    width: 16px; height: 16px;
  }

  &.ic-competence-add-16x16px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-competence-add.svg);
    width: 16px; height: 16px;

    &.with-hover {
      &:hover {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-competence-add-hover.svg);
      }
    }
  }

  &.ic-competence-remove-16x16px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-competence-remove.svg);
    width: 16px; height: 16px;

    &.with-hover {
      &:hover {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-competence-remove-hover.svg);
      }
    }
  }

  &.ic-competence-open-16x16px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-competence-open.svg);
    width: 16px; height: 16px;

    &.with-hover {
      &:hover {
        background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-competence-open-hover.svg);
      }
    }
  }

  &.ic-competence-document-item-34x40px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-competence-document-item.svg);
    width: 34px; height: 40px;
  }

  &.ic-notifications-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-notifications.svg);
    width: 24px; height: 24px;
  }

  &.ic-notifications-none-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-notifications-none.svg);
    width: 24px; height: 24px;
  }

  &.ic-notification-common-33x33px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-notification-common.png);
    width: 33px; height: 33px;
  }

  &.ic-external-16x16px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-external.svg);
    width: 16px; height: 16px;
  }

  &.ic-partners-28x26px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-partners.png);
    width: 28px; height: 26px;
  }

  &.ic-star-14x13px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-star.png);
    width: 14px; height: 13px;
  }

  &.ic-profile-13x13px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-profile.png);
    width: 13px; height: 13px;
  }

  &.ic-crown-gold-16x13px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-crown-gold.png);
    width: 16px; height: 13px;
  }

  &.ic-crown-gray-16x13px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-crown-gray.png);
    width: 16px; height: 13px;
  }

  &.ic-shopping-card-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-shopping-cart.svg);
    width: 24px; height: 24px;
  }

  &.ic-check-green-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-check-green.svg);
    width: 24px; height: 24px;
  }

  &.ic-bookmark-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-bookmark.svg);
    width: 24px; height: 24px;
  }

  &.ic-bookmark-outline-24x24px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-bookmark-outline.svg);
    width: 24px; height: 24px;
  }

  &.ic-us-arrow-12x10px {
    background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-us-arrow.svg);
    width: 12px; height: 10px;

    &.with-hover:hover {
      background-image: url(/assets/components/evodesk-sprite-icons/sprite/ic-us-arrow-hover.svg);
    }
  }
}
