.__evodesk-desk-card {
  cursor: pointer;
  display: block;
  border-radius: 4px;
  margin-bottom: 0.25rem;
  padding: 0.75rem;
  background: #fff;
  text-decoration: none;
  color: #000;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;

  &:hover {
    background: #edeff0;
  }
}
