.c(*ngIf="!! state && state.ready")
  .c
    .c-comment
      .c-header
        .c-header-left
          .c-avatar
            evodesk-profile-avatar([profileId]="props.postComment.user_id", [size]="24")
          .c-name
            a([routerLink]="['/profile', props.postComment.user_id]", target="_blank")
              span {{ name }}
        .c-header-right
          ng-container(*ngIf="!! state.createdAt")
            span([evodeskBind]="state.createdAt")
      .c-contents
        evodesk-feed-comment-body-container([body]="props.postComment.text")
      .c-actions
        .action.c-actions-like-button
          .flex
            .icon
              .__evodesk-icon.ic-like-post-16x15px.with-hover([ngClass]="{ 'is-active': props.postComment.isLiked, 'with-hover': ! props.isOwnComment }", (click)="toggleLike()")
            .text(*ngIf="props.postComment.likes > 0")
              span {{ props.postComment.likes }}
        .action.c-actions-reply-button
          .flex
            .icon
              .__evodesk-icon.ic-reply-18x18px.with-hover((click)="reply()")
