.c {
  .c-comment {
    padding: 16px;

    .c-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .c-header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .c-avatar {
          flex-grow: 0;
          flex-shrink: 0;
          margin-right: 8px;
        }

        .c-name {
          flex: 1;

          a {
            text-decoration: none;

            &:hover {
              span {
                border-bottom-color: #2e4ce6;
              }
            }

            &:visited {
              span {
                color: #2e4ce6;
              }
            }

            span {
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.57;
              letter-spacing: 0.3px;
              text-align: left;
              color: #2e4ce6;
              border-bottom: 1px solid transparent;
              transition: 0.15s;
            }
          }
        }
      }

      .c-header-right {
        span {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.83;
          letter-spacing: 0.2px;
          text-align: left;
          color: #aaacb4;
        }
      }
    }

    .c-actions {
      display: flex;
      align-items: center;
      justify-content: left;

      .action {
        display: inline-block;
        margin-right: 16px;

        .flex {
          display: flex;
        }

        .icon {
          cursor: pointer;
        }

        .icon, .text {
          display: inline-block;
        }

        .text {
          margin-left: 8px;
          line-height: 10px;
          height: 10px;

          span {
            font-size: 10px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 10px;
            letter-spacing: 0.2px;
            text-align: left;
            color: rgba(170, 172, 180, 0.6);
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .c-actions-like-button {
        display: flex;
        align-items: center;
        justify-content: left;

        .__evodesk-icon {
          cursor: pointer;
        }
      }
    }
  }
}
