.c(*ngIf="!! state && state.ready", [ngClass]="containerCSSClasses")
  .c-box
    .c-box-entry.c-box-entry-menu((click)="toggle()")
      .center
        .left
          .__evodesk-icon.ic-news-menu-26x26px
        .right
          span.link {{ currentNav | translate }}
  .c-navigation-float(*ngIf="state.isOpened", (clickOutside)="close()", [delayClickOutsideInit]="true")
    .c-menu
      .c-menu-items
        .c-menu-item([ngClass]="{ 'is-active': props.currentNav === 'account' }", (click)="go('account')")
          span {{ 'EvodeskUserSettings.models.EvodeskUserSettingsNavigation.Account' | translate }}
        .c-menu-item([ngClass]="{ 'is-active': props.currentNav === 'common' }", (click)="go('common')")
          span {{ 'EvodeskUserSettings.models.EvodeskUserSettingsNavigation.Common' | translate }}
        .c-menu-item([ngClass]="{ 'is-active': props.currentNav === 'competence' }", (click)="go('competence')")
          span {{ 'EvodeskUserSettings.models.EvodeskUserSettingsNavigation.Competence' | translate }}
        .c-menu-item([ngClass]="{ 'is-active': props.currentNav === 'education' }", (click)="go('education')")
          span {{ 'EvodeskUserSettings.models.EvodeskUserSettingsNavigation.Education' | translate }}
        .c-menu-item([ngClass]="{ 'is-active': props.currentNav === 'work-experience' }", (click)="go('work-experience')")
          span {{ 'EvodeskUserSettings.models.EvodeskUserSettingsNavigation.WorkExperience' | translate }}
        .c-menu-item([ngClass]="{ 'is-active': props.currentNav === 'notifications' }", (click)="go('notifications')")
          span {{ 'EvodeskUserSettings.models.EvodeskUserSettingsNavigation.Notifications' | translate }}
        .c-menu-item([ngClass]="{ 'is-active': props.currentNav === 'privacy-and-security' }", (click)="go('privacy-and-security')")
          span {{ 'EvodeskUserSettings.models.EvodeskUserSettingsNavigation.PrivacyAndSecurity' | translate }}
