ng-container(*ngIf="!!state && state.ready")
  .c.__evodesk-user-settings-notifications
    .c-ds(*ngIf="props.hasDesktopNotificationsSupport && ! props.areDesktopNotificationsEnabled && ! props.areDesktopNotificationsRestricted")
      span.text {{ 'EvodeskUserSettings.components.EvodeskUserSettingsNotifications.EnableDesktopNotificationTextBefore' | translate }}
      span.link((click)="enableDesktopNotifications()") {{ 'EvodeskUserSettings.components.EvodeskUserSettingsNotifications.EnableDesktopNotificationLink' | translate }}
      span.text {{ 'EvodeskUserSettings.components.EvodeskUserSettingsNotifications.EnableDesktopNotificationTextAfter' | translate }}
    .c-ds.c-ds-restricted(*ngIf="props.hasDesktopNotificationsSupport && ! props.areDesktopNotificationsEnabled && props.areDesktopNotificationsRestricted")
      span.text {{ 'EvodeskUserSettings.components.EvodeskUserSettingsNotifications.DesktopNotificationsAreRestricted' | translate }}
    form.c-ns(*ngFor="let form of props.forms", [formGroup]="form", novalidate)
      .c-ns-title
        span(translate) {{ 'EvodeskUserSettings.components.EvodeskUserSettingsNotifications.Types.' + form.value.type.name }}
      .c-ns-flags
        label.c-ns-flag.c-ns-flags-email
          .checkbox
            .checkbox-input
              .__evodesk-material-checkbox.__evodesk-material-checkbox--bordered
                mat-checkbox([formControlName]="'emailNotify'")
            .checkbox-label
              span.text {{ 'EvodeskUserSettings.components.EvodeskUserSettingsNotifications.EmailNotifications' | translate }}
        label.c-ns-flag.c-ns-flags-desktop
          .checkbox
            .checkbox-input
              .__evodesk-material-checkbox.__evodesk-material-checkbox--bordered
                mat-checkbox([formControlName]="'webNotify'")
            .checkbox-label
              span.text {{ 'EvodeskUserSettings.components.EvodeskUserSettingsNotifications.DesktopNotifications' | translate }}
        label.c-ns-flag.c-ns-flags-mobile
          .checkbox
            .checkbox-input
              .__evodesk-material-checkbox.__evodesk-material-checkbox--bordered
                mat-checkbox([formControlName]="'mobileNotify'")
            .checkbox-label
              span.text {{ 'EvodeskUserSettings.components.EvodeskUserSettingsNotifications.MobileNotifications' | translate }}
