@import "~sass-mq";

@include mq($until: 800px) {
  .c {
    .input-mw {
      width: 100%;
    }

    .select-mw {
      width: 100%;
    }
  }
}

@include mq($from: 801px) {
  .c {
    .input-mw {
      width: 100%;
      max-width: 288px;
    }

    .select-mw {
      width: 100%;
      max-width: 480px;
    }

    .c-fields {
      padding: 16px 0;

      .c-field {
        &.c-field-phone {

          max-width: 288px;
        }
      }
    }
  }
}

.c {
  padding: 16px;

  .c-ds {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;

    &.c-ds-restricted {
      span {
        color: #DC3030;
      }
    }

    span {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 0.3px;
      text-align: left;
    }
  }

  .c-ns {
    border-bottom: 1px solid #ddd;
    padding: 16px 0;

    &:last-child {
      border-bottom: 0;
    }

    .c-ns-title {
      margin-bottom: 16px;

      span {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.3px;
        text-align: left;
        color: #2E4CE6;
      }
    }

    .c-ns-flags {
      padding: 0 16px;

      .c-ns-flag {
        display: block;
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }

        .checkbox {
          display: flex;
          align-items: center;
          cursor: pointer;

          .checkbox-input {
            margin-right: 8px;
          }

          .checkbox-label {
            span {
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.43;
              letter-spacing: 0.3px;
              text-align: left;
              color: #010307;
            }
          }
        }
      }
    }
  }

  .c-fields {
    .c-field {
      margin-bottom: 24px;

      .c-field-title {
        margin-bottom: 8px;

        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: left;
          color: #aaacb4;
        }
      }

      &.c-field-phone {
        .c-field-contents {
          display: flex;
          justify-content: space-between;

          .phone-code {
            width: 100px;
            margin-right: 8px;
            flex-grow: 0;
            flex-shrink: 0;
          }

          .phone {
            flex: 1;
          }
        }


        .__evodesk-input-box-v2.select-mw {
          width: 125px;
          display: inline-block;
          margin-right: 8px;
        }
      }
    }
  }
}

::ng-deep {
  .__evodesk-user-settings-notifications {
    .mat-datepicker-toggle {
      display: none!important;
    }
  }
}

a, .link {
  color: #2e4ce6;
  border-bottom: 1px solid transparent;
  transition: .15s;
  cursor: pointer;

  &:hover {
    border-bottom-color: #2e4ce6;
  }
}
