.__evodesk-v3-button {
  border: 0;
  outline: 0;
  background-color: #F8F8F9;
  border-radius: 2px;
  height: 40px;
  cursor: pointer;
  text-align: center;

  span {
    color: #BBBEC4;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
  }

  button:not(disabled) {
    &:hover {
      background: #F8F8F9;
      border-radius: 2px;
    }

    &:active {
      background: #F8F8F9;
      box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
    }
  }

  &:disabled {
    background: #F8F8F9;
    border-radius: 2px;
  }
}

.__evodesk-v3-button-blue {
  border: 0;
  outline: 0;
  background-color: #4A84FB;
  border-radius: 2px;
  height: 40px;
  cursor: pointer;
  text-align: center;

  span {
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
  }

  &:hover {
    background: #366CF9;
    border-radius: 2px;
  }

  &:active {
    background: #366CF9;
    box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
  }

  &:disabled {
    background: #4A84FB;
    border-radius: 2px;
  }
}
