.contents {
  max-width: 450px;
}

h1 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  text-align: center;
  color: #4A84FB;
  padding: 0 15px;
  margin: 0 0 15px;
}

p {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.4px;
  text-align: center;
  color: #000;
  margin: 0; padding: 0 15px;
  margin-bottom: 15px;

  font-size: 14px;
}

input.input {
  width: 100%;
  background: #F8F8F9;
  border-radius: 2px;
  overflow: hidden;
  line-height: 21px;
  font-size: 14px;
  caret-color: #4A84FB;
  color: #1D2639;
  border: 0;
  padding: 9px 12px 10px;
  margin-bottom: 10px;
}

.actions {
  width: 100%;
  text-align: center;
  padding: 0 15px;
}

.is-text-html {
  p {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 0.4px;
    text-align: left;
    color: #000;
    margin: 0; padding: 0 15px;
    margin-bottom: 16px;
    font-size: 14px;
  }
}

button.confirm-button {
  border-radius: 2px;
  background: #4A84FB;
  border: 0;
  color: #fff;
  outline: 0;
  cursor: pointer;
  padding: 10px 20px;

  span {
    font-size: 14px;
    color: #ffffff;
  }
}


button.cancel-button {
  border-radius: 2px;
  background: #fff;
  border: 0;
  color: #fff;
  outline: 0;
  cursor: pointer;
  padding: 10px 20px;

  span {
    font-size: 14px;
    color: #010307;
  }
}
