h1 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  text-align: center;
  color: #0f275e;
  padding: 0 15px;
  margin: 0 0 15px;
}

p {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.4px;
  text-align: center;
  color: #000;
  margin: 0; padding: 0 15px;
  margin-bottom: 15px;

  font-size: 14px;
}


.actions {
  width: 100%;
  text-align: center;
  padding: 0 15px;
}

button {
  border-radius: 3px;
  background: #2e4ce6;
  border: 0;
  color: #fff;
  outline: 0;
  cursor: pointer;
  padding: 2px 18px;

  span {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.2px;
    color: #ffffff;
  }
}

.contents {
  max-width: 450px;
}
