mat-dialog-content
  .contents
    h1(translate) EvodeskPartners.components.EvodeskPartners.HowEarnPoints
    div(innerHtml="{{ 'EvodeskPartners.components.EvodeskPartners.HowEarnPointsDescription' | translate }}")
mat-dialog-actions
  .actions
    button(mat-dialog-close, mat-button)
      span(translate) EvodeskPartners.components.EvodeskPartners.HowEarnPointsOk

