.c {
  .c-row-text {
    .c-text {
      .textarea {
        border-radius: 4px;
        border: 1px solid #dddddd;
        padding: 8px 0;

        textarea {
          width: 100%;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 19px;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;
          padding: 0 8px;
          border: 0;
        }
      }

      .textarea-indicators {
        display: flex;
        justify-content: space-between;

        .left { flex: 1; }

        .right {
          flex-grow: 0;
          flex-shrink: 0;

          &.invalid {
            span {
              color: #f00;
            }
          }

          span {
            font-size: 11px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 19px;
            letter-spacing: 0.3px;
            text-align: left;
            color: #aaacb4;
            padding: 0 8px;
            border: 0;
          }
        }
      }
    }
  }

  .c-row-actions {
    display: flex;
    justify-content: space-between;

    .c-left {
      button {
        padding: 9px 16px;
        line-height: 22px;
        background-color: #2e4ce6;
        border-radius: 3px;

        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 14px;
          letter-spacing: 0.3px;
          text-align: left;
          color: #ffffff;
        }
      }
    }
  }
}
