ng-container(*ngIf="!! state && state.ready")
  form.c([formGroup]="props.form", novalidate, (ngSubmit)="send()")
    .c-row-text
      .c-text
        .textarea
          textarea(
            #input,
            formControlName="text",
            (keydown)="enter($event)",
            (keyup.escape)="close()",
            rows="1", matTextareaAutosize, matAutosizeMinRows="1", matAutosizeMaxRows="4",
          )
        .textarea-indicators
          .left
          .right([ngClass]="{ 'invalid': textLength > state.maxTextLength }")
            span {{ textLength }} / {{ state.maxTextLength }}
    .c-row-actions
      .c-left
        button(type="submit", mat-button)
          span {{ 'EvodeskIM.components.IMForm.Submit' | translate }}
      .c-right
