.c {
  padding: 0 16px;

  .c-entries {
    margin-bottom: 16px;

    .c-entry {
      border-bottom: 1px solid #d0d6f5;
      padding: 16px 0;

      span.separator {
        margin: 0 8px;
      }

      .row-1 {
        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.71;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;
        }
      }

      .row-2 {
        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.71;
          letter-spacing: 0.3px;
          text-align: left;
        }

        span.browser {
          color: #aaacb4;
        }

        span.online {
          color: #22ab4c;
        }

        span.date {
          color: #aaacb4;
        }
      }
    }
  }

  .c-loading {
    padding: 24px 16px;

    .__evodesk-app-circle-loader {
      width: 16px;
      height: 16px;
      margin: 0 auto;
    }
  }

  .c-load-more {
    padding: 8px;
    text-align: center;
    cursor: pointer;

    &:hover {
      span {
        border-bottom-color: #aaacb4;
      }
    }

    span {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: 0.3px;
      text-align: center;
      text-transform: uppercase;
      color: #aaacb4;
      border-bottom: 1px solid transparent;
      transition: .15s;
    }
  }
}
