ng-container(*ngIf="!!state && state.ready")
  .c
    .c-entries
      ng-container(*ngFor="let stateEntry of state.entries")
        .c-entry
          .row-1
              span {{ stateEntry.entry.os }}
              span.separator ·
              span {{ stateEntry.entry.location }}
          .row-2
            span.browser {{ stateEntry.entry.browser }}
            span.separator ·
            span.online(*ngIf="stateEntry.isOnline") {{ 'EvodeskUserSettings.components.EvodeskUserSettingsActivity.isActiveNow' | translate }}
            span.date(*ngIf="! stateEntry.isOnline", [evodeskBind]="stateEntry.date")
    .c-loading(*ngIf="props.hasMoreEntries && props.isLoading")
      .__evodesk-app-circle-loader
    .c-load-more(*ngIf="props.hasMoreEntries && ! props.isLoading", (click)="loadMore()")
      span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsActivity.LoadMore' | translate }}
