.c {
  .c-author {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .c-author-avatar {
      margin-right: 8px;
    }

    .c-author-info {
      .c-author-name {
        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;
          word-break: break-all;
        }
      }

      .c-author-date {
        span {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.83;
          letter-spacing: 0.2px;
          text-align: left;
          color: #aaacb4;
        }
      }
    }
  }

  &.c-v-mark {
    .c-mark {
      margin-bottom: 32px;
    }
  }

  &.c-v-review {
    .c-mark {
      margin-bottom: 16px;
    }

    .c-review {
      span, div {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: left;
        color: #010307;
      }
    }
  }
}
