ng-container(*ngIf="state.variant === 'mark'")
  .c.c-v-mark
    .c-author
      .c-author-avatar
        evodesk-profile-avatar([profileId]="props.review.user.id", [size]="48")
      .c-author-info
        .c-author-name
          span {{ props.review.user.name || props.review.user.email }}
        .c-author-date
          span([evodeskBind]="state.createdAt$")
    .c-mark
      evodesk-shop-stars([stars]="props.review.stars")
ng-container(*ngIf="state.variant === 'review'")
  .c.c-v-review
    .c-author
      .c-author-avatar
        evodesk-profile-avatar([profileId]="props.review.user.id", [size]="48")
      .c-author-info
        .c-author-name
          span {{ props.review.user.name || props.review.user.email }}
        .c-author-date
          span([evodeskBind]="state.createdAt$")
    .c-mark
      evodesk-shop-stars([stars]="props.review.stars")
    .c-review
      div([innerHtml]="state.review$ | async")
