:host {
  width: 100%;
  height: 100%;
}

.c {
  width: 100%;
  height: 100%;

  .c-no-dialogs {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;

    span {
      font-size: 15px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: 0.3px;
      text-align: center;
      color: #010307;
    }
  }

  .c-dialogs {
    height: 100%;

    .c-dialog {
      display: flex;
      justify-content: space-between;
      border-left: 3px solid transparent;
      padding: 16px;
      border-bottom: 1px solid #d0d6f5;
      transition: .15s;
      cursor: pointer;

      &:hover {
        background-color: #f6f7fd;
      }

      &:last-child {
        border-bottom: none;
      }

      &.is-active {
        border-left-color: #2e4ce6;
      }

      .c-info {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .c-avatar {
          flex-shrink: 0;
          flex-grow: 0;
          margin-right: 8px;
        }

        .c-contents {
          flex: 1;

          .c-row-1 {
            display: flex;
            justify-content: space-between;

            .c-name {
              flex: 1;
              margin-right: 16px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;

              span {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.57;
                letter-spacing: 0.3px;
                text-align: left;
                color: #010307;
                word-break: break-all;
              }
            }

            .c-date {
              flex-grow: 0;
              flex-shrink: 0;
              word-break: break-word;
              max-width: 80px;

              span {
                display: block;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.83;
                letter-spacing: 0.2px;
                text-align: right;
                color: #aaacb4;
              }
            }
          }

          .c-row-2 {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .c-last-message {
              flex: 1;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 250px;
              color: #aaacb4;

              span {
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.83;
                letter-spacing: 0.2px;
                text-align: left;
                color: #aaacb4;
                word-break: break-all;
              }
            }
          }
        }
      }
    }
  }
}

@mixin desktopLayout() {
  .c-dialogs {
    position: relative;
    height: 100%;
    overflow: hidden;

    .c-dialogs-contents {
      height: 100%;
      overflow: hidden;
    }

    .c-dialogs-scroll {
      position: absolute;
      right: 0; top: 0; bottom: 0;
    }
  }
}

@mixin mobileLayout() {
  .c-dialogs {
    position: relative;
    height: 100%;
    overflow: hidden;

    .c-dialogs-contents {
      height: 100%;
      overflow: hidden;
    }

    .c-dialogs-scroll {
      position: absolute;
      right: 0; top: 0; bottom: 0;
      background-color: #fff;
    }
  }
}

.c {
  &.is-desktop {
    @include desktopLayout();
  }

  &.is-mobile {
    @include mobileLayout();
  }
}
