ng-container(*ngIf="!! state && state.ready")
  .c([ngClass]="containerCSSClasses")
    .c-no-dialogs(*ngIf="props.dialogs.length === 0")
      span(*ngIf="! props.isInFilteredMode") {{ 'EvodeskIM.components.IMContacts.NoDialogs' | translate }}
      span(*ngIf="props.isInFilteredMode") {{ 'EvodeskIM.components.IMContacts.NoContactsResult' | translate }}
    .c-dialogs(*ngIf="props.dialogs.length > 0")
      .c-dialogs-contents(
          #list,
          evodeskMouseWheelScroll, [evodeskMouseWheelScrollEnabled]="true",
          evodeskTouchScroll='y', [evodeskTouchScrollEnabled]="true",
          evodeskKeyboardScroll, [evodeskKeyboardScrollEnabled]="true"
      )
        .c-dialog(*ngFor="let dialog of (dialogs | DialogSort: 'Recents'); trackBy: trackByDialogId", [ngClass]="dialogCSSClasses(dialog)", (click)="useDialog(dialog)")
          .c-info
            .c-avatar
              evodesk-profile-avatar([profileId]="dialog.contact.id", [size]="48")
            .c-contents
              .c-row-1
                .c-name
                  span {{ dialog.name }}
                .c-date
                  span([evodeskBind]="getDate(dialog)")
              .c-row-2
                .c-last-message
                  span {{ dialog.lastMessage }}
      .c-dialogs-scroll
        evodesk-app-common-scroll-bar([elementRef]="list", [theme]="'blue'", [autoHide]="! isMobileLayout")
