.c {
  background-color: #fff;

  &.is-opened {
    .c-box-entry-menu {
      .left {
        .__evodesk-icon {
          transform: rotate(180deg)!important;
        }
      }
    }
  }

  .c-box {
    display: flex;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 175px;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #d0d6f5;

    .c-box-entry {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .link {
        border-bottom: 1px solid transparent;
        transition: .15s;
      }

      &:hover {
        .link {
          border-bottom-color: #2e4ce6;
        }
      }

      .center {
        display: flex;
        align-items: center;
        margin: 16px;

        .left {
          flex-grow: 0;
          flex-shrink: 0;
          margin-right: 12px;

          .__evodesk-icon {
            transition: .15s;
            transform: rotate(0);
          }
        }

        .right {
          flex: 1;
          position: relative;

          span {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: 0.3px;
            text-align: left;
            color: #2e4ce6;
          }
        }
      }
    }
  }

  .c-navigation-float {
    position: absolute;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.4);
    animation: show 0.15s normal forwards ease-in-out;
    transform-origin: top;
    left: 0; right: 0;

    @keyframes show {
      0% {
        opacity: 0;
        transform: scaleY(0);
      }

      100% {
        opacity: 1;
        transform: scaleY(1);
      }
    }

    .c-nav {
      padding: 32px 0;

      .c-nav-item {
        padding: 11px 16px;
        border-left: 3px solid transparent;
        display: block;

        &.is-active {
          border-left-color: #2e4ce6;

          span {
            color: #000;
          }
        }

        span {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;
          letter-spacing: 0.3px;
          text-align: left;
          color: #2e4ce6;
        }
      }
    }
  }

  .c-menu {
    .c-menu-items {
      padding-bottom: 16px;

      .c-menu-item {
        padding: 12px 16px;
        border-left: 3px solid transparent;
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;
          letter-spacing: 0.3px;
          text-align: left;
          color: #2e4ce6;
          transition: .15s;
        }

        &:hover {
          span {
            color: #010307;
          }
        }

        &.is-active {
          border-left-color: #2e4ce6;

          span {
            color: #010307;
          }
        }
      }
    }
  }
}
