.c(*ngIf="!! state && state.ready", [ngClass]="containerCSSClasses")
  .c-box
    .c-box-entry.c-box-entry-menu((click)="toggle()")
      .center
        .left
          .__evodesk-icon.ic-news-menu-26x26px
        .right
          span.link {{ currentNav | translate }}
  .c-navigation-float(*ngIf="state.isOpened", (clickOutside)="close()", [delayClickOutsideInit]="true")
    .c-menu
      .c-menu-items
        a.c-menu-item([ngClass]="{ 'is-active': section === 'week' }", [routerLink]="['/leaders/week']", (click)="close()")
          span(translate) EvodeskLeaders.components.EvodeskLeaders.NavLeadersWeek
        a.c-menu-item([ngClass]="{ 'is-active': section === 'month' }", [routerLink]="['/leaders/month']", (click)="close()")
          span(translate) EvodeskLeaders.components.EvodeskLeaders.NavLeadersMonth
        a.c-menu-item([ngClass]="{ 'is-active': section === 'total' }", [routerLink]="['/leaders/total']", (click)="close()")
          span(translate) EvodeskLeaders.components.EvodeskLeaders.NavLeadersTotal
