.c {
  min-width: 294px;

  &.is-mat-menu {
    max-width: 294px;
  }

  .c-modal-header {
    border-bottom: 1px solid #EFF0F1;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 13px;

    .c-modal-title {
      span {
        font-weight: 500;
        line-height: 21px;
        font-size: 14px;
        color: #1D2639;
      }
    }

    .c-modal-close {
      .close-button {
        cursor: pointer;

        &:hover {
          svg {
            path {
              fill: #000;
            }
          }
        }
      }
    }
  }

  .c-search {
    padding: 13px 20px 8px 21px;
  }

  .c-actions {
    padding: 10px 20px 20px;

    .button {
      height: 44px;
    }
  }
}

.search-form {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-bottom: 8px;

  &.is-not-focused {
    border-bottom: 1px solid #EFF0F1;
  }

  &.is-focused {
    border-bottom: 1px solid #4A84FB;

    svg {
      path {
        fill: #4A84FB;
      }
    }
  }

  &:hover {
    border-bottom: 1px solid #4A84FB;

    svg {
      path {
        fill: #4A84FB;
      }
    }
  }

  .c-icon {
    flex: 0;
    margin-right: 10px;
  }

  .c-input {
    flex: 1;
    margin-right: 10px;

    input.input {
      font-style: normal;
      font-weight: normal;
      line-height: 21px;
      font-size: 14px;
      color: #1D2639;
      width: 100%;
      border: 0;
      cursor: pointer;

      &::placeholder {
        color: #BBBEC4;
      }

      &:hover::placeholder {
        color: #777D88;
      }
    }
  }

  .c-clear {
    flex: 0;
    cursor: pointer;
  }
}

.label {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px 10px 19px;
  cursor: pointer;

  &:hover {
    background-color: #FAFAFA;

    .label-check .icon {
      display: block;
    }
  }

  &.is-active {
    background-color: #f6f9ff;

    .label-check .icon {
      display: block;
    }

    &:hover {
      background-color: #edf3ff;
    }

    .label-check {
      svg {
        path {
          fill: #4A84FB;
        }
      }
    }
  }

  .label-check .icon {
    display: none;
  }

  .label-pin {
    flex: 0;
    margin-right: 10px;
    padding: 8px 0;

    .pin {
      width: 8px;
      height: 8px;
      overflow: hidden;
      border-radius: 100%;
    }
  }

  .label-name {
    padding-top: 3px;
    padding-bottom: 4px;
    flex: 1;

    span {
      font-size: 14px;
      color: #1D2639;
    }
  }

  .label-check, .label-edit, .label-delete {
    flex: 0;
    margin-right: 4px;
  }

  .edit-button, .delete-button {
    &:hover {
      svg {
        path {
          fill: #4A84FB;
        }
      }
    }
  }
}

.label-form {
  padding: 0 20px;
  margin-top: 10px;

  .lf-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .lf-pin {
      flex: 0;
      margin-right: 10px;

      .pin {
        width: 8px;
        height: 8px;
        overflow: hidden;
        border-radius: 100%;
      }
    }

    .lf-input {
      flex: 1;

      input.input {
        width: 100%;
        font-size: 14px;
        color: #1D2639;
        padding: 0;
        padding-bottom: 6px;
        border: none;
        border-bottom: 1px solid #4A84FB;
        caret-color: #4A84FB;
      }
    }
  }

  .lf-preset {
    width: calc(100% + 24px);

    .preset {
      display: inline-block;
      margin-right: 14px;
      cursor: pointer;
      position: relative;
      margin-bottom: 12px;

      .hover {
        display: none;
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: 3;
      }

      &:hover {
        .hover {
          display: block;
        }
      }

      .pin {
        width: 24px;
        height: 24px;
        overflow: hidden;
        border-radius: 100%;
      }

      .selected {
        position: absolute;
        left: 0; top: 0;
        z-index: 2;
      }
    }
  }

  .lf-actions {
    display: flex;
    margin: 9px 0 10px;

    .lf-action {
      margin-right: 8px;
      flex: 1;

      &:last-child {
        margin-right: 0;
      }

      .button {
        cursor: pointer;
        width: 100%; height: 40px;
        border-radius: 2px;
        text-align: center;
        overflow: hidden;

        span {
          font-size: 14px;
          line-height: 40px;
        }

        &.button-submit {
          background: #4A84FB;

          span {
            color: #fff;
          }
        }

        &.button-cancel {
          background: #F8F8F9;

          span {
            color: #BBBEC4;
          }
        }
      }
    }
  }
}

