.c(*ngIf="state.ready", [formGroup]="state.form", (click)="$event.stopImmediatePropagation()", [ngClass]="{ 'is-mat-menu': props.variant === 'mat-menu' }", (keydown.escape)="$event.stopPropagation()")
  .c-modal-header(*ngIf="shouldDisplayModalHeader")
    .c-modal-title
      span(translate) EvodeskDesk.components.common.EvodeskDeskLabel.ModalTitle
    .c-modal-close
      .close-button((click)="close()")
        svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M16.7071 8.70711C17.0976 8.31658 17.0976 7.68342 16.7071 7.29289C16.3166 6.90237 15.6834 6.90237 15.2929 7.29289L12 10.5858L8.70711 7.29289C8.31658 6.90237 7.68342 6.90237 7.29289 7.29289C6.90237 7.68342 6.90237 8.31658 7.29289 8.70711L10.5858 12L7.29289 15.2929C6.90237 15.6834 6.90237 16.3166 7.29289 16.7071C7.68342 17.0976 8.31658 17.0976 8.70711 16.7071L12 13.4142L15.2929 16.7071C15.6834 17.0976 16.3166 17.0976 16.7071 16.7071C17.0976 16.3166 17.0976 15.6834 16.7071 15.2929L13.4142 12L16.7071 8.70711Z', fill='#BBBEC4')
  .c-search
    .search-form([ngClass]="{ 'is-focused': state.isSearchFieldFocused, 'is-not-focused': ! state.isSearchFieldFocused }", [formGroup]="state.searchForm")
      .c-icon((click)="searchInput.focus()")
        svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M9 18C4.02944 18 0 13.9706 0 9C0 4.02944 4.02944 0 9 0C13.9706 0 18 4.02944 18 9C18 11.125 17.2635 13.078 16.0319 14.6177L19.7071 18.2929C20.0976 18.6834 20.0976 19.3166 19.7071 19.7071C19.3166 20.0976 18.6834 20.0976 18.2929 19.7071L14.6177 16.0319C13.078 17.2635 11.125 18 9 18ZM13.8564 14.0414C12.5977 15.2542 10.8859 16 9 16C5.13401 16 2 12.866 2 9C2 5.13401 5.13401 2 9 2C12.866 2 16 5.13401 16 9C16 10.8859 15.2542 12.5977 14.0414 13.8564C14.0072 13.8827 13.9742 13.9115 13.9429 13.9429C13.9115 13.9743 13.8827 14.0072 13.8564 14.0414Z', fill='#BBBEC4')
      .c-input((click)="searchInput.focus()")
        input.input(
          #searchInput, type="text", [formControlName]="'search'", placeholder="{{ 'EvodeskDesk.components.common.EvodeskDeskLabel.Search' | translate }}",
          (focus)="state.isSearchFieldFocused = true", (blur)="state.isSearchFieldFocused = false", (keyup.escape)="stopSearch()"
        )
      .c-clear(*ngIf="hasInput", (click)="clear()")
        .__evodesk-icon-v3.iv3-x-light-9x9px
  .c-labels
    .labels
      ng-container(*ngFor="let label of filteredLabels; trackBy: trackByLabelId")
        ng-container(*ngIf="state.editing !== label.id")
          .label([ngClass]="{ 'is-active': isActive(label) }", (click)="toggle(label)", *ngIf="isFiltered(label)")
            .label-pin
              .pin([ngStyle]="labelPinNgStyles(label)")
            .label-name(#labelName)
              span(*ngIf="!! label.name") {{ label.name }}
              span(*ngIf="isPresetColor(label)", translate) {{ presetColorName(label) }}
            .label-check
              .icon
                svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M18.7071 7.28575C19.0976 7.66675 19.0976 8.28447 18.7071 8.66547L10.4571 16.7143C10.0666 17.0953 9.43342 17.0953 9.04289 16.7143L5.29289 13.0557C4.90237 12.6747 4.90237 12.057 5.29289 11.676C5.68342 11.295 6.31658 11.295 6.70711 11.676L9.75 14.6447L17.2929 7.28575C17.6834 6.90475 18.3166 6.90475 18.7071 7.28575Z', fill='#BBBEC4')
            .label-edit
              .edit-button((click)="edit(label)")
                svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M14.404 4.29289C14.7945 3.90237 15.4277 3.90237 15.8182 4.29289L19.7071 8.18178C20.0976 8.57231 20.0976 9.20547 19.7071 9.596L9.596 19.7071C9.40846 19.8946 9.15411 20 8.88889 20H5C4.44772 20 4 19.5523 4 19V15.1111C4 14.8459 4.10536 14.5915 4.29289 14.404L14.404 4.29289ZM6 15.5253V18H8.47468L17.5858 8.88889L15.1111 6.41421L6 15.5253Z', fill='#BBBEC4')
            .label-delete((click)="delete(label, labelName.textContent)")
              .delete-button
                svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M10.2612 6.12426C10.3401 6.04695 10.4513 6 10.5714 6H13.4286C13.5487 6 13.6599 6.04695 13.7388 6.12426C13.817 6.20091 13.8571 6.30051 13.8571 6.4V7H10.1429V6.4C10.1429 6.30051 10.183 6.20091 10.2612 6.12426ZM8.14286 7V6.4C8.14286 5.75689 8.40374 5.1443 8.86135 4.69584C9.31827 4.24805 9.93378 4 10.5714 4H13.4286C14.0662 4 14.6817 4.24805 15.1387 4.69584C15.5963 5.1443 15.8571 5.75689 15.8571 6.4V7H19C19.5523 7 20 7.44772 20 8C20 8.55228 19.5523 9 19 9H18V17.6C18 18.2431 17.7391 18.8557 17.2815 19.3042C16.8246 19.7519 16.2091 20 15.5714 20H8.42857C7.79092 20 7.17542 19.7519 6.71849 19.3042C6.26088 18.8557 6 18.2431 6 17.6V9H5C4.44772 9 4 8.55228 4 8C4 7.44772 4.44772 7 5 7H8.14286ZM8 9V17.6C8 17.6995 8.04014 17.7991 8.11835 17.8757C8.19724 17.9531 8.30846 18 8.42857 18H15.5714C15.6915 18 15.8028 17.9531 15.8817 17.8757C15.9599 17.7991 16 17.6995 16 17.6V9H8Z', fill='#BBBEC4')
        ng-container(*ngIf="state.editing === label.id")
          .label-form([formGroup]="state.form")
            .lf-title
              .lf-pin
                .pin([ngStyle]="selectedColorPinNgStyle")
              .lf-input
                input.input(#formNameInput, type="text", [formControlName]="'name'", placeholder="{{ 'EvodeskDesk.components.common.EvodeskDeskLabel.TitlePlaceholder' | translate }}")
            .lf-preset
              .preset(*ngFor="let p of preset; trackBy: trackByPresetColor", (click)="setColor(p.color); formNameInput.focus();")
                .pin([ngStyle]="presetPinNgStyle(p)")
                .hover
                .selected(*ngIf="isColorSelected(p.color)")
                  .__evodesk-icon-v3.iv3-desk-card-label-palette-selected-24x24px
            .lf-actions
              .lf-action
                .button.button-cancel((click)="cancel()")
                  span(translate) EvodeskDesk.components.common.EvodeskDeskLabel.Cancel
              .lf-action
                .button.button-submit((click)="submit()")
                  span(translate, *ngIf="state.add") EvodeskDesk.components.common.EvodeskDeskLabel.Create
                  span(translate, *ngIf="! state.add") EvodeskDesk.components.common.EvodeskDeskLabel.Save
  .c-actions(*ngIf="! state.add")
    .button.button-add.__evodesk-v3-button-blue((click)="add()")
      span(translate) EvodeskDesk.components.common.EvodeskDeskLabel.Add
