.c {
  .c-entries {
    .c-entry {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .c-entries-load-more {
    text-align: center;
    padding: 24px 16px;
    cursor: pointer;

    &:hover {
      span {
        color: #2e4ce6;
      }
    }

    span {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.83;
      letter-spacing: 0.2px;
      text-align: left;
      color: #999;
      text-transform: uppercase;
    }
  }

  .c-entries-loading-more-indicator {
    padding: 24px 16px;

    .__evodesk-app-circle-loader {
      width: 16px;
      height: 16px;
      margin: 0 auto;
    }
  }
}

.c {
  &.__context-news-notifications {
    .c-entries {
      .c-entry {
        padding: 16px 0;
        border-bottom: 1px solid #d0d6f5;
        margin-bottom: 0;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
