@import "~sass-mq";
@import "../../styles/variables";

@mixin defaultMenuBar {
  background-color: $defaultMenuBackground;
  height: $defaultMenuHeight;
  color: $defaultTextColor;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition: 0.2s;

  &.is-minified {
    height: $defaultMenuMinifiedHeight;
    overflow: hidden;

    .c-layout {
      opacity: 0;
    }
  }
}

.c {
  &.use-absolute-positions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .c-variant {
    &.c-variant-common {
      &.is-mobile-opened {
        .c-sub-menu-header {
          visibility: hidden;
        }
      }

      &.is-search-form-opened {
        .c-layout {
          .c-layout-search {
            flex-grow: 1;
          }

          .c-layout-main-menu, .c-layout-currencies, .c-layout-profile, .c-layout-notifications {
            display: none;
          }
        }
      }

      .c-menu-bar {
        z-index: 2;
        @include defaultMenuBar;

        &.is-mobile-opened {
          position: fixed;
          left: 0;
          right: 0;
          height: 100%;
          background: #000;
          display: flex;
          flex-direction: column;
          transition: none;

          .c-layout-mobile {
            display: flex;
            flex: 1;
            border-top: 1px solid #BBBEC4;
            width: 100%;
          }
        }
      }

      .c-sub-menu-header {
        z-index: 1;
      }

      .c-layout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $defaultMenuHeight;
        transition: 1s;

        &.c-layout-mobile {
          display: none;
          flex-direction: column;
          justify-content: space-between;
          padding: 40px 28px;
          transition: none;
          overflow: hidden;

          .c-layout-mobile-menu {
            width: 100%;
            margin-bottom: 40px;
          }

          .c-layout-mobile-copyrights {
            width: 100%;

            span {
              font-family: Roboto, sans-serif;
              font-size: 18px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.67;
              letter-spacing: 0.4px;
              text-align: left;
              color: rgba(255, 255, 255, 0.6);
            }
          }
        }

        .c-layout-mobile-trigger {
          height: 100%;
          padding-left: 20px;
          padding-right: 10px;
        }

        .c-layout-logo {
          flex-grow: 0;
          flex-shrink: 0;
          border-right: 1px solid #BBBEC4;
          height: 100%;

          ::ng-deep {
            @include mq($from: 900px) {
              .c {
                width: auto;
                padding: 0 30px;
              }
            }
          }
        }

        .c-layout-search {
          flex: 0;
          height: 100%;
        }

        .c-layout-main-menu {
          flex: 2;
          height: 100%;
          border-right: 1px solid #BBBEC4;

          .c-layout-main-menu-max {
            height: 100%;
          }
        }

        .c-layout-currencies {
          flex: 0;
          height: 100%;
          border-right: 1px solid #BBBEC4;
        }

        .c-layout-profile {
          flex: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          >div {
            height: 100%;
          }
        }

        .c-layout-notifications {
          flex: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          >div {
            height: 100%;
          }
        }
      }

      @include mq($until: 374px) {
        .c-layout {
          .c-layout-mobile-trigger {
            flex: 1;
            border-right: 1px solid #BBBEC4;
            height: 100%;
          }

          .c-layout-logo {
            display: none;
          }

          .c-layout-main-menu {
            display: none;
          }

          .c-layout-currencies {
            display: none;
          }

          .c-layout-search {
            display: none;
          }

          .c-layout-profile {
            .c-widget {
              padding-left: 33px;
            }

            .tablet-and-desktop { display: none }
          }
        }
      }

      @include mq($from: 375px, $until: 799px) {
        .c-layout {
          .c-layout-logo {
            padding-left: 20px;
            padding-right: 20px;
            flex: 1;
            flex-shrink: 0;
            overflow: hidden;
          }

          .c-layout-main-menu {
            display: none;
          }

          .c-layout-currencies {
            display: none;
          }

          .c-layout-search {
            display: none;
          }

          .c-layout-profile {
            flex: 0;

            .c-widget {
              padding-left: 33px;
            }

            .tablet-and-desktop { display: none }
          }
        }
      }

      @include mq($from: 800px, $until: 1199px) {
        .c-layout {
          .c-layout-logo {
            padding-left: 20px;
            padding-right: 20px;
            overflow: hidden;
          }

          .c-layout-main-menu {
            display: none;
          }

          .c-layout-currencies {
            flex: 1;
            flex-shrink: 0;
          }

          .c-layout-profile {
            .mobile { display: none }
          }
        }
      }

      @include mq($from: 1200px) {
        .c-layout {
          .c-layout-logo {
            overflow: hidden;
          }

          .c-layout-mobile-trigger {
            display: none;
          }

          .c-layout-profile {
            .mobile { display: none }
          }
        }
      }
    }

    &.c-variant-landing {
      &.landing-no-background {
        .c-menu-bar {
          background: transparent linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
          height: 100px;

          .c-layout-logo {
            display: none;
          }
        }
      }

      .c-menu-bar {
        z-index: 1;
        @include defaultMenuBar;

        &.is-mobile-opened {
          position: fixed;
          left: 0;
          right: 0;
          height: 100%;
          background: #000;
          transition: none;
        }

        .c-layout {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: $defaultMenuHeight;
          transition: 1s;

          &.c-layout-desktop {
            .c-layout-logo {
              flex-grow: 0;
              height: 100%;
              cursor: pointer;

              ::ng-deep {
                .c {
                  width: auto;
                  padding-left: 56px;
                  padding-right: 30px;
                }
              }
            }

            .c-layout-main-menu {
              flex: 1;
              height: 100%;

              .c-layout-main-menu-max {
                flex: 0;
                height: 100%;
              }
            }

            .c-layout-languages {
              padding-left: 20px;
              padding-right: 40px;
            }
          }

          &.c-layout-mobile {
            padding: 0 32px;
            height: 100%;
            overflow: hidden;

            @keyframes showMobileContent {
              from {
                opacity: 0;
              }

              to {
                opacity: 1;
              }
            }

            &.c-layout-mobile {
              display: flex;
              flex-direction: column;
              padding: 0 32px;
              overflow: hidden;

              .c-layout-mobile-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                flex-grow: 0;
                flex-shrink: 0;
                height: 64px;

                .c-logo {
                  ::ng-deep {
                    a {
                      width: auto;
                    }
                  }
                }
              }

              .c-layout-mobile-contents {
                flex: 1;
                width: 100%;
                animation: showMobileContent 0.15s normal forwards ease-in-out;
                overflow: hidden;

                >.menu {
                  margin-bottom: 40px;
                }

                >.languages {
                  margin-bottom: 40px;
                }

                >.social-networks {
                  margin-bottom: 40px;
                }
              }
            }
          }

          @include mq($until: 810px) {
            &.c-layout-desktop { display: none!important; }
          }

          @include mq($from: 811px) {
            &.c-layout-mobile { display: none!important; }
          }
        }
      }

      @include mq($from: 1441px) {
        &.landing-no-background {
          .c-layout-logo {
            display: none;
          }
        }
      }
    }
  }
}
