.c(*ngIf="!!props && props.variant !== 'none'", [ngClass]="{ 'use-absolute-positions': props.useAbsolutePositions }")
  ng-container(*ngIf="props.variant === 'common'")
    .c-variant.c-variant-common([ngClass]="{ 'is-search-form-opened': props.isSearchFormOpened, 'is-mobile-opened': props.isMobileOpened }")
      .c-menu-bar([ngClass]="{ 'is-mobile-opened': props.isMobileOpened }", (click)="onMenuBarClick()", (mouseover)="onMenuBarMouseOver()")
        .c-layout.c-layout-desktop
          .c-layout-mobile-trigger
            evodesk-header-common-open-mobile-container((click)="setMobileMenuVariant('default')")
          a.c-layout-logo([routerLink]="['/']")
            evodesk-header-common-logo
          .c-layout-search
            evodesk-header-common-search-container
          .c-layout-main-menu
            .c-layout-main-menu-max
              evodesk-header-common-menu-container
          .c-layout-currencies
            evodesk-header-common-user-balance-container
          .c-layout-notifications
            evodesk-header-common-notifications-container
          .c-layout-profile
            .mobile
              evodesk-header-common-profile-menu-container([disableContextMenu]="true", (click)="setMobileMenuVariant('user'); openMobileMenu();")
            .tablet-and-desktop
              evodesk-header-common-profile-menu-container
        .c-layout.c-layout-mobile(*ngIf="state.variant === 'default'", [ngClass]="{ 'is-mobile-opened': props.isMobileOpened }", evodeskMouseWheelScroll, evodeskTouchScroll="y", evodeskKeyboardScroll)
          .c-layout-mobile-menu
            evodesk-header-mobile-menu-container((menuItemClick)="closeMobileMenu()")
          .c-layout-mobile-copyrights
            span {{ 'EvodeskHeader.components.desktop.EvodeskHeader.Copyrights' | translate }}
        .c-layout.c-layout-mobile(*ngIf="state.variant === 'user'", [ngClass]="{ 'is-mobile-opened': props.isMobileOpened }", evodeskMouseWheelScroll, evodeskTouchScroll="y", evodeskKeyboardScroll)
          .c-layout-mobile-menu
            evodesk-header-mobile-profile-menu-container
          .c-layout-mobile-copyrights
            span {{ 'EvodeskHeader.components.desktop.EvodeskHeader.Copyrights' | translate }}
      .c-sub-menu-header
        evodesk-header-common-sub-menu-container
  ng-container(*ngIf="props.variant === 'landing' || props.variant === 'landing-no-bg'")
    .c-variant.c-variant-landing([ngClass]="{ 'landing-no-background': props.variant === 'landing-no-bg', 'landing-with-bg': props.variant === 'landing', 'is-mobile-opened': props.isMobileOpened }")
      .c-backdrop
      .c-menu-bar.c-menu-bar-desktop([ngClass]="{ 'is-mobile-opened': props.isMobileOpened  }", (click)="onMenuBarClick()", (mouseover)="onMenuBarMouseOver()")
        .c-layout.c-layout-desktop
          a.c-layout-logo([routerLink]="['/']")
            evodesk-header-common-logo
          .c-layout-main-menu
            .c-layout-main-menu-max
              evodesk-header-common-menu-container
          .c-layout-languages
            evodesk-header-common-languages-container
        .c-layout.c-layout-mobile([ngClass]="{ 'is-mobile-opened': props.isMobileOpened }")
          .c-layout-mobile-header
            .c-mobile-menu-trigger
              evodesk-header-common-open-mobile-container
            .c-logo
              evodesk-header-common-logo
          .c-layout-mobile-contents(*ngIf="props.isMobileOpened", evodeskMouseWheelScroll, evodeskTouchScroll="y", evodeskKeyboardScroll)
            .menu
              evodesk-header-mobile-menu-container((menuItemClick)="closeMobileMenu()")
            .languages
              evodesk-header-mobile-languages-container
            .social-networks
              evodesk-header-mobile-social-networks
