.c
  .c-no-orders(*ngIf="! props.loading && props.orders.length === 0")
    span(translate) EvodeskShop.components.EvodeskShopOrdersFeed.NoOrders
  .c-orders(*ngIf="props.loading || props.orders.length > 0")
    .orders
      ng-container(*ngFor="let o of props.orders")
        a.order([routerLink]="productUrl(o.service)")
          .prevent-defaults((click)="preventDefault($event)")
            evodesk-shop-order-card-container([order]="o", (open)="open($event)")
  .c-loading(*ngIf="props.loading")
    .__evodesk-app-circle-loader
  .c-load-more((click)="loadMore()", *ngIf="! props.loading && props.canLoadMore")
    span(translate) EvodeskShop.components.EvodeskShopOrdersFeed.LoadMore
