ng-container(*ngIf="!!state && state.ready")
  form.c.__evodesk-user-settings-common([formGroup]="props.form", novalidate)
    .c-fields
      .c-field.c-field-last-name
        .c-field-title
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCommon.Common.Fields.Avatar' | translate }}
        .c-field-contents
          evodesk-user-settings-avatar-container
      .c-field.c-field-phone
        .c-field-title
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCommon.Common.Fields.Phone' | translate }}
        .c-field-contents
          .phone-code
            .__evodesk-input-box-v2
              select([formControlName]="'phoneCode'")
                option(*ngFor="let c of state.phoneCodeOptions", [value]="c.dial_code")
                  span {{ c.dial_code }} ({{ c.code }})
          .phone
            input.__evodesk-input-box-v2(type="text", [formControlName]="'phone'", [textMask]="state.phoneMask", placeholder="(___) ____-____")
      .c-field.c-field-last-name
        .c-field-title
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCommon.Common.Fields.LastName' | translate }}
        .c-field-contents
          input.input-mw.__evodesk-input-box-v2(type="text", [formControlName]="'lastName'")
      .c-field.c-field-first-name
        .c-field-title
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCommon.Common.Fields.FirstName' | translate }}
        .c-field-contents
          input.input-mw.__evodesk-input-box-v2(type="text", [formControlName]="'firstName'")
      .c-field.c-field-middle-name
        .c-field-title
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCommon.Common.Fields.MiddleName' | translate }}
        .c-field-contents
          input.input-mw.__evodesk-input-box-v2(type="text", [formControlName]="'middleName'")
      .c-field.c-field-birthday
        .c-field-title
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCommon.Common.Fields.Birthday' | translate }}
        .c-field-contents
          input.input-mw.__evodesk-input-box-v2(type="text", [formControlName]="'birthday'", matInput, readonly, [matDatepicker]="birthdayDatePicker", [matDatepickerFilter]="birthdayFilter", (focus)='birthdayDatePicker.open()')
          mat-datepicker-toggle(matSuffix, [for]="birthdayDatePicker")
          mat-datepicker(#birthdayDatePicker)
      .c-field.c-field-address
        .c-field-title
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCommon.Common.Fields.Address' | translate }}
        .c-field-contents
          input.input-mw.__evodesk-input-box-v2(type="text", [formControlName]="'address'")
      .c-field.c-field-address
        .c-field-title
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCommon.Common.Fields.Industry' | translate }}
        .c-field-contents
          .__evodesk-input-box-v2.select-mw
            select([formControlName]="'industry'")
              option(*ngFor="let a of props.availableIndustries", [value]="a.title")
                span {{ a.title }}
      .c-field.c-field-status
        .c-field-title
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCommon.Common.Fields.Status' | translate }}
        .c-field-contents
          input.input-mw.__evodesk-input-box-v2(type="text", [formControlName]="'status'")
