.__evodesk-select-box-label {
  margin-top: 30px;
  margin-bottom: 14px;
  font-size: 14px;
  color: #666;
  line-height: 20px;
  font-family: "Helvetica Neue", sans-serif;
}

.__evodesk-select-box {
  background-image: url(/assets/images/components/evodesk-select-box/15xvbd5.png), -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  outline: 0!important;

  option {
    color: #555;
    font-size: inherit;
  }
}
