mat-dialog-content
  .c
    .c-title
      .c-title-left
        span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsAvatarModal.Title' | translate }}
      .c-title-right
        .close((click)="cancel()")
          .__evodesk-icon.ic-close-modal-13x13px.with-hover
    .c-image
      .image
        img(#image, [src]="state.trustedImageUrl")
    .c-preview
      .avatar
        .image(#preview)
      .info
        .name
          span {{ props.profileName }}
        .status
          span {{ props.profileStatus }}
mat-dialog-actions
  .c
    .c-actions
      .c-action
        button.cancel(type="button", mat-button, (click)="cancel()", tabindex="-1")
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsAvatarModal.Cancel' | translate }}
      .c-action
        button.submit(type="button", mat-button, (click)="submit()", tabindex="-1")
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsAvatarModal.Submit' | translate }}
