@import "~sass-mq";

@include mq($until: 700px) {
  .c-actions {
    .c-action {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }

      button {
        width: 100%;
      }
    }
  }
}

@include mq($from: 701px) {
  .c-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .c-image {
    .image {
      display: flex;
      justify-content: center;
    }
  }
}

.c {
  display: flex;
  flex-direction: column;
  width: 100%;

  .c-title {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d0d6f5;
    padding: 8px 16px;

    .c-title-left {
      flex: 1;
      margin-right: 16px;

      span {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.4px;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
      }
    }

    .c-title-right {
      flex-shrink: 0;
      flex-grow: 0;

      .close {
        cursor: pointer;
      }
    }
  }

  .c-image {
    width: 100%;
    max-width:100%;

    .image {
      max-height: 40vh;
      width: 100%;
      max-width:100%;

      img {
        max-width:100%;
        max-height:100%;
        height: auto;
        width:auto;
      }
    }
  }

  .c-preview {
    padding: 24px;
    display: flex;
    align-items: center;

    .avatar {
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: 16px;

      .image {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .info {
      flex: 1;

      .name {
        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;
          word-break: break-all;
        }
      }

      .status {
        span {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.83;
          letter-spacing: 0.2px;
          text-align: left;
          color: #aaacb4;
          word-break: break-all;
        }
      }
    }
  }

  .c-actions {
    border-top: 1px solid #d0d6f5;
    padding: 8px 16px;
    text-align: right;
    width: 100%;

    button.cancel {
      border-radius: 3px;
      background-color: #f0f0f0;

      span {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.3px;
        text-align: left;
        color: #999;
      }
    }

    button.submit {
      border-radius: 3px;
      background-color: #2e4ce6;

      &:disabled {
        background-color: #f0f0f0;

        span {
          color: #999;
        }
      }

      span {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.3px;
        text-align: left;
        color: #ffffff;
      }
    }
  }
}
