.__evodesk-dashboard-card {
  box-sizing: content-box;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 14px 1px rgba(29, 76, 42, .08);
  margin-bottom: 30px;
}

.__evodesk-dashboard-card--full-height {
  height: 100%;
}
