.c {
  position: relative;

  .c-preview {
    border-radius: 3px;
    overflow: hidden;

    .c-preview-hover-play {
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      cursor: pointer;

      .__evodesk-icon {
        opacity: 0.8;
        transition: .15s;
      }

      &:hover {
        .__evodesk-icon {
          opacity: 1;
        }
      }
    }

    .c-preview {
      z-index: 1;

      img {
        width: 100%;
      }
    }
  }

  .c-play {
    border-radius: 3px;
    overflow: hidden;
  }

  .c-controls {
    position: absolute;
    right: 8px; top: 8px;
    z-index: 3;

    .remove {
      cursor: pointer;
      width: 32px; height: 32px;
    }
  }
}
