.c
  .c-preview(*ngIf="!!state && state.viewMode === 'preview'")
    .c-preview-hover-play((click)="enablePlayMode()")
      .__evodesk-icon.ic-video-81x81px
    .c-preview
      evodesk-app-common-ratio-box([aspectW]="16", [aspectH]="9")
        img([src]="state.preview")
  .c-play(*ngIf="!!state && state.viewMode === 'play'")
    evodesk-app-common-ratio-box([aspectW]="16", [aspectH]="9")
      iframe(width="100%", height="100%", [src]="state.trustedUrl", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen="")
  .c-controls(*ngIf="controls")
    .remove((click)="remove($event)")
      .__evodesk-icon.ic-delete-photos-32x32px
