.c {
  .c-links {
    .links {
      .link {
        padding: 16px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        display: block;
        text-decoration: none;

        span {
          font-family: Roboto, sans-serif;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.67;
          letter-spacing: 0.4px;
          text-align: left;
          color: #ffffff;
        }
      }
    }
  }
}