.c
  .c-links
    .links
      ng-container(*ngFor="let item of menuItems")
        ng-container(*ngIf="item.link === undefined")
          .link((click)="itemClick(item)")
            .link-title
              span(*ngIf="item.title.shouldTranslate") {{ item.title.text | translate }}
              span(*ngIf="! item.title.shouldTranslate") {{ item.title.text }}
        ng-container(*ngIf="item.link && item.link.type === 'routerLink'")
          a.link([routerLink]="item.link.routerLink", (click)="itemClick(item)")
            .link-title
              span(*ngIf="item.title.shouldTranslate") {{ item.title.text | translate }}
              span(*ngIf="! item.title.shouldTranslate") {{ item.title.text }}
