.__evodesk-header-mobile-menu {
  .__evodesk-header-mobile-menu-item {
    white-space: nowrap;
    word-break: keep-all;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.91;
    padding: 16px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    display: block;

    >span {
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: 0.4px;
      text-align: left;
      color: #ffffff;
      transition: .15s;
    }
  }
}
