.c
  .c-title
    .c-title-left
      span {{ 'EvodeskProfile.components.EvodeskProfileFollowers.Title' | translate }}
    .c-title-right
      .close((click)="close()")
        .__evodesk-icon.ic-close-modal-13x13px.with-hover
  form.c-search([formGroup]="state.searchForm", novalidate, *ngIf="hasFollowers")
    .search-box((click)="onSearchBoxClick()", [ngClass]="{ 'is-active': state.isSearchBoxActive }")
      .search-box-icon
        .__evodesk-icon.ic-search-blue-18px
      .search-box-input
        input(#searchInput, [formControlName]="'query'", type="text", (focus)="onSearchBoxFocus()", (blur)="onSearchBoxBlur()", placeholder="{{ 'EvodeskProfile.components.EvodeskProfileFollowers.SearchPlaceholder' | translate }}")
  .c-contents
    ng-container(*ngIf="hasNoSearchResults")
      .message
        span {{ 'EvodeskProfile.components.EvodeskProfileFollowers.NoSearchResults' | translate }}
    ng-container(*ngIf="hasNoFollowers")
      .message
        span {{ 'EvodeskProfile.components.EvodeskProfileFollowers.HasNoFollowers' | translate }}
    ng-container(*ngIf="hasSearchResults || noSearchAndHasFollowers")
      .c-contents-followers(#followersContainer, evodeskTouchScroll="y", evodeskMouseWheelScroll, evodeskKeyboardScroll)
        .followers-list
          ng-container(*ngFor="let follower of followers")
            .follower
              .follower-avatar
                evodesk-profile-avatar([profileId]="follower.id", [size]="52")
              .follower-info
                .follower-name
                  span {{ getFollowerName(follower) }}
                .follower-status
                  span {{ follower.position || '' }}
              .follower-options
                .trigger([matMenuTriggerFor]="contextMenu")
                  .__evodesk-icon.ic-dots-menu-4x20px.with-hover
                mat-menu(#contextMenu, yPosition="below", xPosition="before", class="__evodesk-material-context-menu")
                  button(type="button", mat-menu-item, (click)="openProfile(follower)")
                    span {{ 'EvodeskProfile.components.EvodeskProfileFollowers.OpenProfile' | translate }}
                  button(type="button", mat-menu-item, (click)="remove(follower)", *ngIf="props.canRemove")
                    span {{ 'EvodeskProfile.components.EvodeskProfileFollowers.Remove' | translate }}
      .c-contents-scroll
        evodesk-app-common-scroll-bar([elementRef]="followersContainer", [scrollBarDirection]="'y'", [theme]="'blue'")
