.c {
  display: flex;
  flex-direction: column;

  .c-title {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d0d6f5;
    margin-bottom: 20px;
    padding: 8px 16px;

    .c-title-left {
      flex: 1;
      margin-right: 16px;

      span {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.4px;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
      }
    }

    .c-title-right {
      flex-shrink: 0;
      flex-grow: 0;

      .close {
        cursor: pointer;
      }
    }
  }

  .c-search {
    margin-bottom: 24px;
    padding-left: 16px;
    padding-right: 40px;

    .search-box {
      display: flex;
      align-items: center;
      border-radius: 4px;
      background-color: #f6f7fd;
      padding-right: 24px;
      border: 1px solid transparent;
      height: 40px;

      &.is-active {
        background-color: #f6f7fd;
        border-color: #2e4ce6;
      }

      .search-box-icon {
        padding: 0 11px;
        flex-shrink: 0;
        flex-grow: 0;
      }

      .search-box-input {
        flex: 1;

        input {
          border: 0;
          padding: 0; margin: 0;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          height: 22px;
          line-height: 22px;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;
          width: 100%;
          background-color: transparent;
        }

        input::placeholder {
          color: #aaacb4;
        }
      }
    }
  }

  .c-contents {
    display: flex;
    max-height: 400px;

    .message {
      padding: 16px 24px 35px;
      margin: 0 auto;

      span {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: 0.2px;
        text-align: center;
        color: #aaacb4;
        text-transform: uppercase;
      }
    }

    .c-contents-followers {
      flex: 1;
      padding-right: 40px;
      overflow: hidden;

      .followers-list {
        .follower {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #d0d6f5;
          margin-bottom: 16px;
          padding-bottom: 8px;

          .follower-avatar {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 8px;
            margin-left: 16px;
          }

          .follower-info {
            flex: 1;
            margin-right: 16px;

            .follower-name {
              span {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.57;
                letter-spacing: 0.3px;
                text-align: left;
                color: #010307;
              }
            }

            .follower-status {
              span {
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.83;
                letter-spacing: 0.2px;
                text-align: left;
                color: #aaacb4;
              }
            }
          }

          .follower-options {
            flex-shrink: 0;
            flex-grow: 0;

            .trigger {
              .__evodesk-icon {
                padding: 0 16px;
                cursor: pointer;
                background-size: auto;
                background-position: center;
              }
            }
          }
        }
      }
    }

    .c-contents-scroll {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 4px;
    }
  }
}
