.c {
  min-width: 320px;

  .c-modal-header {
    border-bottom: 1px solid #EFF0F1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 13px;

    .c-modal-title {
      span {
        font-weight: 500;
        line-height: 21px;
        font-size: 14px;
        color: #1D2639;
        position: relative;
        top: 1px;
        left: -2px;
      }
    }

    .c-modal-close {
      .close-button {
        cursor: pointer;
        position: relative;
        left: 2px;
        top: 1px;

        .hovered { display: none; }
        .not-hovered { display: block; }

        &:hover {
          .hovered { display: block; }
          .not-hovered { display: none; }
        }
      }
    }
  }

  .c-search {
    padding: 13px 20px 8px 21px;
  }

  .c-list {
    .c-list-item {
      padding: 10px 20px;
      cursor: pointer;
      display: flex;

      &:hover {
        background-color: #FAFAFA;
      }

      &.is-active {
        background-color: #f6f9ff;

        &:hover {
          background-color: #edf3ff;
        }
      }

      .ci-avatar {
        flex: 0;
        margin-right: 10px;
      }

      .ci-names {
        flex: 1;
        padding-top: 1px;

        span {
          font-size: 13px;
          color: #1D2E48;
        }
      }

      .ci-edit, .ci-delete, .ci-check {
        flex: 0;
      }

      .edit-button, .delete-button {
        &:hover {
          svg path {
            fill: #4A84FB;
          }
        }
      }

      .ci-check {
        .icon-container {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .c-add-project {
    padding: 20px;

    button {
      width: 100%;
    }
  }
}

.search-form {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-bottom: 8px;

  &.is-not-focused {
    border-bottom: 1px solid #EFF0F1;

    .focused { display: none; }
    .not-focused { display: block; }
  }

  &.is-focused {
    border-bottom: 1px solid #4A84FB;

    .focused { display: block; }
    .not-focused { display: none; }
  }

  &:hover {
    border-bottom: 1px solid #4A84FB;

    .not-hovered {
      display: none;
    }

    .hovered {
      display: block;
    }
  }

  .c-icon {
    flex: 0;
    margin-right: 10px;
  }

  .c-input {
    flex: 1;
    margin-right: 10px;

    input.input {
      font-style: normal;
      font-weight: normal;
      line-height: 21px;
      font-size: 14px;
      color: #1D2639;
      width: 100%;
      border: 0;
      cursor: pointer;

      &::placeholder {
        color: #BBBEC4;
      }

      &:hover::placeholder {
        color: #777D88;
      }
    }
  }

  .c-clear {
    flex: 0;
    cursor: pointer;
  }
}
