@import "~sass-mq";

::ng-deep {
  .__evodesk-landing-inside-select {
    .mat-select-trigger {
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.5);
      border: solid 1px #dddddd;
      padding: 20px 16px 17px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      text-align: left;
      color: #010307;

      &:active, &:focus {
        border-color: #2e4ce6;
      }
    }
  }
}

.c {
  .c-padding {
    padding-left: 32px;
  }

  .c-title {
    margin-bottom: 17px;

    span {
      font-size: 36px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.7px;
      text-align: left;
      color: #010307;
    }
  }

  .c-sub-title {
    padding-left: 24px;
    border-left: 4px solid #2e4ce6;
    margin-bottom: 48px;

    span {
      font-family: Roboto, sans-serif;
      font-size: 27px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.41;
      letter-spacing: 0.5px;
      text-align: left;
      color: #000000;
    }
  }

  .c-video-1, .c-video-2 {
    margin-bottom: 48px;
  }

  .c-form {
    min-height: 100px;
    border-radius: 8px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 48px;

    .padding {
      padding: 32px;
    }

    .c-intro{
      margin-bottom: 32px;

      span {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.3px;
        text-align: left;
        color: #000;
      }
    }

    .c-fields {
      margin-bottom: 26px;

      .c-field {
        margin-bottom: 24px;

        input[type="text"] {
          width: 100%;
          border-radius: 3px;
          background-color: rgba(255, 255, 255, 0.5);
          border: solid 1px #dddddd;
          padding: 20px 16px 17px;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;

          &:focus {
            border-color: #2e4ce6;
          }
        }

        input[type="text"]::placeholder {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.3px;
          text-align: left;
          color: #999999;
        }
      }
    }

    .c-submit {
      button[type="submit"] {
        border-radius: 3px;
        background-image: linear-gradient(100deg, #6a3bb2, #42c6dc);
        padding: 10px 70px;

        span {
          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          text-align: left;
          color: #ffffff;
        }
      }
    }
  }
}

@include mq($from: 801px) {
  .c {
    >.c-desktop {
      display: block;
    }

    >.c-mobile {
      display: none;
    }
  }
}

@include mq($until: 800px) {
  .c {
    >.c-desktop {
      display: none;
    }

    >.c-mobile {
      display: block
    }

    .c-submit {
      button[type="submit"] {
        width: 100%;
      }
    }
  }
}

@include mq($until: 800px) {
  .c {
    padding-top: 10px;
    padding-bottom: 20px;

    .c-padding {
      padding-left: 8px;
    }

    .c-title {
      span {
        font-family: Roboto, sans-serif;
        font-size: 26px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: 0.5px;
        text-align: left;
        color: #010307;
      }
    }

    .c-sub-title {
      padding-left: 16px;

      span {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: 0.4px;
        text-align: left;
        color: #000000;
      }
    }
  }
}
