.c
  .c-desktop
    evodesk-landing-auth-panel
      ng-container(*ngTemplateOutlet="contents")
  .c-mobile
    evodesk-landing-auth-panel-mobile
      ng-container(*ngTemplateOutlet="contents")

ng-template(#contents)
  .c
    .c-padding
      .c-title
        span {{ 'EvodeskLanding.components.LandingInside.Title' | translate }}
      .c-video-1
        .c-sub-title.c-video-1-title
          span {{ 'EvodeskLanding.components.LandingInside.Video1.Title' | translate }}
        .c-video
          evodesk-app-common-ratio-box([aspectW]="16", [aspectH]="9")
            iframe(width="100%", height="100%", src="https://www.youtube.com/embed/VUQy04c9LyY", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen="")
      .c-video-2
        .c-sub-title.c-video-2-title
          span {{ 'EvodeskLanding.components.LandingInside.Video2.Title' | translate }}
        .c-video
          evodesk-app-common-ratio-box([aspectW]="16", [aspectH]="9")
            iframe(width="100%", height="100%", src="https://www.youtube.com/embed/VUQy04c9LyY", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen="")
      .c-form-block
        .c-sub-title.c-sub-title-form
          span {{ 'EvodeskLanding.components.LandingInside.Form.Title' | translate }}
        form.c-form([formGroup]="props.form", novalidate, (ngSubmit)="ngSubmit()")
          .padding
            .c-intro
              span {{ 'EvodeskLanding.components.LandingInside.Form.Intro' | translate }}
            .c-fields
              .c-fields.c-fields-sum
                mat-select.__evodesk-landing-inside-select([formControlName]="'money'")
                  mat-option(*ngFor="let option of sumOptions", [value]="option")
                    span {{ option | translate }}
              .c-field.c-field-name
                input(type="text", placeholder="{{ 'EvodeskLanding.components.LandingInside.Form.Name' | translate }}", [formControlName]="'name'")
              .c-field.c-field-phone
                input(type="text", placeholder="{{ 'EvodeskLanding.components.LandingInside.Form.Phone' | translate }}", [formControlName]="'phone'")
              .c-field.c-field-email
                input(type="text", placeholder="{{ 'EvodeskLanding.components.LandingInside.Form.Email' | translate }}", [formControlName]="'email'")
            .c-submit
              button(type="submit", mat-button)
                span {{ 'EvodeskLanding.components.LandingInside.Form.Submit' | translate }}
