ng-container(*ngIf="!! state && state.ready")
  .c([ngClass]="containerNgClasses")
    .c-top(*ngIf="shouldDisplayMobileNavigation")
      evodesk-shop-navigation-mobile-container
    .c-contents
      .c-contents-area(#area, evodeskTouchScroll="y", evodeskMouseWheelScroll, evodeskKeyboardScroll, (scroll.out-zone)="onScroll($event)")
        .c-contents-outlet
          router-outlet
      .c-contents-scroll
        evodesk-app-common-scroll-bar([elementRef]="area", [theme]="'blue'")
      .c-contents-menu(*ngIf="shouldDisplayDesktopNavigation")
        .nav-sticky
          evodesk-shop-navigation-desktop-container
