@import "~sass-mq";

.c {
  &.__desktop {
    max-width: 1120px - 16px * 2;
    margin: 0 auto;
    padding: 16px 0;
    width: 100%;

    .c-top {
      display: none;
    }

    .c-contents {
      display: flex;
      margin: 24px 0;

      .c-contents-area {
        flex: 1;
        margin-right: 32px;
      }

      .c-contents-menu {
        flex-grow: 0;
        flex-shrink: 0;
        width: 288px;

        .nav-sticky {
          position: sticky;
          top: 40px;
        }
      }
    }
  }

  &.__mobile {
    display: flex;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow: hidden;
    flex-direction: column;

    .c-top {
      flex-grow: 0;
      flex-shrink: 0;
      z-index: 10;
    }

    .c-contents {
      flex: 1;
      display: flex;

      .c-contents-outlet {
        margin: 24px auto;
      }

      .c-contents-area {
        flex: 1;
        overflow: hidden;
      }

      .c-contents-scroll {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
  }

  .c-top {
    background-color: #fff;
  }
}

::ng-deep {
  .__evodesk-shop-product-description {
    img {
      max-width: 100%;
    }
  }
}
