.c {
  .c-card {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

    .c-card-title {
      padding: 4px 16px;
      border-bottom: 1px solid #d0d6f5;
      margin-bottom: 24px;
      display: flex;
      align-items: center;

      .c-card-title-left {
        flex: 1;

        span {
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.4px;
          text-align: left;
          color: rgba(0, 0, 0, 0.8)
        }
      }

      .c-card-title-right {
        flex-grow: 0;
        flex-shrink: 0;

        a {
          text-decoration: none;

          &:hover {
            span {
              border-bottom-color: #2e4ce6;
            }
          }

          span {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 0.4px;
            text-align: left;
            color: #2e4ce6;
            border-bottom: 1px solid transparent;
            transition: .15s;
            text-transform: uppercase;
          }
        }
      }
    }

    .c-card-contents {
      padding-bottom: 1px;

      .c-items {
        margin-bottom: 20px;
        padding: 0 16px;

        .c-item {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .image {
            display: block;
            margin: 0 auto;
            margin-bottom: 8px;

            img {
              width: auto;
              height: 56px;
            }
          }

          .title {
            padding: 0 4px;
            text-align: center;

            span {
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.57;
              letter-spacing: 0.5px;
              text-align: center;
              color: #010307;
            }
          }
        }
      }
    }
  }
}
