ng-container(*ngIf="!!state && state.ready && props.achievements.length > 0")
  .c
    .c-card
      .c-card-title
        .c-card-title-left
          span {{ 'EvodeskProfile.components.EvodeskProfileAchievements.Title' | translate }}
        .c-card-title-right
          a([routerLink]="['/rating', props.profileId]")
            span {{ 'EvodeskProfile.components.EvodeskProfileAchievements.GoAchievements' | translate }}
      .c-card-contents
        .c-items.swiper-container([swiper]="swiperConfig")
          .swiper-wrapper
            ng-container(*ngFor="let a of props.achievements")
              .c-item.swiper-slide
                .image
                  img([src]="getAchievementsImageUrl(a.image)")
                .title
                  span {{ a.title }}
