.c
    ng-container(*ngIf="state.screen === 'menu'")
      .__evodesk-header-mobile-menu
        .__evodesk-header-mobile-menu-item.balance
          evodesk-header-common-user-balance-container([isMobile]="true", (copyLink)="close()")
        a.__evodesk-header-mobile-menu-item([routerLink]="['/user-settings']", (click)="close()")
          span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonProfileMenu.UserSettings' | translate }}
        .__evodesk-header-mobile-menu-item((click)="close(); signOut()")
          span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonProfileMenu.SignOut' | translate }}

