.c {
  height: 100%;

  .balance {
    .sections {
      display: flex;
      justify-content: space-between;
      text-align: center;

      .section {
        flex: 1;

        .value, .currency {
          display: inline-block;
          vertical-align: middle;
        }

        .value {
          margin-right: 4px;

          span {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.14;
            letter-spacing: 0.3px;
            text-align: left;
            color: #ffffff;
          }
        }

        .currency {
          span {
            font-family: PTMono, sans-serif;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.3px;
            text-align: left;
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }
    }
  }
}
