ng-container(*ngIf="!! state && state.ready")
  .c([ngClass]="{ 'as-modal': props.asModal, 'as-default': ! props.asModal }")
    .c-card
      .c-card-title(*ngIf="props.asModal")
        .c-title-left
          span {{ props.userCompetence.competence.title }}
        .c-title-right
          .close-button((click)="close()")
            .__evodesk-icon.ic-close-modal-15x15px.with-hover
      .c-card-contents
        .__evodesk-loading-top(*ngIf="props.loading")
          .__evodesk-loading-top-bar
        .competence-progress(*ngIf="props.asModal")
          evodesk-profile-competence-progress([points]="props.userCompetence.points")
        .no-documents(*ngIf="props.documents.length === 0")
          span {{ 'EvodeskProfile.components.EvodeskProfileCompetenceDocuments.NoDocuments' | translate }}
        .documents(*ngIf="props.documents.length > 0")
          .documents-list
            a.documents-list-item(*ngFor="let d of props.documents", [href]="d.url", target="_blank")
              .flex
                .icon
                  .__evodesk-icon.ic-competence-document-item-34x40px
                .info
                  .filename
                    span {{ d.document.title }}
                  .created
                    span([evodeskBind]="d.createdAt")
