.c {
  &.as-defaut {
    .c-card {
      .c-card-title {
        display: none;
      }
    }
  }

  &.as-modal {
    max-height: 80vh;
    overflow: auto;

    .c-card-contents {
      padding: 12px 16px 8px;
    }
  }

  .c-card {
    .c-card-title {
      padding: 4px 14px 4px 16px;
      border-bottom: 1px solid #d0d6f5;
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: #fff;

      &:hover {
        .c-title-right {
          .edit {
            display: block;
          }
        }
      }

      .c-title-left {
        flex: 1;
        margin-right: 16px;

        span {
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.4px;
          text-align: left;
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .c-title-right {
        flex-grow: 0;
        flex-shrink: 0;

        .close-button {
          cursor: pointer;
          padding: 2px;
        }
      }
    }

    .c-card-contents {
      position: relative;

      .competence-progress {
        position: absolute;
        top: 0; right: 0; left: 0;
        height: 4px;
      }

      .no-documents {
        span {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.34;
          letter-spacing: normal;
          text-align: left;
          color: #a0a7b2;
        }
      }

      .documents {
        .documents-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          cursor: pointer;

          .documents-list-item {
            display: inline-block;
            width: 200px;
            margin-right: 8px;
            margin-bottom: 8px;

            &:hover {
              .flex {
                .info {
                  .filename {
                    span {
                      color: #2e4ce6;
                      border-bottom-color: #2e4ce6;
                    }
                  }
                }
              }
            }

            .flex {
              display: flex;
              justify-content: left;

              .icon {
                margin-right: 8px;
              }

              .info {
                .filename {
                  margin-bottom: 4px;

                  span {
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.57;
                    letter-spacing: 0.3px;
                    text-align: left;
                    color: #010307;
                    -webkit-font-smoothing: subpixel-antialiased!important;
                    transition: .15s;
                    border-bottom: 1px solid transparent;
                  }
                }

                .created {
                  span {
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.57;
                    letter-spacing: 0.3px;
                    text-align: left;
                    color: #a0a7b2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
