ng-container(*ngIf="!!state && state.ready")
  form.c.__evodesk-user-settings-account([formGroup]="props.form", novalidate, (ngSubmit)="ngSubmitEvent.emit(undefined)")
    .c-fields
      .c-field.c-field-old-passsword
        .c-field-title
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsPassword.Fields.OldPassword' | translate }}
        .c-field-contents
          input.input-mw.__evodesk-input-box-v2(type="password", [formControlName]="'oldPassword'", placeholder="{{ 'EvodeskUserSettings.components.EvodeskUserSettingsPassword.Fields.PasswordPlaceholder' | translate }}")
      .c-field.c-field-new-passsword
        .c-field-title
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsPassword.Fields.NewPassword' | translate }}
        .c-field-contents
          input.input-mw.__evodesk-input-box-v2(type="password", [formControlName]="'newPassword'", placeholder="{{ 'EvodeskUserSettings.components.EvodeskUserSettingsPassword.Fields.PasswordPlaceholder' | translate }}")
      .c-field.c-field-repeat-passsword
        .c-field-title
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsPassword.Fields.RepeatPassword' | translate }}
        .c-field-contents
          input.input-mw.__evodesk-input-box-v2(type="password", [formControlName]="'repeatPassword'", placeholder="{{ 'EvodeskUserSettings.components.EvodeskUserSettingsPassword.Fields.PasswordPlaceholder' | translate }}")
    button(type="submit", style="display: none;")
