input.hidden(type="file", #fileInput, (change)="onFileInputChange()", multiple)

.c(*ngIf="state.ready", (click)="$event.stopPropagation()")
  .c-modal-header(*ngIf="shouldDisplayModalHeader")
    .c-modal-title
      span(translate) EvodeskDesk.components.common.EvodeskDeskAttachImage.ModalTitle
    .c-modal-close
      .close-button((click)="close()")
        .not-hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-24x24px
        .hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-hover-24x24px
  ng-container(*ngIf="state.screen === 'select'")
    .c-select(evodeskFormFilesDropArea, [ngClass]="{ 'dnd-active': state.isDndActive }", (onFileDropAreaNext)="onFileDropAreaNext($event)", (onFileDropAreaDragEnter)="onFileDropAreaDragEnter($event)", (onFileDropAreaDragLeave)="onFileDropAreaDragLeave($event)")
      .select-button
        button.button-select.__evodesk-v3-button-blue((click)="fileInput.click()")
          span(translate) EvodeskDesk.components.common.EvodeskDeskAttachImage.SelectFiles
  ng-container(*ngIf="state.screen === 'lobby'")
    .c-lobby
      .c-input
        .input(*ngFor="let input of state.selectedFiles")
          .input-delete(*ngIf="input.status === 'waiting' || input.status === 'processing'")
            .delete-button((click)="deleteFromLobby(input)")
                .not-hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-24x24px
                .hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-hover-24x24px
          .input-preview
            .preview([ngStyle]="input.ngStyle")
          .input-progress
            .progress
              .progress-text
                span(*ngIf="input.status === 'waiting'") &nbsp;
                span(*ngIf="input.status === 'processing'")
                  span {{ input.percents }}%
                span(*ngIf="input.status === 'processed'")
                  span(translate) EvodeskDesk.components.common.EvodeskDeskAttachImage.Processed
              .progress-bar
                .progress-bar-fill([ngStyle]="progressBarFillNgStyle(input)")
      .c-actions
        button.button.__evodesk-v3-button-blue.button-submit((click)="startProcess()", type="button", mat-ripple, [disabled]="state.processing")
          span(translate) EvodeskDesk.components.common.EvodeskDeskAttachImage.Submit
        button.button.__evodesk-v3-button.button((click)="other()", mat-ripple, type="button", [disabled]="isProcessing")
          span(translate) EvodeskDesk.components.common.EvodeskDeskAttachImage.Other
        button.button.__evodesk-v3-button.button-clear((click)="cancel()", type="button", mat-ripple)
          span(translate) EvodeskDesk.components.common.EvodeskDeskAttachImage.Cancel

