.c {
  min-width: 170px;
  width: 100%;

  .c-modal-header {
    border-bottom: 1px solid #EFF0F1;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 13px;

    .c-modal-title {
      span {
        font-weight: 500;
        line-height: 21px;
        font-size: 14px;
        color: #1D2639;
      }
    }

    .c-modal-close {
      .close-button {
        cursor: pointer;

        .hovered {
          display: none;
        }
        .not-hovered {
          display: block;
        }

        &:hover {
          .hovered {
            display: block;
          }
          .not-hovered {
            display: none;
          }
        }
      }
    }
  }

  .c-select {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    max-height: 590px;
    margin: 20px;
    border: 1px dashed #EFF0F1;
    flex-direction: column;

    .select-button {
      margin-bottom: 16px;
    }

    .dnd {
      text-align: center;

      span {
        font-size: 14px;
        color: #1D2E48;
        text-transform: uppercase;
      }
    }

    &.dnd-active {
      border-color: #4A84FB;
    }
  }

  .c-lobby {
    .c-input {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 20px 12px;
    }

    .c-actions {
      display: flex;
      justify-content: flex-start;
      padding: 20px 20px 10px;
      flex-wrap: wrap;

      .button {
        height: 40px;
        margin-right: 8px;
        padding: 0 20px;
        margin-bottom: 10px;

        span {
          line-height: 40px;
        }

        &.button-submit {
          min-width: 105px;

          span {
            color: #fff;
          }
        }

        &.button-clear {
          width: 105px;
        }
      }
    }
  }
}

.hidden {
  display: none;
}

.input {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 20px;
  flex-direction: column;
  position: relative;

  .input-delete {
    position: absolute;
    right: 1px; top: 1px;
    background: #fff;

    .delete-button {
      cursor: pointer;

      .hovered {
        display: none;
      }
      .not-hovered {
        display: block;
      }

      &:hover {
        .hovered {
          display: block;
        }
        .not-hovered {
          display: none;
        }
      }
    }
  }

  .input-preview {
    width: 150px;
    height: 150px;
    margin-bottom: 8px;
    border: 1px solid #EFF0F1;
    border-radius: 2px;
    overflow: hidden;

    .preview {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: 100%;
    }
  }

  .input-progress {
    width: 100%;
  }
}

.progress {
  .progress-text {
    margin-bottom: 6px;

    span {
      font-size: 12px;
      color: #777D88;
    }
  }

  .progress-bar {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    background-color: #EFF0F1;
    height: 4px;

    .progress-bar-fill {
      position: absolute;
      left: 0; top: 0; bottom: 0;
      border-radius: 15px;
      background-color: #A9D26A;
      transition: .15s;
    }
  }
}
