.c([ngClass]="{ 'is-menu-opened': state.isMenuOpened, 'is-not-menu-opened': ! state.isMenuOpened }")
  a.c-widget([routerLink]="props.profileRouterLink")
    .click-area((click)="showMenu($event)")
      .c-avatar
        .avatar
          .avatar-image(*ngIf="props.avatar === undefined")
            img(src="/assets/images/placeholder-3.png")
          .avatar-image(*ngIf="props.avatar !== undefined")
            evodesk-profile-avatar([profileId]="props.profileId", [size]="32")
        .actions
          .__opened.__evodesk-icon-v3.iv3-chevron-up-12x6px
          .__closed.__evodesk-icon-v3.iv3-chevron-down-12x6px
  .c-context-menu.__evodesk-context-menu-black((clickOutside)="hideMenu()", [delayClickOutsideInit]="true", [clickOutsideEvents]="'mousedown,touchstart'")
    .c-context-menu-items
      a.item.__evodesk-context-menu-black-item([routerLink]="['/user-settings']")
        span((click)="hideMenu()") {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonProfileMenu.UserSettings' | translate }}
      .item.__evodesk-context-menu-black-item((click)="hideMenu(); signOut()")
        span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonProfileMenu.SignOut' | translate }}
