@keyframes showMenuAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.c {
  height: 100%;
  position: relative;

  .__opened {
    display: none;
  }

  &.is-menu-opened {
    .__opened { display: block; }
    .__closed { display: none; }

    .c-widget {
      &:hover {
        background: none;
      }
    }

    .c-context-menu {
      display: block;
      animation: showMenuAnimation 0.15s normal forwards ease-in-out;
    }
  }

  .c-widget {
    height: 100%;

    .click-area {
      height: 100%;
      padding-left: 12px;
      padding-right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0);

    }

    .c-avatar {
      display: flex;
      align-items: center;

      .avatar {
        margin-right: 8px;
        position: relative;
        left: 2px;

        .avatar-image {
          border-radius: 100%;
          width: 32px;
          height: 32px;
          overflow: hidden;
          background-color: #666;

          img {
            object-fit: contain;
            width: 100%;
          }
        }
      }

      .actions {
        position: relative;
        left: 1px;
      }
    }
  }

  .c-context-menu {
    display: none;
    position: absolute;
    top: 55px;
    right: 45px;
    z-index: 1;
    white-space: pre;
  }
}
