.c(*ngIf="!! state && state.ready")
  .c-row-1
    .c-avatar
      evodesk-profile-avatar([profileId]="props.entity.authorProfileId", [size]="48")
      .c-notification-type-icon
        .__evodesk-icon.ic-news-comment-16x16px
    .c-description
      .row-1
        a([routerLink]="props.entity.authorProfileUrl", target="_blank")
          span {{ props.entity.authorProfileName }}
        span.text {{ 'EvodeskFeed.components.EvodeskFeedPostCommented.Text' | translate }}
      .row-2
        span.link((click)="openPost()") {{ props.entity.comment$ | async }}
  .c-row-2
    span([evodeskBind]="props.entity.date$")
