@import "~sass-mq";

@include mq($until: 1160px) {
  .c {
    padding-top: 24px;
    display: flex;
    flex-direction: column;

    .c-info { order: 1; }
    .c-indexes { order: 2; }
    .c-actions { order: 3; }
    .c-statistics { order: 4; }

    .c-info {
      padding: 16px;

      .c-info-box {
        .c-info-avatar {
          margin: 0 auto;
          width: 100px;
          margin-bottom: 8px;
          position: relative;

          &:hover {
            .edit {
              display: block;
            }
          }

          .edit {
            display: none;
            position: absolute;
            top: 0; right: 0;
            cursor: pointer;
          }

          .level {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0; right: 0;
            cursor: pointer;
            background-color: #2E4CE6;
            width: 32px; height: 32px;
            overflow: hidden;
            border-radius: 100%;

            span {
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.38;
              letter-spacing: 0.3px;
              text-align: center;
              color: #fff;
            }
          }
        }

        .c-info-description {
          text-align: center;

          .name {
            margin: 0 auto;

            span {
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.38;
              letter-spacing: 0.3px;
              text-align: center;
              color: #010307;
            }
          }

          .post {
            margin: 0 auto;

            span {
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.83;
              letter-spacing: 0.2px;
              text-align: center;
              color: #aaacb4;
            }
          }
        }
      }
    }

    .c-indexes {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
      margin-bottom: 16px;

      &.c-indexes-desktop {
        display: none;
      }

      .c-index {
        span.value {
          display: block;
          text-align: center;
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.5px;
          color: #2e4ce6;
        }

        span.name {
          display: block;
          text-align: center;
          font-size: 10px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.6;
          letter-spacing: 0.2px;
          color: #aaacb4;
        }
      }
    }

    .c-actions {
      .c-actions-box {
        padding: 24px;
        text-align: center;
      }

      .c-action-send-message {
        margin: 24px auto 0;

        button {
          background-color: #2e4ce6;
          border-radius: 3px;
          padding: 13px 18px;
          line-height: 13px;

          span {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 14px;
            letter-spacing: 0.3px;
            text-align: center;
            color: #ffffff;
          }
        }
      }
    }

    .c-statistics {
      border-top: 1px solid #d0d6f5;

      .c-statistics-box {
        display: flex;

        .c-statistic {
          border-right: 1px solid #d0d6f5;
          padding: 12px;
          flex: 1;
          text-align: center;
          cursor: pointer;

          &:hover {
            .title {
              span {
                border-bottom-color: #2e4ce6;
              }
            }
          }

          &:last-child {
            border-right: none;
          }

          .count {
            span {
              font-size: 14px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.57;
              letter-spacing: 0.3px;
              text-align: center;
              color: #000000;
            }
          }

          .title {
            span {
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.83;
              letter-spacing: 0.2px;
              text-align: center;
              color: #2e4ce6;
              border-bottom: 1px solid transparent;
              transition: .15s;
            }
          }
        }
      }
    }
  }
}

@include mq($from: 1161px) {
  .c {
    display: flex;
    height: 100%;

    >div {
      height: 100%;
    }

    .c-info {
      flex: 1;
      display: flex;
      align-items: center;

      .c-info-box {
        display: flex;
        align-items: center;

        .c-info-avatar {
          margin-right: 24px;
          position: relative;

          &:hover {
            .edit {
              display: block;
            }
          }

          .edit {
            display: none;
            position: absolute;
            top: 0; right: 0;
            cursor: pointer;
          }

          .level {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0; right: 0;
            cursor: pointer;
            background-color: #2E4CE6;
            width: 32px; height: 32px;
            overflow: hidden;
            border-radius: 100%;

            span {
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.38;
              letter-spacing: 0.3px;
              text-align: center;
              color: #fff;
            }
          }
        }

        .c-info-description {
          flex: 1;

          .name {
            span {
              font-size: 24px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.5;
              letter-spacing: 0.5px;
              text-align: left;
              color: #000000;
            }
          }

          .post {
            margin-bottom: 11px;

            span {
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.13;
              letter-spacing: 0.3px;
              text-align: left;
              color: #aaacb4;
            }
          }
        }
      }
    }

    .c-indexes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      white-space: nowrap;

      &.c-indexes-mobile {
        display: none;
      }

      .c-index {
        margin-right: 16px;

        &:last-child {
          margin-right: 0;
        }

        span.value {
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.5px;
          text-align: left;
          color: #2e4ce6;
          margin-right: 6px;
        }

        span.name {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.83;
          letter-spacing: 0.2px;
          text-align: left;
          color: #aaacb4;
        }
      }
    }

    .c-actions {
      flex-grow: 0;
      flex-shrink: 0;
      padding-left: 34px;
      padding-right: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .c-action-send-message {
        margin: 24px auto 0;

        button {
          background-color: #2e4ce6;
          border-radius: 3px;
          padding: 13px 18px;
          line-height: 13px;

          span {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 14px;
            letter-spacing: 0.3px;
            text-align: center;
            color: #ffffff;
          }
        }
      }
    }

    .c-statistics {
      flex-grow: 0;
      flex-shrink: 0;
      border-left: 1px solid #d0d6f5;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 40px;

      .c-statistics-box {
        .c-statistic {
          display: inline-block;
          vertical-align: top;
          margin-right: 40px;
          cursor: pointer;
          width: 80px;

          &:hover {
            .title {
              span {
                border-bottom-color: #2e4ce6;
                word-break: keep-all;
              }
            }
          }

          .count {
            min-height: 30px;

            span {
              font-size: 20px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.5;
              letter-spacing: 0.4px;
              text-align: left;
              color: #000000;
            }
          }

          .title {
            span {
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.57;
              letter-spacing: 0.3px;
              text-align: left;
              color: #2e4ce6;
              padding-bottom: 2px;
              border-bottom: 1px solid transparent;
              transition: .15s;
              word-break: keep-all;
            }
          }
        }
      }
    }
  }
}
