ng-container(*ngIf="!!state && state.ready")
  .__evodesk-fluid-container
    .c
      .c-info
        .c-info-box
          .c-info-avatar
            .avatar
              evodesk-profile-avatar([profileId]="props.profileId", [size]="100")
            .edit([routerLink]="['/user-settings']", [queryParams]="{ 'section': 'common' }", *ngIf="props.canEditAvatar")
              .__evodesk-icon.ic-edit-24x24px
            .level
              span {{ props.profileLevel }}
          .c-info-description
            .name
              span {{ props.profileName }}
            .post(*ngIf="!! props.profilePost")
              span {{ props.profilePost }}
            .c-indexes.c-indexes-desktop
              .c-index
                span.value {{ formatDouble(props.indexes.competence) }}
                span.name {{ 'EvodeskProfile.components.EvodeskProfileHeader.Competence' | translate }}
              .c-index
                span.value {{ formatDouble(props.indexes.popularity) }}
                span.name {{ 'EvodeskProfile.components.EvodeskProfileHeader.Popularity' | translate }}
              .c-index
                span.value {{ formatDouble(props.indexes.activity) }}
                span.name {{ 'EvodeskProfile.components.EvodeskProfileHeader.Activity' | translate }}
      .c-indexes.c-indexes-mobile
        .c-index
          span.value {{ formatDouble(props.indexes.competence) }}
          span.name {{ 'EvodeskProfile.components.EvodeskProfileHeader.Competence' | translate }}
        .c-index
          span.value {{ formatDouble(props.indexes.popularity) }}
          span.name {{ 'EvodeskProfile.components.EvodeskProfileHeader.Popularity' | translate }}
        .c-index
          span.value {{ formatDouble(props.indexes.activity) }}
          span.name {{ 'EvodeskProfile.components.EvodeskProfileHeader.Activity' | translate }}
      .c-actions(*ngIf="hasAvailableActions")
        .c-actions-box
          .c-action.c-action-subscribe(*ngIf="canSubscribe")
            evodesk-profile-subscribe-button-container(
              [isSubscribed]="props.isSubscribed",
              [profileId]="props.profileId",
              [profileName]="props.profileName",
              [profileImage]="props.profileImage",
              [profilePost]="props.profilePost",
            )
          .c-action.c-action-send-message(*ngIf="canSendMessage")
            button(type="button", mat-button, (click)="sendMessage()")
              span {{ 'EvodeskProfile.components.EvodeskProfileHeader.SendMessage' | translate }}
      .c-statistics
        .c-statistics-box
          .c-statistic.c-statistic-subscribers((click)="followers.emit(undefined)")
            .count
              span {{ props.numSubscribers }}
            .title
              span {{ 'EvodeskProfile.components.EvodeskProfileHeader.StatisticSubscribers.Plural.' + pluralSubscribers | translate }}
          .c-statistic.c-statistic-subscription((click)="following.emit(undefined)")
            .count
              span {{ props.numSubscriptions }}
            .title
              span {{ 'EvodeskProfile.components.EvodeskProfileHeader.StatisticSubscriptions.Plural.' + pluralSubscriptions | translate }}
