.__evodesk-sn-icon {
  background-repeat: no-repeat;
  background-size: 100%;

  &.sn-vk {
    background-image: url(/assets//components/evodesk-social-network-icons/resources/vk.svg);
  }

  &.sn-yandex {
    background-image: url(/assets//components/evodesk-social-network-icons/resources/yandex.svg);
  }

  &.sn-facebook {
    background-image: url(/assets//components/evodesk-social-network-icons/resources/facebook.svg);
  }

  &.sn-linkedin {
    background-image: url(/assets//components/evodesk-social-network-icons/resources/linkedin.svg);
  }

  &.sn-google-plus {
    background-image: url(/assets//components/evodesk-social-network-icons/resources/google-plus.svg);
  }
}
