.c {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

  .c-title {
    padding: 8px 16px;
    border-bottom: 1px solid #d0d6f5;

    span {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: 0.4px;
      text-align: left;
      color: rgba(0, 0, 0, 0.8);
    }
  }

  .c-nav {
    padding: 32px 0;

    .c-nav-item {
      padding: 11px 16px;
      border-left: 3px solid transparent;
      display: block;

      &.is-active {
        border-left-color: #2e4ce6;

        span {
          color: #000;
        }
      }

      span {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: 0.3px;
        text-align: left;
        color: #2e4ce6;
      }
    }
  }
}
