.c
  .c-title
    span {{ 'EvodeskNews.components.NewsNavigation.Title' | translate }}
  .c-nav
    a.c-nav-item([routerLink]="['/news/index']", routerLinkActive="is-active")
      span {{ 'EvodeskNews.components.NewsNavigation.Nav.Index' | translate }}
    a.c-nav-item([routerLink]="['/news/subscribers']", routerLinkActive="is-active")
      span {{ 'EvodeskNews.components.NewsNavigation.Nav.Subscribers' | translate }}
    a.c-nav-item([routerLink]="['/news/adverts']", routerLinkActive="is-active")
      span {{ 'EvodeskNews.components.NewsNavigation.Nav.Adverts' | translate }}
    a.c-nav-item([routerLink]="['/news/notifications']", routerLinkActive="is-active")
      span {{ 'EvodeskNews.components.NewsNavigation.Nav.Notifications' | translate }}
