@import "~sass-mq";

:host {
  display: block;
}

.c {
  >.c-page {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    display: flex;
    flex-direction: column;

    >.c-app-header {
      flex-shrink: 0;
      flex-grow: 0;
      z-index: 2;
    }

    >.c-app {
      flex: 1;
      overflow: hidden;
      position: relative;
      z-index: -1;
      display: flex;

      .c-app-area {
        overflow: hidden;
        flex: 1;
      }

      .c-app-scroll {
        position: absolute;
        right: 0; top: 0; bottom: 0; width: 15px;
      }
    }
  }
}

.c-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(249, 249, 249, 0.9);

  &.is-visible {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
}

.c-lazy-loading {
  position: fixed;
  left: 0; right: 0; top: 0; height: 3px;
  overflow: hidden;
  z-index: 9999;
}
