evodesk-app-common-dev-ng-do-check-counter

.c
  .c-page
    .c-app-header
      evodesk-header-container
    .c-app
      .c-app-area(#area, evodeskTouchScroll="y", evodeskMouseWheelScroll, evodeskKeyboardScroll, (scroll.out-zone)="onScroll($event)")
        .c-loading([ngClass]="{ 'is-visible': state.isLoading || state.isLazyModuleLoading }")
          .__evodesk-app-circle-loader
        router-outlet
      .c-app-scroll
        evodesk-app-common-scroll-bar([elementRef]="area", [theme]="'blue'")
