.c([ngClass]="containerCSSClasses")
  .c-top(*ngIf="shouldDisplayMobileNavigation")
    evodesk-news-navigation-mobile-container
  .c-contents
    .c-contents-outlet
      router-outlet
    .c-contents-menu(*ngIf="shouldDisplayDesktopNavigation")
      .nav-sticky
        evodesk-news-navigation-container
