.c {
  &.__desktop {
    max-width: 1120px - 16px * 2;
    margin: 0 auto;
    padding: 16px 0;
    width: 100%;

    .c-top {
      display: none;
    }

    .c-contents {
      display: flex;
      margin: 24px 0;

      .c-contents-outlet {
        flex: 1;
        margin-right: 32px;
      }

      .c-contents-menu {
        flex-grow: 0;
        flex-shrink: 0;
        width: 288px;

        .nav-sticky {
          position: sticky;
          top: 40px;
        }
      }
    }
  }

  &.__mobile, &.__tablet {
    width: 100%;

    .c-top {
      position: sticky;
      top: 0;
      z-index: 10;
    }

    .c-contents {
      z-index: 1;

      .c-contents-outlet {
        padding: 24px 16px 90px;
      }

      .c-contents-menu {
        display: none;
      }
    }
  }
}
