.c(*ngIf="!! state && state.ready")
  .__evodesk-loading-top(*ngIf="props.loading")
    .__evodesk-loading-top-bar
  .c-load-more(*ngIf="props.hasMoreCommentsToLoad", (click)="loadMore()")
    span {{ 'EvodeskFeed.components.EvodeskFeedComments.LoadMore' | translate }}
  .c-comments
    .c-comments-area(#comments, evodeskMouseWheelScroll, evodeskTouchScroll="y", evodeskKeyboardScroll, (wheel.out-zone)="onWheel($event)", (touchmove.out-zone)="onTouchMove($event)")
      ng-container(*ngFor="let comment of props.comments; trackBy: trackBy")
        .c-comment
          evodesk-feed-comment-container([postComment]="comment")
    .c-comments-scroll
      evodesk-app-common-scroll-bar([elementRef]="comments", [theme]="'blue'")
