.c {
  position: relative;

  .c-load-more {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid #d0d6f5;

    &:hover {
      span {
        border-bottom-color: #2e4ce6;
      }
    }

    span {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.83;
      letter-spacing: 0.2px;
      text-align: left;
      color: #2e4ce6;
      border-bottom: 1px solid transparent;
      transition: .15s;
    }
  }

  .c-comments {
    display: flex;

    .c-comments-area {
      flex: 1;
      max-height: 400px;
      overflow: hidden;
      margin-right: 8px;

      .c-comment {
        border-bottom: 1px solid #e0e0e0;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .c-comments-scroll {
      flex-shrink: 0;
      flex-grow: 0;
    }
  }
}
