.c(*ngIf="state.ready")
  .c-modal-header(*ngIf="shouldDisplayModalHeader")
    .c-modal-title
      span(translate) EvodeskDesk.components.common.EvodeskDeskParticipant.ModalTitle
    .c-modal-close
      .close-button((click)="close()")
        .not-hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-24x24px
        .hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-hover-24x24px
  ng-container(*ngIf="props.members.length > 0")
    .c-search
      .search-form([ngClass]="{ 'is-focused': state.isSearchFieldFocused, 'is-not-focused': ! state.isSearchFieldFocused }", [formGroup]="state.searchForm", (keyup.escape)="$event.stopPropagation(); resetSearch()")
        .c-icon((click)="searchInput.focus()")
          .__evodesk-icon-v3.iv3-search-20x20px.not-focused.not-hovered
          .__evodesk-icon-v3.iv3-search-blue-20x20px.focused.hovered
        .c-input((click)="searchInput.focus()")
          input.input(
          #searchInput, type="text", [formControlName]="'search'", placeholder="{{ 'EvodeskDesk.components.common.EvodeskDeskParticipant.Search' | translate }}",
          (focus)="state.isSearchFieldFocused = true", (blur)="state.isSearchFieldFocused = false", (keyup.escape)="stopSearch()"
          )
        .c-clear(*ngIf="hasInput", (click)="clear()")
          .__evodesk-icon-v3.iv3-x-light-9x9px
    .c-list
      .c-list-item(*ngFor="let p of filtered")
        .ci-item
          .ci-avatar
            .avatar
              evodesk-profile-avatar([size]="32", [profileId]="p.id")
            .owner(*ngIf="isOwner(p)")
              svg(width='18', height='16', viewBox='0 0 18 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                g
                  path.svg-fill.transition(d='M11.1875 7.625L9 4.25L6.8125 7.625L4 5.45L4.625 11.75H13.375L14 5.45L11.1875 7.625Z', fill='#FBAA4A')
          .ci-name
            span {{ p.name || p.email }}
          .ci-remove(*ngIf="! isOwner(p)")
            .remove-button((click)="remove(p)")
              svg.svg-fill(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M10.2612 6.12426C10.3401 6.04695 10.4513 6 10.5714 6H13.4286C13.5487 6 13.6599 6.04695 13.7388 6.12426C13.817 6.20091 13.8571 6.30051 13.8571 6.4V7H10.1429V6.4C10.1429 6.30051 10.183 6.20091 10.2612 6.12426ZM8.14286 7V6.4C8.14286 5.75689 8.40374 5.1443 8.86135 4.69584C9.31827 4.24805 9.93378 4 10.5714 4H13.4286C14.0662 4 14.6817 4.24805 15.1387 4.69584C15.5963 5.1443 15.8571 5.75689 15.8571 6.4V7H19C19.5523 7 20 7.44772 20 8C20 8.55228 19.5523 9 19 9H18V17.6C18 18.2431 17.7391 18.8557 17.2815 19.3042C16.8246 19.7519 16.2091 20 15.5714 20H8.42857C7.79092 20 7.17542 19.7519 6.71849 19.3042C6.26088 18.8557 6 18.2431 6 17.6V9H5C4.44772 9 4 8.55228 4 8C4 7.44772 4.44772 7 5 7H8.14286ZM8 9V17.6C8 17.6995 8.04014 17.7991 8.11835 17.8757C8.19724 17.9531 8.30846 18 8.42857 18H15.5714C15.6915 18 15.8028 17.9531 15.8817 17.8757C15.9599 17.7991 16 17.6995 16 17.6V9H8Z', fill='#BBBEC4')
  form.c-invite-form.invite-form([formGroup]="state.inviteByEmailForm", novalidate, (ngSubmit)="inviteByEmail()")
    .if-input
      input.input(formControlName="email", type="text", placeholder="{{ 'EvodeskDesk.components.common.EvodeskDeskParticipant.EmailPlaceholder' | translate }}")
    .if-submit
      button.button.__evodesk-v3-button-blue(type="submit")
        span(translate) EvodeskDesk.components.common.EvodeskDeskParticipant.InviteByEmail
  .c-invite-by-link((click)="inviteByLink()")
    .ibl
      .ibl-icon
        svg.transition.svg-fill(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M7.75 9C7.04224 9 6.34933 9.29931 5.82789 9.85551C5.30439 10.4139 5 11.1843 5 12C5 12.8157 5.30439 13.5861 5.82789 14.1445C6.08646 14.4203 6.38991 14.6354 6.71908 14.7808C7.04805 14.9262 7.39816 15 7.75 15H10C10.5523 15 11 15.4477 11 16C11 16.5523 10.5523 17 10 17H7.75C7.11693 17 6.49176 16.8669 5.9108 16.6102C5.33003 16.3536 4.80668 15.9794 4.36881 15.5124C3.48578 14.5705 3 13.306 3 12C3 10.694 3.48578 9.42953 4.36881 8.48763C5.25389 7.54355 6.46863 7 7.75 7H10C10.5523 7 11 7.44772 11 8C11 8.55228 10.5523 9 10 9H7.75ZM16.25 9C16.9578 9 17.6507 9.29931 18.1721 9.85551C18.6956 10.4139 19 11.1843 19 12C19 12.8157 18.6956 13.5861 18.1721 14.1445C17.9135 14.4203 17.6101 14.6354 17.2809 14.7808C16.9519 14.9262 16.6018 15 16.25 15H14C13.4477 15 13 15.4477 13 16C13 16.5523 13.4477 17 14 17H16.25C16.8831 17 17.5082 16.8669 18.0892 16.6102C18.67 16.3536 19.1933 15.9794 19.6312 15.5124C20.5142 14.5705 21 13.306 21 12C21 10.694 20.5142 9.42953 19.6312 8.48763C18.7461 7.54355 17.5314 7 16.25 7H14C13.4477 7 13 7.44772 13 8C13 8.55228 13.4477 9 14 9H16.25ZM9 11C8.44772 11 8 11.4477 8 12C8 12.5523 8.44772 13 9 13H15C15.5523 13 16 12.5523 16 12C16 11.4477 15.5523 11 15 11H9Z', fill='#777D88')
      .ibl-label
        span.transition(translate) EvodeskDesk.components.common.EvodeskDeskParticipant.InviteByLink
