.c {
  min-width: 320px;

  .c-modal-header {
    border-bottom: 1px solid #EFF0F1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 13px;

    .c-modal-title {
      span {
        font-weight: 500;
        line-height: 21px;
        font-size: 14px;
        color: #1D2639;
        position: relative;
        top: 1px;
        left: -2px;
      }
    }

    .c-modal-close {
      .close-button {
        cursor: pointer;
        position: relative;
        left: 2px;
        top: 1px;

        .hovered { display: none; }
        .not-hovered { display: block; }

        &:hover {
          .hovered { display: block; }
          .not-hovered { display: none; }
        }
      }
    }
  }

  .c-search {
    padding: 13px 20px 8px 21px;
  }

  .c-list {
    padding: 10px 20px 12px;
    border-bottom: 1px solid #EFF0F1;

    .c-list-item {
      margin-bottom: 10px;

      .ci-item {
        display: flex;
        align-items: center;
        position: relative;

        .ci-avatar {
          flex: 0;
          margin-right: 10px;
          position: relative;

          .avatar {
            z-index: 1;
          }

          .owner {
            position: absolute;
            right: -4px;
            top: -2px;
            z-index: 2;
          }
        }

        .ci-name {
          flex: 1;
          padding-top: 1px;
          margin-right: 10px;

          span {
            font-size: 13px;
            color: #1D2E48;
          }
        }

        .ci-remove {
          flex: 0;

          .remove-button {
            width: 24px;
            height: 24px;
            cursor: pointer;

            &:hover {
              .svg-fill path {
                fill: #4A84FB;
              }
            }
          }
        }
      }
    }
  }

  .c-invite-by-link {
    .ibl {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px 20px 17px 16px;

      .transition {
        transition: .15s;
      }

      &:hover {
        .ibl-label {
          span {
            color: #4A84FB;
          }
        }

        .svg-fill {
          path {
            fill: #4A84FB!important;
          }
        }
      }

      .ibl-icon {
        flex: 0;
        margin-right: 6px;
      }

      .ibl-label {
        flex: 1;

        span {
          line-height: 21px;
          font-size: 14px;
          color: #1D2639;
          position: relative;
          top: -1px;
        }
      }
    }
  }
}

.invite-form {
  padding: 20px 20px 5px 16px;

  .if-input {
    margin-bottom: 8px;

    input {
      width: 100%;
      background: #F8F8F9;
      border-radius: 2px;
      overflow: hidden;
      line-height: 21px;
      font-size: 14px;
      caret-color: #4A84FB;
      color: #1D2639;
      border: 0;
      padding: 9px 12px 10px;

      &::placeholder {
        color: #BBBEC4;
      }
    }
  }

  .if-submit {
    button {
      width: 100%;

      span {
        position: relative;
        top: -2px;
        left: 1px;
      }
    }
  }
}

.search-form {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-bottom: 8px;

  &.is-not-focused {
    border-bottom: 1px solid #EFF0F1;

    .focused { display: none; }
    .not-focused { display: block; }
  }

  &.is-focused {
    border-bottom: 1px solid #4A84FB;

    .focused { display: block; }
    .not-focused { display: none; }
  }

  &:hover {
    border-bottom: 1px solid #4A84FB;

    .not-hovered {
      display: none;
    }

    .hovered {
      display: block;
    }
  }

  .c-icon {
    flex: 0;
    margin-right: 10px;
  }

  .c-input {
    flex: 1;
    margin-right: 10px;

    input.input {
      font-style: normal;
      font-weight: normal;
      line-height: 21px;
      font-size: 14px;
      color: #1D2639;
      width: 100%;
      border: 0;
      cursor: pointer;

      &::placeholder {
        color: #BBBEC4;
      }

      &:hover::placeholder {
        color: #777D88;
      }
    }
  }

  .c-clear {
    flex: 0;
    cursor: pointer;
  }
}
