.c
  .c-modal-header(*ngIf="shouldDisplayModalHeader")
    .c-modal-title
      span(translate) EvodeskDesk.components.common.EvodeskDeskParticipantInviteByLink.ModalTitle
    .c-modal-close
      .close-button((click)="close()")
        .not-hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-24x24px
        .hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-hover-24x24px
  .c-input
    textarea.input(#copyLinkRef, readonly, autosize, [minRows]="6") {{ props.link }}
  .c-actions
    .c-action
      button.button.__evodesk-v3-button-blue((click)="copyLink()", type="button")
        span(translate) EvodeskDesk.components.common.EvodeskDeskParticipantInviteByLink.CopyLink
    .c-action(*ngIf="props.variant !== 'control'")
      button.button.__evodesk-v3-button((click)="close()", type="button")
        span(translate) EvodeskDesk.components.common.EvodeskDeskParticipantInviteByLink.Close
