.c {
  min-width: 320px;

  .c-modal-header {
    border-bottom: 1px solid #EFF0F1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 13px;

    .c-modal-title {
      span {
        font-weight: 500;
        line-height: 21px;
        font-size: 14px;
        color: #1D2639;
        position: relative;
        top: 1px;
        left: -2px;
      }
    }

    .c-modal-close {
      .close-button {
        cursor: pointer;
        position: relative;
        left: 2px;
        top: 1px;

        .hovered {
          display: none;
        }
        .not-hovered {
          display: block;
        }

        &:hover {
          .hovered {
            display: block;
          }
          .not-hovered {
            display: none;
          }
        }
      }
    }
  }

  .c-input {
    padding: 20px;

    textarea {
      width: 100%;
      background: #F8F8F9;
      border-radius: 2px;
      overflow: hidden;
      line-height: 21px;
      font-size: 14px;
      caret-color: #4A84FB;
      color: #1D2639;
      border: 0;
      padding: 9px 12px 10px;
      resize: none;

      &::placeholder {
        color: #BBBEC4;
      }
    }
  }

  .c-actions {
    padding: 0 20px 20px;
    display: flex;

    .c-action {
      margin-right: 10px;

      button {
        padding-left: 12px;
        padding-right: 12px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
