@import "~sass-mq";


@include mq($until: 920px) {
  .c {
    .c-desktop {
      display: none;
    }

    .c-mobile {
      display: block;
    }
  }
}

@include mq($from: 921px) {
  .c {
    .c-desktop {
      display: block;
    }

    .c-mobile {
      display: none;
    }
  }
}

.c {
  .c-desktop {
    overflow: hidden;
  }

  .c-padding {
    padding-left: 32px;
  }

  .c-title {
    margin-bottom: 17px;

    span {
      font-size: 36px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.7px;
      text-align: left;
      color: #010307;
    }
  }

  .c-sub-title {
    border-left: 4px solid #2e4ce6;
    padding-left: 24px;
    margin-bottom: 57px;

    span {
      font-size: 27px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.41;
      letter-spacing: 0.5px;
      text-align: left;
      color: #000000;
    }
  }

  .c-youtube {
    background-color: #ccc;
    margin-bottom: 80px;
  }

  .c-facts {
    margin-bottom: 80px;

    .c-facts-title {
      margin-bottom: 40px;

      span {
        font-size: 36px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.7px;
        text-align: left;
        color: #010307;
      }
    }

    .c-facts-list {
      .c-facts-list-item {
        margin-bottom: 32px;
        border-radius: 8px;
        background-color: #ffffff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

        .trigger {
          display: flex;
          justify-content: left;
          cursor: pointer;
          padding: 10px 16px;

          .trigger-status {
            margin-right: 16px;
            margin-top: 7px;
          }

          .trigger-title {
            span {
              font-size: 20px;
              font-weight: 300;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.8;
              letter-spacing: 0.4px;
              text-align: left;
              color: #2e4ce6;
            }
          }
        }

        .text {
          padding: 0 16px 24px;

          p {
            font-size: 15px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: 0.3px;
            text-align: left;
            color: #010307;
          }
        }
      }
    }
  }

  .c-more {
    .c-more-title {
      margin-bottom: 17px;

      span {
        font-size: 36px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.7px;
        text-align: left;
        color: #010307;
      }
    }

    .c-more-sub-title {
      border-left: 4px solid #2e4ce6;
      padding-left: 24px;
      margin-bottom: 57px;

      span {
        font-size: 27px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.41;
        letter-spacing: 0.5px;
        text-align: left;
        color: #000000;
      }
    }

    .c-more-form {
      margin-bottom: 40px;
    }
  }
}

