.c(*ngIf="!!state && state.ready")
  .c-desktop
    evodesk-landing-auth-panel
      .c-padding
        .c-title
          span {{ 'EvodeskLanding.components.LandingEvocoin.Title' | translate }}
        .c-sub-title
          span {{ 'EvodeskLanding.components.LandingEvocoin.SubTitle' | translate }}
        .c-youtube
          evodesk-app-common-ratio-box
            iframe(width="100%", height="100%", src="https://www.youtube.com/embed/q8hzKZ2fa6Q", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen="")
        .c-facts
          .c-facts-title
            span {{ 'EvodeskLanding.components.LandingEvocoin.Facts.Title' | translate }}
          .c-facts-list
            ng-container(*ngFor="let fact of props.facts")
              .c-facts-list-item
                .trigger((click)="toggle(fact.id)")
                  .trigger-status
                    .__evodesk-icon.ic-spoiler-arrow-up-22x23px(*ngIf="isOpened(fact.id)")
                    .__evodesk-icon.ic-spoiler-arrow-down-22x23px(*ngIf="! isOpened(fact.id)")
                  .trigger-title
                    span {{ fact.title | translate }}
                .text(*ngIf="isOpened(fact.id)")
                  span(innerHtml="{{ fact.htmlText | translate }}")
        .c-more
          .c-more-title
            span {{ 'EvodeskLanding.components.LandingEvocoin.More.Title' | translate }}
          .c-more-sub-title
            span {{ 'EvodeskLanding.components.LandingEvocoin.More.SubTitle' | translate }}
          .c-more-form
            evodesk-landing-investor-form-container
  .c-mobile
    evodesk-landing-auth-panel-mobile
      .c-title
        span {{ 'EvodeskLanding.components.LandingEvocoin.Title' | translate }}
      .c-sub-title
        span {{ 'EvodeskLanding.components.LandingEvocoin.SubTitle' | translate }}
      .c-youtube
        evodesk-app-common-ratio-box
          iframe(width="100%", height="100%", src="https://www.youtube.com/embed/q8hzKZ2fa6Q", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen="")
      .c-facts
        .c-facts-title
          span {{ 'EvodeskLanding.components.LandingEvocoin.Facts.Title' | translate }}
        .c-facts-list
          ng-container(*ngFor="let fact of props.facts")
            .c-facts-list-item
              .trigger((click)="toggle(fact.id)")
                .trigger-status
                  .__evodesk-icon.ic-spoiler-arrow-up-22x22px(*ngIf="isOpened(fact.id)")
                  .__evodesk-icon.ic-spoiler-arrow-down-22x22px(*ngIf="! isOpened(fact.id)")
                .trigger-title
                  span {{ fact.title | translate }}
              .text(*ngIf="isOpened(fact.id)")
                span(innerHtml="{{ fact.htmlText | translate }}")
      .c-more
        .c-more-title
          span {{ 'EvodeskLanding.components.LandingEvocoin.More.Title' | translate }}
        .c-more-sub-title
          span {{ 'EvodeskLanding.components.LandingEvocoin.More.SubTitle' | translate }}
        .c-more-form
          evodesk-landing-investor-form-container
