.__evodesk-material-input {}


/** should be deprecated **/
.__evodesk-material-input-deprecated {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0 10px 3px;
  border: none;
  border-bottom: 1px solid #e0e2e8;
  background: transparent;
  resize: none;
  color: #1d2e48;
  font-family: 'GothamPro', sans-serif;
  font-weight: 400;
  font-size: 16px;

  &:focus {
    outline: 0!important;
    border-color: #7c8698;
  }
}


.__evodesk-material-input-deprecated--error {
  border-color: #e10b16;
  background: url(/assets/images/icons/invalid-input.png) no-repeat right center;
}

.__evodesk-material-input-deprecated--success {
  background: url(/assets/images/icons/valid-input.png) no-repeat right center;
}
