.c(*ngIf="!!state && state.ready")
  .c-educations
    ng-container(*ngFor="let form of props.forms; let i = index")
      form.c-education([formGroup]="form", novalidate)
        .c-actions
          .move-up((click)="moveUp(i)", *ngIf="i > 0")
            .__evodesk-icon.ic-us-arrow-12x10px.with-hover
          .move-down((click)="moveDown(i)", *ngIf="i < (props.forms.length - 1)")
            .__evodesk-icon.ic-us-arrow-12x10px.with-hover
          .remove((click)="remove(i)")
            .__evodesk-icon.ic-close-modal-11x11px.with-hover
        .c-field.c-field-type
          .field
            .field-title
              span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsEducation.Type' | translate }}
            .field-contents
              .__evodesk-input-box-v2.select-mw
                select.select([formControlName]="'type'")
                  option([value]="undefined")
                  option(*ngFor="let option of props.availableTypes", [value]="option.type")
                    span {{ option.translate | translate }}
        .c-field.c-field-where-and-end
          .c-where
            .field
              .field-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsEducation.Location' | translate }}
              .field-contents
                input.input.__evodesk-input-box-v2([formControlName]="'city'", type="text")
          .c-end
            .field
              .field-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsEducation.End' | translate }}
              .field-contents
                .__evodesk-input-box-v2.select-mw
                  select.select([formControlName]="'year'")
                    option([value]="undefined")
                    option(*ngFor="let option of availableDates", [value]="option")
                      span {{ option }}
        .c-field.c-field-name
            .field
              .field-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsEducation.Name' | translate }}
              .field-contents
                input.input.__evodesk-input-box-v2([formControlName]="'name'", type="text")
        .c-field.c-field-specialty(*ngIf="shouldDisplaySpecialty(form)")
          .field
            .field-title
              span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsEducation.Specialty' | translate }}
            .field-contents
              input.input.__evodesk-input-box-v2([formControlName]="'specialty'", type="text")
  .c-add-education(*ngIf="canAdd")
    .c-add-button((click)="add()")
      .icon
        .__evodesk-icon.ic-plus-blue-40x40px
      .text
        span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsEducation.AddNew' | translate }}
