@import "~sass-mq";

@include mq($until: 700px) {
  .c-field-where-and-end {
    .c-where {
      margin-bottom: 24px;
    }
  }
}

@include mq($from: 701px) {
  .c {
    .c-field-where-and-end {
      display: flex;
      align-items: center;

      .c-where {
        flex: 1;
        margin-right: 24px;
        max-width: 280px;
      }

      .c-end {
        flex: 1;
        max-width: 128px;
      }
    }
  }
}

.c {
  width: 100%;

  .c-educations {
    margin-bottom: 32px;

    .c-education {
      border-bottom: 1px solid #d0d6f5;
      padding: 16px;

      .c-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 8px;

        .remove, .move-up, .move-down {
          width: 24px;
          height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;

          .__evodesk-icon {
            padding: 5px;
            cursor: pointer;
          }
        }

        .move-up {
          .__evodesk-icon {
            transform: rotate(180deg);
            position: relative;
            top: -2px;
          }
        }

        .move-down {
          .__evodesk-icon {
            position: relative;
            top: 1px;
          }
        }
      }

      .c-field {
        max-width: 720px;
        margin-bottom: 24px;

        &.c-field-type {
          max-width: 460px;
        }
      }

      .field {
        .field-title {
          margin-bottom: 8px;

          span {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: 0.3px;
            text-align: left;
            color: #aaacb4;
          }
        }
      }
    }
  }

  .c-add-education {
    padding: 0 16px;

    .c-add-button {
      display: flex;
      align-items: center;
      cursor: pointer;

      .icon {
        width: 40px;
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 16px;
      }

      .text {
        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: 0.3px;
          text-align: center;
          color: #2e4ce6;
        }
      }
    }
  }
}
