.c {
  padding: 16px 5px;

  &.is-sending {
    .c-right-row-2 {
      span {
        color: #999;
      }
    }
  }

  &.is-sent {
    .c-right-row-2 {
      span {
        color: #010307;
      }
    }
  }

  &.is-error {
    background-color: rgba(255, 0, 0, 0.1);

    .c-left {
      .c-avatar {
        opacity: 0.7;
      }
    }

    .c-right {
      span {
        color: red!important;
      }

      .error {
        display: block;
      }

      .remove {
        display: inline-block!important;
      }
    }
  }

  .error {
    display: none;
  }

  display: flex;
  justify-content: space-between;

  >.c-left {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 8px;
  }

  >.c-right {
    flex: 1;
    width: 100%;

    .c-right-row-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;

      .c-left {
        flex: 1;
        margin-right: 16px;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        color: #2e4ce6;

        span {
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.47;
          letter-spacing: 0.3px;
          text-align: left;
          color: #2e4ce6;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .c-right {
        flex-grow: 0;
        flex-shrink: 0;

        .date, .status {
          display: inline-block;
        }

        .status {
          vertical-align: middle;
          margin-right: 8px;
        }

        .remove {
          width: 11px;
          height: 11px;
          display: none;
          color: red;
          vertical-align: middle;
          margin-right: 5px;
          cursor: pointer;
        }

        .date {
          span {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.83;
            letter-spacing: 0.2px;
            text-align: left;
            color: #aaacb4;
          }
        }
      }
    }

    .c-right-row-2 {
      span {
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: 0.3px;
        text-align: left;
      }
    }
  }
}
