ng-container(*ngIf="!! state && state.ready")
  .c([ngClass]="containerCSSClasses")
    .c-left
      .c-avatar
        evodesk-profile-avatar([profileId]="props.message.message.author.id", [size]="40")
    .c-right
      .c-right-row-1
        .c-left
          span {{ props.message.message.author.name }}
        .c-right
          mat-icon.current-color-fill.remove(*ngIf="props.isOwnMessage", svgIcon="ic-cross", (click)="deleteBtnClick()")
          .status(*ngIf="props.isOwnMessage")
            .__evodesk-icon.ic-im-delivered-13x8px(*ngIf="isDelivered")
            .__evodesk-icon.ic-im-read-16x7px(*ngIf="isRead")
            .__evodesk-icon.ic-im-error-13x13px.error
          .date
            span([evodeskBind]="props.date$")
      .c-right-row-2
        span(innerHtml="{{ props.parsed$ | async }}")
