@import "~sass-mq";

.c {
  .c-desktop {
    overflow: hidden;
  }

  .c-padding {
    padding-left: 32px;
  }

  .c-title {
    margin-bottom: 16px;

    span {
      font-family: Roboto, sans-serif;
      font-size: 36px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.7px;
      text-align: left;
      color: #010307;
    }
  }

  .c-sub-title {
    padding-left: 24px;
    border-left: 4px solid #2e4ce6;
    margin-bottom: 48px;

    span {
      font-family: Roboto, sans-serif;
      font-size: 27px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.41;
      letter-spacing: 0.5px;
      text-align: left;
      color: #000000;
    }
  }

  .c-functions {
    margin-bottom: 100px;

    .functions {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @include mq($until: 500px) {
        .function {
          width: 100%;
        }
      }

      @include mq($from: 500px, $until: 710px) {
        .function {
          width: 50%;
          padding-right: 32px;
        }
      }

      @include mq($from: 711px) {
        .function {
          width: 33.33333333%;
          padding-right: 32px;;
        }
      }

      .function {
        display: flex;
        max-width: 380px;
        padding-bottom: 32px;

        &:last-child {
          margin-right: 0;
        }

        .card {
          border-radius: 8px;
          background-color: #ffffff;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
          padding: 24px;
          cursor: pointer;
          width: 100%;
          height: 100%;

          &:hover {
            .title {
              text-decoration: underline;
            }
          }

          &:active, &:visited {
            color: #2e4ce6;
            text-decoration: none;

            .title {
              color: #2e4ce6;
            }
          }

          .icon {
            width: 82px;
            height: 82px;
            margin: 10px auto;

            img {
              width: 82px;
              height: 82px;
            }
          }

          .title {
            text-decoration: none;
            color: #2e4ce6;

            span {
              display: block;
              font-family: Roboto, sans-serif;
              font-size: 15px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.6;
              letter-spacing: 0.3px;
              text-align: center;
              color: #2e4ce6;
            }
          }
        }
      }
    }
  }

  .c-blocks {
    .c-block {
      margin-bottom: 100px;

      .c-block-title {
        margin-bottom: 16px;

        span {
          font-family: Roboto, sans-serif;
          font-size: 36px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: 0.7px;
          text-align: left;
          color: #010307;
        }
      }

      .c-block-sub-title {
        margin-bottom: 48px;
        padding-left: 24px;
        border-left: 4px solid #2e4ce6;

        span {
          font-family: Roboto, sans-serif;
          font-size: 27px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.41;
          letter-spacing: 0.5px;
          text-align: left;
          color: #000000;
        }
      }

      .c-block-tabs {
        ::ng-deep {
          .mat-tab-header {
            border-bottom: none;
          }

          .mat-tab-label {
            opacity: 1!important;
          }

          .mat-tab-label-content {
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.88;
            letter-spacing: 0.3px;
            text-align: left;
            color: #2e4ce6;
          }

          .mat-tab-label-active {
            .mat-tab-label-content {
              color: #010307;
            }
          }

          .mat-ink-bar {
            background-color: #2e4ce6;
            height: 3px;
          }
        }
      }
    }
  }
}

@include mq($from: 1251px) {
  .c {
    >.c-desktop {
      display: block;
    }

    >.c-mobile {
      display: none;
    }
  }
}

@include mq($until: 1250px) {
  .c {
    >.c-desktop {
      display: none;
    }

    >.c-mobile {
      display: block
    }
  }
}

@include mq($until: 1250px) {
  .c {
    padding-top: 10px;
    padding-bottom: 20px;

    .c-title {
      span {
        font-family: Roboto, sans-serif;
        font-size: 26px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: 0.5px;
        text-align: left;
        color: #010307;
      }
    }

    .c-sub-title {
      padding-left: 16px;

      span {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: 0.4px;
        text-align: left;
        color: #000000;
      }
    }

    .c-functions {
      .functions {
        .functions-group {
          display: block;

          .function {
            margin: 0 auto 32px;
          }
        }
      }
    }

    .c-blocks {
      .c-block {
        .c-block-title {
          margin-bottom: 16px;

          span {
            font-family: Roboto, sans-serif;
            font-size: 26px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.23;
            letter-spacing: 0.5px;
            text-align: left;
            color: #010307;
          }
        }

        .c-block-sub-title {
          padding-left: 16px;
          margin-bottom: 30px;

          span {
            font-family: Roboto, sans-serif;
            font-size: 18px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.44;
            letter-spacing: 0.4px;
            text-align: left;
            color: #000000;
          }
        }
      }
    }
  }
}
