img(*ngFor="let img of images", [src]="img", style="display: none;")

ng-container(*ngIf="!!state && state.ready")
  .c
    .c-desktop
      evodesk-landing-auth-panel
        .c-padding
          .c-title
            span {{ 'EvodeskLanding.components.LandingFeatures.Title' | translate }}
          .c-sub-title
            span(innerHtml="{{ 'EvodeskLanding.components.LandingFeatures.SubTitle' | translate }}")
          .c-functions
            .functions
              .function(*ngFor="let f of enabledFunctions")
                a.card([routerLink]="['/landing/features']", [fragment]="f.anchorDOMId", (click)='scrollTo(f.anchorDOMId)')
                  .icon
                    img([src]="f.img")
                  .title
                    span {{ f.title | translate }}
          .c-blocks
            ng-container(*ngFor="let block of props.blocks")
              .c-block(attr.id="{{ block.anchorDOMId }}")
                .c-block-title
                  span {{ block.title | translate }}
                .c-block-sub-title
                  span {{ block.subTitle | translate }}
                .c-block-tabs
                  ng-container(*ngFor="let tab of block.tabs")
                      mat-tab-group
                        mat-tab(label="{{ tab.tabTitle | translate }}")
                          ng-container(*ngIf="tab.type === 'text'")
                            .c-block-slides
                              evodesk-landing-features-swiper([slides]="tab.slides")
    .c-mobile
      evodesk-landing-auth-panel-mobile
        .c-title
          span {{ 'EvodeskLanding.components.LandingFeatures.Title' | translate }}
        .c-sub-title
          span(innerHtml="{{ 'EvodeskLanding.components.LandingFeatures.SubTitle' | translate }}")
        .c-functions
          .functions
            .function(*ngFor="let f of enabledFunctions")
              a.card([routerLink]="['/landing/features']", [fragment]="f.anchorDOMId", (click)='scrollTo(f.anchorDOMId)')
                .icon
                  img([src]="f.img")
                .title
                  span {{ f.title | translate }}
        .c-blocks
          ng-container(*ngFor="let block of props.blocks")
            .c-block(attr.id="mobile-{{ block.anchorDOMId }}")
              .c-block-title
                span {{ block.title | translate }}
              .c-block-sub-title
                span {{ block.subTitle | translate }}
              .c-block-tabs
                ng-container(*ngFor="let tab of block.tabs")
                  mat-tab-group
                    mat-tab(label="{{ tab.tabTitle | translate }}")
                      ng-container(*ngIf="tab.type === 'text'")
                        .c-block-slides
                          evodesk-landing-features-swiper([slides]="tab.slides")
