.c {
  max-height: 80vh;
  overflow: auto;

  .c-card {
    .c-card-title {
      padding: 4px 14px 4px 16px;
      border-bottom: 1px solid #d0d6f5;
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      margin-bottom: 12px;
      z-index: 2;
      background-color: #fff;

      &:hover {
        .c-title-right {
          .edit {
            display: block;
          }
        }
      }

      .c-title-left {
        flex: 1;
        margin-right: 16px;

        span {
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.4px;
          text-align: left;
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .c-title-right {
        flex-grow: 0;
        flex-shrink: 0;

        .close-button {
          cursor: pointer;
          padding: 2px;
        }
      }
    }

    .c-card-contents {
      display: flex;
      z-index: 1;

      .c-card-contents-area {
        flex: 1;
      }

      .c-card-contents-scroll {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }

    .c-card-contents {
      border-bottom: 1px solid #d0d6f5;

      .c-profile {
        margin-bottom: 12px;

        .entry {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .entry-avatar {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 8px;
            margin-left: 16px;
          }

          .entry-info {
            flex: 1;
            margin-right: 16px;

            .entry-name {
              span {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.57;
                letter-spacing: 0.3px;
                text-align: left;
                color: #010307;
              }
            }

            .entry-status {
              span {
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.83;
                letter-spacing: 0.2px;
                text-align: left;
                color: #aaacb4;
              }
            }
          }
        }
      }

      .c-work-experience {
        padding: 16px;
      }
    }
  }
}
