.c
  .c-card
    .c-card-title
      .c-title-left
        span {{ 'EvodeskProfile.components.EvodeskProfileWorkExperienceDecide.Title' | translate }}
      .c-title-right
        .close-button((click)="close()")
          .__evodesk-icon.ic-close-modal-15x15px.with-hover
    .c-card-contents
      .c-card-contents-area
        .c-profile
          .entry
            .c-profile-avatar.entry-avatar
              .c-profile-avatar
                evodesk-profile-avatar([profileId]="props.profile.id", [size]="52")
            .c-profile-info.entry-info
              .c-profile-name.entry-name
                span {{ props.profile.name || props.profile.email }}
              .c-profile-status.entry-status
                span {{ props.profile.position || '' }}
        .c-work-experience
          evodesk-profile-work-experience-entry-container(
            [experience]="props.experience",
            [layoutVariant]="'decide-modal'",
            (approveAccepted)="close()",
            (approveRejected)="close()",
            (approveNotNow)="close()",
          )
