@import "~sass-mq";

$card_width: 172px;

.content {
  overflow: hidden;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr auto;

  &.bottom {
    margin-bottom: -16px;
    overflow-y: hidden;
  }
}

.album-img {
  width: $card_width;
  height: 140px;
  border-radius: 4px;
  background-color: #dddddd;
  object-fit: cover;
}

.selectable {
  cursor: pointer;
  position: relative;
}

.mask {
  height: 140px;
  width: $card_width;
}

.text {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.3px;
  text-align: left;
  color: #2e4ce6;
}

.photos-count {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(170, 172, 180, 0.6);
}

.albums-flex {
  margin-left: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -32px;
  margin-bottom: -16px;
  overflow-y: hidden;
}

.photos-flex {
  margin-left: 16px;
  width: unset;
}

.album-card {
  width: 172px;
  margin-bottom: 24px;
  margin-right: 16px;
}

.album-title {
  word-wrap: break-word;
  max-height: 2.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 2px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.icon-plus {
  background-color: #2e4ce6;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin: 0 auto 8px auto;
  line-height: 40px;
}

.empty {
  overflow: hidden;
  margin: 0;

  .albums-flex {
    margin: 0;

    .album-card {
      margin: auto;
    }
  }

  .header, .photos-flex {
    display: none
  }
}

.create {
  * {
    text-align: center;
  }
  width: $card_width;
  height: 140px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ripple-overlay {
  border-radius: 4px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.photos-container {
  margin: 0;
  overflow: hidden;
}

.scroll-bar {
  grid-column: 2;
}

@include mq($until: $card_width * 3) {

  .albums-flex {
    margin-right: 0;
  }

  .album-card {
    width: 100%!important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
