.sticky-wrapper(#sticky='', (click)="state.handleBackdrop()")
  .dialog((click)="$event.stopPropagation()")
    .header.sticky
      .title {{ 'EvodeskProfile.components.EvodeskProfilePhotos.Title' | translate }}
      button.close-btn(mat-dialog-close mat-icon-button)
        mat-icon(svgIcon="ic-cross")
    .content
      .photos-container([ngClass]="{'empty': allPhotos.length === 0}", #scrollArea, evodeskTouchScroll='y', [evodeskTouchPreventDefaults]="false",
            evodeskMouseWheelScroll, [evodeskMouseWheelPreventDefaults]="false", evodeskKeyboardScroll)
        .albums-flex
          .album-card.selectable(*ngFor='let album of state.snapshot.current.albums', (click)='openAlbumDialog(album)')
            .ripple-overlay(matRipple)
            img.album-img(*ngIf='album.photos.length > 0', [src]="getPhotoPreview(album.photos[album.photos.length - 1])")
            .mask(*ngIf='album.photos.length === 0')
            .text.album-title {{ album.name }}
            .photos-count {{ 'EvodeskProfile.components.EvodeskProfileViewAllAlbums.PhotosCount' | translate:{count: album.photos.length} }}
          .album-card(*ngIf="canAddAlbum")
            .create.selectable((click)="createAlbum()")
              .ripple-overlay(matRipple)
              .icon-plus
              .text {{ 'EvodeskProfile.components.EvodeskProfileViewAllAlbums.Create' | translate }}
        .header
          .title {{ 'EvodeskProfile.components.EvodeskProfileViewAllAlbums.TitlePhotos' | translate }}
        .photos-flex
          .photo(*ngFor='let photo of allPhotos let i = index', (click)='openViewPhoto(i)')
            img([src]="getPhotoPreview(photo)")
      evodesk-app-common-scroll-bar.scroll-bar([elementRef]="scrollArea", scrollBarDirection="y", [theme]="'blue'")
