.c(*ngIf="!!state && state.ready")
  .c-screen.c-screen-desks(*ngIf="isScreen('own-only')")
    .desks-list
      .desks-list-item(*ngFor="let desk of state.filtered; trackBy: trackByDeskId")
        evodesk-desk-dashboard-card-container([desk]="desk")
      .desks-list-item
        button.create-new-desk-card((click)="createNewDesk()", [disabled]="props.isAddButtonDisabled")
          .box
            .box-icon
              i.icon-plus
            .box-text
              span {{ 'EvodeskDeskDashboard.components.DeskDashboard.CreateNewDesk' | translate }}
  .c-screen.c-screen-desks(*ngIf="isScreen('participating')")
    .no-results(*ngIf="state.filtered.length === 0")
      span {{ 'EvodeskDeskDashboard.components.DeskDashboard.NoParticipationInOtherDesks' | translate }}
    .desks-list(*ngIf="state.filtered.length > 0")
      .desks-list-item(*ngFor="let desk of state.filtered; trackBy: trackByDeskId")
        evodesk-desk-dashboard-card-container([desk]="desk")
  .c-screen.c-screen-invites(*ngIf="isScreen('invites')")
    ng-container(*ngIf="props.invites.length === 0")
      .no-invites
        span {{ 'EvodeskDeskDashboard.components.DeskDashboard.NoInvites' | translate }}
    ng-container(*ngIf="props.invites.length > 0")
      .invites-list
        .invites-list-item(*ngFor="let invite of props.invites")
          evodesk-desk-dashboard-invite-card-container([invite]="invite")
