@import "~sass-mq";

@include mq($until: tablet) {
  .c-screen {
    &.c-screen-desks {
      padding: 20px;

      .desks-list {
        .desks-list-item {
          width: 100%;
          min-width: 150px;
          margin: 15px auto;
          height: 120px;
        }
      }


      .no-results {
        text-align: center;
        margin: 45px 15px;

        span {
          font-family: "Gotham Pro", sans-serif;
          font-size: 16px;
          color: #aaa;
        }
      }
    }

    &.c-screen-invites {
      .invites-list {
        .invites-list-item {
          width: 100%;
          min-width: 150px;
          margin: 15px auto;
          min-height: 200px;
        }
      }

      .no-invites {
        text-align: center;
        margin: 45px 15px;

        span {
          font-family: "Gotham Pro", sans-serif;
          font-size: 16px;
          color: #aaa;
        }
      }
    }
  }
}

@include mq($from: tablet) {
  .c-screen {
    &.c-screen-desks {
      .desks-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .desks-list-item {
          flex: 1;
          width: 100%;
          min-width: 320px;
          max-width: 365px;
          margin: 15px;
          display: inline-block;
          min-height: 120px;
        }
      }

      .no-results {
        text-align: center;
        margin: 45px 15px;

        span {
          font-family: "Gotham Pro", sans-serif;
          font-size: 16px;
          color: #aaa;
        }
      }
    }

    &.c-screen-invites {
      .invites-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .invites-list-item {
          flex: 1;
          width: 100%;
          min-width: 350px;
          max-width: 365px;
          margin: 15px;
          display: inline-block;
          min-height: 200px;
        }
      }

      .no-invites {
        text-align: center;
        margin: 45px 15px;

        span {
          font-family: "Gotham Pro", sans-serif;
          font-size: 16px;
          color: #aaa;
        }
      }
    }
  }
}

.c {
  .c-menu {
    margin-bottom: 20px;
  }

  .c-screen {
    &.c-screen-desks {
      .create-new-desk-card {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        border-radius: 6px;
        overflow: hidden;
        border: 1px dashed #aaa;
        background-color: rgba(255, 255, 255, 0);
        transition: .15s;
        cursor: pointer;
        outline: 0;

        &:hover:enabled {
          border: 1px solid #fff;
          background-color: rgba(255, 255, 255, 1);
          box-shadow: 13px 11px 35px rgba(29, 46, 72, .13);

          .box {
            .box-icon {
              color: #999;
              background-color: rgba(0, 0, 0, 0.1);
            }

            .box-text {
              color: rgba(50, 50, 50, 1);
            }
          }
        }

        &:disabled {
          .box {
            .box-icon {
              color: #ccc;
            }

            .box-text {
              color: #ccc;
            }
          }
        }

        .box {
          .box-icon {
            width: 32px;
            height: 32px;
            line-height: 34px;
            border-radius: 100%;
            background-color: rgba(0, 0, 0, 0.05);
            font-size: 12px;
            color: #aaa;
            overflow: hidden;
            margin: 15px auto;
            text-align: center;
            transition: .15s;
          }

          .box-text {
            font-family: "Gotham Pro", sans-serif;
            font-size: 14px;
            color: rgba(50, 50, 50, 0.8);
            transition: .15s;
          }
        }
      }
    }
  }
}
