.c((clickOutside)="close()", [delayClickOutsideInit]="true", [clickOutsideEvents]="'mousedown,touchstart'")
  .c-item((click)="use('vk')")
    .c-item-icon
      .__evodesk-sn-icon.sn-vk
    .c-item-name
      span(translate) EvodeskLanding.components.LandingOAuth.Vk
  .c-item((click)="use('facebook')")
    .c-item-icon
      .__evodesk-sn-icon.sn-facebook
    .c-item-name
      span(translate) EvodeskLanding.components.LandingOAuth.Facebook
  .c-item((click)="use('linkedin')")
    .c-item-icon
      .__evodesk-sn-icon.sn-linkedin
    .c-item-name
      span(translate) EvodeskLanding.components.LandingOAuth.LinkedIn
  .c-item((click)="use('google-plus')")
    .c-item-icon
      .__evodesk-sn-icon.sn-google-plus
    .c-item-name
      span(translate) EvodeskLanding.components.LandingOAuth.GooglePlus
  .c-item.c-close((click)="close()")
    .c-item-icon
      .icon-flex
        .__evodesk-icon.ic-close-modal-15x15px
    .c-item-name
      span(translate) EvodeskLanding.components.LandingOAuth.Close
