.c {
  .c-item {
    padding: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #fafafa;
    }

    .c-item-icon {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 16px;
      width: 24px;
      height: 24px;

      .__evodesk-sn-icon {
        width: 24px;
        height: 24px;
      }

      .icon-flex {
        width: 24px; height: 24px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
      }
    }

    .c-item-name {
      cursor: pointer;

      span {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 0.2px;
        text-align: left;
        color: #010307;
        transition: .15s;
      }
    }
  }
}
