.c
  .c-modals
    .c-modal-video-intro(*ngIf="state.isVideoIntroOpened")
      evodesk-landing-video-intro((clickOutside)="closeVideoIntro()", [delayClickOutsideInit]="true")
  .c-video-backdrop
    video(src="/assets/landing/test-video.mp4", #evodeskLandingBackgroundVideo="", muted autoplay loop)
  .c-page
    .c-contents
      .top-margin
      .c-contents-blocks
        .c-contents-block-logo
          .logo
            img(src="/assets/images/evodesk-logo-white.svg")
          .description
            span {{ 'EvodeskLanding.components.LandingIndex.Description' | translate }}
          .video((click)="openVideoIntro()")
            span {{ 'EvodeskLanding.components.LandingIndex.Video' | translate }}
            .__evodesk-icon.ic-video-24x24px
        .c-contents-block-auth
          .auth
            evodesk-landing-auth-container
          .video((click)="openVideoIntro()")
            span.desktop {{ 'EvodeskLanding.components.LandingIndex.Video' | translate }}
            span.mobile {{ 'EvodeskLanding.components.LandingIndex.VideoShort' | translate }}
            .__evodesk-icon.ic-video-24x24px
    .c-footer
      evodesk-landing-footer
