@import "~sass-mq";

@include mq($until: 375px) {
  .__evodesk-icon.ic-video-24x24px {
    display: none;
  }
}

@keyframes showVideo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.c {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow: hidden;

  .c-modals {
    .c-modal-video-intro {
      position: fixed;
      top: 0; bottom: 0; left: 0; right: 0;
      z-index: 9;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      animation: showVideo 0.25s normal forwards ease-in-out;
    }
  }

  .c-video-backdrop, .c-page {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow: hidden;
  }

  .c-video-backdrop {
    z-index: 1;
    background-color: #000;

    video {
      width: 100%;
      height: 100%;
      opacity: .8;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }

  .c-page {
    z-index: 2;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .c-contents {
      flex: 1;
      padding: 0 10px;

      .top-margin {
        height: 100px;
      }

      .logo {
        width: 100%;
        max-width: 168px;
        margin: 0 auto 32px;

        img {
          width: 100%;
        }
      }

      .description {
        margin: 0 auto;
        width: 100%;
        max-width: 380px;
        text-align: center;
        padding: 10px 0;

        span {
          font-family: Roboto, sans-serif;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.6;
          letter-spacing: 0.4px;
          text-align: center;
          color: #ffffff;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
        }
      }

      .auth {
        margin: 0 auto 32px;
        width: 100%;
        max-width: 320px;
      }

      .video {
        text-align: center;
        padding: 0 10px;
        margin-bottom: 40px;

        span {
          border-bottom: 1px solid rgba(255, 255, 255, 0);
          transition: 0.15s;
          cursor: pointer;

          &:hover {
            border-bottom-color: rgba(255, 255, 255, 100);
          }
        }

        .__evodesk-icon {
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
          position: relative;
          top: -4px;
        }
      }
    }

    .c-footer {
      flex-grow: 0;
      flex-shrink: 0;
      height: 80px;
    }
  }
}

@include mq($until: 460px) {
  .c-page {
    .c-contents {
      .logo {
        display: none;
      }

      .description {
        width: 320px;

        span {
          font-size: 16px;
        }
      }

      .auth {
        width: 310px;
      }

      .video {
        line-height: 35px;
        cursor: pointer;

        span {
          font-family: Roboto, sans-serif;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.1px;
          text-align: left;
          color: #ffffff;
        }

        span.desktop {
          display: none;
        }
      }
    }
  }
}

@include mq($from: 461px) {
  .c-page {
    .c-contents {
      .description {
        span {
          font-size: 20px;
        }
      }

      .video {
        line-height: 35px;

        span {
          width: 522px;
          height: 28px;
          font-family: Roboto, sans-serif;
          font-size: 24px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.2px;
          text-align: left;
          color: #ffffff;
        }

        span.mobile {
          display: none;
        }
      }
    }
  }
}

@include mq($until: 1440px) {
  .c {
    .c-page {
      .c-contents {
        .c-contents-blocks {
          .c-contents-block-logo {
            .video {
              display: none;
            }
          }
        }
      }
    }
  }
}

@include mq($from: 1441px) {
  .c {
    .c-page {
      .c-contents {
        display: flex;
        align-items: center;
        justify-content: center;

        .top-margin {
          display: none;
        }

        .c-contents-blocks {
          display: flex;
          max-width: 850px;

          .c-contents-block-logo {
            margin-right: 65px;

            .logo {
              max-width: 250px;
              margin: 32px 0 0;
              padding-bottom: 0;
            }

            .description {
              font-size: 24px;
              width: 100%;
              max-width: none;
              text-align: left;
              padding-top: 0;
              margin: 0 0 35px;
            }

            .video {
              cursor: pointer;
              text-align: left;
              padding: 0;
            }
          }

          .c-contents-block-auth {
            width: 320px;
            flex-shrink: 0;

            .video {
              display: none;
            }
          }
        }
      }
    }
  }
}
