.c {
  position: relative;

  &.are-options-opened {
    .c-context-menu-trigger {
      .icon {
        .__evodesk-icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  .c-context-menu-trigger {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .text {
      margin-right: 10px;
    }

    .link {
      white-space: nowrap;
      word-break: keep-all;
      cursor: pointer;
      text-decoration: none;
      opacity: 0.91;
      padding: 12px 0;

      span {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: 0.4px;
        text-align: left;
        color: #ffffff;
        transition: .15s;
      }
    }

    .icon {
      .__evodesk-icon {
        transition: .15s;
      }
    }
  }

  .c-context-menu {
    .item {
      white-space: nowrap;
      word-break: keep-all;
      cursor: pointer;
      text-decoration: none;
      opacity: 0.91;
      padding: 12px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        opacity: 1;

        span {
          border-bottom: 1px solid rgba(255, 255, 255, 100);
        }
      }

      span {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: 0.4px;
        text-align: left;
        color: #ffffff;
        transition: .15s;
      }
    }
  }
}
