.c(*ngIf="!!state && state.ready", [ngClass]="{ 'are-options-opened': state.areOptionsOpened }")
  .c-context-menu-trigger((click)="toggleOptions()")
    .text
      .link
        span {{ 'EvodeskHeader.components.common.EvodeskHeaderMobileLanguages.AvailableLocales.' + props.currentLocale | translate }}
    .icon
      .__evodesk-icon.ic-select-arrow-9x4px
  .c-context-menu(*ngIf="state.areOptionsOpened")
    .item(*ngFor="let locale of props.availableLocales", (click)="select(locale)")
      span {{ 'EvodeskHeader.components.common.EvodeskHeaderMobileLanguages.AvailableLocales.' + locale | translate }}
