.__evodesk-desk-mat-tooltip {
  padding: 8px 16px;
  border-radius: 4px!important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.3px;
  text-align: left;
  background-color: #010307;
  color: #fff;
}
