.c {
  display: flex;

  .c-contents {
    flex: 1;
    margin-right: 16px;
    height: 100%;
    max-height: 50vh;
    overflow: hidden;

    .search-results-section {
      &.search-results-section-profiles {
        .items {
          .item {
            display: flex;
            cursor: pointer;
            padding: 8px;
            border-radius: 3px;
            margin-bottom: 4px;
            align-items: center;

            &.active {
              background-color: #d0d6f5;
            }

            .avatar {
              flex-grow: 0;
              flex-shrink: 0;
              margin-right: 16px;
            }

            .info {
              flex: 1;

              .name {
                span {
                  font-size: 14px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.57;
                  letter-spacing: 0.3px;
                  text-align: left;
                  color: #010307;
                  word-break: break-all;
                }
              }

              .post {
                span {
                  font-size: 12px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.83;
                  letter-spacing: 0.2px;
                  text-align: left;
                  color: #aaacb4;
                  word-break: break-all;
                }
              }
            }
          }
        }
      }
    }
  }

  .c-scroll {
    flex-grow: 0;
    flex-shrink: 0;
  }
}
