.c
  .c-contents(#searchResultsScrollContent, evodeskTouchScroll="y", evodeskMouseWheelScroll, evodeskKeyboardScroll)
    .search-results-section.search-results-section-profiles(*ngIf="props.searchResults.profiles.length > 0")
      .items
        ng-container(*ngFor="let profile of props.searchResults.profiles")
          .item((click)="selectProfile(profile)", [ngClass]="{ 'active': isProfileActive(profile) }", (mouseover)="setActiveProfile(profile)")
            .avatar
              evodesk-profile-avatar([profileId]="profile.id", [size]="48")
            .info
              .name
                span {{ profile.name || profile.email }}
              .post
                span {{ profile.position || '' }}
  .c-scroll
    evodesk-app-common-scroll-bar([elementRef]="searchResultsScrollContent", [scrollBarDirection]="'y'", [theme]="'blue'")
