@import "~sass-mq";

@include mq($until: tablet) {
  .c {
    &.is-edit-modal-opened {
      >.c-card {
        display: none;
        visibility: hidden;
      }
    }

    .c-card {
      >.c-actions {
        .action {
          opacity: 1;

          button.button {
            i {
              font-size: 12px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@include mq($from: tablet) {
  .c {
    .c-card {
      >.c-actions {
        .action {
          opacity: 0;

          button.button {
            &:hover {
              i {
                color: #000;
              }
            }

            i {
              font-size: 10px;
              color: #aaa;
            }
          }
        }
      }
    }
  }
}

:host {
  width: 100%;
  height: 100%;
}

.c {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: .15s;
  position: relative;

  .c-card {
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;

    &:hover {
      box-shadow: 13px 11px 35px rgba(29, 46, 72, .13);

      >.c-title {
        >span {
          color: #131313;
        }
      }

      >.c-background {
        opacity: 0;
        transition: .15s;
      }

      >.c-actions {
        .action {
          opacity: 1;
        }
      }
    }

    >.c-title {
      $PADDING_TITLE: 20px;

      position: absolute;
      top: $PADDING_TITLE; bottom: $PADDING_TITLE; left: $PADDING_TITLE; right: $PADDING_TITLE;
      z-index: 1;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      overflow: hidden;

      > span {
        display: block;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        line-height: 20px;
        height: 25px;
        margin-top: 5px;
        font-family: "Helvetica Neue", sans-serif;
        color: #fff;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    >.c-actions {
      $PADDING: 20px;
      z-index: 2;

      .action {
        position: absolute;
        transition: .15s;
        z-index: 2;

        button.button {
          border: 0;
          outline: 0;
          background: none;
          cursor: pointer;
          padding: 10px;
        }

        &.action-edit {
          top: $PADDING; right: $PADDING + 10px + $PADDING;
        }

        &.action-delete {
          top: $PADDING; right: $PADDING;
        }
      }
    }

    >.c-background {
      z-index: 0;
      opacity: 1;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      background-color: #1d2e48;
      border-radius: 6px;
      overflow: hidden;
    }
  }
}