.c(*ngIf="!!state && state.ready")
  .c-card((click)="navigateToCard()")
    .c-title
      span {{ props.desk.name || props.desk.title }}
    .c-actions
      .action.action-edit((click)="edit()")
        button.button.button-edit((click)="$event.stopPropagation(); $event.preventDefault(); edit()")
          i.icon-edit
      .action.action-delete((click)="delete()")
        button.button.button-delete((click)="$event.stopPropagation(); $event.preventDefault(); delete()")
          i.icon-cross
    .c-background([ngStyle]="state.backdropNgStyle")
img(style="display:none", src="/assets/images/icon-maps/1.png")
