@import "~sass-mq";

.c {
  height: 100%;

  .c-links {
    height: 100%;

    .links {
      height: 100%;

      display: flex;
      justify-content: flex-start;
      white-space: nowrap;
      align-items: center;

      .link {
        white-space: nowrap;
        word-break: keep-all;
        cursor: pointer;
        text-decoration: none;
        opacity: 0.91;
        margin-left: 30px;

        &.active, &.custom-active {
        }

        &:hover {
          opacity: 1;

          span {
            border-bottom: 1px solid rgba(255, 255, 255, 100);
          }
        }

        span {
          font-style: normal;
          font-weight: normal;
          line-height: 21px;
          font-size: 14px;
          font-stretch: normal;
          letter-spacing: 0.3px;
          text-align: left;
          color: #ffffff;
          border-bottom: 1px solid rgba(255, 255, 255, 0);
          transition: .15s;
        }
      }
    }
  }
}

@include mq($until: 1440px) {
  .is-available-wide {
    display: none!important;
  }
}
