.c
  .c-links
    .links
      ng-container(*ngFor="let item of menuItems; trackBy: trackByMenuItemId")
        ng-container(*ngIf="item.link.type === 'routerLink'")
          a.link([routerLink]="item.link.routerLink", [ngClass]="getNgClasses(item)", [routerLinkActive]="'active'")
            .link-title
              span(*ngIf="item.title.shouldTranslate") {{ item.title.text | translate }}
              span(*ngIf="! item.title.shouldTranslate") {{ item.title.text }}
