.c(*ngIf="state.canScroll", [class]="theme", [ngClass]="ngClasses", [ngStyle]="state.containerNgStyle")
  .c-area
  .c-scroll-block(
    [ngClass]="{ 'is-active': state.isDragging }",
    [ngStyle]="state.scrollBlockNgStyle",
    (mousedown.out-zone)="onScrollBlockMouseDown($event)",
    (touchstart.out-zone)="onScrollBlockTouchStart($event)",
  )
    .c-scroll-bg
      .c-scroll-trigger
