@import "~sass-mq";

@import "./../../../../../../assets/export-constants";

@mixin scrollBar($size, $theme) {
  #{$theme}.c-direction-x {
    height: $size;
    width: 100%;

    .c-area, .c-scroll-block {
      height: $size;
    }
  }

  #{$theme}.c-direction-y {
    width: $size;
    height: 100%;

    .c-area, .c-scroll-block {
      width: $size;
    }
  }
}

@include mq($until: desktop) {
  @include scrollBar(18px, '.default');
  @include scrollBar(14px, '.blue');
}

@include mq($from: desktop) {
  @include scrollBar(12px, '.default');
  @include scrollBar(14px, '.blue');
}

:host {
  height: 100%;
  display: block;
}

.c {
  position: relative;

  .c-area {
    height: 100%; width: 100%;
    position: absolute;
    z-index: 1;
  }

  .c-scroll-block {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
    transition: opacity .15s;
    min-height: 30px;

    .c-scroll-bg {
      width: 100%;
      height: 100%;
    }
  }

  &.c-direction-y {
    height: 100%;
  }
}

.c {
  &.auto-hide {
    .c-scroll-block {
      opacity: 0;
    }

    &.visible, &.force-visible, &:hover {
      .c-scroll-block {
        opacity: 1;
      }
    }
  }
}

.c {
  &.default {
    .c-scroll-block {
      .c-scroll-bg {
        padding: 3px;

        .c-scroll-trigger {
          border-radius: 5px;
          height: 100%;
          background-color: #BBBEC4;
          opacity: 0.5;
          transition: .15s;
          width: 4px;
        }
      }

      &:hover, &.is-active {
        .c-scroll-bg {
          .c-scroll-trigger {
            height: 100%;
            background-color: darken(#BBBEC4, 20%);
            opacity: 1;
          }
        }
      }
    }
  }

  &.blue {
    .c-scroll-block {
      .c-scroll-bg {
        padding: 3px;

        .c-scroll-trigger {
          height: 100%;
          background-color: #d0d6f5;
          transition: .15s;
          border-radius: 10px;
        }
      }

      &:hover, &.is-active {
        .c-scroll-bg {
          .c-scroll-trigger {
            height: 100%;
            background-color: #2e4ce6;
          }
        }
      }
    }
  }

  &.v3 {
    &.c-direction-y {
      width: 9px;
      height: 100%;

      .c-area, .c-scroll-block {
        width: 9px;
      }
    }

    .c-direction-x {
      height: 9px;
      width: 100%;

      .c-area, .c-scroll-block {
        height: 9px;
      }
    }

    .c-scroll-block {
      .c-scroll-bg {
        padding: 3px;

        .c-scroll-trigger {
          border-radius: 5px;
          height: 100%;
          background-color: #BBBEC4;
          opacity: 0.5;
          transition: .15s;
          width: 3px;
        }
      }

      &:hover, &.is-active {
        .c-scroll-bg {
          .c-scroll-trigger {
            height: 100%;
            background-color: darken(#BBBEC4, 20%);
            opacity: 1;
          }
        }
      }
    }
  }

  &.v3-desk {
    .c-scroll-block {
      .c-scroll-bg {
        padding: 3px;

        .c-scroll-trigger {
          border-radius: 5px;
          height: 100%;
          background-color: #BBBEC4;
          opacity: 0.5;
          transition: .15s;
          width: 3px;
        }
      }

      &:hover, &.is-active {
        .c-scroll-bg {
          .c-scroll-trigger {
            height: 100%;
            background-color: darken(#BBBEC4, 20%);
            opacity: 1;
          }
        }
      }
    }
  }

  &.v3-desk-horizontal {
    .c-scroll-block {
      .c-scroll-bg {
        padding: 3px;

        .c-scroll-trigger {
          border-radius: 5px;
          background-color: #BBBEC4;
          opacity: 0.5;
          transition: .15s;
          height: 4px;
        }
      }

      &:hover, &.is-active {
        .c-scroll-bg {
          .c-scroll-trigger {
            background-color: darken(#BBBEC4, 20%);
            opacity: 1;
          }
        }
      }
    }
  }
}
