.skills {
  .skill {
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 8px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #ddd;


    .name {
      background-color: #fff;
      padding: 0 8px;
      flex: 1;
      height: 32px;

      span {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 32px;
        letter-spacing: 0.3px;
        text-align: center;
        color: #010307;
        text-transform: uppercase;
      }
    }
  }
}
