input.__evodesk-input-box-v2[type="text"], input.__evodesk-input-box-v2[type="password"] {
  width: 100%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 1px #dddddd;
  padding: 8px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.3px;
  text-align: left;
  color: #010307;

  &:disabled {
    border-color: #eee;
    color: #ccc;

    &::placeholder {
      color: #eee!important;
    }
  }

  &:focus {
    border-color: #2e4ce6;
  }

  &.ng-dirty.ng-invalid {
    border-color: red;
  }
}

input.__evodesk-input-box-v2[type="text"]::placeholder, input.__evodesk-input-box-v2[type="password"]::placeholder {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.3px;
  text-align: left;
  color: #999999;
}

.__evodesk-input-box-v2 {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: contain;
    background-image: url(/assets//components/evodesk-input-box-v2/ic-select-v2-arrow-down.svg);
    width: 8px; height: 5px;
    right: 15px;
    top: 18px;
  }

  select {
    width: 100%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 1px #dddddd;
    padding: 8px;
    -moz-appearance: none;
    -webkit-appearance: none;

    &.ng-dirty.ng-invalid {
      border-color: red;
    }

    &:focus {
      border-color: #2e4ce6;
    }

    &::-ms-expand {
      display: none;
    }

    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.3px;
    text-align: left;
    color: #010307;

    option {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: 0.3px;
      text-align: left;
      color: #010307;
    }
  }
}

textarea.__evodesk-input-box-v2 {
  width: 100%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 1px #dddddd;
  padding: 7px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: 0.3px;
  text-align: left;
  color: #010307;
  resize: none;

  &:focus {
    border-color: #2e4ce6;
  }

  &.ng-dirty.ng-invalid {
    border-color: red;
  }
}
