ng-container(*ngIf="!!state && state.ready")
  input.file(type="file", #fileInput, (change)="onFileInput($event)", multiple)
  form.c([formGroup]="props.form", novalidate, (ngSubmit)="submit()", [ngClass]="containerCSSClasses")
    .c-modal-title(*ngIf="props.viewMode === 'modal'")
      .c-modal-title-left
        span(*ngIf="! props.isEditing") {{ 'EvodeskFeed.components.EvodeskFeedPostEditorForm.ModalTitle' | translate }}
        span(*ngIf="props.isEditing") {{ 'EvodeskFeed.components.EvodeskFeedPostEditorForm.ModalTitleEdit' | translate }}
      .c-modal-title-right
        .close-button((click)="closeModal()")
          .__evodesk-icon.ic-close-modal-13x13px
    .c-screen.c-screen-text-post(*ngIf="! props.forceExpandedForm && state.screen === 'text-post'")
      .c-card
        .c-card-title
          span(*ngIf="! props.isEditing") {{ 'EvodeskFeed.components.EvodeskFeedPostEditorForm.Title' | translate }}
          span(*ngIf="props.isEditing") {{ 'EvodeskFeed.components.EvodeskFeedPostEditorForm.TitleEdit' | translate }}
          .c-edit-cancel(*ngIf="(props.viewMode === 'default') && (props.isEditing || canSubmit)", (click)="cancel()")
            span {{ 'EvodeskFeed.components.EvodeskFeedPostEditorForm.Cancel' | translate }}
        .c-card-contents
          .c-card-contents-box
            .c-card-contents-profile
              evodesk-profile-avatar-current-user([size]="32")
            .c-card-contents-textarea
              .c-form-textarea([ngClass]="{ 'focused': state.isTextareaFocused }")
                textarea.message(
                  #textAreaInput, rows="1", matTextareaAutosize, matAutosizeMinRows="1", matAutosizeMaxRows="10",
                  formControlName="text", placeholder="{{ textareaPlaceholder | translate }}",
                  (keydown)="onTextKeyDown($event)", (focus)="onTextareaFocus()", (blur)="onTextareBlur()",
                  evodeskEdgeScroll, evodeskTouchScroll='y', evodeskMouseWheelScroll, evodeskKeyboardScroll,
                )
                evodesk-app-common-scroll-bar([elementRef]="textAreaInput", [scrollBarDirection]="'y'")
            .c-card-contents-controls
              .attachments
                .attach.attach-pin(*ngIf="! props.forcePin", (click)="togglePinned()")
                  .__evodesk-icon.ic-pin-24x24px.with-hover.with-active([ngClass]="{ 'is-active': isPinned }")
                .attach.attach-photo((click)="requestAttachPhoto()")
                  .__evodesk-icon.ic-add-photo-24x24px.with-hover.with-active
                .attach.attach-link((click)="requestAttachLink()")
                  .__evodesk-icon.ic-add-link-24x24px.with-hover.with-active
        .c-card-actions
          .c-card-actions-submit(*ngIf="hasText")
            .left
              .tip(*ngIf="canSubmit")
                span {{ 'EvodeskFeed.components.EvodeskFeedPostEditorForm.SubmitTip' | translate }}
            .right
              button.button.button-fill(mat-button, type="submit", [disabled]="! canSubmit")
                span {{ 'EvodeskFeed.components.EvodeskFeedPostEditorForm.Submit' | translate }}
    .c-screen.c-screen-post-with-attachments(*ngIf="props.forceExpandedForm || state.screen === 'post-with-attachments'")
      .c-card
        .c-card-title
          .c-card-title-avatar
            evodesk-profile-avatar-current-user([size]="64")
          .c-card-title-names
            .name
              span {{ props.profileName }}
            .title
              span(*ngIf="! props.isEditing") {{ 'EvodeskFeed.components.EvodeskFeedPostEditorForm.Title' | translate }}
              span(*ngIf="props.isEditing") {{ 'EvodeskFeed.components.EvodeskFeedPostEditorForm.TitleEdit' | translate }}
          .c-edit-cancel(*ngIf="props.forceDisplayCancelButton || ((props.viewMode === 'default') && (props.isEditing || canSubmit))", (click)="cancel()")
            span {{ 'EvodeskFeed.components.EvodeskFeedPostEditorForm.Cancel' | translate }}
        .c-card-textarea
          .c-form-textarea([ngClass]="{ 'focused': state.isTextareaFocused }")
            textarea.message(
              #textAreaInput, rows="3", matTextareaAutosize, matAutosizeMinRows="3", matAutosizeMaxRows="10",
              formControlName="text", placeholder="{{ textareaPlaceholder | translate }}",
              (keydown)="onTextKeyDown($event)", (focus)="onTextareaFocus()", (blur)="onTextareBlur()",
              evodeskEdgeScroll, evodeskTouchScroll='y', evodeskMouseWheelScroll, evodeskKeyboardScroll,
            )
            evodesk-app-common-scroll-bar([elementRef]="textAreaInput", [scrollBarDirection]="'y'")
        .c-card-attachments(*ngIf="hasAttachments")
          evodesk-feed-post-list-attachments([attachments]="attachments", (remove)="requestRemoveAttachment($event)", [controls]="true")
        .c-card-actions
          .left
            .submit
              button.button.button-fill(mat-button, type="submit", [disabled]="! canSubmit")
                span {{ 'EvodeskFeed.components.EvodeskFeedPostEditorForm.Submit' | translate }}
          .right
            .attachments
              .attach.attach-pin(*ngIf="! props.forcePin", (click)="togglePinned()")
                .__evodesk-icon.ic-pin-24x24px.with-active.with-hover([ngClass]="{ 'is-active': isPinned }")
              .attach.attach-photo((click)="requestAttachPhoto()")
                .__evodesk-icon.ic-add-photo-24x24px.with-active([ngClass]="{ 'is-active': props.currentAttachment === 'photo' }")
              .attach.attach-link((click)="requestAttachLink()")
                .__evodesk-icon.ic-add-link-24x24px.with-active([ngClass]="{ 'is-active': props.currentAttachment === 'link' }")
