@keyframes showCardAnimationSubmit {
  from {
    opacity: 0;
    transform: scaleY(0);
  }

  from {
    opacity: 1;
    transform: scaleY(1);
  }
}

.c {
  .c-modal-title {
    display: flex;
    border-bottom: 1px solid #d0d6f5;
    position: sticky;
    top: 0;
    padding: 16px;
    align-items: center;
    justify-content: space-between;

    .c-modal-title-left {
      flex: 1;

      span {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: 0.3px;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
      }
    }

    .c-modal-title-right {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  .c-screen.c-screen-text-post {
    .c-card {
      .c-card-title {
        padding: 0 16px;
        margin-bottom: 10px;
        padding-top: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.4px;
          text-align: left;
          color: rgba(0, 0, 0, 0.8);
        }

        .c-edit-cancel {
          span {
            font-size: 12px;
            color: #2e4ce6;
            cursor: pointer;
            word-break: keep-all;
          }
        }
      }

      .c-card-contents {
        padding: 0 16px;
        padding-bottom: 20px;

        .c-card-contents-box {
          position: relative;
        }

        .c-card-contents-profile {
          position: absolute;
          top: 8px; left: 8px;
        }

        .c-card-contents-textarea {
          .c-form-textarea {
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 0;
            display: flex;
            flex-direction: row;

            &.focused {
              border: 1px solid #2e4ce6;
            }

            textarea.message {
              resize: none;
              width: 100%;
              font-size: 15px;
              font-weight: 300;
              font-style: normal;
              font-stretch: normal;
              border: 0;
              line-height: 24px;
              letter-spacing: 0.3px;
              text-align: left;
              color: #010307;
              border-radius: 4px;
              background-color: rgba(255, 255, 255, 0.5);
              min-height: 48px;
              padding: 12px 135px 12px 48px;
              overflow: hidden;

              &:disabled {
                background-color: transparent;
                color: #999;
              }
            }

            textarea.message::placeholder {
              color: #010307;
            }
          }
        }

        .c-card-contents-controls {
          position: absolute;
          right: 12px; top: 12px;

          .attachments {
            .attach {
              display: inline-block;
              margin-right: 8px;
              cursor: pointer;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }

      .c-card-actions {
        .c-card-actions-submit {
          display: flex;
          justify-content: space-between;
          padding: 0 16px 16px;
          animation: showCardAnimationSubmit 0.15s normal forwards ease-in-out;
          align-items: center;
          transform-origin: top;

          .left {
            flex: 1;

            .tip {
              font-size: 11px;
              font-weight: 300;
              font-style: normal;
              font-stretch: normal;
              line-height: 28px;
              letter-spacing: 0.3px;
              text-align: left;
              color: #999;
            }
          }

          .right {
            flex-grow: 0;
            flex-shrink: 0;
          }
        }
      }
    }
  }

  .c-screen.c-screen-post-with-attachments {
    .c-card {
      .c-card-title {
        padding: 16px;
        padding-bottom: 0;
        display: flex;
        align-items: center;

        .c-card-title-avatar {
          margin-right: 12px;
        }

        .c-card-title-names {
          .name {
            span {
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.38;
              letter-spacing: 0.3px;
              text-align: left;
              color: #2e4ce6;
            }
          }

          .title {
            span {
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.83;
              letter-spacing: 0.2px;
              text-align: left;
              color: #010307;
            }
          }
        }

        .c-edit-cancel {
          font-size: 12px;
          color: #2e4ce6;
          cursor: pointer;
          margin-left: auto;
          margin-bottom: 20px;
        }
      }

      .c-card-textarea {
        padding: 16px;
        padding-bottom: 0;

        .c-form-textarea {
          border: 1px solid #ddd;
          border-radius: 4px;
          font-size: 0;
          display: flex;
          flex-direction: row;

          &.focused {
            border: 1px solid #2e4ce6;
          }
        }

        textarea.message {
          resize: none;
          width: 100%;
          font-size: 15px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 28px;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;
          min-height: 0;
          border-radius: 4px;
          border: 0;
          padding: 8px;
          overflow: hidden;

          &:disabled {
            background-color: transparent;
            color: #999;
          }
        }

        textarea.message::placeholder {
          color: #010307;
        }
      }

      .c-card-attachments {
        margin-top: 16px;
      }

      .c-card-actions {
        display: flex;
        padding: 16px;
        align-items: center;
        justify-content: space-between;

        .left {
          flex: 1;
          margin-right: 24px;

          button {
            border-radius: 3px;
            padding: 9px 22px;
            line-height: 0;

            span {
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.57;
              letter-spacing: 0.3px;
              text-align: left;
            }
          }
        }

        .right {
          flex-grow: 0;
          flex-shrink: 0;

          .attachments {
            .attach {
              display: inline-block;
              margin-right: 8px;
              cursor: pointer;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}

.c {
  &.__vm-default {
    .c-modal-title {
      display: none;
    }
  }

  &.__vm-modal {
    .c-modal-title {
      margin-bottom: 8px;
      position: sticky;
      top: 0;
      background-color: #fff;
      z-index: 2;
    }

    .c-screen {
      z-index: 1;
    }
  }
}

input.file {
  display: none;
}

button.button.button-fill {
  background-color: #2e4ce6;
  border-radius: 3px;
  transition: .15s;

  &:disabled {
    background-color: #f0f0f0;

    span {
      color: #999;
    }
  }

  span {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
  }
}
