@keyframes evodeskLoadingTopBar {
  0% {
    left: 0;
    right: 100%;
  }

  50% {
    left: 0;
    right: 0;
  }

  100% {
    left: 100%;
    right: 0;
  }
}

.__evodesk-loading-top {
  position: absolute;
  top: 0; left: 0; right: 0; height: 4px;

  .__evodesk-loading-top-bar {
    background-color: #2e4ce6;
    position: absolute; height: 100%;
    animation: evodeskLoadingTopBar 1.12s normal infinite ease-in-out;
  }
}
