.c {
  &.as-defaut {
    .c-card {
      .c-card-title {
        display: none;
      }
    }
  }

  &.as-modal {
    max-height: 80vh;
    overflow: auto;

    .c-card-contents {
      padding: 30px;
    }
  }

  .c-card {
    .c-card-title {
      padding: 4px 14px 4px 16px;
      border-bottom: 1px solid #d0d6f5;
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: #fff;

      &:hover {
        .c-title-right {
          .edit {
            display: block;
          }
        }
      }

      .c-title-left {
        flex: 1;
        margin-right: 16px;

        span {
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.4px;
          text-align: left;
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .c-title-right {
        flex-grow: 0;
        flex-shrink: 0;

        .close-button {
          cursor: pointer;
          padding: 2px;
        }
      }
    }

    .c-card-contents {
      position: relative;

      .no-marks {
        span {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.34;
          letter-spacing: normal;
          text-align: left;
          color: #a0a7b2;
        }
      }

      .marks {
        .marks-filters {
          margin-bottom: 24px;

          .mark-filter {
            display: inline-block;
            margin-right: 16px;

            &.mark-filter-none {
              &:hover, &.is-active {
                span {
                  border-bottom-color: #010307;
                }
              }

              span {
                color: #010307;
              }
            }

            &.mark-filter-positive {
              &:hover, &.is-active {
                span {
                  border-bottom-color: #22ab4c;
                }
              }

              span {
                color: #22ab4c;
              }
            }

            &.mark-filter-negative {
              &:hover, &.is-active {
                span {
                  border-bottom-color: #DC3030;
                }
              }

              span {
                color: #DC3030;
              }
            }

            span {
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.17;
              letter-spacing: 0.1px;
              text-align: left;
              transition: .15s;
              cursor: pointer;
              border-bottom: 1px solid transparent;
            }
          }
        }

        .marks-list {
          .mark-list-item {
            .mark {
              margin-bottom: 36px;
              padding-left: 16px;
              border-left: 3px solid;

              &.is-positive {
                border-left-color: #22ab4c;
              }

              &.is-negative {
                border-left-color: #DC3030;
              }

              .row-1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 16px;

                .row-1-1 {
                  margin-right: 16px;
                  flex-grow: 0;
                  flex-shrink: 0;
                }

                .row-1-2 {
                  flex: 1;

                  .name {
                    span {
                      font-size: 14px;
                      font-weight: normal;
                      font-style: normal;
                      font-stretch: normal;
                      line-height: 1.57;
                      letter-spacing: 0.3px;
                      text-align: left;
                      color: #010307;
                    }
                  }

                  .createdAt {
                    span {
                      font-size: 12px;
                      font-weight: normal;
                      font-style: normal;
                      font-stretch: normal;
                      line-height: 1.83;
                      letter-spacing: 0.2px;
                      text-align: left;
                      color: #aaacb4;
                    }
                  }
                }
              }

              .row-2 {
                span {
                  font-size: 15px;
                  font-weight: 300;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.6;
                  letter-spacing: 0.3px;
                  text-align: left;
                  color: #010307;
                }
              }
            }
          }
        }

        .marks-load-more {
          .load-more {
            cursor: pointer;

            &:hover {
              span {
                border-bottom-color: #2e4ce6;
              }
            }

            span {
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.17;
              letter-spacing: 0.1px;
              text-align: left;
              transition: .15s;
              border-bottom: 1px solid transparent;
              color: #2e4ce6;
            }
          }
        }
      }
    }
  }
}
