ng-container(*ngIf="!! state && state.ready")
  .c([ngClass]="{ 'as-modal': props.asModal, 'as-default': ! props.asModal }")
    .c-card
      .c-card-title(*ngIf="props.asModal")
        .c-title-left
          span {{ props.userCompetence.competence.title }}
        .c-title-right
          .close-button((click)="close()")
            .__evodesk-icon.ic-close-modal-15x15px.with-hover
      .c-card-contents
        .__evodesk-loading-top(*ngIf="props.loading")
          .__evodesk-loading-top-bar
        .competence-progress(*ngIf="props.asModal")
          evodesk-profile-competence-progress([points]="props.userCompetence.points")
        .marks(*ngIf="props.marks.length > 0")
          .marks-filters
            .mark-filter.mark-filter-none((click)="setNoFilter()", [ngClass]="{ 'is-active': isNoneFilterActive }")
              span(translate, [translateParams]="{ count: numMarks }") EvodeskProfile.components.EvodeskProfileCompetenceMarks.NoneFilter
            .mark-filter.mark-filter-positive((click)="setPositiveOnlyFilter()", [ngClass]="{ 'is-active': isPositiveFilterActive }")
              span(translate, [translateParams]="{ count: numPositiveMarks }") EvodeskProfile.components.EvodeskProfileCompetenceMarks.PositiveFilter
            .mark-filter.mark-filter-negative((click)="setNegativeOnlyFilter()", [ngClass]="{ 'is-active': isNegativeFilterActive }")
              span(translate, [translateParams]="{ count: numNegativeMarks }") EvodeskProfile.components.EvodeskProfileCompetenceMarks.NegativeFilter
          .marks-list
            .mark-list-item(*ngFor="let mark of marks")
              .mark([ngClass]="getMarkCSSClasses(mark)")
                .row-1
                  .row-1-1
                    evodesk-profile-avatar([profileId]="mark.user_id", [size]="36")
                  .row-1-2
                    .name
                      span {{ mark.user_name || mark.user_email }}
                    .createdAt
                      span([evodeskBind]="getMarkDate(mark)")
                .row-2
                  span(innerHtml="{{ getMarkBody(mark) | async }}")
          .marks-load-more(*ngIf="props.hasMoreMarksToLoad")
            .load-more((click)="next()")
              span {{ 'EvodeskProfile.components.EvodeskProfileCompetenceMarks.LoadMore' | translate }}
        .no-marks(*ngIf="marks.length === 0 && ! props.loading")
          span {{ noMarksMessage | translate }}