.dialog {
  padding: 32px 16px;
}

.text {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.3px;
  word-wrap: break-word;
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}

.btn-flex {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
