@import "~sass-mq";

@include mq($until: 700px) {
  .c-field-row-place-and-site {
    .place, .site {
      margin-bottom: 24px;
    }
  }

  .c-field.c-field-row-dates {
    .date-start, .date-finish {
      margin-bottom: 24px;

      .date-picker, .date-until-now {
        margin-bottom: 24px;
      }
    }
  }

  .select-mw {
    width: 100%;
  }
}

@include mq($from: 701px) {
  .c {
    .c-field-row-place-and-site {
      display: flex;

      .place {
        flex: 1;
        max-width: 288px;
        margin-right: 24px;
      }

      .site {
        flex: 1;
        max-width: 288px;
      }
    }
  }

  .c-field.c-field-row-dates {
    display: flex;
    align-items: center;

    .date-start {
      flex: 1;
      max-width: 136px;
      margin-right: 24px;
    }

    .date-finish {
      flex: 1;
      display: flex;
      align-items: center;

      .field {
        .field-contents {
          display: flex;
          align-items: center;

          .date-picker {
            flex: 1;
            max-width: 136px;
            margin-right: 24px;
          }
        }
      }
    }
  }

  .select-mw {
    width: 100%;
    max-width: 460px;
  }
}

.c {
  width: 100%;

  .c-experiences {
    margin-bottom: 32px;

    .c-experience {
      border-bottom: 1px solid #d0d6f5;
      padding: 16px;

      .c-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 8px;

        .remove, .move-up, .move-down {
          width: 24px;
          height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;

          .__evodesk-icon {
            padding: 5px;
            cursor: pointer;
          }
        }

        .move-up {
          .__evodesk-icon {
            transform: rotate(180deg);
            position: relative;
            top: -2px;
          }
        }

        .move-down {
          .__evodesk-icon {
            position: relative;
            top: 1px;
          }
        }
      }

      .c-field {
        max-width: 720px;

        margin-bottom: 24px;

        &.c-field-row-position {
          max-width: 460px;
        }

        &.c-field-row-text {
          max-width: 720px;
        }

        &.c-field-row-dates {
          .date-finish {
            .field {
              .field-contents {
                .date-until-now {
                  display: flex;
                  align-items: center;
                  cursor: pointer;

                  .date-until-today-checkbox {
                    margin-right: 12px;
                  }

                  .date-until-today-checkbox-title {
                    flex: 1;

                    span {
                      font-size: 14px;
                      font-weight: normal;
                      font-style: normal;
                      font-stretch: normal;
                      line-height: 1.43;
                      letter-spacing: 0.3px;
                      text-align: left;
                      color: #aaacb4;
                    }
                  }
                }
              }
            }
          }
        }

        &.c-field-responsibilities, &.c-field-tools, &.c-field-skills {
          .inputs {
            .input {
              display: flex;
              align-items: center;
              margin-bottom: 16px;

              .input-box {
                flex: 1;
                max-width: 460px;
                margin-right: 16px;
              }

              .input-action {
                flex-shrink: 0;
                flex-grow: 0;

                .add {
                  span {
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.71;
                    letter-spacing: 0.3px;
                    text-align: left;
                    color: #2e4ce6;
                    border-bottom: 1px dashed #2e4ce6;
                  }
                }

                .remove {
                  cursor: pointer;
                }
              }
            }
          }
        }

        &.c-field-approve {
          .approve {
            width: 100%;
            max-width: 460px;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.5);
            border: solid 1px #dddddd;

            .entry {
              border-bottom: 1px solid #ddd;
              padding: 8px;

              &:last-child {
                border-bottom: none;
              }
            }

            .item {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .avatar {
                flex-grow: 0;
                flex-shrink: 0;
                margin-right: 8px;
              }

              .name {
                flex: 1;
                margin-right: 8px;

                span {
                  font-size: 14px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.57;
                  letter-spacing: 0.3px;
                  text-align: left;
                  color: #2e4ce6;
                  transition: .15s;
                  cursor: pointer;
                  border-bottom: 1px solid transparent;

                  &:hover {
                    border-bottom-color: #2e4ce6;
                  }
                }
              }

              .status {
                flex-grow: 0;
                flex-shrink: 0;
                margin-right: 40px;

                span {
                  font-size: 12px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.83;
                  letter-spacing: 0.2px;
                  text-align: left;
                }
              }
            }

            .add {
              display: flex;
              justify-content: space-between;
              cursor: pointer;
              align-items: center;

              &:hover {
                .text {
                  span {
                    color: #010307;
                  }
                }
              }

              .text {
                flex: 1;
                margin-right: 8px;

                span {
                  font-size: 14px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.71;
                  letter-spacing: 0.3px;
                  text-align: left;
                  color: #aaacb4;
                  transition: .15s;
                }
              }

              .icon {
                flex-grow: 0;
                flex-shrink: 0;
              }
            }
          }
        }
      }

      .field {
        .field-title {
          margin-bottom: 8px;
          min-height: 22px;

          span {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: 0.3px;
            text-align: left;
            color: #aaacb4;
          }
        }
      }

      .date-picker {
        position: relative;
        width: 100%;

        .icon {
          position: absolute;
          padding: 11px;
          top: 0; right: 0;
          cursor: pointer;
        }

        &.is-disabled {
          .icon {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .c-add-experience {
    padding: 0 16px;

    .c-add-button {
      display: flex;
      align-items: center;
      cursor: pointer;

      .icon {
        width: 40px;
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 16px;
      }

      .text {
        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: 0.3px;
          text-align: center;
          color: #2e4ce6;
        }
      }
    }
  }
}

::ng-deep {
  .__evodesk-user-settings-work-experience {
    .mat-datepicker-toggle {
      display: none!important;
    }
  }
}
