.c.__evodesk-user-settings-work-experience(*ngIf="!!state && state.ready")
  .c-experiences
    ng-container(*ngFor="let form of props.forms; let i = index")
      form.c-experience([formGroup]="form", novalidate)
        .c-actions
          .move-up((click)="moveUp(i)", *ngIf="i > 0")
            .__evodesk-icon.ic-us-arrow-12x10px.with-hover
          .move-down((click)="moveDown(i)", *ngIf="i < (props.forms.length - 1)")
            .__evodesk-icon.ic-us-arrow-12x10px.with-hover
          .remove((click)="remove(i)")
            .__evodesk-icon.ic-close-modal-11x11px.with-hover
        .c-fields
          .c-field.c-field-row-place-and-site
            .place
              .field
                .field-title
                  span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.Place' | translate }}
                .field-contents
                  input.__evodesk-input-box-v2([formControlName]="'place'", type="text")
            .site
              .field
                .field-title
                  span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.Site' | translate }}
                .field-contents
                  input.__evodesk-input-box-v2([formControlName]="'site'", type="text")
          .c-field.c-field-sphere
            .field
              .field-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.Sphere' | translate }}
              .field-contents
                .__evodesk-input-box-v2.select-mw
                  select([formControlName]="'sphere'")
                    option(*ngFor="let a of props.availableSpheres", [value]="a.title")
                      span {{ a.title }}
          .c-field.c-field-row-dates
            .date-start
              .field
                .field-title
                  span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.DateStart' | translate }}
                .field-contents
                  .date-picker
                    .input
                      input.__evodesk-input-box-v2(#inputDateStart, [formControlName]="'date_start'", type="text", [matDatepicker]="dateStartDatepicker", [matDatepickerFilter]="getDateStartFilter(form)", placeholder="__.__.____", (blur)="updateDateStart(form)")
                      mat-datepicker-toggle(matSuffix, [for]="dateStartDatepicker")
                      mat-datepicker(#dateStartDatepicker)
                    .icon
                      .__evodesk-icon.ic-calendar-16x18px.with-hover((click)="dateStartDatepicker.open()")
            .date-finish
              .field
                .field-title
                  span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.DateFinish' | translate }}
                .field-contents
                  .date-picker([ngClass]="{ 'is-disabled': form.get('untilToday').value }")
                    .input
                      input.__evodesk-input-box-v2(#inputDateFinish, [formControlName]="'date_finish'", type="text", [matDatepicker]="dateFinishDatepicker", [matDatepickerFilter]="getDateFinishFilter(form)", placeholder="__.__.____")
                      mat-datepicker-toggle(matSuffix, [for]="dateFinishDatepicker")
                      mat-datepicker(#dateFinishDatepicker)
                    .icon
                      .__evodesk-icon.ic-calendar-16x18px((click)="dateFinishDatepicker.open()", [ngClass]="{ 'with-hover': ! form.get('untilToday').value }")
                  label.date-until-now
                    .date-until-today-checkbox
                      .__evodesk-material-checkbox
                        mat-checkbox([formControlName]="'untilToday'")
                    .date-until-today-checkbox-title
                      span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.UntilToday' | translate }}
          .c-field.c-field-row-position
            .field
              .field-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.Position' | translate }}
              .field-contents
                input.__evodesk-input-box-v2([formControlName]="'position'", type="text")
          .c-field.c-field-responsibilities
            .field
              .field-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.Responsibilities' | translate }}
              .field-contents
                .inputs([formArrayName]="'responsibilities'")
                  .input(*ngFor="let item of form.get('responsibilities').controls; let i = index;", [formGroupName]="i")
                    .input-box
                      input.__evodesk-input-box-v2([formControlName]="'value'", type="text")
                    .input-action
                      ng-container(*ngIf="form.get('responsibilities').controls.length === i + 1")
                        .add((click)="addResponsibilities(form)")
                          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.AddSubRecord' | translate }}
                      ng-container(*ngIf="(i + 1) < form.get('responsibilities').controls.length")
                        .remove((click)="removeResponsibilities(form, i)")
                          .__evodesk-icon.ic-remove-10x14px
          .c-field.c-field-tools
            .field
              .field-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.Tools' | translate }}
              .field-contents
                .inputs([formArrayName]="'tools'")
                  .input(*ngFor="let item of form.get('tools').controls; let i = index;", [formGroupName]="i")
                    .input-box
                      input.__evodesk-input-box-v2([formControlName]="'value'", type="text")
                    .input-action
                      ng-container(*ngIf="form.get('tools').controls.length === i + 1")
                        .add((click)="addTools(form)")
                          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.AddSubRecord' | translate }}
                      ng-container(*ngIf="(i + 1) < form.get('tools').controls.length")
                        .remove((click)="removeTools(form, i)")
                          .__evodesk-icon.ic-remove-10x14px
          .c-field.c-field-skills
            .field
              .field-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.Skills' | translate }}
              .field-contents
                .inputs([formArrayName]="'skills'")
                  .input(*ngFor="let item of form.get('skills').controls; let i = index;", [formGroupName]="i")
                    .input-box
                      input.__evodesk-input-box-v2([formControlName]="'value'", type="text")
                    .input-action
                      ng-container(*ngIf="form.get('skills').controls.length === i + 1")
                        .add((click)="addSkills(form)")
                          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.AddSubRecord' | translate }}
                      ng-container(*ngIf="(i + 1) < form.get('skills').controls.length")
                        .remove((click)="removeSkills(form, i)")
                          .__evodesk-icon.ic-remove-10x14px

          .c-field.c-field-row-text
            .field
              .field-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.Text' | translate }}
              .field-contents
                textarea.textarea.__evodesk-input-box-v2([formControlName]="'text'", type="text", matTextareaAutosize, matAutosizeMinRows="3", matAutosizeMaxRows="8")
          .c-field.c-field-approve
            .field
              .field-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.Approve' | translate }}
              .field-contents
                .approve
                  .entry(*ngFor="let approve of approves(form)")
                    .item
                      .avatar
                        evodesk-profile-avatar([profileId]="approve.user_id")
                      a.name([routerLink]="url(approve.user_id)", target="_blank")
                        span {{ approve.user_name || approve.user_email }}
                      .status
                        span.confirmed(*ngIf="isConfirmed(approve)") {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.ApproveConfirmed' | translate }}
                        span.not-confirmed(*ngIf="isNotConfirmed(approve)") {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.ApproveNotConfirmed' | translate }}
                        span.rejected(*ngIf="isRejected(approve)") {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.ApproveRejected' | translate }}
                  .entry
                    .add((click)="openApproveModal(id(form))")
                      .text
                        span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.ApproveAdd' | translate }}
                      .icon
                        .__evodesk-icon.ic-select-arrow-9x4px
  .c-add-experience(*ngIf="canAdd")
    .c-add-button((click)="add()")
      .icon
        .__evodesk-icon.ic-plus-blue-40x40px
      .text
        span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsWorkExperience.AddNew' | translate }}
