.c
  .c-title
    .c-title-left
      span {{ 'EvodeskProfile.components.EvodeskProfileFollowNotification.Title' | translate }}
    .c-title-right
      button.close(mat-dialog-close)
        .__evodesk-icon.ic-close-modal-13x13px.with-hover
  .c-contents
    .c-profile
      .c-profile-mark
        .__evodesk-icon.ic-expu-check-24x19px
      .c-profile-image
        evodesk-profile-avatar([profileId]="props.profileId", [size]="80")
      .c-profile-info
        .username
          span {{ props.profileName }}
        .post
          span {{ props.profilePost }}
    .c-message
      ng-container(*ngIf="props.followed")
        span(innerHtml="{{ 'EvodeskProfile.components.EvodeskProfileFollowNotification.Followed' | translate }}")
      ng-container(*ngIf="! props.followed")
        span(innerHtml="{{ 'EvodeskProfile.components.EvodeskProfileFollowNotification.UnFollowed' | translate }}")
    .c-actions
      button.close-button(type="button", mat-dialog-close, mat-button)
        span {{ 'EvodeskProfile.components.EvodeskProfileFollowNotification.Close' | translate }}
