.c {
  .c-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid #d0d6f5;
    margin-bottom: 28px;

    .c-title-left {
      flex: 1;
      margin-left: 16px;
      margin-right: 16px;

      span {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.4px;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
      }
    }

    .c-title-right {
      margin-right: 16px;
      flex-grow: 0;
      flex-shrink: 0;

      .close {
        border: 0;
        background: none;
        cursor: pointer;
        padding: 4px;
      }
    }
  }

  .c-contents {
    padding: 0 16px 20px;

    .c-profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      .c-profile-mark {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 16px;
      }

      .c-profile-image {
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 16px;
      }

      .c-profile-info {
        flex: 1;

        .username {
          span {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: 0.3px;
            text-align: left;
            color: #010307;
          }
        }

        .post {
          span {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.83;
            letter-spacing: 0.2px;
            text-align: left;
            color: #aaacb4;
          }
        }
      }
    }

    .c-message {
      margin-bottom: 24px;

      span {
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: 0.3px;
        text-align: left;
        color: #010307;
      }
    }

    .c-actions {
      button.close-button {
        height: 40px;
        border-radius: 3px;
        background-color: #2e4ce6;

        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: left;
          color: #ffffff;
        }
      }
    }
  }
}