@import "~sass-mq";

.c {
  padding: 40px 24px;
  max-width: 1168px;
  margin: 0 auto;

  @include mq($until: 1167px) {
    .c-row-1-1-1, .c-row-1-1-2, .c-row-1-2, .c-row-2-1 {
      margin-bottom: 24px;
    }

    .c-row-1-1-1, .c-row-1-1-2, .c-row-1-2 {
      .card {
        padding: 16px;
      }
    }

    .card-help {
      .ch-icon {
        padding-left: 12px;
        margin-right: 16px;
      }

      .ch-link {
        span.text {
          display: none;
        }
      }
    }
  }

  @include mq($from: 1168px) {
    .c-row-1 {
      display: flex;
      margin-bottom: 24px;

      .c-row-1-1 {
        margin-right: 24px;

        .c-row-1-1-1 {
          margin-bottom: 24px;
        }

        .c-row-1-1-1, .c-row-1-1-2 {
          width: 829px;
          height: 96px;

          .card {
            height: 100%;
          }
        }
      }

      .c-row-1-2 {
        display: flex;
        width: 315px;
        height: 216px;

        .card {
          height: 100%;
          width: 100%;
        }
      }
    }

    .c-row-2 {
      display: flex;

      .c-row-2-1 {
        width: 572px;
        margin-right: 24px;

        .card {
          height: 325px;
        }
      }

      .c-row-2-2 {
        width: 572px;

        .card {
          height: 325px;
        }
      }
    }
  }

  .card {
    min-height: 30px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

    .help {
      position: absolute;
      top: 16px; right: 16px;

      &.enabled:hover {
        .help-tooltip {
          display: block;
        }
      }

      .help-button {
        width: 20px;
        height: 20px;
        background-color: rgba(208,214,245,.3);
        border-radius: 100%;
        overflow: hidden;
        cursor: pointer;
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        &:hover {
          background-color: #2e4ce6;

          span {
            color: #fff;
          }
        }

        span {
          font-size: 11px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: .3px;
          color: #010307;
        }
      }

      .help-tooltip {
        position: absolute;
        top: -12px; right: 30px;
        border-radius: 8px;
        background-color: #4b4c4f;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
        padding: 12px;
        width: 320px;
        text-align: center;
        display: none;

        span {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: 0.2px;
          text-align: left;
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }

  .card {
    &.card-code {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .cc-title {
        margin-bottom: 16px;

        span {
          font-size: 14px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: .3px;
          color: #a0a7b2;
        }
      }

      .cc-input {
        margin-bottom: 16px;

        input.input {
          border: 1px solid #ddd;
          border-radius: 4px;
          font-size: 26px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: .3px;
          color: #010307;
          text-align: center;
          width: 210px;
          padding: 8px 8px;
        }
      }

      .cc-copy-link-button {
        button {
          padding: 9px 16px;
          line-height: 22px;
          background-color: #2e4ce6;
          border-radius: 3px;
          cursor: pointer;

          span {
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 14px;
            letter-spacing: .3px;
            text-align: left;
            color: #fff;
          }
        }
      }
    }

    &.card-help {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      padding: 0 36px;
      cursor: pointer;

      &:hover {
        .ch-link {
          span {
            color: #2e4ce6;
          }
        }
      }

      .ch-icon {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 32px;
      }

      .ch-title {
        flex: 1;

        span {
          font-size: 14px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: .3px;
          color: #010307;
        }
      }

      .ch-link {
        span {
          font-size: 14px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: .3px;
          color: #a0a7b2;
          transition: .15s;
        }

        span.arrow {
          margin-left: 8px;
        }
      }
    }

    &.card-top {
      display: flex;
      flex-direction: column;

      .ct-title {
        flex-grow: 0;
        flex-shrink: 0;
        text-align: center;
        padding: 16px;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        span {
          font-size: 18px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: .3px;
          color: #010307;
        }
      }

      .ct-contents {
        display: flex;
        flex: 1;

        .ct-contents-area {
          flex: 1;
          overflow: hidden;
        }

        .ct-contents-scroll {
          flex-grow: 0;
          flex-shrink: 0;
        }
      }

      .ct-list {
        .ct-list-item {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #ddd;
          padding: 12px;

          span {
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: .3px;
            color: #010307;
            transition: .15s;
            border-bottom: 1px solid transparent;
          }

          .__evodesk-icon {
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
          }

          .ct-li-position {
            width: 40px;
            flex-grow: 0;
            flex-shrink: 0;
            text-align: center;

            span {
              color: #a0a7b2;
            }
          }

          .ct-li-name {
            flex: 1;

            a {
              cursor: pointer;

              span {
                transition: .15s;
              }

              &:hover {
                span {
                  color: #2e4ce6;
                  border-bottom-color: #2e4ce6;
                }
              }
            }
          }

          .ct-li-regs {
            width: 85px;
            flex-grow: 0;
            flex-shrink: 0;
          }

          .ct-li-pnts {
            width: 120px;
            flex-grow: 0;
            flex-shrink: 0;
          }
        }
      }
    }

    &.card-stats {
      .cs-title {
        text-align: center;
        padding: 16px;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 16px;

        span {
          font-size: 18px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: .3px;
          color: #010307;
        }
      }

      .cs-contents {
        .cs-switch {
          margin-bottom: 16px;
          padding: 16px 32px;

          .cs-switch-button {
            display: inline-block;
            margin-right: 16px;
            cursor: pointer;

            &.is-active {
              span {
                color: #010307;
              }
            }

            &:hover {
              span {
                color: #2e4ce6;
                border-bottom-color: #2e4ce6;
              }
            }

            span {
              font-size: 14px;
              font-weight: 400;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.57;
              letter-spacing: .3px;
              color: #2e4ce6;
              transition: .15s;
              border-bottom: 1px solid transparent;
            }
          }
        }

        .cs-stats {
          .cs-ss-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ddd;
            padding: 12px;

            &:first-child {
              border-top: 1px solid #ddd;
            }

            span {
              font-size: 14px;
              font-weight: 400;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.57;
              letter-spacing: .3px;
              color: #010307;
              transition: .15s;
              border-bottom: 1px solid transparent;
            }

            .cs-ss-item-icon {
              flex-grow: 0;
              flex-shrink: 0;
              margin-right: 8px;
              padding-left: 16px;
              width: 50px;
            }
          }

          .cs-ss-item-title {
            flex: 1;
            margin-right: 16px;
          }

          .cs-ss-item-value {
            flex-grow: 0;
            flex-shrink: 0;
            padding-right: 16px;

            span {
              color: #a0a7b2;
            }
          }
        }
      }
    }
  }
}
