.c(*ngIf="!! state && state.ready")
  .c-row-1
    .c-row-1-1
      .c-row-1-1-1
        .card.card-help((click)="howEarnEvoCoin()")
          .ch-icon
            .__evodesk-icon.ic-partners-28x26px
          .ch-title
            span(translate) EvodeskPartners.components.EvodeskPartners.HowEarnEvoCoin
          .ch-link
            span.text(translate) EvodeskPartners.components.EvodeskPartners.Details
            span.arrow →
      .c-row-1-1-2
        .card.card-help((click)="howEarnPoints()")
          .ch-icon
            .__evodesk-icon.ic-partners-28x26px
          .ch-title
            span(translate) EvodeskPartners.components.EvodeskPartners.HowEarnPoints
          .ch-link
            span.text(translate) EvodeskPartners.components.EvodeskPartners.Details
            span.arrow →
    .c-row-1-2
      .card.card-code
        .cc-title
          span(translate) EvodeskPartners.components.EvodeskPartners.YourCode
        .cc-input
          input.input(#copyLinkRef, type="text", readonly, [value]="props.code", (click)="clickCode(copyLinkRef)")
        .cc-copy-link-button
          button.button(mat-button, type="button", (click)="copyCode(copyLinkRef)")
            span(translate) EvodeskPartners.components.EvodeskPartners.CopyCode
  .c-row-2
    .c-row-2-1
      .card.card-stats
        .cs-title
          span(translate) EvodeskPartners.components.EvodeskPartners.Stats
        .cs-contents
          .cs-switch
            .cs-switch-button((click)="setStatsTab('today')", [ngClass]="{ 'is-active': state.statsTab === 'today' }")
              span(translate) EvodeskPartners.components.EvodeskPartners.StatsForToday
            .cs-switch-button((click)="setStatsTab('total')", [ngClass]="{ 'is-active': state.statsTab === 'total' }")
              span(translate) EvodeskPartners.components.EvodeskPartners.StatsForTotal
          .cs-stats
            ng-container(*ngIf="state.statsTab === 'today'")
              .cs-ss-item
                .cs-ss-item-icon
                  .__evodesk-icon.ic-partners-28x26px
                .cs-ss-item-title
                  span(translate) EvodeskPartners.components.EvodeskPartners.InvolvePeople
                .cs-ss-item-value
                  span {{ props.statistic.totalTodayUsers }}
              .cs-ss-item
                .cs-ss-item-icon
                  .__evodesk-icon.ic-star-14x13px
                .cs-ss-item-title
                  span(translate) EvodeskPartners.components.EvodeskPartners.EarnPoints
                .cs-ss-item-value
                  span {{ props.statistic.totalTodayPoints }}
            ng-container(*ngIf="state.statsTab === 'total'")
              .cs-ss-item
                .cs-ss-item-icon
                  .__evodesk-icon.ic-partners-28x26px
                .cs-ss-item-title
                  span(translate) EvodeskPartners.components.EvodeskPartners.InvolvePeople
                .cs-ss-item-value
                  span {{ props.statistic.totalAllUsers }}
              .cs-ss-item
                .cs-ss-item-icon
                  .__evodesk-icon.ic-star-14x13px
                .cs-ss-item-title
                  span(translate) EvodeskPartners.components.EvodeskPartners.EarnPoints
                .cs-ss-item-value
                  span {{ props.statistic.totalAllPoints }}
    .c-row-2-2
      .card.card-top
        .ct-title
          span(translate) EvodeskPartners.components.EvodeskPartners.TopFivePartners
        .ct-contents
          .ct-contents-area(#areaTop, evodeskTouchScroll='y', evodeskMouseWheelScroll, evodeskKeyboardScroll)
            .ct-list
              .ct-list-item(*ngFor="let item of props.top; let i = index")
                .ct-li-position
                  span {{ i + 1 }}
                .ct-li-name
                  a([routerLink]="['/profile', item.id]")
                    span {{ item.name }}
                .ct-li-regs
                  .__evodesk-icon.ic-profile-13x13px
                  span {{ item.regs }}
                .ct-li-pnts
                  .__evodesk-icon.ic-star-14x13px
                  span {{ item.pnts }}
          .ct-contents-scroll
            evodesk-app-common-scroll-bar([elementRef]="areaTop", [theme]="'blue'")
