.c {
  .c-title {
    margin-bottom: 16px;

    h1 {
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: 0.4px;
      text-align: left;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}
