.c
  .c-title
    h1(*ngIf="state.category") {{ state.category }}
    h1(translate, *ngIf="! state.category") EvodeskShop.routes.CatalogRoute.Title
  .c-contents
    evodesk-shop-catalog-feed-container
