@keyframes showError {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

::ng-deep {
  .__evodesk-landing-auth {
    .c-exists-go {
      a {
        .mat-button-focus-overlay {
          display: none!important;
        }
      }
    }

    .mat-tab-body {
      .mat-tab-body-content {
        animation: none !important;
        transition: transform .5s cubic-bezier(.35,0,.25,1);
      }

      &:nth-child(1) {
        &:not(.mat-tab-body-active) {
          .mat-tab-body-content {
            transform: translate3d(-100%, 0, 0);
          }
        }
      }

      &:nth-child(2) {
        &:not(.mat-tab-body-active) {
          .mat-tab-body-content {
            transform: translate3d(100%, 0, 0);
          }
        }
      }
    }

    .mat-checkbox-ripple {
      display: none;
    }

    .c-theme-light {
      .mat-checkbox-background {
        background-color: transparent;
      }

      .mat-checkbox-frame {
        border: 1px solid #dddddd;
        background-color: transparent;
        border-radius: 3px;
      }

      .mat-checkbox-checked {
        .mat-checkbox-frame {
          border-color: rgba(255, 255, 255, 0);
          background-color: transparent;
        }

        .mat-checkbox-background {
          svg path {
            stroke: #000000!important;
          }
        }
      }
    }

    .c-theme-dark {
      .mat-checkbox-background {
        background-color: transparent;
      }

      .mat-checkbox-frame {
        border: 1px solid rgba(255, 255, 255, 0.7);
        background-color: rgba(0, 0, 0, 0.5);
      }

      .mat-checkbox-checked {
        .mat-checkbox-frame {
          border-color: rgba(255, 255, 255, 0);
          background-color: transparent;
        }
      }
    }
  }
}

.c {
  .c-form {
    min-height: 365px;

    .inputs {
      margin-top: 32px;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid #ffffff;
      margin-bottom: 24px;

      .input {
        border-bottom: 1px solid #ffffff;

        &:last-child {
          border-bottom: 0;
        }

        input {
          padding: 20px 16px;
          border: 0;
          outline: 0;
          width: 100%;
          background: transparent;
          transition: .15s;
          word-break: normal;

          &:disabled {
            color: rgba(255, 255, 255, 0.6);
          }
        }

        input, input::placeholder {
          font-family: Roboto, sans-serif;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.3px;
          text-align: left;
          color: #ffffff;
        }
      }
    }

    .checkbox {
      display: flex;
      margin-bottom: 24px;

      .checkbox-input {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 8px;
        margin-top: 3px;
      }

      .checkbox-label {
        span {
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          text-align: left;
        }

        span.link {
          &:hover {
            border-bottom: 1px solid;
          }

          cursor: pointer;
        }
      }
    }

    .persist {
      align-items: center;
      cursor: pointer;
    }

    .errors {
      margin-top: 32px;
      margin-bottom: 24px;
      text-align: center;

      span {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 0.3px;
        text-align: center;
        color: rgba(235, 20, 20, 0.87);
        animation: showError 0.25s normal forwards ease-in-out;
      }
    }

    .forgot-password {
      margin-bottom: 24px;
      text-align: center;
      cursor: pointer;

      span {
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
        transition: .15s;
        border-bottom: 1px solid transparent;
      }
    }

    .actions {
      margin-bottom: 16px;

      button {
        height: 56px;
        border-radius: 3px;
        background-image: linear-gradient(100deg, #6a3bb2, #42c6dc);
        box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.4);
        width: 100%;

        span {
          font-family: Roboto, sans-serif;
          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          text-align: left;
          color: #ffffff;
        }
      }
    }

    .sign-in-social {
      cursor: pointer;
      text-align: center;

      &:hover {
        span {
          color: rgba(255, 255, 255, 1);
        }
      }

      span {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: rgba(255, 255, 255, 0.6);
        transition: .15s;
      }
    }
  }

  .c-exists {
    .c-exists-avatar {
      margin: 0 auto;
      width: 80px;
      margin-bottom: 24px;
    }

    .c-exists-info {
      padding: 24px 0;
      text-align: center;

      .name {
        span {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: center;
          word-break: break-all;
        }
      }

      .status {
        span {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.83;
          letter-spacing: 0.2px;
          text-align: center;
          word-break: break-all;
        }
      }
    }

    .c-exists-go {
      a {
        display: block;
        width: 100%;
        border-radius: 4px;
        padding: 12px 8px;
        text-align: center;
        border: 1px solid;

        &:hover {
          background-color: transparent;
        }
      }

      span {
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: center;
      }
    }
  }

  .c-theme {
    ::ng-deep {
      .mat-tab-group-auth {
        .mat-tab-label-container {
          position: relative;

          &:after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 1px;
            border-top: 1px solid #ccc;
            z-index: -1;
          }
        }
      }
    }

    &.c-theme-light {
      ::ng-deep {
        .mat-tab-group-auth {
          .mat-tab-header {
            border-bottom: none;
          }

          .mat-tab-body-content {
            overflow: hidden;
          }

          .mat-tab-label {
            opacity: 1 !important;
            min-width: 0;
            flex: 1;
          }

          .mat-tab-label-content {
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.88;
            letter-spacing: 0.3px;
            text-align: left;
            color: #2e4ce6;
          }

          .mat-tab-label-active {
            .mat-tab-label-content {
              color: #010307;
            }
          }

          .mat-ink-bar {
            background-color: #2e4ce6;
            height: 3px;
          }
        }
      }

      .forgot-password {
        span {
          color: #2e4ce6;
        }
      }

      .c-exists {
        .c-exists-go {
          a {
            border-color: #2e4ce6;
          }

          span {
            color: #2e4ce6;
          }
        }

        .c-exists-info {
          .name {
            span {
              color: #010307;
            }
          }

          .status {
            span {
              color: #aaacb4;
            }
          }
        }
      }

      .c-form {
        .inputs {
          background-color: #ffffff;
          border-color: #dddddd;

          .input {
            border-bottom-color: #dddddd;

            input {
              color: #010307;

              &:disabled {
                color: #eee;
              }
            }

            input::placeholder {
              color: #999999;
            }
          }
        }

        button {
          box-shadow: none;
        }
      }
    }

    &.c-theme-dark {
      ::ng-deep {
        .mat-tab-group-auth {
          .mat-tab-group {
            .mat-tab-header {
              border-bottom: 0;
            }

            .mat-tab-body-wrapper {
              border-top: 1px solid #fff;
              position: relative;
              top: -2px;
            }

            .mat-tab-header, .mat-tab-labels, .mat-tab-label {
              height: 60px;
            }

            .mat-tab-body-content {
              overflow: hidden;
            }

            .mat-tab-label {
              background-color: transparent!important;
              opacity: 1!important;
              min-width: 0;
              flex: 1;

              .mat-tab-label-content {
                font-family: Roboto, sans-serif;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: 0.3px;
                text-align: left;
                color: rgba(255, 255, 255, 0.6);
                transition: color .15s;
              }

              &:focus {
                background-color: transparent!important;
              }

              &.mat-tab-label-active {
                .mat-tab-label-content {
                  color: #fff;
                }
              }
            }

            .mat-ink-bar {
              height: 3px;
              background-color: #ffc80e!important;
            }
          }
        }
      }

      .errors {
        background: rgba(0,0,0,0.7);
        padding: 8px;
        border-radius: 4px;
      }

      .forgot-password {
        &:hover {
          span {
            border-bottom-color: #fff;
          }
        }

        span {
          color: #fff;
        }
      }

      .c-form {
        .checkbox {
          .checkbox-label {
            span {
              color: rgba(255,255,255, .6);
            }

            span.link {
              color: #fff;
              border-bottom-color: #fff;
            }
          }
        }
      }

      .c-exists {
        .c-exists-go {
          a {
            border-color: #fff;
          }

          span {
            color: #fff;
          }
        }

        .c-exists-info {
          .name {
            span {
              color: rgba(255, 255, 255, 1);
            }
          }

          .status {
            span {
              color: rgba(255, 255, 255, 0.7);
            }
          }
        }
      }
    }
  }
}
