.c.__evodesk-landing-auth([ngClass]="{ 'is-submitting': props.submitting }")
  .c-theme([ngClass]="{ 'c-theme-light': props.theme === 'light', 'c-theme-dark': props.theme === 'dark' }")
    ng-container(*ngIf="props.currentProfileId === undefined")
      .mat-tab-group-auth
        mat-tab-group(#matTabGroup, (selectedTabChange)="onSelectedTabChange($event)", (animationDone)="onTabAnimationDone()")
          mat-tab(label="{{ 'EvodeskLanding.components.LandingAuth.SignIn' | translate }}")
            .c-tab.c-tab-sign-in
              form.c-form([formGroup]="state.formSignIn", autocomplete="off", (ngSubmit)="onFormSignInSubmit()")
                .inputs
                  .input
                    input(#signInEmailRef, [formControlName]="'email'", autocomplete="off", type="text", placeholder="{{ 'EvodeskLanding.components.LandingAuth.Email' | translate }}")
                  .input
                    input(#signInPasswordRef , [formControlName]="'password'", autocomplete="off", type="password", placeholder="{{ 'EvodeskLanding.components.LandingAuth.Password' | translate }}")
                label.persist.checkbox
                  .persist-checkbox.checkbox-input
                    mat-checkbox([formControlName]="'persist'")
                  .persist-flag.checkbox-label
                    span.text(translate) EvodeskLanding.components.LandingAuth.Persist
                .actions
                  button(type="submit", mat-button)
                    span(translate) EvodeskLanding.components.LandingAuth.SubmitSignIn
                .sign-in-social((click)="signInSocial()")
                  span.text(translate) EvodeskLanding.components.LandingAuth.SignInSocial
                .errors(*ngIf="!!props.formSignInError")
                  span {{ props.formSignInError | translate }}
                .forgot-password(*ngIf="!!props.formSignInError", (click)="forgotPassword()")
                  span {{ 'EvodeskLanding.components.LandingAuth.ForgotPassword' | translate }}
          mat-tab(label="{{ 'EvodeskLanding.components.LandingAuth.Register' | translate }}")
            .c-tab.c-tab-register
              form.c-form([formGroup]="state.formRegister", autocomplete="off", (ngSubmit)="onFormRegisterSubmit()")
                .inputs
                  .input
                    input(#registerEmail, [formControlName]="'email'", autocomplete="off", type="text", placeholder="{{ 'EvodeskLanding.components.LandingAuth.Email' | translate }}")
                  .input
                    input([formControlName]="'password'", autocomplete="off", type="password", placeholder="{{ 'EvodeskLanding.components.LandingAuth.Password' | translate }}")
                  .input
                    input([formControlName]="'promo'", autocomplete="off", type="text", placeholder="{{ 'EvodeskLanding.components.LandingAuth.Promo' | translate }}")
                .checkbox
                  .checkbox-input
                    mat-checkbox((change)="agree($event)", [checked]="state.agree")
                  .checkbox-label
                    span.text(translate) EvodeskLanding.components.LandingAuth.AgreeToAccept
                    span.link((click)="showConditions()", translate) EvodeskLanding.components.LandingAuth.AgreeToAcceptLink
                .actions
                  button(type="submit", mat-button)
                    span(translate) EvodeskLanding.components.LandingAuth.SubmitRegister
                .errors(*ngIf="!!props.formRegisterError")
                  span {{ props.formRegisterError | translate }}
    ng-container(*ngIf="props.currentProfileId !== undefined")
      .c-exists
        .c-exists-avatar
          evodesk-profile-avatar([profileId]="props.currentProfileId", [size]="80")
        .c-exists-info
          .name
            span {{ props.currentProfileName }}
          .status
            span {{ props.currentProfileStatus }}
        .c-exists-go
          a([routerLink]="['/profile']", mat-button)
            span.text(translate) EvodeskLanding.components.LandingAuth.GoToProfile
