.c {
  display: flex;

  >.c-left {
    flex: 0;
    margin-right: 12px;
  }

  >.c-right {
    flex: 1;

    >.c-header {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .c-header-title {
        span {
          font-weight: 500;
          line-height: normal;
          font-size: 16px;
          color: #1D2639;
          position: relative;
          top: 2px;
          left: 1px;
        }
      }

      .c-header-filters {
        .filters {
          position: relative;
          left: 4px;
          top: 2px;

          .filter {
            display: inline-block;
            margin-right: 20px;
            cursor: pointer;

            &:last-child {
              margin-right: 0;
            }

            &.is-active {
              span {
                color: #4A84FB;
              }
            }

            span {
              font-size: 14px;
              text-align: right;
              color: #777D88;
            }
          }
        }
      }
    }

    >.c-records {
      .record {
        border-bottom: 1px solid #EFF0F1;
        padding-bottom: 20px;
        margin-bottom: 16px;

        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }

      &.has-more {
        .record:last-child {
          border-bottom: 1px solid #EFF0F1;
          padding-bottom: 20px;
          margin-bottom: 16px;
        }
      }
    }

    >.c-no-records {
      padding: 20px 0;

      span {
        font-size: 14px;
        color: #777D88;
      }
    }

    >.c-more {
      .load-more {
        cursor: pointer;

        span {
          font-size: 14px;
          color: #4A84FB;
        }
      }
    }
  }
}
