.c
  .c-left
    .c-icon
      .__evodesk-icon-v3.iv3-desk-card-modal-section-history-24x24px
  .c-right
    .c-header
      .c-header-title
        span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalHistory.Title
      .c-header-filters
        .filters
          .filter.filter-none((click)="setFilter(undefined)", [ngClass]="{ 'is-active': state.filter === undefined }")
            span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalHistory.FilterNone
          .filter.filter-actions((click)="setFilter('actions')", [ngClass]="{ 'is-active': state.filter === 'actions' }")
            span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalHistory.FilterActions
          .filter.filter-none((click)="setFilter('comments')", [ngClass]="{ 'is-active': state.filter === 'comments' }")
            span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalHistory.FilterComments
    ng-container
      ng-container(*ngIf="hasRecords")
        .c-records([ngClass]="{ 'has-more': hasMore }")
          .record(*ngFor="let r of records; trackBy: trackByRecordId")
            ng-container(*ngIf="recordType(r) === 'action'")
              evodesk-desk-history-record-action([props]="recordActionProps(r)")
            ng-container(*ngIf="recordType(r) === 'comment'")
              evodesk-desk-history-record-comment([props]="recordCommentProps(r)", (delete)="deleteCommentEvent.emit($event)", (update)="updateCommentEvent.emit($event)")
      ng-container(*ngIf="! hasRecords")
        .c-no-records
          span(*ngIf="state.filter === undefined || state.filter === 'actions'" ,translate) EvodeskDesk.components.modal.EvodeskDeskCardModalHistory.NoRecords
          span(*ngIf="state.filter === 'comments'", translate) EvodeskDesk.components.modal.EvodeskDeskCardModalHistory.NoComments
    .c-more(*ngIf="hasMore")
      .load-more((click)="nextPage()")
        span(translate, [translateParams]="{ current: current, total: total }") EvodeskDesk.components.modal.EvodeskDeskCardModalHistory.LoadMore
