:host {
  width: 100%;
  height: 100%;
}

.c {
  width: 100%;
  height: 100%;

  .c-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .c-box-card {
      flex: 1;

      >.card {
        height: 100%;
        border-radius: 6px;
        cursor: pointer;
        transition: .15s;
        position: relative;
        background-color: #fff;
        overflow: hidden;
        padding: 30px 0;
        border: 1px solid #eee;

        &:hover {
          box-shadow: 13px 11px 35px rgba(29, 46, 72, .13);
        }

        >.inviting, >.title, >.inviting-text {
          font-family: "Gotham Pro", sans-serif;

          > span {
            display: block;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }

        >.inviting {
          padding: 10px 15px;

          span {
            font-size: 16px;
          }
        }

        .inviting-text {
          padding: 10px 15px;

          span {
            font-size: 14px;
            color: #999;
          }
        }

        >.title {
          padding: 10px 15px;

          > span {
            font-size: 20px;
            font-weight: 500;
          }
        }
      }
    }

    .c-box-actions {
      flex-grow: 0;
      flex-shrink: 0;

      .actions {
        display: flex;

        .action {
          flex: 1;
          padding: 15px 10px;

          button.button {
            display: block;
            width: 100%;
            border: 0;
            outline: 0;
            background: none;
            cursor: pointer;

            &:hover {
              span {
                color: #000;
              }
            }

            &:disabled {
              i, span {
                color: #aaa;
              }
            }

            &.button-accept {
              i {
                color: #6da01f;
              }
            }

            &.button-decline {
              i {
                color: #F44336;
              }
            }

            i {
              font-size: 13px;
              line-height: 32px;
              margin-right: 10px;
            }

            span {
              font-family: "Gotham Pro", sans-serif;
              font-size: 14px;
              line-height: 32px;
              color: #bbb;
            }
          }
        }
      }
    }
  }
}
