.c
  .c-box
    .c-box-card
      .card((click)="navigateToDesk()")
        .inviting
          span {{ props.invite.inviting }}
        .inviting-text
          span {{ 'EvodeskDeskDashboard.components.DeskDashboardInviteCard.InvitingText' | translate }}
        .title(*ngIf="props.invite.name && props.invite.name.length > 0")
          span {{ props.invite.name }}
    .c-box-actions
      .actions
        .action.action-accept
          button.button.button-accept(type="button", (click)="accept()", [disabled]="props.decisionMade")
            i.icon-check
            span {{ 'EvodeskDeskDashboard.components.DeskDashboardInviteCard.AcceptButton' | translate }}
        .action.action-decline
          button.button.button-decline(type="button", (click)="decline()", [disabled]="props.decisionMade")
            i.icon-cross
            span {{ 'EvodeskDeskDashboard.components.DeskDashboardInviteCard.DeclineButton' | translate }}
