.c {
  display: flex;

  >.c-left {
    flex: 0;
    margin-right: 12px;
  }

  >.c-right {
    flex: 1;

    .c-header {
      margin-bottom: 10px;

      .c-header-title {
        margin-bottom: 18px;
        position: relative;
        top: 2px;

        span {
          font-weight: 500;
          line-height: normal;
          font-size: 16px;
          color: #1D2639;
        }
      }
    }

    .c-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .c-list-item {
        margin-bottom: 8px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.badge {
  background: #F8F8F9;
  border-radius: 21px;
  height: 32px;
  padding-left: 12px;
  padding-right: 5px;
  display: flex;
  margin-right: 8px;
  align-items: center;

  .badge-avatar {
    flex: 0;
    margin-right: 10px;
  }

  .badge-name {
    margin-right: 3px;

    span {
      font-size: 14px;
      color: #1D2639;
      position: relative;
      top: -2px;
      left: 2px;
    }
  }

  .badge-remove {
    flex: 0;

    .delete-button {
      cursor: pointer;
      position: relative;
      left: 2px; top: 2px;

      &:hover {
        svg {
          path {
            fill: #000!important;
          }
        }
      }
    }
  }
}

.add-button {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #F8F8F9;
  position: relative;
  left: 2px;
}
