.c
  .c-left
    .c-icon
      svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M14.0417 4.71433C14.1995 4.18506 14.7564 3.88391 15.2857 4.0417C16.1029 4.28531 16.7948 4.82856 17.2734 5.54646C17.751 6.2629 18 7.12607 18 8.00002C18 8.87397 17.751 9.73714 17.2734 10.4536C16.7948 11.1715 16.1029 11.7147 15.2857 11.9583C14.7564 12.1161 14.1995 11.815 14.0417 11.2857C13.8839 10.7564 14.1851 10.1995 14.7143 10.0417C15.0414 9.9442 15.3637 9.71264 15.6093 9.34417C15.8559 8.97425 16 8.5013 16 8.00002C16 7.49874 15.8559 7.02579 15.6093 6.65586C15.3637 6.2874 15.0414 6.05584 14.7143 5.95834C14.1851 5.80056 13.8839 5.2436 14.0417 4.71433ZM17.0504 13.6867C17.2234 13.1623 17.7888 12.8773 18.3133 13.0504C19.1467 13.3253 19.8311 13.9267 20.2959 14.6928C20.7604 15.4584 20.9995 16.3737 21 17.2959V19C21 19.5523 20.5523 20 20 20C19.4477 20 19 19.5523 19 19V17.297C18.9997 16.7094 18.8455 16.1579 18.586 15.7303C18.3268 15.3031 17.9975 15.0522 17.6867 14.9497C17.1623 14.7767 16.8773 14.2112 17.0504 13.6867ZM10 6C8.89543 6 8 6.89543 8 8C8 9.10457 8.89543 10 10 10C11.1046 10 12 9.10457 12 8C12 6.89543 11.1046 6 10 6ZM6 8C6 5.79086 7.79086 4 10 4C12.2091 4 14 5.79086 14 8C14 10.2091 12.2091 12 10 12C7.79086 12 6 10.2091 6 8ZM4.13539 14.3073C4.87542 13.4851 5.9031 13 7 13H13C14.0969 13 15.1246 13.4851 15.8646 14.3073C16.6015 15.1261 17 16.2161 17 17.3333V19C17 19.5523 16.5523 20 16 20C15.4477 20 15 19.5523 15 19V17.3333C15 16.6825 14.7663 16.0767 14.378 15.6453C13.9928 15.2173 13.4944 15 13 15H7C6.5056 15 6.00716 15.2173 5.62197 15.6453C5.23366 16.0767 5 16.6825 5 17.3333V19C5 19.5523 4.55228 20 4 20C3.44772 20 3 19.5523 3 19V17.3333C3 16.2161 3.39848 15.1261 4.13539 14.3073Z', fill='#777D88')
  .c-right
    .c-header
      .c-header-title
        span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalResponsible.Title
    .c-list
      .c-list-item(*ngFor="let p of props.card.responsible")
        .badge
          .badge-avatar
            evodesk-profile-avatar([size]="16", [profileId]="p.id")
          .badge-name
            span {{ p.name || p.email }}
          .badge-remove
            .delete-button((click)="remove(p)")
              svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M16.3536 8.35355C16.5488 8.15829 16.5488 7.84171 16.3536 7.64645C16.1583 7.45118 15.8417 7.45118 15.6464 7.64645L12 11.2929L8.35355 7.64645C8.15829 7.45118 7.84171 7.45118 7.64645 7.64645C7.45118 7.84171 7.45118 8.15829 7.64645 8.35355L11.2929 12L7.64645 15.6464C7.45118 15.8417 7.45118 16.1583 7.64645 16.3536C7.84171 16.5488 8.15829 16.5488 8.35355 16.3536L12 12.7071L15.6464 16.3536C15.8417 16.5488 16.1583 16.5488 16.3536 16.3536C16.5488 16.1583 16.5488 15.8417 16.3536 15.6464L12.7071 12L16.3536 8.35355Z', fill='#BBBEC4')
      .c-list-item
        .add-button((click)="add()")
          svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
            path.colorize(fill-rule='evenodd', clip-rule='evenodd', d='M13.0244 6.02439C13.0244 5.45864 12.5658 5 12 5C11.4343 5 10.9757 5.45864 10.9757 6.02439V10.9756H6.02439C5.45864 10.9756 5 11.4342 5 12C5 12.5657 5.45864 13.0244 6.02439 13.0244H10.9757V17.9756C10.9757 18.5414 11.4343 19 12 19C12.5658 19 13.0244 18.5414 13.0244 17.9756V13.0244H17.9756C18.5414 13.0244 19 12.5657 19 12C19 11.4342 18.5414 10.9756 17.9756 10.9756H13.0244V6.02439Z', fill='#BBBEC4')
