@import "~sass-mq";

@include mq($until: 800px) {
  .c {
    .c-flex {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

@include mq($from: 801px) {
  .c {
    .c-flex {
      .c-panel-contents {
        flex: 1;
        margin-right: 16px;
      }

      .c-panel-menu {
        width: 280px;
        flex-grow: 0;
        flex-shrink: 0;
        margin-left: 16px;

        .sticky {
          position: sticky;
          top: 32px;
        }
      }
    }
  }
}

.c {
  .c-mobile-header {
    z-index: 10;
    position: sticky;
    top: 0;
  }

  .c-flex {
    display: flex;
    padding: 32px 16px;
    z-index: 1;

    .c-card {
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
      margin-bottom: 32px;

      .c-card-title {
        padding: 8px 16px 4px;
        border-bottom: 1px solid #d0d6f5;
        margin-bottom: 16px;

        span {
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.4px;
          text-align: left;
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .c-card-contents {
        margin-bottom: 32px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .c-card-actions {
        display: flex;
        justify-content: space-between;
        padding: 24px 16px 32px;
        border-top: 1px solid #d0d6f5;
        align-items: center;

        button.save-changes-button {
          border-radius: 3px;
          background-color: #2e4ce6;

          span {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: 0.3px;
            text-align: left;
            color: #ffffff;
          }

          &:disabled {
            background-color: #f0f0f0;

            span {
              color: #bbb;
            }
          }
        }
      }

      &.c-card-password {
        .c-card-actions {
          justify-content: left;

          .c-card-actions-left {
            margin-right: 16px;
          }

          .c-card-actions-right {
            flex-grow: 0;
            flex-shrink: 0;

            .passwords-are-same {
              font-size: 11px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 2;
              letter-spacing: 0.4px;
              text-align: left;
              color: #ccc;
            }
          }
        }
      }

      &.c-card-activity {
        margin: 0;
        padding-bottom: 16px;
      }

      &.c-card-privacy-and-security {
        .c-card-title {
          margin-bottom: 0;
        }

        .c-card-contents {
          margin: 0;
        }
      }
    }
  }
}
