ng-container(*ngIf="!!state && state.ready")
  .__evodesk-fluid-container
    .c
      .c-mobile-header(*ngIf="shouldDisplayMobileNavigation && props.currentNav")
        evodesk-user-settings-navigation-mobile-container
      .c-flex
        .c-panel-contents
          ng-container(*ngIf="props.currentNav === 'account'")
            .c-card
              .c-card-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.Cards.Account' | translate }}
              .c-card-contents
                evodesk-user-settings-account-container((ngSubmit)="saveChanges()")
              .c-card-actions
                .c-card-actions-left
                  button.save-changes-button(type="button", mat-button, (click)="saveChanges()")
                    span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.SaveChanges' | translate }}
            .c-card.c-card-password
              .c-card-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.Cards.AccountPassword' | translate }}
              .c-card-contents
                evodesk-user-settings-password-container((ngSubmit)="savePasswordChanges()")
              .c-card-actions
                .c-card-actions-left
                  button.save-changes-button(type="button", mat-button, (click)="savePasswordChanges()", [disabled]="! props.canChangePassword")
                    span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.SavePasswordChanges' | translate }}
                .c-card-actions-right
                  .passwords-are-same(*ngIf="props.arePasswordsSame")
                    span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.PasswordsAreSame' | translate }}
          ng-container(*ngIf="props.currentNav === 'common'")
            .c-card
              .c-card-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.Cards.Common' | translate }}
              .c-card-contents
                evodesk-user-settings-common-container
              .c-card-actions
                .c-card-actions-left
                  button.save-changes-button(type="button", mat-button, (click)="saveChanges()")
                    span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.SaveChanges' | translate }}
          ng-container(*ngIf="props.currentNav === 'competence'")
            .c-card
              .c-card-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.Cards.Competence' | translate }}
              .c-card-contents
                evodesk-user-settings-competence-container
              .c-card-actions
                .c-card-actions-left
                  button.save-changes-button(type="button", mat-button, (click)="saveChanges()")
                    span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.SaveChanges' | translate }}
          ng-container(*ngIf="props.currentNav === 'work-experience'")
            .c-card
              .c-card-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.Cards.WorkExperience' | translate }}
              .c-card-contents
                evodesk-user-settings-work-experience-container
              .c-card-actions
                .c-card-actions-left
                  button.save-changes-button(type="button", mat-button, (click)="saveChanges()")
                    span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.SaveChanges' | translate }}
          ng-container(*ngIf="props.currentNav === 'privacy-and-security'")
            .c-card.c-card-privacy-and-security
              .c-card-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.Cards.PrivacyAndSecurity' | translate }}
              .c-card-contents
                evodesk-user-settings-privacy-security-container
              .c-card-actions
                .c-card-actions-left
                  button.save-changes-button(type="button", mat-button, (click)="saveChanges()")
                    span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.SaveChanges' | translate }}
            .c-card.c-card-activity
              .c-card-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.Cards.Activity' | translate }}
              .c-card-contents
                evodesk-user-settings-activity-container
          ng-container(*ngIf="props.currentNav === 'education'")
            .c-card
              .c-card-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.Cards.Education' | translate }}
              .c-card-contents
                evodesk-user-settings-education-container
              .c-card-actions
                .c-card-actions-left
                  button.save-changes-button(type="button", mat-button, (click)="saveChanges()")
                    span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.SaveChanges' | translate }}
          ng-container(*ngIf="props.currentNav === 'notifications'")
            .c-card
              .c-card-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.Cards.Notifications' | translate }}
              .c-card-contents
                evodesk-user-settings-notifications-container
              .c-card-actions
                .c-card-actions-left
                  button.save-changes-button(type="button", mat-button, (click)="saveChanges()")
                    span {{ 'EvodeskUserSettings.components.EvodeskUserSettings.SaveChanges' | translate }}
        .c-panel-menu(*ngIf="! shouldDisplayMobileNavigation")
          .sticky
            evodesk-user-settings-navigation-container
