@import "~sass-mq";

@keyframes showActiveInk {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 2px;
    opacity: 1;
  }
}

@include mq($from: tablet) {
  .c {
    .__evodesk-fluid-container {
      .items-left-bg, .items-right-bg {
        display: none;
      }
    }
  }
}

.c {
  background-color: #EFF0F1;
  height: 54px;

  .right {
    margin-left: 30px;
  }

  .__evodesk-fluid-container {
    height: 60px;
    position: relative;

    .items-left-bg, .items-right-bg {
      position: absolute;
      width: 30px;
      top: 0; bottom: 2px;
      z-index: 1;
      pointer-events: none;
    }

    .items-left-bg {
      left: 0;
      background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    }

    .items-right-bg {
      right: 0;
      background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    }
  }

  .items {
    height: 100%;
    display: flex;
    justify-content: space-between;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;

    .left, .center, .right {
      padding: 0 30px;
    }
  }

  .button-wrapper {
    height: 100%;
    position: relative;
    display: inline-block;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      ::ng-deep {
        .mat-button-wrapper {
          span {
            color: #4A84FB;
          }
        }
      }
    }

    &.active, &.custom-active {
      .button-wrapper-active {
        display: block;
        animation: showActiveInk 0.15s normal forwards ease-in-out;
      }

      ::ng-deep {
        .mat-button-wrapper {
          span {
            color: #4A84FB;
          }
        }
      }
    }

    .button-wrapper-active {
      display: none;
      position: absolute;
      bottom: 0; height: 2px;
      left: 0; right: 0;
      background-color: #4A84FB;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      overflow: hidden;
    }

    .counter {
      display: inline-block;
      vertical-align: super;
      background-color: #dc3030;
      border-radius: 10px;
      position: absolute;
      height: 20px;
      right: 0;

      span {
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 12px;
        letter-spacing: 0.4px;
        text-align: center;
        color: #ffffff;
        margin: 0;
        top: 4px;
        position: relative;
        vertical-align: top;
        padding: 5px;
        height: 17px;
        border-radius: 10px;
      }
    }
  }
}

::ng-deep {
  .__evodesk-header-common-sub-menu {
    .mat-button {
      height: 100%;
      min-width: 0!important;
      padding: 0;

      &:hover {
        .mat-button-focus-overlay {
          background-color: transparent!important;
        }
      }

      .mat-button-wrapper {
        span {
          font-weight: normal!important;
          line-height: 21px;
          font-size: 14px;
          text-align: right;
          color: #777D88;
          transition: .15s;
          position: relative;
          top: -1px;
        }
      }

      .mat-button-ripple {
        display: none;
      }
    }
  }
}
