.c.__evodesk-header-common-sub-menu(*ngIf="!!state && state.ready && state.shouldBeVisible")
  .items-left-bg
  .items(evodeskTouchScroll="x", evodeskMouseWheelScroll="x", evodeskKeyboardScroll, evodeskKeyboardScrollDirection="x", [evodeskKeyLeftScrollEnabled]="true", [evodeskKeyRightScrollEnabled]="true")
    .left(*ngIf="menuItemsLeft.length > 0")
      ng-container(*ngFor="let item of menuItemsLeft")
        a.button-wrapper([routerLink]="item.link.routerLink", [routerLinkActiveOptions]="item.routerLinkOptions || {}", [routerLinkActive]="'active'", [ngClass]="getNgClasses(item)")
          button(mat-button, [disableRipple]="true")
            span(*ngIf="item.title.shouldTranslate") {{ item.title.text | translate }}
            span(*ngIf="! item.title.shouldTranslate") {{ item.title.text }}
            .counter(*ngIf="item.counter && item.counter === 'im-messages' && props.imMessages > 0")
              span(*ngIf="props.imMessages < 100") {{ props.imMessages }}
              span(*ngIf="props.imMessages > 100") 99+
          .button-wrapper-active
    .center(*ngIf="menuItemsCenter.length > 0")
      a.button-wrapper(*ngFor="let item of menuItemsCenter", [routerLink]="item.link.routerLink", [routerLinkActiveOptions]="item.routerLinkOptions || {}", [routerLinkActive]="'active'", [ngClass]="getNgClasses(item)")
        button(mat-button, [disableRipple]="true")
          span(*ngIf="item.title.shouldTranslate") {{ item.title.text | translate }}
          span(*ngIf="! item.title.shouldTranslate") {{ item.title.text }}
        .button-wrapper-active
    .right(*ngIf="menuItemRight.length > 0")
      a.button-wrapper(*ngFor="let item of menuItemRight", [routerLink]="item.link.routerLink", [routerLinkActiveOptions]="item.routerLinkOptions || {}", [routerLinkActive]="'active'", [ngClass]="getNgClasses(item)")
        button(mat-button, [disableRipple]="true")
          span(*ngIf="item.title.shouldTranslate") {{ item.title.text | translate }}
          span(*ngIf="! item.title.shouldTranslate") {{ item.title.text }}
        .button-wrapper-active
  .items-right-bg
