.c(*ngIf="!!state && state.ready")
  form.c-fields([formGroup]="props.form", novalidate)
    .c-field.c-field-alias
      .field
        .field-title
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsAccount.Alias' | translate }}
        .field-contents
          .input
            .input-value
              input.__evodesk-input-box-v2([formControlName]="'urlAlias'", type="text", (blur)="onBlur()")
            .input-pending(*ngIf="isPending")
              mat-progress-spinner([mode]="'indeterminate'", [diameter]="24")
          .input-error(*ngIf="hasError")
            span {{ error | translate }}
          .input-hint
            span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsAccount.AliasHint' | translate }}
