.c {
  padding: 16px;

  .field {
    .field-title {
      margin-bottom: 8px;
      min-height: 22px;

      span {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.3px;
        text-align: left;
        color: #aaacb4;
      }
    }
  }

  .c-field-alias {
    .field-contents {
      .input {
        display: flex;
        margin-bottom: 16px;
        align-items: center;

        .input-value {
          flex: 1;
          max-width: 288px;
          margin-right: 16px;
        }

        .input-pending {
          flex-grow: 0;
          flex-shrink: 0;
        }
      }

      .input-error {
        margin-bottom: 16px;

        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: left;
          color: red;
        }
      }

      .input-hint {
        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: left;
          color: #aaacb4;
        }
      }
    }
  }
}
