.c {
  .c-card {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 32px;

    .c-card-title {
      padding: 8px 16px 4px;
      border-bottom: 1px solid #d0d6f5;
      margin-bottom: 16px;

      span {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.4px;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
      }
    }

    .c-card-contents {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .c-menu {
    .c-menu-items {
      padding-bottom: 16px;

      .c-menu-item {
        padding: 12px 16px;
        border-left: 3px solid transparent;
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;
          letter-spacing: 0.3px;
          text-align: left;
          color: #2e4ce6;
          transition: .15s;
        }

        &:hover {
          span {
            color: #010307;
          }
        }

        &.is-active {
          border-left-color: #2e4ce6;

          span {
            color: #010307;
          }
        }
      }
    }
  }
}
