.c(*ngIf="!! state && state.ready")
  .c-menu.c-card
    .c-menu-title.c-card-title
      span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsNavigation.Title' | translate }}
    .c-menu-items.c-card-contents
      .c-menu-item([ngClass]="{ 'is-active': props.currentNav === 'account' }", (click)="go('account')")
        span {{ 'EvodeskUserSettings.models.EvodeskUserSettingsNavigation.Account' | translate }}
      .c-menu-item([ngClass]="{ 'is-active': props.currentNav === 'common' }", (click)="go('common')")
        span {{ 'EvodeskUserSettings.models.EvodeskUserSettingsNavigation.Common' | translate }}
      .c-menu-item([ngClass]="{ 'is-active': props.currentNav === 'competence' }", (click)="go('competence')")
        span {{ 'EvodeskUserSettings.models.EvodeskUserSettingsNavigation.Competence' | translate }}
      .c-menu-item([ngClass]="{ 'is-active': props.currentNav === 'education' }", (click)="go('education')")
        span {{ 'EvodeskUserSettings.models.EvodeskUserSettingsNavigation.Education' | translate }}
      .c-menu-item([ngClass]="{ 'is-active': props.currentNav === 'work-experience' }", (click)="go('work-experience')")
        span {{ 'EvodeskUserSettings.models.EvodeskUserSettingsNavigation.WorkExperience' | translate }}
      .c-menu-item([ngClass]="{ 'is-active': props.currentNav === 'notifications' }", (click)="go('notifications')")
        span {{ 'EvodeskUserSettings.models.EvodeskUserSettingsNavigation.Notifications' | translate }}
      .c-menu-item([ngClass]="{ 'is-active': props.currentNav === 'privacy-and-security' }", (click)="go('privacy-and-security')")
          span {{ 'EvodeskUserSettings.models.EvodeskUserSettingsNavigation.PrivacyAndSecurity' | translate }}
