.c {
  min-height: 30px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  height: 300px;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    .card-contents {
      .c-description {
        span {
          color: #2e4ce6;
        }
      }
    }
  }

  .card-widgets {
    z-index: 2;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    .cw-price {
      position: absolute;
      top: 138px;
      left: 16px;

      .price {
        box-shadow: 0 4px 14px 1px rgba(0,0,0,.1);
        border-radius: 30px;
        background: #fff;
        padding: 8px 16px;
        display: flex;
        align-items: center;

        .price-icon {
          flex-grow: 0;
          flex-shrink: 0;
          margin-right: 8px;
        }

        .price-value {
          flex: 1;

          span {
            font-size: 20px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: 0.2px;
            text-align: left;
            color: #010307;
          }
        }
      }
    }

    .cw-rating {
      position: absolute;
      bottom: 16px;
      left: 16px;
    }
  }

  .card-contents {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 37px;

    .c-image {
      flex-grow: 0;
      flex-shrink: 0;
      height: 150px;
      background-color: #ffffff;
      border-bottom: 1px solid #ddd;
      margin-bottom: 32px;

      .image {
        height: 100%;
        background: no-repeat center center;
        background-size: cover;
      }
    }

    .c-description {
      flex: 1;
      padding: 16px;
      overflow: hidden;
      text-overflow: ellipsis;

      span {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 0.2px;
        text-align: left;
        color: #010307;
        transition: color .15s;
      }
    }
  }
}
