.c((click)="open($event)")
  .card-widgets
    .cw-price
      .price
        .price-icon
          .__evodesk-icon.ic-star-14x13px
        .price-value
          span {{ price }}
    .cw-rating
      evodesk-shop-stars([stars]="product.stars")
  .card-contents
    .c-image
      .image([ngStyle]="imageCss")
    .c-description
      span {{ title }}
