@import "~sass-mq";

$padding: 20px;

@include mq($until: 640px + $padding - 1px) {
  iframe {
    width: 426px;
    height: 240px;
  }
}

@include mq($from: 640px + $padding, $until: 854px + $padding - 1px) {
  iframe {
    width: 640px;
    height: 360px;
  }
}

@include mq($from: 854px + $padding, $until: 1280px + $padding - 1px) {
  iframe {
    width: 854px;
    height: 480px;
  }
}

@include mq($from: 1280px + $padding) {
  iframe {
    width: 1280px;
    height: 720px;
  }
}
