.c([ngClass]="containerCSSClasses")
  .c-box
    .c-create-new-post((click)="newPost()")
      .center
        .left
          evodesk-profile-avatar-current-user([size]="24")
        .right
          span.link {{ 'EvodeskNews.components.NewsNavigationMobile.NewPost' | translate }}
    .c-navigations((click)="toggle()")
      .center
        .left
          .__evodesk-icon.ic-news-menu-26x26px
        .right
          span.link {{ currentNav | translate }}
  .c-navigation-float(*ngIf="state.isOpened", (clickOutside)="close()", [delayClickOutsideInit]="true")
    .c-nav
      a.c-nav-item([routerLink]="['/news/index']", routerLinkActive="is-active", (click)="close()")
        span {{ 'EvodeskNews.components.NewsNavigation.Nav.Index' | translate }}
      a.c-nav-item([routerLink]="['/news/subscribers']", routerLinkActive="is-active", (click)="close()")
        span {{ 'EvodeskNews.components.NewsNavigation.Nav.Subscribers' | translate }}
      a.c-nav-item([routerLink]="['/news/adverts']", routerLinkActive="is-active", (click)="close()")
        span {{ 'EvodeskNews.components.NewsNavigation.Nav.Adverts' | translate }}
      a.c-nav-item([routerLink]="['/news/notifications']", routerLinkActive="is-active", (click)="close()")
        span {{ 'EvodeskNews.components.NewsNavigation.Nav.Notifications' | translate }}
