.c {
  background-color: #fff;

  .c-box {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 175px;
    z-index: 1;
    background-color: #fff;
  }

  &.is-opened {
    .c-navigations {
      .left {
        .__evodesk-icon {
          transform: rotate(180deg)!important;
        }
      }
    }
  }

  &.__desktop, &.__tablet {
    .c-box {
      display: flex;
    }

    .c-create-new-post {
      border-right: 1px solid #d0d6f5;
    }

    .c-create-new-post, .c-navigations {
      flex: 1;
      width: 50%;
    }

    .c-navigation-float {
      left: 50%; right: 0;
    }
  }

  &.__mobile {
    .c-navigation-float {
      left: 0; right: 0;
    }

    .c-create-new-post {
      border-bottom: 1px solid #d0d6f5;
    }
  }

  .c-create-new-post, .c-navigations {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .link {
      border-bottom: 1px solid transparent;
      transition: .15s;
    }

    &:hover {
      .link {
        border-bottom-color: #2e4ce6;
      }
    }

    .center {
      display: flex;
      align-items: center;
      margin: 16px;

      .left {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 12px;

        .__evodesk-icon {
          transition: .15s;
          transform: rotate(0);
        }
      }

      .right {
        flex: 1;
        position: relative;

        span {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;
          letter-spacing: 0.3px;
          text-align: left;
          color: #2e4ce6;
        }
      }
    }
  }

  .c-navigation-float {
    position: absolute;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.4);
    animation: show 0.15s normal forwards ease-in-out;
    transform-origin: top;

    @keyframes show {
      0% {
        opacity: 0;
        transform: scaleY(0);
      }

      100% {
        opacity: 1;
        transform: scaleY(1);
      }
    }

    .c-nav {
      padding: 32px 0;

      .c-nav-item {
        padding: 11px 16px;
        border-left: 3px solid transparent;
        display: block;

        &.is-active {
          border-left-color: #2e4ce6;

          span {
            color: #000;
          }
        }

        span {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;
          letter-spacing: 0.3px;
          text-align: left;
          color: #2e4ce6;
        }
      }
    }
  }
}
