.c([formGroup]="state.form")
  .c-icon
    .__evodesk-icon-v3.iv3-desk-card-modal-section-deadline-24x24px
  .c-contents
    .c-row-1
      .c-row-11
        span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalDeadline.Title
    .c-row-2
      .c-row-22
        .deadline-mat-menu-trigger(#deadlineMatMenuTrigger, [matMenuTriggerFor]="props.deadlineMatMenu")
        ng-container(*ngIf="hasDeadline")
          .deadline-value((click)="openDeadlineModal()")
            span {{ deadline }}
        ng-container(*ngIf="! hasDeadline")
          .add-deadline((click)="openDeadlineModal()")
            .icon
              .__evodesk-icon-v3.iv3-desk-card-modal-add-deadline-24x24px
            .text
              span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalDeadline.AddDeadline
      .c-row-23(*ngIf="enableRepeat")
        .switch
          .switch-label
            span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalDeadline.Repeat
          .switch-control([ngClass]="{ 'is-enabled': isRepeat }", (click)="toggleRepeat()")
            .background
            .switch-tap
