.c {
  display: flex;

  .c-icon {
    flex: 0;
    margin-right: 12px;
  }

  .c-contents {
    flex: 1;
    padding-top: 3px;

    .c-row-1 {
      margin-bottom: 13px;

      .c-row-11 {
        span {
          font-weight: 500;
          line-height: normal;
          font-size: 16px;
          color: #1D2639;
          position: relative;
          top: -1px;
        }
      }
    }

    .c-row-2 {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .c-row-23, .c-row24 {
        margin-left: 16px;
      }
    }
  }
}

.deadline-value {
  min-width: 161px;
  height: 40px;
  background: #F8F8F9;
  border-radius: 2px;
  text-align: left;
  padding: 0 12px;
  cursor: pointer;

  span {
    font-size: 14px;
    color: #777D88;
    line-height: 40px;
    text-align: left;
  }
}

.add-deadline {
  height: 32px;
  background: #F8F8F9;
  border-radius: 2px;
  text-align: left;
  padding: 4px 16px 4px 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 170px;

  &:hover {
    background: #EFF0F1;
    border-radius: 2px;
  }

  .icon {
    flex: 0;
    margin-right: 2px;
  }

  .text {
    flex: 1;

    span {
      font-size: 14px;
      color: #777D88;
      line-height: 32px;
      text-align: left;
    }
  }
}

.switch {
  display: flex;
  align-items: center;

  .switch-label {
    margin-right: 8px;

    span {
      font-size: 14px;
      color: #1D2639;
    }
  }

  .switch-control {
    position: relative;
    cursor: pointer;
    top: 2px;

    &.is-enabled {
      .background {
        background: #EFF0F1;
      }

      .switch-tap {
        background: #A9D26A;
        transform: translateX(16px);
      }
    }

    .background {
      width: 32px; height: 16px;
      background: #EFF0F1;
      border-radius: 17px;
      transition: .15s;
    }

    .switch-tap {
      position: absolute;
      width: 12px; height: 12px;
      top: 2px; left: 2px;
      transform: translateX(0);
      transition: .15s;
      background: #BBBEC4;
      border-radius: 100%;
    }
  }
}
