.c(*ngIf="!!state && state.ready")
  .c-context-menu-trigger.link((mousedown)="toggleOptions()", (touchstart)="toggleOptions()", [ngClass]="{ 'is-toggled': state.areOptionsOpened }")
    .text
      span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonLanguages.AvailableLocales.' + props.currentLocale | translate }}
    .icon
      .__evodesk-icon.__toggled.ic-select-arrow-white-6x3px
      .__evodesk-icon.__not-toggled.ic-select-arrow-white-6x3px
  .c-context-menu.__evodesk-context-menu-black(*ngIf="state.areOptionsOpened", (clickOutside)="closeOptions()", [delayClickOutsideInit]="true", [clickOutsideEvents]="'mousedown,touchstart'")
    .__evodesk-context-menu-black-item(*ngFor="let locale of props.availableLocales", (click)="select(locale)")
      span {{ 'EvodeskHeader.components.common.EvodeskHeaderCommonLanguages.AvailableLocales.' + locale | translate }}
