.c {
  position: relative;

  .c-context-menu-trigger.link {
    display: flex;
    align-items: center;

    .text {
      margin-right: 10px;
    }

    .__toggled { display: none; }
    .__not-toggled { display: block; }

    &.is-toggled {
      .__toggled { display: block }
      .__not-toggled { display: none; }
    }
  }

  .c-context-menu {
    position: absolute;
    margin-top: 10px;
  }
}

.link {
  white-space: nowrap;
  word-break: keep-all;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.91;

  &:hover {
    opacity: 1;

    span {
      border-bottom: 1px solid rgba(255, 255, 255, 100);
    }
  }

  span {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: .15s;
  }
}
