.c
  .c-social-networks
    a([href]="state.social.vk" target="_blank")
      .__evodesk-icon.ic-vk-25x15px
    a([href]="state.social.telegram" target="_blank")
      .__evodesk-icon.ic-telegram-23x20px
    a([href]="state.social.twitter" target="_blank")
      .__evodesk-icon.ic-facebook-10x22px
    a([href]="state.social.facebook" target="_blank")
      .__evodesk-icon.ic-twitter-21x18px
    a([href]="state.social.youtube" target="_blank")
      .__evodesk-icon.ic-youtube-24x18px
