.c {
  .c-social-networks {
    white-space: nowrap;

    a {
      display: inline-block;
      margin-right: 40px;
      vertical-align: middle;

      &:hover {
        .__evodesk-icon {
          opacity: 0.9;
        }
      }

      .__evodesk-icon {
        opacity: 0.6;
      }
    }
  }
}
