.c {
  .c-feed-create-post-form {
    margin-bottom: 44px;
  }

  .c-feed {
    .no-entries {
      text-align: center;
      padding: 40px 0;

      span {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: 0.2px;
        text-align: left;
        color: #999;
        text-transform: uppercase;
      }
    }
  }
}
