.c
  .c-feed-create-post-form(*ngIf="shouldDisplayPublishPostForm")
    evodesk-feed-post-editor-form-container([forcePin]="true")
  .c-feed
    ng-container(*ngIf="! props.hasEntries")
      .no-entries
        span {{ 'EvodeskNews.components.NewsAdverts.NoEntries' | translate }}
    ng-container(*ngIf="props.hasEntries")
      evodesk-feed-container([context]="'news-adverts'")
