.c(*ngIf="!! state && state.ready")
  .c-left
    .link((click)="conditions()")
      span {{ 'EvodeskProfile.components.EvodeskProfileFooter.Conditions' | translate }}
  .c-right
    span {{ 'EvodeskProfile.components.EvodeskProfileFooter.Copyrights' | translate }}
