.c {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .c-right {
    span {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.83;
      letter-spacing: 0.2px;
      text-align: right;
      color: #aaacb4;
    }
  }
}

.link {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 0.2px;
  text-align: left;
  color: #2e4ce6;
  cursor: pointer;
  transition: .15s;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom-color: #2e4ce6;
  }
}
