.c
  .c-feed-create-post-form(*ngIf="shouldDisplayPublishPostForm")
    evodesk-feed-post-editor-form-container
  .c-feed
    ng-container(*ngIf="! props.hasEntries")
      .no-entries
        span {{ 'EvodeskNews.components.NewsIndex.NoEntries' | translate }}
    ng-container(*ngIf="props.hasEntries")
      evodesk-feed-container
