.c {
  position: relative;

  .c-title {
    display: flex;
    margin-bottom: 8px;
    height: 32px;
    align-items: center;

    .c-title-text {
      flex: 1;
    }

    .c-title-controls {
      .c-control {
        display: inline-block;
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }

        .__evodesk-icon {
          cursor: pointer;
        }
      }
    }

    span {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.83;
      letter-spacing: 0.2px;
      text-align: left;
      color: #aaacb4;
    }
  }

  .c-preview {
    border-radius: 4px;
    background-color: #d5dbfa;
    min-height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

    .c-preview-placeholder {
      text-align: center;
      width: 100%;
      border-radius: 4px;
      overflow: hidden;

      img {
        max-width: 100%;
      }
    }
  }

  .c-site-title {
    display: block;

    &:hover {
      span {
        text-decoration: underline;
      }
    }

    span {
      font-size: 15px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: 0.3px;
      text-align: left;
      color: #010307;
    }
  }

  .c-link-url {
    a {
      text-decoration: none;

      &:hover {
        span {
          text-decoration: underline;
        }
      }

      span {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: 0.2px;
        text-align: left;
        color: #2e4ce6;
        text-decoration: none;
      }
    }
  }

  .c-controls {
    position: absolute;
    right: 0; top: 0;

    .remove {
      cursor: pointer;
      width: 32px; height: 32px;
    }
  }
}
