.c
  .c-title
    .c-title-text
      span {{ 'EvodeskFeed.components.EvodeskFeedPostAttachmentLink.Title' | translate }}
    .c-title-controls(*ngIf="controls")
      .c-control.c-control-remove((click)="remove($event)")
        .__evodesk-icon.ic-close-modal-11x11px.with-hover
  a.c-preview([href]="url", target="_blank", *ngIf="hasImage")
    .c-preview-placeholder
      img([src]="previewImage")
  a.c-site-title([href]="url", target="_blank")
    span {{ name }}
  .c-link-url
    a([href]="domainUrl", target="_blank")
      span {{ hostname }}
