.c {
  .c-form {
    margin-bottom: 10px;
    background: #FFFFFF;
    box-shadow: 0 6px 15px rgba(29, 38, 57, 0.1);
    border: 1px solid transparent;
    position: relative;
    border-radius: 0;
    width: 252px;
    overflow: hidden;
    display: flex;

    .c-form-textarea {
      flex: 1;
      margin-right: 10px;
      padding: 20px;

      textarea.textarea-title {
        width: 100%;
        border: 0;
        outline: 0;
        resize: none;
        line-height: 21px;
        font-size: 14px;
        color: #1D2639;
        word-wrap: break-word;
        overflow: hidden;
        white-space: pre-line;
      }
    }

    .c-form-close-button {
      flex: 0;
      padding: 20px 10px;

      .close-button {
        cursor: pointer;
      }
    }
  }

  .c-send-button {
    button.send-button {
      background: #4A84FB;
      border-radius: 2px;
      cursor: pointer;
      width: 100%;
      padding: 12px;
      border: 0;

      span {
        font-size: 14px;
        text-align: center;
        color: #FFFFFF;
      }
    }
  }
}
