form.c([formGroup]="form", (clickOutside)="tryCreate()", [delayClickOutsideInit]="true")
  .c-form
    .c-form-textarea
      textarea.textarea-title(
        #titleTextarea
        (keyup)="handlePropagation($event)",
        (keyup.enter)="enter($event)",
        (keydown.enter)="enterKeyDown($event)",
        (keyup.escape)="close()",
        (blur)="onBlur()",
        formControlName="title",
      autosize, [minRows]="1", [maxRows]="10",
      )
    .c-form-close-button
      .close-button
        .__evodesk-icon-v3.iv3-x-medium-24x24px.with-hover((click)="close()")
