.c {
  .c-orig-post {
    border-left: 8px solid #d0d6f5;

    .c-orig-post-header {
      border-bottom: 1px solid #d0d6f5;
      padding-left: 24px;

      .c-orig-post-header-contents {
        height: 48px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: left;

        .avatar {
          width: 48px;
          height: 48px;
          flex-grow: 0;
          flex-shrink: 0;
          position: relative;
          margin-right: 8px;

          .repost-icon {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
          }
        }

        .info {
          .name {
            span {
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.57;
              letter-spacing: 0.3px;
              text-align: left;
              color: #010307;
              word-break: break-all;
            }
          }

          .created-at {
            span {
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.83;
              letter-spacing: 0.2px;
              text-align: left;
              color: #aaacb4;
              word-break: break-all;
            }
          }
        }
      }
    }

    .c-orig-post-text {
      padding: 0 16px 16px 32px;

      .box {
        display: flex;
        width: 100%;

        .contents {
          flex: 1;
          overflow: hidden;
          margin-right: 16px;
          height: 100%;
          padding-top: 16px;

          span {
            font-size: 15px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: 0.3px;
            text-align: left;
            color: #010307;
          }
        }

        .scroll {
          flex-grow: 0;
          flex-shrink: 0;
        }
      }
    }
  }
}
