.c(*ngIf="!! state && state.ready")
  .c-orig-post
    .c-orig-post-header
      .c-orig-post-header-contents
        .avatar
          evodesk-profile-avatar([profileId]="props.attachment.origPost.user_id", [size]="48")
          .repost-icon
            .__evodesk-icon.ic-share-post-blue-18x14px([routerLink]="['/profile', props.attachment.origPost.user_id]")
        .info
          .name
            span {{ props.authorProfile.name || props.authorProfile.email }}
          .created-at
            span {{ createdAt }}
    .c-orig-post-attachments(*ngIf="props.attachment.origPost.attachments.length > 0", [ngClass]="{ 'is-multi': props.attachment.origPost.attachments.length > 1 }")
      evodesk-feed-post-list-attachments([attachments]="attachments", [controls]="false")
    .c-orig-post-text(*ngIf="hasText")
      .box
        .contents(#parsedContent, evodeskTouchScroll="y", evodeskMouseWheelScroll, evodeskKeyboardScroll)
          span(*ngIf="!! props.parsedBody", [innerHtml]="props.parsedBody | async")
        .scroll
          evodesk-app-common-scroll-bar([elementRef]="parsedContent", [scrollBarDirection]="'y'", [theme]="'blue'")
