@import "~sass-mq";

@include mq($until: 800px) {
  .c-field-category-and-competence {
    .field-contents {
      .box {
        .category {
          margin-bottom: 24px;
        }
      }
    }
  }
}

@include mq($from: 801px) {
  .c-field-category-and-competence {
    .field-contents {
      .box {
        display: flex;

        &.has-competence-category {
          .category {
            max-width: 300px;
            margin-right: 8px;
          }
        }

        .category, .competence {
          flex: 1;
        }
      }
    }
  }
}

.c {
  .c-field {
    max-width: 720px;
    margin-bottom: 24px;

    .field {
      .field-title {
        margin-bottom: 8px;

        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: left;
          color: #aaacb4;
        }
      }
    }

    &.c-field-type {
      max-width: 460px;
    }
  }
}

.c {
  .c-title {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d0d6f5;
    padding: 8px 16px;
    position: sticky;
    top: 0;

    .c-title-left {
      flex: 1;
      margin-right: 16px;

      span {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.4px;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
      }
    }

    .c-title-right {
      flex-shrink: 0;
      flex-grow: 0;

      .close-button {
        cursor: pointer;
      }
    }
  }

  .c-contents {
    padding: 16px;

    .not-categories-available {
      padding: 16px;
      text-align: center;

      span {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.3px;
        text-align: center;
        color: #010307;
      }
    }
  }

  .c-actions {
    .flex {
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #ccc;
    }

    .center {
      padding: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

button.button.button-fill {
  background-color: #2e4ce6;
  border-radius: 3px;
  text-align: center;

  &:disabled {
    background-color: #f0f0f0;

    span {
      color: #ccc;
    }
  }

  span {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
  }
}

button.button.button-no-fill {
  &:disabled {
    background-color: #f0f0f0;

    .flex {
      .flex-text {
        span {
          color: #ccc;
        }
      }
    }
  }

  span {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 0.1px;
    text-align: left;
    color: #2e4ce6;
  }
}

