ng-container(*ngIf="!! state && state.ready")
  ng-container(*ngIf="state.areAllCompetenceCategoriesCompletelyUsed")
    .c
      .c-contents
        .not-categories-available
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetenceAdd.AllCategoriesAreUsed' | translate }}
      .c-actions
        .center
          button.button.button-no-fill(type="button", mat-button, (click)="close()")
            span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetenceAdd.Close' | translate }}
  ng-container(*ngIf="! state.areAllCompetenceCategoriesCompletelyUsed")
    form.c([formGroup]="props.form", novalidate)
      .c-title
        .c-title-left
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetenceAdd.Title' | translate }}
        .c-title-right
          .close-button((click)="close()")
            .__evodesk-icon.ic-close-modal-13x13px.with-hover
      .c-contents
        .c-field.c-field-category-and-competence
          .field
            .field-contents
              .box([ngClass]="{ 'has-competence-category': hasCompetenceCategory }")
                .category
                  .field-title
                    span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetenceAdd.CompetenceCategory' | translate }}
                  .__evodesk-input-box-v2.select-mw
                    select.select([formControlName]="'competenceCategoryId'")
                      ng-container(*ngFor="let option of props.availableCompetenceCategories")
                        ng-container(*ngIf="! isCompetenceCategoryCompletelyUsed(option)")
                          option([value]="option.id")
                            span {{ option.title | translate }}
                .competence(*ngIf="hasCompetenceCategory")
                  .field-title
                    span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetenceAdd.Competence' | translate }}
                  .__evodesk-input-box-v2.select-mw
                    select.select([formControlName]="'competenceId'")
                      ng-container(*ngFor="let option of availableCompetences")
                        ng-container(*ngIf="! isCompetenceUsed(option.id)")
                          option([value]="option.id")
                            span {{ option.title | translate }}
      .c-actions
        .flex
          .left
            button.button.button-no-fill(type="button", mat-button, (click)="close()")
              span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetenceAdd.Cancel' | translate }}
          .right
            button.button.button-fill(type="button", mat-button, [disabled]="! canSubmit", (click)="ngSubmit()")
              span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetenceAdd.Submit' | translate }}