.c {
  .c-form {
    padding: 16px;
    display: flex;

    .c-form-avatar {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 8px;
    }

    .c-form-textarea {
      flex: 1;

      .textarea-box {
        textarea {
          width: 100%;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 22px;
          letter-spacing: 0.3px;
          text-align: left;
          resize: none;
          border: 0;
          color: #010307;
          padding: 0;

          &::placeholder, &:disabled {
            color: #aaacb4;
          }
        }
      }
    }
  }

  .c-form-actions {
    border-top: 1px solid #d0d6f5;
    padding-top: 16px;

    .c-form-actions-submit {
      display: flex;
      justify-content: space-between;
      padding: 0 16px 16px;
      animation: showCardAnimationSubmit 0.15s normal forwards ease-in-out;
      align-items: center;
      transform-origin: top;

      .left {
        flex: 1;

        .tip {
          font-size: 11px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 28px;
          letter-spacing: 0.3px;
          text-align: left;
          color: #999;
        }
      }

      .right {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
  }

  .c-reply {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d0d6f5;
    padding: 8px 16px;

    .c-reply-avatar {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 16px;
      position: relative;

      .__evodesk-icon {
        position: absolute;
        right: -3px;
        top: -3px;
      }
    }

    .c-reply-comment {
      flex: 1;
      margin-right: 8px;
      overflow: hidden;

      .reply-name, .reply-text {
        span {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .reply-name {
        span {
          white-space: nowrap;
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: 0.3px;
          text-align: left;
          color: #2e4ce6;
        }
      }

      .reply-text {
        span {
          white-space: nowrap;
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;
        }
      }
    }

    .c-reply-clear {
      flex-grow: 0;
      flex-shrink: 0;
      cursor: pointer;
    }
  }
}

button.button {
  background-color: transparent;
  border-radius: 3px;
  transition: .15s;

  &:disabled {
    background-color: #f0f0f0;

    span {
      color: #f0f0f0;
    }
  }

  span {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.3px;
    text-align: left;
    color: #010307;
  }
}

button.button.button-fill {
  background-color: #2e4ce6;
  border-radius: 3px;
  transition: .15s;

  &:disabled {
    background-color: #f0f0f0;

    span {
      color: #999;
    }
  }

  span {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
  }
}
