form.c(*ngIf="!! state && state.ready", [formGroup]="props.form", novalidate)
  .c-reply(*ngIf="props.reply")
    .c-reply-avatar
      .__evodesk-icon.ic-news-repost-22x18px
      evodesk-profile-avatar([profileId]="props.reply.user_id", [size]="24")
    .c-reply-comment
      .reply-name
        span {{ props.reply.name }}
      .reply-text
        span {{ props.replyText$ | async }}
    .c-reply-clear
      .reply-clear((click)="clearReply()")
        .__evodesk-icon.ic-close-modal-11x11px.with-hover.with-hover
  .c-form
    .c-form-avatar
      evodesk-profile-avatar-current-user([size]="24")
    .c-form-textarea
      .textarea-box
        textarea(
          #textarea, [formControlName]="'text'",
          rows="1", matTextareaAutosize, matAutosizeMinRows="1", matAutosizeMaxRows="10",
          placeholder="{{ textareaPlaceholder | translate }}",
          (keydown)="onTextKeyDown($event)", (focus)="onTextareaFocus()", (blur)="onTextareBlur()",
        )
  .c-form-actions(*ngIf="hasText")
    .c-form-actions-submit
      .left
        button.button(mat-button, type="button", (click)="reset()")
          span {{ 'EvodeskFeed.components.EvodeskFeedCommentForm.Cancel' | translate }}
      .right
        button.button.button-fill(mat-button, type="submit", [disabled]="! canSubmit")
          span {{ 'EvodeskFeed.components.EvodeskFeedCommentForm.Submit' | translate }}
