:host {
  width: 100%;
}

.c {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-bottom: 9px;

  &.is-not-focused {
    border-bottom: 1px solid #EFF0F1;

    .focused { display: none; }
    .not-focused { display: block; }
  }

  &.is-focused {
    border-bottom: 1px solid #4A84FB;

    .focused { display: block; }
    .not-focused { display: none; }
  }

  &:hover {
    border-bottom: 1px solid #4A84FB;

    .not-hovered {
      display: none;
    }

    .hovered {
      display: block;
    }
  }

  .c-icon {
    flex: 0;
    margin-right: 10px;
    position: relative;
    top: 1px;
  }

  .c-input {
    flex: 1;
    margin-right: 10px;
    position: relative;
    top: 1px;

    input.input {
      font-style: normal;
      font-weight: normal;
      line-height: 21px;
      font-size: 14px;
      color: #1D2639;
      width: 100%;
      border: 0;
      cursor: pointer;

      &::placeholder {
        color: #BBBEC4;
      }

      &:hover::placeholder {
        color: #777D88;
      }
    }
  }

  .c-clear {
    flex: 0;
    cursor: pointer;
  }
}
