.c(*ngIf="state.ready", [ngClass]="{ 'is-focused': state.isSearchFieldFocused, 'is-not-focused': ! state.isSearchFieldFocused }", [formGroup]="form")
  .c-icon((click)="input.focus()")
    .__evodesk-icon-v3.iv3-search-20x20px.not-focused.not-hovered
    .__evodesk-icon-v3.iv3-search-blue-20x20px.focused.hovered
  .c-input((click)="input.focus()")
    input.input(
        #input, type="text", [formControlName]="'search'", placeholder="{{ 'EvodeskDesk.components.common.EvodeskDeskQueryStringFilter.SearchPlaceholder' | translate }}",
        (focus)="onSearchInputFocus()", (blur)="onSearchInputBlur()", (keyup.escape)="clear()"
    )
  .c-clear(*ngIf="hasInput", (click)="clear()")
    .__evodesk-icon-v3.iv3-x-light-9x9px
