mat-dialog-content
  .contents
    h1(translate) EvodeskPartners.components.EvodeskPartners.HowEarnEvoCoin
    div(innerHtml="{{ 'EvodeskPartners.components.EvodeskPartners.HowEarnEvoCoinDescription' | translate }}")
mat-dialog-actions
  .actions
    button(mat-dialog-close, mat-button)
      span(translate) EvodeskPartners.components.EvodeskPartners.HowEarnEvoCoinOk
