.__evodesk-switch-box {
  position: relative; width: 55px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.__evodesk-switch-box-checkbox {
  display: none;
}

.__evodesk-switch-box-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 20px; padding: 0; line-height: 20px;
  border: 2px solid #FFFFFF; border-radius: 20px;
  background-color: #9E9E9E;
  transition: background-color 0.3s ease-in;
}

.__evodesk-switch-box-label:before {
  content: "";
  display: block; width: 20px; margin: 0;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 33px;
  border: 2px solid #FFFFFF; border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.__evodesk-switch-box-checkbox:checked + .__evodesk-switch-box-label {
  background-color: #00DB3E;
}

.__evodesk-switch-box-checkbox:checked + .__evodesk-switch-box-label, .__evodesk-switch-box-checkbox:checked + .__evodesk-switch-box-label:before {
  border-color: #00DB3E;
}

.__evodesk-switch-box-checkbox:checked + .__evodesk-switch-box-label:before {
  right: 0;
}
