ng-container(*ngIf="!!props")
  evodesk-app-common-sub-menu([isOpened]="props.isOpened", (toggle)="doToggleMenu()")
    .c
      .c-contents(*ngIf="props.isOpened")
        .filter-modes
          a.filter-mode.__evodesk-app-submenu-link([routerLink]="['/desks']", [ngClass]="{ 'is-active': props.filterMode === 'desks' }")
            span {{ 'EvodeskDeskDashboard.components.DeskDashboardMenu.FilterModes.Desks' | translate }}
          a.filter-mode.__evodesk-app-submenu-link([routerLink]="['/desks/participating-in']", [ngClass]="{ 'is-active': props.filterMode === 'participating' }")
            span {{ 'EvodeskDeskDashboard.components.DeskDashboardMenu.FilterModes.Participating' | translate }}
          a.filter-mode.__evodesk-app-submenu-link([routerLink]="['/desks/invitations']", [ngClass]="{ 'is-active': props.filterMode === 'invites' }")
            span {{ 'EvodeskDeskDashboard.components.DeskDashboardMenu.FilterModes.Invites' | translate }}
            div.invites-counter(*ngIf="props.numInvites > 0") {{ props.numInvites }}
