@import "~sass-mq";

@include mq($until: 450px) {
  .c {
    .c-contents {
      .filter-modes {
        margin-left: 5px;

        span {
          font-size: 11px;
        }

        .__evodesk-app-submenu-link {
          margin: 0 5px;
        }
      }
    }
  }
}

@include mq($from: 451px) {
  .c {
    .c-contents {
      .filter-modes {
        margin-left: 10px;
      }
    }
  }
}

.c {
  .c-contents {
    .filter-modes {
      .filter-mode {
        .invites-counter {
          padding: 0 3px;
          height: 15px;
          line-height: 14px;
          border-radius: 2px;
          font-size: 10px;
          text-align: center;
          color: #fff;
          background-color: #F44336;
          font-family: "Helvetica Neue", sans-serif;
          vertical-align: text-top;
          display: inline-block;
          margin-left: 5px;
        }
      }
    }
  }
}
