@import "./fonts";
@import "./icomoon";
@import "./material";

@import '~swiper/dist/css/swiper.min.css';
@import "~cropperjs/dist/cropper.min.css";

@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";
@import "~bootstrap/scss/_root";
@import "~bootstrap/scss/_grid.scss";
@import "~bootstrap/scss/utilities/_display.scss";
@import "~bootstrap/scss/pagination";

@import "./components/index";

html {
  width: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

a:active {
  outline: 0;
}

* {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-font-smoothing: antialiased;
  outline: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  word-break: break-word;
}

input, textarea {
  user-select: text;
}

video {
  object-fit: cover;
  font-family: 'object-fit: cover;', sans-serif;
}

a:-webkit-any-link{
  text-decoration:none !important;
}

.__enable-user-select {
  user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
}

[hidden] {
  display: none !important;
}

.mat-menu-panel {
  max-width: none!important;
  background: #FFFFFF;
  border: 1px solid #EFF0F1;
  box-sizing: border-box;
  box-shadow: 0 6px 12px rgba(29, 38, 57, 0.15);
  border-radius: 2px;
  overflow: visible!important;

  .mat-menu-content {
    padding: 0!important;
  }
}
