@import '../../node_modules/@angular/material/theming';

@include mat-core();

.material-multiline-tooltip {
 padding: 15px;
 white-space: pre-line;
 font-size: 14px;
}

mat-chip {
 font-family: Roboto, "Helvetica Neue", sans-serif;
 font-size: 15px;
 margin: 5px 0 !important;
 margin-right: 5px!important;
 transition: none !important;
 box-shadow: none !important;
}

$mat-metro: (
  50: #e4e8ef,
  100: #bac5d7,
  200: #8d9ebd,
  300: #5f77a3,
  400: #3c598f,
  500: #1a3c7b,
  600: #173673,
  700: #132e68,
  800: #0f275e,
  900: #081a4b,
  A100: #809bff,
  A200: #4d73ff,
  A400: #1a4aff,
  A700: #0136ff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$mat-metro-warn: (
  50: #FFEBEE,
  100: #FFCDD2,
  200: #EF9A9A,
  300: #FF8A65,
  400: #FF7043,
  500: #F44336,
  600: #F4511E,
  700: #E64A19,
  800: #D84315,
  900: #BF360C,
  A100: #FF9E80,
  A200: #FF6E40,
  A400: #FF3D00,
  A700: #DD2C00,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$custom-theme-primary: mat-palette($mat-metro);
$custom-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-metro-warn);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

.mat-menu-panel {
  max-width: none;
}

@mixin desk-label {
  width: 73px;
  height: 24px;
  background: #FFFFFF;
  color: #1D2639!important;
  border: 1px solid;
  box-sizing: border-box;
  box-shadow: 0px 6px 8px rgba(29, 38, 57, 0.2);
  border-radius: 2px!important;
  font-size: 12px!important;
  text-overflow: ellipsis!important;
  text-align: center;
  padding-top: 5px;
  margin-left: 16px!important;
}

.label-color-FB4A4A {
  @include desk-label;
  border-color: #FB4A4A;
}

.label-color-FC9F31 {
  @include desk-label;
  border-color: #FC9F31;
}

.label-color-F9CA21 {
  @include desk-label;
  border-color: #F9CA21;
}

.label-color-A9D26A {
  @include desk-label;
  border-color: #A9D26A;
}

.label-color-6AD2D2 {
  @include desk-label;
  border-color: #6AD2D2;
}

.label-color-6BB6FB {
  @include desk-label;
  border-color: #6BB6FB;
}

.label-color-6B82FB {
  @include desk-label;
  border-color: #6B82FB;
}

.label-color-A26BFB {
  @include desk-label;
  border-color: #A26BFB;
}

.label-color-F777DB {
  @include desk-label;
  border-color: #F777DB;
}

.label-color-BABFCB {
  @include desk-label;
  border-color: #BABFCB;
}

.mat-icon {
  svg {
    vertical-align: top;
  }

  &.current-color-fill {
    svg * {
      fill: currentColor;
      opacity: 1;
    }
  }

  &.current-color-stroke {
    svg * {
      stroke: currentColor;
      opacity: 1;
    }
  }
}
