.info-modal {
  .modal-dialog {
    width: 320px;
  }
  .modal-body {
    text-align: center;
  }
}
.modal-body {
  padding: 30px;
}
.modal-content {
  position: relative;
  padding: 0;
  .close {
    position: absolute;
    z-index: 3;
    opacity: 1;
    width: 16px;
    height: 16px;
    background: url(/assets/images/icons/close.png) center center no-repeat;
    background-size: contain;
    top: 16px;
    right: 16px;
  }
}

.modal-title {
  padding: 11px 16px;
  font-size: 18px;
  border-bottom: 1px solid #d0d6f5;
}

.modal-gallery {
  padding: 24px 16px;
  flex-wrap: wrap;
  a {
    margin-bottom: 24px;
  }
}
.modal {
  overflow-x: hidden;
  overflow-y: auto;
}