.c([formGroup]="state.form")
  .c-left
    .c-icon
      .__evodesk-icon-v3.iv3-desk-card-modal-section-comment-24x24px
  .c-right
    .c-title
      span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalComment.Title
    .c-current-user
      .c-cu-avatar
        evodesk-profile-avatar-current-user([size]="24")
      .c-cu-name
        span {{ props.username }}
    .c-body
      .body-box((click)="body.focus()")
        textarea.body(
          #body,
          [formControlName]="'body'",
          autosize, [minRows]="1", [maxRows]="10",
          placeholder="{{ 'EvodeskDesk.components.modal.EvodeskDeskCardModalComment.BodyPlaceholder' | translate }}"
        )
    .c-actions(*ngIf="hasBody")
      .c-action
        button.button.__evodesk-v3-button-blue(type="button", (click)="submit()", mat-ripple, [disabled]="! state.form.valid")
          span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalComment.Submit
      .c-action
        button.button.__evodesk-v3-button(type="button", (click)="cancel()", mat-ripple)
          span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalComment.Cancel
