.c {
  display: flex;

  >.c-left {
    flex: 0;
    margin-right: 12px;
  }

  >.c-right {
    flex: 1;

    >.c-title {
      margin-bottom: 18px;
      position: relative;
      top: 2px;

      span {
        font-weight: 500;
        line-height: normal;
        font-size: 16px;
        color: #1D2639;
      }
    }

    >.c-current-user {
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      >.c-cu-avatar {
        flex: 0;
        margin-right: 9px;
      }

      >.c-cu-name {
        flex: 1;

        span {
          position: relative;
          left: -1px;
          top: -2px;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 14px;
          color: #1D2639;
        }
      }
    }

    >.c-body {
      margin-bottom: 14px;

      .body-box {
        background: #F8F8F9;
        border-radius: 2px;
        overflow: hidden;
        min-height: 64px;
        cursor: text;

        textarea.body {
          width: 100%;
          border: 0;
          outline: 0;
          font-size: 14px;
          color: #1D2639;
          resize: none;
          background-color: transparent;
          padding: 11px 13px;
          caret-color: #4A84FB;

          &::placeholder {
            color: #777D88;
          }
        }
      }
    }

    >.c-actions {
      display: flex;
      margin: 20px 0;
      justify-content: flex-start;

      .c-action {
        margin-right: 8px;

        .button {
          width: 105px;

        }
      }
    }
  }
}
