.c {
  min-width: 315px;
  width: 100%;

  .c-modal-header {
    border-bottom: 1px solid #EFF0F1;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 13px;

    .c-modal-title {
      span {
        font-weight: 500;
        line-height: 21px;
        font-size: 14px;
        color: #1D2639;
      }
    }

    .c-modal-close {
      .close-button {
        cursor: pointer;

        .hovered {
          display: none;
        }
        .not-hovered {
          display: block;
        }

        &:hover {
          .hovered {
            display: block;
          }
          .not-hovered {
            display: none;
          }
        }
      }
    }
  }

  .c-columns {
    border-bottom: 1px solid #EFF0F1;

    .column {
      padding: 12px 20px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #FAFAFA;
      }

      &.is-active {
        background: rgba(74, 132, 251, 0.1);

        &:hover {
          background: rgba(74, 132, 251, 0.1);
        }
      }

      &:hover {
        background: #FAFAFA;
      }

      .icon-container {
        width: 24px;
        height: 24px;
      }

      .column-icon {
        flex: 0;
        margin-right: 10px;
      }

      .column-name {
        flex: 1;
        margin-right: 10px;
        max-width: 200px;
        display: block;
        word-break: break-all;

        span {
          font-size: 14px;
          color: #1D2639;
        }
      }
    }
  }

  .c-positions {
    border-bottom: 1px solid #EFF0F1;

    .position {
      padding: 12px 20px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &.is-active {
        background: rgba(74, 132, 251, 0.1);

        &:hover {
          background: rgba(74, 132, 251, 0.1);
        }
      }

      &:hover {
        background: #FAFAFA;
      }

      .icon-container {
        width: 24px;
        height: 24px;
      }

      .position-icon {
        flex: 0;
        margin-right: 10px;
      }

      .position-name {
        flex: 1;
        margin-right: 10px;
        max-width: 200px;
        display: block;
        word-break: break-all;

        span {
          font-size: 14px;
          color: #1D2639;
        }
      }
    }
  }

  .c-actions {
    display: flex;
    margin: 20px;
    justify-content: flex-start;

    .c-action {
      margin-right: 8px;

      .button {
        width: 105px;

      }
    }
  }
}
