.c(*ngIf="state.ready", (click)="$event.stopPropagation()")
  .c-modal-header(*ngIf="shouldDisplayModalHeader")
    .c-modal-title
      span(translate) EvodeskDesk.components.common.EvodeskDeskMove.ModalTitle
    .c-modal-close
      .close-button((click)="close()")
        .not-hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-24x24px
        .hovered.__evodesk-icon-v3.iv3-desk-modal-common-close-hover-24x24px
  .c-columns
    ng-container(*ngFor="let column of availableColumns; trackBy: trackByColumnId")
      .column((click)="select(column)", [ngClass]="{ 'is-active': state.toColumnId === column.id }")
        .column-icon
          .icon-container
            .__evodesk-icon-v3.iv3-desk-column-done-24x24px(*ngIf="isDoneColumn(column)")
            .__evodesk-icon-v3.iv3-desk-column-failed-24x24px(*ngIf="isFailedColumn(column)")
        .column-name
          span {{ column.name }}
  .c-positions
    .position((click)="usePosition('start')", [ngClass]="{ 'is-active': state.toPosition === 'start' }")
      .position-icon
        .icon-container
      .position-name
        span(translate) EvodeskDesk.components.common.EvodeskDeskMove.ToStart
    .position((click)="usePosition('end')", [ngClass]="{ 'is-active': state.toPosition === 'end' }")
      .position-icon
        .icon-container
      .position-name
        span(translate) EvodeskDesk.components.common.EvodeskDeskMove.ToEnd
  .c-actions
    .c-action
      button.button.__evodesk-v3-button-blue(type="button", (click)="submit()", mat-ripple, [disabled]="disabled")
        span(translate) EvodeskDesk.components.common.EvodeskDeskMove.Submit
    .c-action
      button.button.__evodesk-v3-button(type="button", (click)="close()", mat-ripple)
        span(translate) EvodeskDesk.components.common.EvodeskDeskMove.Close
