.__evodesk-app-submenu-link {
  cursor: pointer;
  color: #2869d5;
  display: inline-block;
  margin: 0 20px;
  font-weight: 400;
  line-height: 20px;
  transition: .2s ease;
  text-decoration: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 13px;
  border-bottom: 1px dashed #2869d5;
  white-space: nowrap;

  &.is-active, &:hover {
    color: #1d2e48;
    border-bottom: none;
  }
}
