.__evodesk-input-box {
  border-bottom: 1px solid #e6e8eb;
  overflow: hidden;
  align-items: center;
  padding: 0 10px;
  background-color: #fff;
  height: 34px;

  >input.input {
    border-radius: 0;
    font-size: 13px;
    font-family: 'GothaProLig', sans-serif;
    box-shadow: 0 0 0 0 transparent;
    border: 0;
    padding: 0;
    color: #555;
    background-color: #fff;
    outline: 0;
    width: 100%;
    line-height: 34px;
  }
}
