.c {
  .c-no-favorites {
    margin-bottom: 24px;
    text-align: center;

    span {
      font-size: 12px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: .3px;
      text-align: left;
      text-transform: uppercase;
      color: #a0a7b2;
    }
  }
  .c-favorites {
    margin-bottom: 24px;

    .favorites {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .favorite {
        margin-bottom: 24px;
        display: inline-block;
        width: 232px;
        margin-right: 24px;
      }
    }
  }

  .c-load-more {
    text-align: center;
    padding: 16px;
    cursor: pointer;
    height: 56px;

    &:hover {
      span {
        border-bottom-color: #a0a7b2;
      }
    }

    span {
      font-size: 12px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: .3px;
      text-align: left;
      text-transform: uppercase;
      color: #a0a7b2;
      border-bottom: 1px solid transparent;
      transition: .15s;
    }
  }

  .c-loading {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    .__evodesk-app-circle-loader {
      width: 16px;
      height: 16px;
      margin: 0 auto;
    }
  }
}
