.c
  .c-no-favorites(*ngIf="! props.loading && props.favorites.length === 0")
    span(translate) EvodeskShop.components.EvodeskShopFavoritesFeed.NoFavorites
  .c-favorites(*ngIf="props.loading || props.favorites.length > 0")
    .favorites
      ng-container(*ngFor="let o of props.favorites")
        a.favorite([routerLink]="productUrl(o.service)")
          .prevent-defaults((click)="preventDefault($event)")
            evodesk-shop-favorite-card-container([favorite]="o", (open)="open($event)")
  .c-loading(*ngIf="props.loading")
    .__evodesk-app-circle-loader
  .c-load-more((click)="loadMore()", *ngIf="! props.loading && props.canLoadMore")
    span(translate) EvodeskShop.components.EvodeskShopFavoritesFeed.LoadMore
