.c(*ngIf="state.ready", [ngClass]="containerNgClass")
  .c-box-shadow-bg(#shadowTopBg)
  .c-box-shadow-top(#shadowTop)
  .c-box-shadow-bottom(#shadowBottom)

  .c-title
    .c-title-box
      .c-title-box-name
        span(translate) EvodeskDesk.components.common.EvodeskDeskProjects.Title
      .c-title-box-context
  .c-cards
    .c-cards-area(#contents, evodeskEdgeScroll, evodeskMouseWheelScroll, evodeskKeyboardScroll, [evodeskEdgeScrollDragEnabled]="props.isEdgeScrollDragEnabled", [evodeskEdgeScrollScrollEnabled]="props.isEdgeScrollEnabled", [evodeskEdgeScrollOptions]="state.edgeScrollOptions")
      .cards-list
        .cl-cards([ngClass]="{ 'no-cards': props.projects.length === 0 }")
        .cl-cards([ngClass]="{ 'no-cards': props.projects.length === 0 }", cdkDropList, [id]="cdkColumnId", (cdkDropListDropped)="cdkDropListDropped($event)")
          ng-container(*ngFor="let project of props.projects; trackBy: trackByDeskProjectId")
            .drag-card(#cardElement cdkDrag [cdkDragData]="project", (cdkDragStarted)="cdkDragStarted()", (cdkDragEnded)="cdkDragEnded($event)")
              .drag-card-inner
                evodesk-desk-project-card-container([project]="project")
        .cl-actions(*ngIf="! state.hasScroll")
          ng-container(*ngTemplateOutlet="actionsTemplate")
    .c-cards-scroll
      evodesk-app-common-scroll-bar([elementRef]="contents", [scrollBarDirection]="'y'", [theme]="'v3-desk'")
  .c-actions(*ngIf="state.hasScroll")
    ng-container(*ngTemplateOutlet="actionsTemplate")

ng-template(#actionsTemplate)
  .card-actions
    .add-button((click)="onAddButtonClick()")
      .button-icon
        svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M13.0244 6.02439C13.0244 5.45864 12.5658 5 12 5C11.4343 5 10.9757 5.45864 10.9757 6.02439V10.9756H6.02439C5.45864 10.9756 5 11.4342 5 12C5 12.5657 5.45864 13.0244 6.02439 13.0244H10.9757V17.9756C10.9757 18.5414 11.4343 19 12 19C12.5658 19 13.0244 18.5414 13.0244 17.9756V13.0244H17.9756C18.5414 13.0244 19 12.5657 19 12C19 11.4342 18.5414 10.9756 17.9756 10.9756H13.0244V6.02439Z', fill='#1D2639')
      .button-title
        span(translate) EvodeskDesk.components.common.EvodeskDeskProjects.AddProject
