.c {
  .c-contents {
    padding: 8px 0;

    span {
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.3px;
      text-align: left;
      color: #010307;
    }
  }

  .c-reply {
    display: flex;
    margin: 8px 0;
    border-left: 4px solid #d0d6f5;

    .c-reply-author-avatar {
      margin: 0 8px;
      position: relative;

      .__evodesk-icon.ic-news-repost-22x18px {
        position: absolute;
        right: -3px;
        top: -3px;
      }
    }

    .c-reply-contents {
      flex: 1;

      .c-reply-contents-text {
      }
    }
  }
}

span.link {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.3px;
  text-align: left;
  color: #2e4ce6;
  border-bottom: 1px solid transparent;
  transition: .15s;
  cursor: pointer;

  &:hover {
    border-bottom-color: #2e4ce6;
  }
}

span.text {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.3px;
  text-align: left;
  color: #010307;
}
