.c
  .c-reply(*ngIf="props.body.reply")
    .c-reply-author-avatar
      .__evodesk-icon.ic-news-repost-22x18px
      evodesk-profile-avatar([profileId]="props.body.reply.authorProfileId", [size]="24")
    .c-reply-contents
      .c-reply-contents-name
        a([routerLink]="props.replyProfileId", target="_blank")
          span.link {{ props.body.reply.authorProfileName }}
      .c-reply-contents-text
        ng-container(*ngIf="shouldGoDeeper")
          evodesk-feed-comment-body-container([body]="props.body.reply.body", [depth]="props.depth + 1")
        ng-container(*ngIf="! shouldGoDeeper")
          span.text ...
  .c-contents
    span.text(*ngIf="!! props.parsed$", [innerHtml]="props.parsed$ | async")
