.__evodesk-material-context-menu {
  border-radius: 8px!important;
  background-color: #ffffff!important;
  border: solid 1px #d0d6f5!important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1)!important;
  padding: 0!important;
  margin: 0!important;

  .mat-menu-content {
    padding: 0!important;
  }

  .mat-menu-item {
    font-size: 12px!important;
    font-weight: normal!important;
    font-style: normal!important;
    font-stretch: normal!important;
    letter-spacing: 0.2px!important;
    text-align: left!important;
    color: #2e4ce6!important;
    padding: 12px!important;
    height: auto!important;
    line-height: 12px!important;
  }
}
