.c(*ngIf="!!state && state.ready")
  .c-forms
    ng-container(*ngFor="let form of props.forms; let i = index")
      ng-container(*ngIf="isFormEnabled(form)")
        form.c-form([formGroup]="form", novalidate)
          .c-remove
            .remove-icon((click)="remove(i)")
              .__evodesk-icon.ic-close-modal-13x13px.with-hover
          .c-field.c-field-category-and-competence
            .field
              .field-contents
                .box
                  .category
                    .field-title
                      span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetence.CompetenceCategory' | translate }}
                    .selected-box
                        span {{ category(form).title }}
                  .competence
                    .field-title
                      span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetence.Competence' | translate }}
                    .selected-box
                      span {{ competence(form).title }}
          .c-field.c-field-skills
            .field
              .field-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetence.Skills' | translate }}
              .field-contents
                .block(*ngFor="let skill of skills(form)")
                  .skill
                    .name
                      span {{ skill }}
                    .delete((click)="deleteSkill(form, skill)")
                      span +
                .block
                  form.add-skill-form(*ngIf="isAddFormOpened(form, i)", [formGroup]="state.addSkillForm", novalidate, (clickOutside)="closeAddSkillForm()", [delayClickOutsideInit]="true")
                    .input
                      .input-text
                        input(
                          #addSkillFormInput, [formControlName]="'title'",
                          (keyup.enter) = "addSkill(form, i)",
                          (keyup.escape)="closeAddSkillForm()",
                        )
                      .input-submit
                        button.add-button.button.button-fill(type="button", (click)="addSkill(form, i)")
                          span +
                      .input-close(*ngIf="hasSkills(form)")
                        button.close-button.cross-button(type="button", (click)="closeAddSkillForm()")
                          span +
                  .add-skill-button
                .block(*ngIf="! isAddFormOpened(form, i)")
                  button.add-button.button.button-fill(type="button", (click)="openAddSkillForm(i)")
                    span +
          .c-field.c-field-documents
            .field
              .field-title
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetence.Documents' | translate }}
              .field-description
                span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetence.DocumentsDescriptions' | translate }}
              .field-contents
                .upload-documents
                  input.file(#uploadDocumentsInput, #fileInputRef, type="file", multiple="multiple", (change)="onFileInputChange(form, fileInputRef)")
                  .upload-documents-button((click)="uploadDocumentsInput.click()")
                    span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetence.UploadDocuments' | translate }}
                .documents-list(*ngIf="hasUploadDocuments(form) || hasDocuments(form)")
                  .documents-list-item(*ngFor="let u of uploadDocuments(form); let uIndex = index")
                    .item.status-uploading
                      .title
                        span {{ u.title }}
                      .status
                        span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetence.StatusUploading' | translate }}
                      .edit
                        .__evodesk-icon.ic-edit-no-circle-24x24px.with-hover((click)="editUploadDocument(form, uIndex)")
                      .remove
                        .__evodesk-icon.ic-close-modal-13x13px.with-hover((click)="removeUploadDocument(form, uIndex)")
                  .documents-list-item(*ngFor="let document of documents(form); let uIndex = index")
                    .item([ngClass]="documentStatusCSSClasses(document)")
                      .title
                        span {{ document.title }}
                      .status
                        span(*ngIf="isDocumentPending(document)") {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetence.StatusPending' | translate }}
                        span(*ngIf="isDocumentAccepted(document)") {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetence.StatusAccepted' | translate }}
                        span(*ngIf="isDocumentRejected(document)") {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetence.StatusRejected' | translate }}
                      .edit
                        .placeholder
                      .remove
                        .__evodesk-icon.ic-close-modal-13x13px.with-hover((click)="removeDocument(form, uIndex)")
                    .item-comment(*ngIf="!! document.admin_comment")
                      .item-comment-title
                        span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetence.AdminComment' | translate }}
                      .item-comment-contents
                        span(innerHtml="{{ documentAdminComment(document) | async }}")
  .c-add-competence(*ngIf="canAdd")
    .c-add-button((click)="add()")
      .icon
        .__evodesk-icon.ic-plus-blue-40x40px
      .text
        span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsCompetence.AddNew' | translate }}
