@import "~sass-mq";

@include mq($until: 420px) {
  .c-field-category-and-competence {
    .field-contents {
      .box {
        .category {
          margin-bottom: 24px;
        }
      }
    }
  }
}

@include mq($from: 420px) {
  .c-field-category-and-competence {
    .field-contents {
      .box {
        display: flex;

        .category {
          flex: 1;
          max-width: 300px;
          margin-right: 8px;
        }

        .competence {
          flex: 1;
        }
      }
    }
  }
}

.c {
  .c-field {
    max-width: 720px;
    margin-bottom: 24px;

    .field {
      .field-title {
        margin-bottom: 8px;

        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: left;
          color: #aaacb4;
        }
      }

      .field-description {
        margin-bottom: 8px;

        span {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;
        }
      }
    }

    &.c-field-type {
      max-width: 460px;
    }
  }
}

.c {
  .c-forms {
    margin-bottom: 32px;

    .c-form {
      border-bottom: 1px solid #d0d6f5;
      padding: 16px;

      .selected-box {
        width: 100%;
        border-radius: 4px;
        border: solid 1px #dddddd;
        padding: 8px;
        -moz-appearance: none;
        -webkit-appearance: none;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 0.3px;
        text-align: left;
        color: #010307;
      }

      .c-remove {
        text-align: right;
        margin-bottom: 8px;

        .remove-icon {
          width: 13px;
          display: inline-block;

          .__evodesk-icon {
            padding: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .c-add-competence {
    padding: 0 16px;

    .c-add-button {
      display: flex;
      align-items: center;
      cursor: pointer;

      .icon {
        width: 40px;
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 16px;
      }

      .text {
        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: 0.3px;
          text-align: center;
          color: #2e4ce6;
        }
      }
    }
  }

  .c-field-skills {
    .block {
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 8px;
    }

    .skill {
      border-radius: 4px;
      display: flex;
      overflow: hidden;
      border: 1px solid #ddd;

      .name {
        background-color: #fff;
        padding: 0 8px;
        flex: 1;
        height: 32px;

        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 32px;
          letter-spacing: 0.3px;
          text-align: center;
          color: #010307;
        }
      }

      .delete {
        background-color: #fff;
        height: 32px;
        width: 32px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        cursor: pointer;

        span {
          color: #999;
          transform: rotate(45deg);
        }
      }
    }
  }

  .c-field-documents {
    .upload-documents {
      input.file {
        display: none;
      }

      .upload-documents-button {
        &:hover {
          span {
            border-bottom-color: #2e4ce6;
          }
        }

        span {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: left;
          color: #2e4ce6;
          transition: .15s;
          cursor: pointer;
          border-bottom: 1px solid transparent;
        }
      }
    }

    .documents-list {
      width: 100%;
      max-width: 460px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.5);
      border: solid 1px #dddddd;
      margin-top: 12px;

      .documents-list-item {
        border-bottom: 1px solid #ddd;
        padding: 8px;

        &:last-child {
          border-bottom: none;
        }

        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &.status-uploading {
            .status span {
              color: #2e4ce6;
            }
          }

          &.status-accepted {
            .status span {
              color: #22ab4c;
            }
          }

          &.status-pending {
            .status span {
              color: #aaacb4;
            }
          }

          &.status-rejected {
            .status span {
              color: #DC3030;
            }
          }

          .title {
            flex: 1;
            margin: 0 8px;

            span {
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 32px;
              letter-spacing: 0.3px;
              text-align: center;
              color: #010307;
            }
          }

          .status {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 8px;

            span {
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 32px;
              letter-spacing: 0.3px;
              text-align: center;
              word-break: keep-all;
            }
          }

          .remove, .edit {
            margin-right: 8px;
            flex-grow: 0;
            flex-shrink: 0;
            cursor: pointer;

            .placeholder {
              width: 24px;
              height: 24px;
            }
          }
        }

        .item-comment {
          margin: 4px 8px;

          .item-comment-title {
            span {
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 32px;
              letter-spacing: 0.3px;
              text-align: center;
              word-break: keep-all;
              color: #2e4ce6;
            }
          }

          .item-comment-contents {
            span {
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 32px;
              letter-spacing: 0.3px;
              text-align: center;
              word-break: keep-all;
              color: #010307;
            }
          }
        }
      }
    }
  }

  .add-skill-form {
    .input {
      display: flex;
      width: 190px;
      align-items: center;

      .input-text {
        flex: 1;
        margin-right: 8px;

        input {
          width: 100%;
          border-radius: 0;
          background-color: rgba(255, 255, 255, 0.5);
          border: 0;
          border-bottom: solid 1px #dddddd;
          padding: 5px;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.71;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;

          &:focus {
            border-color: #2e4ce6;
          }
        }
      }

      .input-submit {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 8px;
      }

      .input-close {
        flex-grow: 0;
        flex-shrink: 0;

        .close-button {
          cursor: pointer;
        }
      }
    }
  }

  .add-button {
    background-color: #2e4ce6;
    color: #fff;
    border-radius: 100%;
    width: 24px; height: 24px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
  }

  .cross-button {
    background-color: #f0f0f0;
    color: #999;
    border-radius: 100%;
    width: 24px; height: 24px;
    border: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;

    span {
      transform: rotate(45deg);
    }
  }
}