.c {
  display: flex;

  .c-icon {
    flex: 0;
    margin-right: 12px;
  }

  .c-contents {
    flex: 1;
    padding-top: 3px;

    .c-row-1 {
      display: flex;
      justify-content: flex-start;

      .c-row-11 {
        margin-right: 6px;

        span {
          font-weight: 500;
          line-height: normal;
          font-size: 16px;
          color: #1D2639;
        }
      }
    }

    .c-row-2 {
      margin-bottom: 13px;
      margin-top: 14px;
    }

    .c-row-3 {
      display: flex;
      justify-content: flex-start;

      .c-row-31 {
        margin-right: 8px;
      }
    }
  }
}

.description-input {
  position: relative;
  cursor: pointer;

  &.is-not-readonly.is-focused {
    .hr {
      display: block;
    }

    textarea.input {
      cursor: text;
    }
  }

  .hr {
    display: none;
    height: 1px;
    position: absolute; bottom: -4px; left: 0; right: 0;
    background-color: #4A84FB;
  }

  textarea.input {
    font-style: normal;
    font-weight: normal;
    border: 0;
    outline: 0;
    resize: none;
    width: 100%;
    padding: 0!important;
    margin: 0!important;
    cursor: pointer;
    line-height: 21px;
    font-size: 14px;
    color: #1D2639;

    &::placeholder {
      color: #BBBEC4;
    }
  }
}

.edit-button {
  cursor: pointer;

  &:hover {
    span {
      color: #4A84FB;
    }
  }

  span {
    font-size: 14px;
    text-decoration-line: underline;
    color: #777D88;
    transition: .15s;
  }
}

.button {
  height: 40px;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  border: none;

  span {
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    line-height: 40px;
  }

  &.button-submit {
    width: 105px;
    background: #4A84FB;

    span {
      color: #fff;
    }
  }

  &.button-revert {
    width: 105px;
    background: #F8F8F9;

    span {
      color: #BBBEC4;
    }
  }
}
