.c([formGroup]="state.form")
  .c-icon
    .__evodesk-icon-v3.iv3-desk-card-modal-section-description-24x24px
  .c-contents
    .c-row-1
      .c-row-11
        span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalDescription.Title
      .c-row-12
        .edit-button((click)="edit()")
          span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalDescription.Edit
    .c-row-2(*ngIf="shouldDisplayInput")
      .description-input([ngClass]="{ 'is-focused': state.isFocused, 'is-not-readonly': ! isReadonly }")
        textarea.input(
          #descriptionInput
          [formControlName]="'description'",
          (focus)="focus()",
          (blur)="blur()",
          (keyup.escape)="revert()",
          [readonly]="isReadonly",
          autosize, [minRows]="1", [maxRows]="10", rows="1"
        )
        .hr
    .c-row-3(*ngIf="state.isEditing")
      .c-row-31
        .button.button-submit((click)="ngSubmit()")
          span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalDescription.Submit
      .c-row-32
        .button.button-revert((click)="revert()")
          span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalDescription.Revert
