:host {
  height: 100%;
}

.progress {
  position: relative;
  height: 100%;
  overflow: hidden;

  &.progress-low {
    .progress-bar {
      background-color: #DC3030;
    }
  }

  &.progress-medium {
    .progress-bar {
      background-color: #DCB907;
    }
  }

  &.progress-high {
    .progress-bar {
      background-color: #22ab4c;
    }
  }

  .progress-bar {
    position: absolute;
    top: 0; bottom: 0; left: 0;
  }
}
