@import "./../../../../../../assets//export-constants";

.c {
  user-select: none;
  padding: 0 40px;

  .c-contents {
    height: $EVODESK_APP_COMMON_SUB_MENU_HEIGHT_EXPANDED;
    background-color: #dcdeea;
    display: flex;
    align-content: center;
    border-radius: 0 0 5px 8px;
    align-items: center;

    .filter-modes {
      margin-left: 10px;
    }
  }


  .c-button {
    .desk-title {
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      text-overflow: ellipsis;
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      color: #3D5377;
    }
    .c-button-area {
      margin: 0 auto;
      max-width: 200px;
      min-width: 70px;
      width: fit-content;
      height: fit-content;
      min-height: $EVODESK_APP_COMMON_SUB_MENU_HEIGHT_NOT_EXPANDED;
      max-height: $EVODESK_APP_COMMON_SUB_MENU_HEIGHT_NOT_EXPANDED + 20px;
      background-color: #dcdeea;
      border-radius: 0 0 5px 8px;
      cursor: pointer;

      .image {
        margin: 0 auto;
        width: 16px;
        height: 16px;
        text-align: center;

        img {
          position: relative;
          top: -4px;
          display: inline-block;
        }
      }
    }
  }
}

.c-is-opened {
  .c-button .image {
    transform: rotate(180deg);
  }
}
