img(src="/assets/images/icons/top-panel-arrow.png", style='display:none')

.c([ngClass]="{ 'c-is-opened': isOpened }")
  .c-contents(*ngIf="isOpened")
    ng-content
  .c-button
    .c-button-area((click)="toggle()")
      .desk-title(*ngIf='hasDeskTitle') {{ deskTitle }}
      .image
        img(src="/assets/images/icons/top-panel-arrow.png")
