.c
  .c-box
    .c-navigations((click)="open()")
      .center
        .left
          .__evodesk-icon.ic-news-menu-26x26px
        .right
          span {{ 'EvodeskShop.components.EvodeskShopNavigationMobile.Shop' | translate }}
