.c {
  background-color: #fff;

  .c-box {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 175px;
    z-index: 1;
    background-color: #fff;
  }

  &.__desktop, &.__tablet {
    .c-box {
      display: flex;
    }

    .c-navigations {
      flex: 1;
      width: 50%;
    }

    .c-navigation-float {
      left: 50%; right: 0;
    }
  }

  &.__mobile {
    .c-navigation-float {
      left: 0; right: 0;
    }
  }

  .c-navigations {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .link {
      border-bottom: 1px solid transparent;
      transition: .15s;
    }

    &:hover {
      .link {
        border-bottom-color: #2e4ce6;
      }
    }

    .center {
      display: flex;
      align-items: center;
      margin: 16px;

      .left {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 12px;

        .__evodesk-icon {
          transition: .15s;
          transform: rotate(0);
        }
      }

      .right {
        flex: 1;
        position: relative;

        span {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;
          letter-spacing: 0.3px;
          text-align: left;
          color: #2e4ce6;
        }
      }
    }
  }
}
