.c
  .c-contents
    ng-content
  .c-auth
    .c-auth-placeholder(*ngIf="! hasAuthToken")
      .img
        img(src="/assets/landing/userpic.svg")
      .welcome
        span {{ 'EvodeskLanding.components.LandingAuthPanelMobile.Welcome' | translate }}
    .c-auth-form
      evodesk-landing-auth-container(theme='light')
  .c-footer
    .c-footer-flex
      evodesk-landing-footer
