.c {
  .c-contents {
    padding: 48px 24px 0;
  }

  .c-auth {
    padding: 32px;
    background-color: #fff;

    .c-auth-placeholder {
      .img {
        width: 80px;
        height: 80px;
        margin: 0 auto 24px;

        img {
          width: 80px;
          height: 80px;
        }
      }

      .welcome {
        margin: 24px auto;
        text-align: center;
        max-width: 300px;

        span {
          font-family: Roboto, sans-serif;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: 0.3px;
          text-align: center;
          color: #010307;
        }
      }
    }
  }

  .c-footer {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #000;

    .c-footer-flex {
      flex: 1;

      ::ng-deep {
        .c {
          border-top: none;
        }
      }
    }
  }
}
