ng-container(*ngIf="!!state && state.ready")
  form.c([formGroup]="props.form", novalidate)
    .c-fields
      .c-field.c-field-page-visibility
        .c-field-title
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsPrivacyAndSecurity.PageVisibility.Title' | translate }}
        .c-field-contents
          .__evodesk-input-box-v2.select-mw
            select([formControlName]="'pageVisibility'")
              option(*ngFor="let a of state.pageVisibilityOptions", [value]="a.value")
                span {{ a.title | translate }}
      .c-field.c-field-photo-visibility
        .c-field-title
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsPrivacyAndSecurity.PhotoVisibility.Title' | translate }}
        .c-field-contents
          .__evodesk-input-box-v2.select-mw
            select([formControlName]="'photoVisibility'")
              option(*ngFor="let a of state.photoVisibilityOptions", [value]="a.value")
                span {{ a.title | translate }}
      .c-field.c-field-subscribe-access
        .c-field-title
          span {{ 'EvodeskUserSettings.components.EvodeskUserSettingsPrivacyAndSecurity.SubscribeAccess.Title' | translate }}
        .c-field-contents
          .__evodesk-input-box-v2.select-mw
            select([formControlName]="'subscribeAccess'")
              option(*ngFor="let a of state.subscribeAccessOptions", [value]="a.value")
                span {{ a.title | translate }}
