@import "~sass-mq";

@include mq($until: 800px) {
  .c {
    padding: 16px;

    .input-mw {
      width: 100%;
    }

    .select-mw {
      width: 100%;
    }
  }
}

@include mq($from: 801px) {
  .c {
    padding: 16px;

    .input-mw {
      width: 100%;
      max-width: 288px;
    }

    .select-mw {
      width: 100%;
      max-width: 480px;
    }

    .c-fields {
      padding: 16px 0;

      .c-field {
        &.c-field-phone {

          max-width: 288px;
        }
      }
    }
  }
}

.c {
  .c-fields {
    .c-field {
      margin-bottom: 24px;

      .c-field-title {
        margin-bottom: 8px;

        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: left;
          color: #aaacb4;
        }
      }
    }
  }
}
