
.tabs,
.tabs-ul ul,
.tabs-item__content
 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	width: 100%;
}
.tabs {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.tabs-ul ul li .tabs_a {
  color: #2869d5;
  padding: 10px;
	font-size: 24px;
	font-weight: 400;
	line-height: 20px;
	border-bottom: 1px dashed #2869d5;
	cursor: pointer;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}
.tabs-ul ul {
	list-style: none;
}
.tabs-ul ul li {
	margin-right: 50px;
}

.tabs-ul ul li .tabs_a.active, 
.tabs-ul ul li .tabs_a:hover {
	color: #1d2e48;
	border-bottom: none;
}
.tabs-ul ul li .tabs_a.active {
  background-color: #efefef;
  border-radius: 5px;
}