.c {
  .c-subscribe, .c-unsubscribe {
    margin: 0 auto;
  }
}

button {
  width: 140px;
}

button.button.button-fill {
  background-color: #2e4ce6;
  border-radius: 3px;
  text-align: center;

  span {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
  }
}

button.button.button-no-fill {
  .__evodesk-icon {
    display: inline-block;
    margin-right: 8px;
  }

  span {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 0.1px;
    text-align: left;
    color: #2e4ce6;
  }
}
