ng-container(*ngIf="!!state && state.ready")
  .c
    .c-subscribe(*ngIf="! props.isSubscribed")
      button.button.button-fill(mat-button, type="button", (click)="subscribe()")
        span {{ 'EvodeskProfile.shared.EvodeskProfileSubscribeButton.Subscribe' | translate }}
    .c-unsubscribe(*ngIf="props.isSubscribed")
      button.button.button-no-fill(mat-button, type="button", (click)="unsubscribe()")
        .__evodesk-icon.ic-blue-check-11x10px
        span {{ 'EvodeskProfile.shared.EvodeskProfileSubscribeButton.Unsubscribe' | translate }}
