.c-mobile-nav
  evodesk-leaders-nav-mobile-container(*ngIf="shouldDisplayMobileNav")

.c(*ngIf="!! state && state.ready")
  .c-row-1.sticky
    .c-row-1-1
      evodesk-leaders-nav-desktop-container(*ngIf="shouldDisplayDesktopNav")
    .c-row-1-2
      .card.card-current
        .cc-profile
          .cc-profile-avatar
            evodesk-profile-avatar([profileId]="props.profile.id", [size]="64")
          .cc-profile-name
            span {{ props.profile.name || props.profile.email }}
          .cc-profile-status
            span {{ props.profile.position }}
        .cc-rating
          .cc-rating-entry
            .cc-re-position
              span {{ props.current.positions.week.position }}
            .cc-re-desc
              span(translate) EvodeskLeaders.components.EvodeskLeaders.PositionWeek
          .cc-rating-entry
            .cc-re-position
              span {{ props.current.positions.month.position }}
            .cc-re-desc
              span(translate) EvodeskLeaders.components.EvodeskLeaders.PositionMonth
          .cc-rating-entry
            .cc-re-position
              span {{ props.current.positions.total.position }}
            .cc-re-desc
              span(translate) EvodeskLeaders.components.EvodeskLeaders.PositionTotal
  .c-row-2
    .c-row-2-1
      .card.card-leaders(*ngIf="section === 'week'")
        .cl-title
          span(translate) EvodeskLeaders.components.EvodeskLeaders.LeadersWeek
        .cl-list
          .cl-list-area(#areaLeadersWeek, evodeskTouchScroll='y', evodeskMouseWheelScroll, evodeskKeyboardScroll, (scroll.out-zone)="onLeaderWeekScroll($event)")
            .item(*ngFor="let item of props.leaders.week.entries", [ngClass]="{ 'cl-current': item.id.toString() === props.profile.id.toString() }")
              .item-position
                span {{ item.position }}
              .item-info
                .avatar
                  evodesk-profile-avatar([profileId]="item.id", [size]="30")
                a.name([routerLink]="['/profile', item.id]", target="_blank")
                  span {{ item.name || item.email }}
              .item-points
                span {{ item.experience }}
            .cl-load-more(*ngIf="props.leaders.week.hasMoreToLoad && ! props.leaders.week.loading", (click)="loadMoreWeek()")
              span(translate) EvodeskLeaders.components.EvodeskLeaders.LoadMore
            .cl-loading(*ngIf="props.leaders.week.loading")
              .__evodesk-app-circle-loader
          .cl-list-scroll
            evodesk-app-common-scroll-bar([elementRef]="areaLeadersWeek", [theme]="'blue'")
      .card.card-leaders(*ngIf="section === 'month'")
        .cl-title
          span(translate) EvodeskLeaders.components.EvodeskLeaders.LeadersMonth
        .cl-list
          .cl-list-area(#areaLeadersMonth, evodeskTouchScroll='y', evodeskMouseWheelScroll, evodeskKeyboardScroll, (scroll.out-zone)="onLeaderMonthScroll($event)")
            .item(*ngFor="let item of props.leaders.month.entries", [ngClass]="{ 'cl-current': item.id.toString() === props.profile.id.toString() }")
              .item-position
                span {{ item.position }}
              .item-info
                .avatar
                  evodesk-profile-avatar([profileId]="item.id", [size]="30")
                a.name([routerLink]="['/profile', item.id]", target="_blank")
                  span {{ item.name || item.email }}
              .item-points
                span {{ item.experience }}
            .cl-load-more(*ngIf="props.leaders.month.hasMoreToLoad && ! props.leaders.month.loading", (click)="loadMoreMonth()")
              span(translate) EvodeskLeaders.components.EvodeskLeaders.LoadMore
            .cl-loading(*ngIf="props.leaders.month.loading")
              .__evodesk-app-circle-loader
          .cl-list-scroll
            evodesk-app-common-scroll-bar([elementRef]="areaLeadersMonth", [theme]="'blue'")
      .card.card-leaders(*ngIf="section === 'total'")
        .cl-title
          span(translate) EvodeskLeaders.components.EvodeskLeaders.LeadersTotal
        .cl-list
          .cl-list-area(#areaLeadersTotal, evodeskTouchScroll='y', evodeskMouseWheelScroll, evodeskKeyboardScroll, (scroll.out-zone)="onLeaderTotalScroll($event)")
            .item(*ngFor="let item of props.leaders.total.entries", [ngClass]="{ 'cl-current': item.id.toString() === props.profile.id.toString() }")
              .item-position
                span {{ item.position }}
              .item-info
                .avatar
                  evodesk-profile-avatar([profileId]="item.id", [size]="30")
                a.name([routerLink]="['/profile', item.id]", target="_blank")
                  span {{ item.name || item.email }}
              .item-points
                span {{ item.experience }}
            .cl-load-more(*ngIf="props.leaders.total.hasMoreToLoad && ! props.leaders.total.loading", (click)="loadMoreTotal()")
              span(translate) EvodeskLeaders.components.EvodeskLeaders.LoadMore
            .cl-loading(*ngIf="props.leaders.total.loading")
              .__evodesk-app-circle-loader
          .cl-list-scroll
            evodesk-app-common-scroll-bar([elementRef]="areaLeadersTotal", [theme]="'blue'")
