.c
  .c-left
    .c-icon
      svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M5.50194 4.13286C5.81243 3.95452 6.19458 3.9558 6.50387 4.13622L18.5039 11.1362C18.8111 11.3154 19 11.6443 19 12C19 12.3557 18.8111 12.6846 18.5039 12.8638L6.50387 19.8638C6.19458 20.0442 5.81243 20.0455 5.50194 19.8671C5.19145 19.6888 5 19.3581 5 19V5C5 4.64193 5.19145 4.3112 5.50194 4.13286ZM7 6.74104V17.259L16.0154 12L7 6.74104Z', fill='#777D88')
  .c-right
    .c-header
      .c-header-title
        span(translate) EvodeskDesk.components.modal.EvodeskDeskCardModalProjects.Title
    .c-list
      .c-list-item(*ngFor="let p of props.card.projects")
        .badge
          .badge-name
            span {{ p.title }}
          .badge-remove
            .delete-button((click)="remove(p)")
              svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M16.3536 8.35355C16.5488 8.15829 16.5488 7.84171 16.3536 7.64645C16.1583 7.45118 15.8417 7.45118 15.6464 7.64645L12 11.2929L8.35355 7.64645C8.15829 7.45118 7.84171 7.45118 7.64645 7.64645C7.45118 7.84171 7.45118 8.15829 7.64645 8.35355L11.2929 12L7.64645 15.6464C7.45118 15.8417 7.45118 16.1583 7.64645 16.3536C7.84171 16.5488 8.15829 16.5488 8.35355 16.3536L12 12.7071L15.6464 16.3536C15.8417 16.5488 16.1583 16.5488 16.3536 16.3536C16.5488 16.1583 16.5488 15.8417 16.3536 15.6464L12.7071 12L16.3536 8.35355Z', fill='#BBBEC4')
      .c-list-item
        .add-button((click)="add()")
          svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
            path.colorize(fill-rule='evenodd', clip-rule='evenodd', d='M13.0244 6.02439C13.0244 5.45864 12.5658 5 12 5C11.4343 5 10.9757 5.45864 10.9757 6.02439V10.9756H6.02439C5.45864 10.9756 5 11.4342 5 12C5 12.5657 5.45864 13.0244 6.02439 13.0244H10.9757V17.9756C10.9757 18.5414 11.4343 19 12 19C12.5658 19 13.0244 18.5414 13.0244 17.9756V13.0244H17.9756C18.5414 13.0244 19 12.5657 19 12C19 11.4342 18.5414 10.9756 17.9756 10.9756H13.0244V6.02439Z', fill='#BBBEC4')
