.contents {
  max-width: 450px;
}

h1 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  text-align: center;
  color: #0f275e;
  padding: 0 15px;
  margin: 0 0 15px;
}

p {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.4px;
  text-align: center;
  color: #000;
  margin: 0; padding: 0 15px;
  margin-bottom: 15px;

  font-size: 14px;
}

.actions {
  width: 100%;
  text-align: center;
  padding: 0 15px;
}

button {
  border-radius: 3px;
  background: #2e4ce6;
  border: 0;
  color: #fff;
  outline: 0;
  cursor: pointer;
  padding: 2px 18px;

  span {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.2px;
    color: #ffffff;
  }
}

.c-copy-box {
  display: flex;
  margin-bottom: 5px;

  .c-input {
    flex: 1;
    margin-right: 15px;

    input {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.4px;
      text-align: center;
      color: #000;
      font-size: 14px;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 3px;
      height: 36px;
      line-height: 36px;
      padding: 0 16px;
    }
  }

  .c-copy-button {
    flex-shrink: 0;
    flex-grow: 0;

    button {
      border-radius: 3px;
      background: #2e4ce6;
      border: 0;
      color: #fff;
      outline: 0;
      cursor: pointer;
      padding: 0 10px;
      height: 36px;
      line-height: 36px;

      span {
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 36px;
        letter-spacing: 0.4px;
        text-align: center;
        color: #fff;
        font-size: 14px;
      }
    }
  }
}

::ng-deep {
  .__evodesk-alert-modal--is-text-html {
    p {
      font-family: Roboto, sans-serif;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: 0.4px;
      text-align: left;
      color: #000;
      margin: 0;
      margin-bottom: 16px;
      font-size: 14px;
    }

    img {
      max-width: 100%;
    }
  }
}
