mat-dialog-content
  .contents([ngClass]="{ '__evodesk-alert-modal--is-text-html': data.textAsHtml }")
    h1(*ngIf="!!data.title && data.title.length > 0") {{ data.title }}
    ng-container(*ngIf="data.textAsHtml")
      div([innerHtml]="data.text")
    ng-container(*ngIf="! data.textAsHtml")
      p {{ data.text }}
    .copy-box(*ngIf="data.copyLink")
      .c-copy-box
        .c-input
          input.input(#input, type="text", readonly, [value]="data.copyLink")
        .c-copy-button
          button(mat-button, type="button", (click)="selectAndCopy()")
            span {{ 'EvodeskDesk.components.shared.DeskCommonCopyLink.CopyButton' | translate }}
mat-dialog-actions
  .actions
    button(mat-dialog-close, mat-button)
      span {{ data.ok }}
