.c
  .box
    .remove
      .btn(*ngIf="props.userCompetence.can_mark", (click)="minus(uC)")
        .__evodesk-icon.ic-competence-remove-16x16px.with-hover
      .placeholder(*ngIf="! props.userCompetence.can_mark")
    .mark
      span {{ props.userCompetence.points }}
    .add
      .btn(*ngIf="props.userCompetence.can_mark", (click)="plus(uC)")
        .__evodesk-icon.ic-competence-add-16x16px.with-hover
      .placeholder(*ngIf="! props.userCompetence.can_mark")
