.c {
  .box {
    display: flex;
    align-items: center;

    .mark {
      margin: 0 4px;
      width: 55px;
      text-align: center;
      overflow: hidden;

      span {
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #010307;
      }
    }
  }

  .add, .remove {
    .btn {
      cursor: pointer;
    }

    .placeholder {
      width: 16px;
      height: 16px;
    }
  }
}
