.c
  .c-feed
    ng-container(*ngIf="! props.hasEntries")
      .no-entries
        span {{ 'EvodeskNews.components.NewsNotifications.NoEntries' | translate }}
    ng-container(*ngIf="props.hasEntries")
      evodesk-feed-container([context]="'news-notifications'", [viewMode]="'grouped-by-date'")
