.c {
  flex: 1;
  padding-top: 3px;

  .c-row-1 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 9px;

    .c-row-11 {
      margin-right: 5px;

      span {
        font-weight: 500;
        line-height: normal;
        font-size: 16px;
        color: #1D2639;
        position: relative;
        top: -1px;
      }
    }
  }

  .c-row-2 {
    margin-bottom: 20px;
  }

  .c-row-3 {
    margin-bottom: 12px;
  }
}

.delete-checklist-button {
  cursor: pointer;
  position: relative;
  top: -1px;
  left: 1px;

  &:hover {
    span {
      color: #4A84FB;
    }
  }

  span {
    font-size: 14px;
    text-decoration: underline;
    color: #777D88;
  }
}

.add-checklist-item-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  left: -2px;

  .hovered { display: none; }
  .not-hovered { display: block; }

  &:hover {
    .hovered { display: block; }
    .not-hovered { display: none; }

    .title {
      position: relative;
      left: 1px;
      top: -1px;

      span {
        color: #4A84FB;
      }
    }
  }

  .icon {
    flex: 0;
    margin-right: 4px;
  }

  .title {
    position: relative;
    left: 1px;
    top: -1px;

    span {
      font-size: 14px;
      color: #777D88;
    }
  }
}

.checklist-item {
  display: flex;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  .checklist-item-is-completed {
    flex: 0;
    margin-right: 10px;

    .checkbox-placeholder {
      width: 20px;
      height: 20px;
    }

    .checkbox {
      background: #FFFFFF;
      border: 1px solid #BBBEC4;
      box-sizing: border-box;
      border-radius: 2px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;

      .checked-icon {
        display: none;
      }

      &.is-active {
        .checked-icon {
          display: block;
        }
      }
    }
  }

  .checklist-item-contents {
    flex: 1;
  }
}

.input-box {
  padding-bottom: 2px;
  border-bottom: 1px solid #EFF0F1;

  &.is-focused {
    border-bottom-color: #4A84FB;
  }

  .input {
    input {
      font-style: normal;
      font-weight: normal;
      line-height: 21px;
      font-size: 14px;
      color: #1D2639;
      width: 100%;
      border: 0;
      cursor: pointer;
      text-align: left;
      height: 21px;

      &::placeholder {
        color: #BBBEC4;
      }

      &:hover::placeholder {
        color: #777D88;
      }
    }
  }
}

.ci-form {
  .ci-title {
    margin-bottom: 14px;
  }

  .ci-actions {
    display: flex;
    justify-content: flex-start;

    .ci-action {
      margin-right: 8px;
      flex: 0;

      &:last-child {
        margin-right: 0;
      }

      .button {
        width: 105px;
        height: 40px;
        background: #4A84FB;
        border-radius: 2px;
        text-align: center;
        cursor: pointer;
        border: none;

        span {
          font-size: 14px;
          text-align: center;
          line-height: 40px;
        }

        &.button-submit {
          background-color: #4A84FB;

          span {
            color: #FFFFFF;
          }
        }

        &.button-cancel {
          background-color: #F8F8F9;

          span {
            color: #BBBEC4;
          }
        }
      }
    }
  }
}

.ci-item {
  display: flex;
  min-height: 24px;

  &.is-completed {
    .ci-item-title {
      span {
        text-decoration: line-through;
      }
    }
  }

  .ci-item-title {
    flex: 1;
    position: relative;
    top: 2px;

    span {
      font-size: 14px;
      color: #1D2639;
    }
  }

  .ci-item-edit {
    flex: 0;
    margin-right: 8px;
  }

  .ci-item-delete {
    flex: 0;
  }

  .ci-item-edit, .ci-item-delete {
    display: none;
  }

  .edit-button, .delete-button {
    cursor: pointer;

    .hovered { display: none; }
    .not-hovered { display: block; }

    &:hover {
      .hovered { display: block; }
      .not-hovered { display: none; }
    }
  }
}

.checklist-item {
  &.is-item {
    cursor: pointer;
    border-radius: 2px;

    &:hover, &:active {
      background: #FAFAFA;
      outline: 10px solid #fafafa;

      .ci-item {
        .ci-item-edit, .ci-item-delete {
          display: block;
        }
      }
    }
  }
}

.progress {
  .progress-text {
    margin-bottom: 6px;

    span {
      font-size: 12px;
      color: #777D88;
    }
  }

  .progress-bar {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    background-color: #EFF0F1;
    height: 4px;

    .progress-bar-fill {
      position: absolute;
      left: 0; top: 0; bottom: 0;
      border-radius: 15px;
      background-color: #A9D26A;
      transition: .15s;
    }
  }
}
