.c
  .c-row-1
    .c-row-11
      span {{ props.checklist.name }}
    .c-row-12
      .delete-checklist-button((click)="deleteChecklist()")
        span(translate) EvodeskDesk.components.common.EvodeskDeskCardChecklist.Delete
  .c-row-2(*ngIf="props.checklist.items.length > 0")
    .progress
      .progress-text
        span {{ percents }}%
      .progress-bar
        .progress-bar-fill([ngStyle]="fillNgStyle")
  .c-row-3
    .c-checklist-items
      .checklist-item(*ngFor="let item of checklistItems; trackBy: trackByChecklistItemId", [ngClass]="{ 'is-item': item.id > 0 && item.id !== state.editing }")
        .checklist-item-is-completed
          .checkbox-placeholder
            .checkbox(*ngIf="item.id > 0", [ngClass]="{ 'is-active': item.completed }", (click)="toggleChecklistItem(item)")
              .checked-icon.__evodesk-icon-v3.iv3-desk-card-modal-checklist-check-14x10px
        .checklist-item-contents
          ng-container(*ngIf="state.editing !== item.id")
            .ci-item([ngClass]="{ 'is-completed': item.completed }")
              .ci-item-title
                span {{ item.title }}
              .ci-item-edit
                .edit-button((click)="edit(item)")
                  .not-hovered.__evodesk-icon-v3.iv3-desk-card-checklist-item-edit-24x24px
                  .hovered.__evodesk-icon-v3.iv3-desk-card-checklist-item-edit-hover-24x24px
              .ci-item-delete
                .delete-button((click)="deleteChecklistItem(item)")
                  .not-hovered.__evodesk-icon-v3.iv3-desk-card-checklist-item-delete-24x24px
                  .hovered.__evodesk-icon-v3.iv3-desk-card-checklist-item-delete-hover-24x24px
          ng-container(*ngIf="state.editing === item.id")
            form.ci-form([formGroup]="state.itemForm", novalidate)
              .ci-title
                .input-box([ngClass]="{ 'is-focused': state.isTitleFocused }")
                  .input
                    input(
                    #titleInput, [formControlName]="'title'", type="text",
                    placeholder="{{ 'EvodeskDesk.components.common.EvodeskDeskCardChecklist.TitlePlaceholder' | translate }}",
                    (focus)="onTitleInputFocus();",
                    (blur)="onTitleInputBlur()",
                    (keyup.escape)="cancel(); $event.stopPropagation()",
                    )
              .ci-actions
                .ci-action
                  button.button.button-submit(type="submit", (click)="submit()")
                    span(translate) EvodeskDesk.components.common.EvodeskDeskCardChecklist.SaveChecklistItem
                .ci-action
                  button.button.button-cancel(type="button", (click)="cancel()")
                    span(translate) EvodeskDesk.components.common.EvodeskDeskCardChecklist.CancelChecklistItem
  .c-row-4
    .c-add-checklist-item
      .add-checklist-item-button((click)="add()", *ngIf="! state.add && ! state.editing")
        .icon
          .not-hovered.__evodesk-icon-v3.iv3-desk-card-modal-checklist-add-24x24px
          .hovered.__evodesk-icon-v3.iv3-desk-card-modal-checklist-add-blue-24x24px
        .title
          span(translate) EvodeskDesk.components.common.EvodeskDeskCardChecklist.AddChecklistItem
