:host {
  width: 100%;
  height: 100%;
}

@mixin desktopLayout() {
  width: 100%;
  height: 100%;

  .c-inner {
    width: 100%;
    height: 100%;
    max-width: 1120px + 24px*2;
    padding: 24px 24px 90px;
    margin: 0 auto;

    .c-modal {
      border-radius: 8px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
  }
}

@mixin tabletLayout() {
  width: 100%;
  height: 100%;

  .c-inner {
    width: 100%;
    height: 100%;
    max-width: 1120px + 24px*2;
    padding: 24px 16px;
    margin: 0 auto;

    .c-modal {
      border-radius: 8px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
  }
}

@mixin mobileLayout() {
  width: 100%;
  height: 100%;

  .c-inner {
    width: 100%;
    height: 100%;

    .c-modal {
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
  }
}

.c {
  &.___mobile {
    @include mobileLayout();
  }

  &.___tablet {
    @include tabletLayout();
  }

  &.___desktop {
    @include desktopLayout();
  }
}

