.sticky-wrapper(#sticky='', (click)="state.handleBackdrop()")
  .dialog((click)="$event.stopPropagation()")
    .header.sticky
      .title {{ 'EvodeskProfile.components.EvodeskProfileEditPhotoAlbum.Title' | translate:{name: album.name, count: album.photos.length} }}
      button.close-btn(mat-icon-button mat-dialog-close)
        mat-icon(svgIcon="ic-cross")
    .content
      mat-form-field.album-name(floatLabel="always")
        mat-label {{ 'EvodeskProfile.components.EvodeskProfileEditPhotoAlbum.AlbumTitle' | translate }}
        input(matInput [formControl]='albumName')
      mat-divider.divider
      .selector-bar
        .selected-text.margin-right {{ 'EvodeskProfile.components.EvodeskProfileEditPhotoAlbum.Selected' | translate:{selected: selectedPhotos.length, count: photos.length} }}
        button.cancel-btn.margin-right(mat-button (click)='deletePhotos()') {{ 'EvodeskProfile.components.EvodeskProfileEditPhotoAlbum.Delete' | translate }}
        button.cancel-btn.right(mat-button (click)='selectAll()') {{ 'EvodeskProfile.components.EvodeskProfileEditPhotoAlbum.SelectAll' | translate }}
      .scroll-area
        .photos-container(#scrollArea, evodeskTouchScroll='y', [evodeskTouchPreventDefaults]="false", evodeskMouseWheelScroll,
              [evodeskMouseWheelPreventDefaults]="false", evodeskKeyboardScroll)
          .photos-flex
            .selection-form(*ngFor='let photo of photos', (click)='togglePhoto(photo)', [ngClass]='isSelected(photo) ? "selected" : ""')
              img([src]="getPhotoPreview(photo)")
              .selection-mark
        evodesk-app-common-scroll-bar([elementRef]="scrollArea", scrollBarDirection="y", [theme]="'blue'")
      button.save-btn(mat-button (click)='saveChanges()') {{ 'EvodeskProfile.components.EvodeskProfileEditPhotoAlbum.Save' | translate }}
