@import "~sass-mq";

.content {
  padding: 0 14px;
  margin-right: -14px;
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  overflow: hidden;
}

.album-name {
  width: 100%;
  max-width: 420px;
  margin-bottom: 32px;
}

.divider {
  margin: 0 -16px;
  border-color: #d0d6f5;
  margin-bottom: 24px;
}

.selected-text {
  color: #aaacb4;
}

@include mq($until: tablet) {
  .selected-text {
    height: 30px;
    line-height: 30px;
    margin-left: 16px;
  }

  .cancel-btn {
    height: 30px;
  }
}

.scroll-area {
  display: flex;
  overflow-y: hidden;
  margin-top: 14px;
}

.photos-container {
  margin: 0 0 24px 0;
  width: 100%;
  overflow: hidden;
}

.photos-flex {
  margin-bottom: -14px;

  .selection-form {
    position: relative;
    flex-grow: 1;
    width: 25%;
    max-height: 736px;
    max-width: calc(100% - 14px);
    margin: 0 14px 14px 0;
    min-height: 72px;
    min-width: 100px;
    cursor: pointer;

    @include mq($until: tablet) {
      min-width: calc(100% - 16px)!important;
    }

    img {
      border-radius: 4px;
      margin: 2px 0 0 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      object-fit: cover;
    }

    &.selected {

      img {
        margin: 0 -2px -2px 0;
        width: 100%;
        height: 100%;
        border: solid 2px #2e4ce6;
      }

      .selection-mark {
        background-color: #2e4ce6;
        font-size: 12px;
        line-height: 30px;
        color: white;
        text-align: center;
      }

      .selection-mark:before {
        font-family: 'icomoon'!important;
        content: "\e916";
      }
    }

    .selection-mark {
      position: absolute;
      justify-self: end;
      right: 8px;
      top: 8px;
      z-index: 2;
      width: 32px;
      height: 32px;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
      border: solid 2px #ffffff;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}
