<div class="c">
  <div class="c-img">
    <svg width="120" height="21" viewBox="0 0 120 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.3944 12.4085H4.81776V17.0886H13.767V20.7303H0V1.09249H13.7944V4.74759H4.81776V8.88825H12.3944V12.4085Z" fill="white"></path>
      <path d="M23.1409 15.3218L25.488 6.1368H30.3607L25.5155 20.7303H20.7938L15.9486 6.1368H20.835L23.1409 15.3218Z" fill="white"></path>
      <path d="M32.9953 13.2987C32.9953 11.842 33.2835 10.5472 33.86 9.41426C34.4365 8.27232 35.2646 7.39563 36.3444 6.7842C37.4241 6.17277 38.6915 5.86705 40.1464 5.86705C42.37 5.86705 44.1223 6.54592 45.4034 7.90366C46.6845 9.25241 47.325 11.0912 47.325 13.42V13.5819C47.325 15.8568 46.6799 17.6641 45.3897 19.0039C44.1086 20.3346 42.37 21 40.1739 21C38.0601 21 36.3627 20.3796 35.0816 19.1387C33.8005 17.8889 33.1096 16.1985 33.009 14.0674L32.9953 13.2987ZM37.6209 13.5819C37.6209 14.9306 37.8359 15.9197 38.266 16.5491C38.696 17.1785 39.332 17.4933 40.1739 17.4933C41.821 17.4933 42.6628 16.2479 42.6994 13.7572V13.2987C42.6994 10.6821 41.8484 9.3738 40.1464 9.3738C38.6 9.3738 37.7627 10.5022 37.6346 12.7592L37.6209 13.5819Z" fill="white"></path>
      <path d="M51.6341 20.7303V1.09249H58.0715C59.8376 1.09249 61.4252 1.48812 62.8344 2.27938C64.2436 3.06166 65.3416 4.17213 66.1286 5.61079C66.9247 7.04046 67.3273 8.64547 67.3364 10.4258V11.3295C67.3364 13.1278 66.9475 14.7418 66.1697 16.1715C65.4011 17.5922 64.3122 18.7071 62.903 19.5164C61.503 20.3166 59.9382 20.7213 58.2088 20.7303H51.6341ZM56.4519 4.74759V17.0886H58.1264C59.5082 17.0886 60.5696 16.6076 61.3108 15.6455C62.052 14.6744 62.4226 13.2357 62.4226 11.3295V10.4798C62.4226 8.58253 62.052 7.15286 61.3108 6.19075C60.5696 5.22864 59.4899 4.74759 58.0715 4.74759H56.4519Z" fill="white"></path>
      <path d="M78.8379 21C76.5594 21 74.7156 20.3346 73.3064 19.0039C71.8972 17.6641 71.1926 15.9242 71.1926 13.7842V13.4066C71.1926 11.9139 71.4717 10.5967 72.0299 9.45472C72.5972 8.31278 73.4208 7.4316 74.5005 6.81118C75.5803 6.18176 76.8614 5.86705 78.3438 5.86705C80.4301 5.86705 82.0772 6.50546 83.285 7.78227C84.4929 9.0501 85.0968 10.8215 85.0968 13.0963V14.8632H75.9006C76.0653 15.6814 76.4267 16.3243 76.9849 16.7919C77.5431 17.2595 78.266 17.4933 79.1536 17.4933C80.6177 17.4933 81.7615 16.9897 82.585 15.9827L84.6988 18.4374C84.1223 19.2197 83.3033 19.8446 82.2419 20.3121C81.1896 20.7707 80.0549 21 78.8379 21ZM78.3163 9.3738C76.962 9.3738 76.1568 10.255 75.9006 12.0173H80.5673V11.6667C80.5856 10.9383 80.398 10.3764 80.0046 9.98073C79.6111 9.57611 79.0483 9.3738 78.3163 9.3738Z" fill="white"></path>
      <path d="M96.8042 16.6301C96.8042 16.2434 96.5983 15.9332 96.1865 15.6994C95.7747 15.4656 94.9924 15.2229 93.8394 14.9711C92.6864 14.7193 91.7348 14.3911 90.9844 13.9865C90.2341 13.5729 89.6622 13.0739 89.2687 12.4894C88.8752 11.9049 88.6785 11.2351 88.6785 10.4798C88.6785 9.14001 89.2413 8.03854 90.3668 7.17534C91.4923 6.30315 92.9655 5.86705 94.7865 5.86705C96.7447 5.86705 98.3186 6.30315 99.5082 7.17534C100.698 8.04753 101.293 9.19396 101.293 10.6146H96.6532C96.6532 9.44573 96.0264 8.86127 94.7728 8.86127C94.2878 8.86127 93.8806 8.99615 93.5512 9.2659C93.2217 9.52665 93.057 9.85485 93.057 10.2505C93.057 10.6551 93.2583 10.9833 93.661 11.2351C94.0636 11.4868 94.7041 11.6936 95.5826 11.8555C96.4702 12.0173 97.248 12.2107 97.916 12.4355C100.149 13.1908 101.265 14.544 101.265 16.4952C101.265 17.8259 100.661 18.9094 99.4533 19.7457C98.2545 20.5819 96.6989 21 94.7865 21C93.5146 21 92.3799 20.7752 91.3825 20.3256C90.3851 19.876 89.6073 19.2646 89.0491 18.4913C88.4909 17.718 88.2118 16.9043 88.2118 16.0501H92.5354C92.5537 16.7245 92.7825 17.219 93.2217 17.5337C93.661 17.8394 94.2237 17.9923 94.91 17.9923C95.5414 17.9923 96.0126 17.8664 96.3238 17.6146C96.644 17.3629 96.8042 17.0347 96.8042 16.6301Z" fill="white"></path>
      <path d="M111.463 15.2948L110.159 16.5761V20.7303H105.533V0H110.159V11.0058L110.625 10.3988L114.112 6.1368H119.657L114.455 12.1387L120 20.7303H114.702L111.463 15.2948Z" fill="white"></path>
    </svg>
  </div>
</div>
