.c {
  width: 120px;
  height: 100%;
  overflow: hidden;
  transition: 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }

  .c-img {
    height: 21px;
    width: 120px;
    overflow: hidden;
    position: relative;
    top: -1px;
  }

  a {
    display: block;
    width: 120px;
    height: 20px;
    overflow: hidden;
    margin: 0 auto;
  }

  img {
    border: 0;
    font-size: 0;
  }
}
