ng-container(*ngIf="!!state && state.ready && props && props.profile")
  .c([ngClass]="containerCSSClasses")
    .c-card
      .c-card-header(*ngIf="! shouldDisplayPinnedShortHeader")
        .c-profile-avatar
          evodesk-profile-avatar([profileId]="props.profile.id", [size]="48")
        .c-profile-title
          .name
            span {{ props.profile.name || props.profile.email }}
          .createAt
            ng-container(*ngIf="!! state.createdAt")
              span([evodeskBind]="state.createdAd")
        .c-options
          .menu-trigger(*ngIf="isContextMenuAvailable")
            .__evodesk-icon.ic-dots-menu-4x20px.with-hover([matMenuTriggerFor]="postContextMenu")
          .close-button(*ngIf="props.viewMode === 'modal'", (click)="close()")
            .__evodesk-icon.ic-close-modal-13x13px.with-hover
          mat-menu(#postContextMenu, yPosition="below", xPosition="before", class="__evodesk-material-context-menu")
            button(type="button", mat-menu-item, *ngIf="props.isOwnPost && ! isPinned", (click)="pin()")
              span {{ 'EvodeskFeed.components.EvodeskFeedPost.ContextMenu.Pin' | translate }}
            button(type="button", mat-menu-item, *ngIf="props.isOwnPost && isPinned", (click)="unpin()")
              span {{ 'EvodeskFeed.components.EvodeskFeedPost.ContextMenu.UnPin' | translate }}
            button(type="button", mat-menu-item, *ngIf="props.isOwnPost", (click)="edit()")
              span {{ 'EvodeskFeed.components.EvodeskFeedPost.ContextMenu.Edit' | translate }}
            button(type="button", mat-menu-item, *ngIf="props.isOwnPost", (click)="remove()")
              span {{ 'EvodeskFeed.components.EvodeskFeedPost.ContextMenu.Delete' | translate }}
      .c-card-pinned-header(*ngIf="shouldDisplayPinnedShortHeader")
        .c-pin
          .__evodesk-icon.ic-pin-24x24px.with-active.is-active
        .c-title
          span {{ 'EvodeskFeed.components.EvodeskFeedPost.PinnedTitle' | translate }}
        .c-options
          .menu-trigger(*ngIf="isContextMenuAvailable")
            .__evodesk-icon.ic-dots-menu-4x20px.with-hover([matMenuTriggerFor]="postContextMenu")
          .close-button(*ngIf="props.viewMode === 'modal'", (click)="close()")
            .__evodesk-icon.ic-close-modal-13x13px.with-hover
          mat-menu(#postContextMenu, yPosition="below", xPosition="before", class="__evodesk-material-context-menu")
            button(type="button", mat-menu-item, *ngIf="props.isOwnPost && ! isPinned", (click)="pin()")
              span {{ 'EvodeskFeed.components.EvodeskFeedPost.ContextMenu.Pin' | translate }}
            button(type="button", mat-menu-item, *ngIf="props.isOwnPost && isPinned", (click)="unpin()")
              span {{ 'EvodeskFeed.components.EvodeskFeedPost.ContextMenu.UnPin' | translate }}
            button(type="button", mat-menu-item, *ngIf="props.isOwnPost", (click)="edit()")
              span {{ 'EvodeskFeed.components.EvodeskFeedPost.ContextMenu.Edit' | translate }}
            button(type="button", mat-menu-item, *ngIf="props.isOwnPost", (click)="remove()")
              span {{ 'EvodeskFeed.components.EvodeskFeedPost.ContextMenu.Delete' | translate }}
      .c-text(*ngIf="hasText")
        .c-text-contents([ngClass]="{'expanded': state.expanded}")
          span(#textSpan, [innerHtml]="props.parsed")
        .read-more(*ngIf='state.shouldTruncate && !state.expanded', (click)="expand()")
          span {{ 'EvodeskFeed.components.EvodeskFeedPost.ReadMore' | translate }}
      .c-attachments(*ngIf="attachments.length > 0")
        evodesk-feed-post-list-attachments([controls]="false", [attachments]="attachments")
      .c-footer
        .c-footer-left
          .actions
            .action.action-like
              .flex
                .icon
                  .__evodesk-icon.ic-like-post-16x15px(#likesIcon, [ngClass]="{ 'is-active': props.post.isLiked, 'with-hover': ! props.isOwnPost || props.post.likes > 0 }", (click)="toggleLike()")
                .text(*ngIf="props.post.likes")
                  span {{ props.post.likes }}
            .action.action-comments
              .flex
                .icon
                  .__evodesk-icon.ic-comment-post-16x16px.with-hover((click)="toggleCommentsSection()")
                .text(*ngIf="props.post.comments")
                  span {{ props.post.comments }}
            .action.action-share((click)="repost()")
              .flex
                .icon
                  .__evodesk-icon.ic-share-post-18x14px(#repostIcon, [ngClass]="{ 'is-active': props.post.isReposted, 'with-hover': ! props.isOwnPost || props.post.reposts > 0 }")
                .text(*ngIf="props.post.reposts")
                  span {{ props.post.reposts }}
        .c-footer-right
          .actions
            .action.action-views
              .flex
                .icon
                  .__evodesk-icon.ic-views-18x12px
                .text(*ngIf="props.post.views")
                  span {{ props.post.views }}
      .c-comments(*ngIf="state.isCommentsSectionOpened")
        .c-comments-list(*ngIf="props.hasComments")
          evodesk-feed-comments-container([entity]="state.commentsListEntity", [postAuthorId]="props.post.user_id")
        .c-comments-form
          evodesk-feed-comment-form-container(#commentForm, [entity]="state.commentEntity")
