@import "~sass-mq";

.c {
  .c-card {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

    .c-card-header {
      padding: 12px 16px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #d0d6f5;

      .c-profile-avatar {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 8px;
      }

      .c-profile-title {
        flex: 1;
        margin-right: 16px;

        .name {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;
          word-break: break-all;
        }

        .createdAt {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.83;
          letter-spacing: 0.2px;
          text-align: left;
          color: #aaacb4;
        }
      }

      .c-options {
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        align-items: center;

        .menu-trigger, .close-button {
          display: inline-block;
        }

        .close-button {
          cursor: pointer;
          margin-left: 16px;
        }

        .menu-trigger {
          cursor: pointer;

          .__evodesk-icon {
            background-size: auto;
            background-position: center;
            padding: 0 10px;
          }
        }
      }
    }

    .c-card-pinned-header {
      height: 48px;
      border-bottom: 1px solid #d0d6f5;
      display: flex;
      padding: 0 16px;
      justify-content: space-between;
      align-items: center;

      .c-pin {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 8px;
      }

      .c-title {
        margin-right: 16px;
        flex: 1;

        span {
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.4px;
          text-align: left;
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .c-options {
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        align-items: center;

        .menu-trigger, .close-button {
          display: inline-block;
        }

        .close-button {
          cursor: pointer;
          margin-left: 16px;
        }

        .menu-trigger {
          cursor: pointer;

          .__evodesk-icon {
            background-size: auto;
            background-position: center;
            padding: 0 10px;
          }
        }
      }
    }

    .c-text {
      position: relative;
      padding: 16px;

      .c-text-contents {
        font-size: 26px;
        line-height: 25px;
        max-height: 15em;
        overflow: hidden;
        text-overflow: ellipsis;

        &.expanded {
          overflow: visible;
          max-height: none;
        }

        span {
          font-size: 15px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.3px;
          text-align: left;
          color: #010307;
        }
      }

      .c-text-scroll {
        flex-grow: 0;
        flex-shrink: 0;
      }

      .read-more {
        height: 120px;
        position: absolute;
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 57%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 57%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        text-align: center;
        left: 0; right: 0;
        bottom: 0;
        pointer-events: none;

        span {
          position: absolute;
          pointer-events: all;
          cursor: pointer;
          left: 0; right: 0;
          bottom: 0;
          text-align: center;
          font-size: 12px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.2px;
          color: #010307;
          text-transform: uppercase;
          line-height: 48px;
          display: block;
          transition: color .15s;

          &:hover {
            color: #2e4ce6;
          }
        }
      }
    }

    .c-orig-post {
      border-left: 8px solid #d0d6f5;

      .c-orig-post-header {
        border-bottom: 1px solid #d0d6f5;
        padding-left: 24px;

        .c-orig-post-header-contents {
          height: 48px;
          margin-bottom: 12px;
          display: flex;
          align-items: center;
          justify-content: left;

          .avatar {
            width: 48px;
            height: 48px;
            flex-grow: 0;
            flex-shrink: 0;
            position: relative;
            margin-right: 8px;

            .repost-icon {
              position: absolute;
              top: 0;
              right: 0;
              cursor: pointer;
            }
          }

          .info {
            .name {
              span {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.57;
                letter-spacing: 0.3px;
                text-align: left;
                color: #010307;
                word-break: break-all;
              }
            }

            .created-at {
              span {
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.83;
                letter-spacing: 0.2px;
                text-align: left;
                color: #aaacb4;
                word-break: break-all;
              }
            }
          }
        }
      }

      .c-orig-post-text {
        padding: 0 16px 16px 32px;

        .box {
          display: flex;
          width: 100%;

          .contents {
            flex: 1;
            overflow: hidden;
            margin-right: 16px;
            height: 100%;
            padding-top: 16px;

            span {
              font-size: 15px;
              font-weight: 300;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.6;
              letter-spacing: 0.3px;
              text-align: left;
              color: #010307;
            }
          }

          .scroll {
            flex-grow: 0;
            flex-shrink: 0;
          }
        }
      }
    }

    .c-footer {
      height: 36px;
      background-color: rgba(208, 214, 245, 0.2);
      box-shadow: 0 -1px 0 0 #d0d6f5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 16px;

      .actions {
        font-size: 0;

        .action {
          display: inline-block;
          margin-right: 16px;

          .flex {
            display: flex;
            align-items: center;
          }

          .icon {
            cursor: pointer;
          }

          .icon, .text {
            display: inline-block;
          }

          .text {
            margin-left: 8px;
            line-height: 10px;
            height: 10px;

            span {
              font-size: 10px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 10px;
              letter-spacing: 0.2px;
              text-align: left;
              color: rgba(170, 172, 180, 0.6);
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .c-comments {
      .c-comments-list {
        border-top: 1px solid #d0d6f5;
      }

      .c-comments-form {
        border-top: 1px solid #d0d6f5;
      }
    }
  }
}

.c {
  &.__view-mode-default {
    .c-text-contents {
      max-height: 350px;
    }
  }

  &.__view-mode-modal {
    .c-card-header {
      position: sticky;
      top: 0;
      background-color: #fff;
    }
  }

  &.is-pinned.is-news-post {
    .c-card-pinned-header, .c-card-header, .c-text {
      background-color: #fff3d0;
    }

    .c-card-pinned-header {
      border-bottom-color: #ffc80e;
    }

    .c-text {
      border-bottom: 1px solid #ffc80e;
    }
  }
}
