.c([ngClass]="containerCSSClasses")
  .c-group(*ngFor="let group of state.groups; trackBy: trackByGroup")
    .c-group-title
      span([evodeskBind]="group.timestamp$")
    .c-group-entries
      ng-container(*ngFor="let entry of group.entries; trackBy: trackBy")
        ng-container(*ngIf="entry.type === 'post'")
          .c-entry
            ng-container(*ngIf="isEditModeEnabled(entry.post.id)")
              evodesk-feed-post-editor-form-container([setupFromPost]="entry.post", (success)="stopEditPost(entry.post.id)", (cancel)="stopEditPost(entry.post.id)")
            ng-container(*ngIf="! isEditModeEnabled(entry.post.id)")
              evodesk-feed-post-container([post]="entry.post")
        ng-container(*ngIf="entry.type === 'post-reposted'")
          .c-entry
            evodesk-feed-post-reposted-container([entity]="entry")
        ng-container(*ngIf="entry.type === 'post-liked'")
          .c-entry
            evodesk-feed-post-liked-container([entity]="entry")
        ng-container(*ngIf="entry.type === 'post-commented'")
          .c-entry
            evodesk-feed-post-commented-container([entity]="entry")
        ng-container(*ngIf="entry.type === 'post-comment-liked'")
          .c-entry
            evodesk-feed-post-comment-liked-container([entity]="entry")
  .c-entries-load-more(*ngIf="props.hasMoreToLoad && ! props.loadingMore")
    .load-more(id="evodeskFeedLoadMore", (click)="loadMore()")
      span {{ 'EvodeskFeed.components.EvodeskFeed.LoadMore' | translate }}
  .c-entries-loading-more-indicator(*ngIf="props.loadingMore")
    .__evodesk-app-circle-loader
