.__evodesk-context-menu-black {
  background-color: #010307;
  border: solid 1px rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 7px 15px;

  .__evodesk-context-menu-black-item {
    cursor: pointer;
    text-decoration: none;

    &:hover {
      span {
        border-bottom-color: rgba(255, 255, 255, 100);
      }
    }

    span {
      font-family: Roboto, sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.14;
      letter-spacing: 0.3px;
      text-align: left;
      color: #ffffff;
      text-decoration: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0);
      transition: .15s;
      padding-bottom: 3px;
      white-space: nowrap;
    }
  }
}