.c {
  overflow: hidden;
  position: relative;

  .c-photo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
    min-height: 100px;
    max-height: 900px;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  .c-controls {
    position: absolute;
    right: 8px; top: 8px;

    .remove {
      cursor: pointer;
      width: 32px; height: 32px;

      .__evodesk-icon.ic-delete-photos-32x32px {
        height: 33px;
      }
    }
  }
}
