.c(*ngIf="!! state && state.ready")
  .c-row-0
    .card.card-about
      .ca-avatar
        evodesk-profile-avatar([profileId]="props.profile.id", [size]="48")
      .ca-info
        .ca-info-name
          span {{ props.profile.name || props.profile.email }}
        .ca-info-status
          span {{ props.profile.position }}
  .c-row-1
    .c-row-1-1
      .card.card-info
        .help([ngClass]="{ 'enabled': ! props.isMobileDevice }", (click)="helpCardInfo()")
          .help-button
            span ?
          .help-tooltip
            span(translate) EvodeskAchievements.components.EvodeskAchievements.HelpTooltip
        .flexbox
          .cl-points.flexbox-section
            .cl-points-count
              span {{ props.profile.balance }}
            .cl-points-text
              span(translate) {{ pointsPlural }}
          .cl-level.flexbox-section
            .cl-block
              .cl-level-title
                span(translate, [translateParams]="{ 'level': props.profile.level }") EvodeskAchievements.components.EvodeskAchievements.Level
              .cl-level-progress
                .cl-level-progress-bar
                  .cl-level-progress-bar-fill([ngStyle]="progressBarNgStyle")
    .c-row-1-2
      .card.card-achievements
        .ca-title
          span(translate) EvodeskAchievements.components.EvodeskAchievements.Achievements
        .ca-achievements
          .c-items.swiper-container([swiper]="swiperConfig")
            .swiper-wrapper
              ng-container(*ngFor="let a of props.current.achievements")
                .c-item.swiper-slide
                  .image
                    img([src]="getAchievementsImageUrl(a.image)")
                  .title
                    span {{ a.title }}
  .c-row-2
    .c-row-2-1
      .card.card-leaders
        .cl-title
          .title
            span(translate) EvodeskAchievements.components.EvodeskAchievements.LeadersWeek
          .open
            a([routerLink]="['/leaders/week']")
              .__evodesk-icon.ic-external-16x16px
        .cl-list
          .cl-list-area(#areaLeadersWeek, evodeskTouchScroll='y', evodeskMouseWheelScroll, evodeskKeyboardScroll, (scroll.out-zone)="onLeaderWeekScroll($event)")
            .item(*ngFor="let item of props.leaders.week.entries")
              .item-position
                span {{ item.position }}
              .item-info
                .avatar
                  evodesk-profile-avatar([profileId]="item.id", [size]="30")
                a.name([routerLink]="['/profile', item.id]", target="_blank")
                  span {{ item.name || item.email }}
              .item-points
                span {{ item.experience }}
            .cl-load-more(*ngIf="props.leaders.week.hasMoreToLoad && ! props.leaders.week.loading", (click)="loadMoreWeek()")
              span(translate) EvodeskAchievements.components.EvodeskAchievements.LoadMore
            .cl-loading(*ngIf="props.leaders.week.loading")
              .__evodesk-app-circle-loader
          .cl-list-scroll
            evodesk-app-common-scroll-bar([elementRef]="areaLeadersWeek", [theme]="'blue'")
        .cl-current.item
          .item-position
            span {{ props.current.positions.week.position }}
          .item-info
            .avatar
              evodesk-profile-avatar([profileId]="props.profile.id", [size]="30")
            .name
              span {{ props.current.positions.week.name }}
          .item-points
            span {{ props.current.positions.week.experience }}
    .c-row-2-2
      .card.card-leaders
        .cl-title
          .title
            span(translate) EvodeskAchievements.components.EvodeskAchievements.LeadersMonth
          .open
            a([routerLink]="['/leaders/month']")
              .__evodesk-icon.ic-external-16x16px
        .cl-list
          .cl-list-area(#areaLeadersMonth, evodeskTouchScroll='y', evodeskMouseWheelScroll, evodeskKeyboardScroll, (scroll.out-zone)="onLeaderMonthScroll($event)")
            .item(*ngFor="let item of props.leaders.month.entries")
              .item-position
                span {{ item.position }}
              .item-info
                .avatar
                  evodesk-profile-avatar([profileId]="item.id", [size]="30")
                a.name([routerLink]="['/profile', item.id]", target="_blank")
                  span {{ item.name || item.email }}
              .item-points
                span {{ item.experience }}
            .cl-load-more(*ngIf="props.leaders.month.hasMoreToLoad && ! props.leaders.month.loading", (click)="loadMoreMonth()")
              span(translate) EvodeskAchievements.components.EvodeskAchievements.LoadMore
            .cl-loading(*ngIf="props.leaders.month.loading")
              .__evodesk-app-circle-loader
          .cl-list-scroll
            evodesk-app-common-scroll-bar([elementRef]="areaLeadersMonth", [theme]="'blue'")
        .cl-current.item
          .item-position
            span {{ props.current.positions.month.position }}
          .item-info
            .avatar
              evodesk-profile-avatar([profileId]="props.profile.id", [size]="30")
            .name
              span {{ props.current.positions.month.name }}
          .item-points
            span {{ props.current.positions.month.experience }}
    .c-row-2-3
      .card.card-leaders
        .cl-title
          .title
            span(translate) EvodeskAchievements.components.EvodeskAchievements.LeadersTotal
          .open
            a([routerLink]="['/leaders/total']")
              .__evodesk-icon.ic-external-16x16px
        .cl-list
          .cl-list-area(#areaLeadersTotal, evodeskTouchScroll='y', evodeskMouseWheelScroll, evodeskKeyboardScroll, (scroll.out-zone)="onLeaderTotalScroll($event)")
            .item(*ngFor="let item of props.leaders.total.entries")
              .item-position
                span {{ item.position }}
              .item-info
                .avatar
                  evodesk-profile-avatar([profileId]="item.id", [size]="30")
                a.name([routerLink]="['/profile', item.id]", target="_blank")
                  span {{ item.name || item.email }}
              .item-points
                span {{ item.experience }}
            .cl-load-more(*ngIf="props.leaders.total.hasMoreToLoad && ! props.leaders.total.loading", (click)="loadMoreTotal()")
              span(translate) EvodeskAchievements.components.EvodeskAchievements.LoadMore
            .cl-loading(*ngIf="props.leaders.total.loading")
              .__evodesk-app-circle-loader
          .cl-list-scroll
            evodesk-app-common-scroll-bar([elementRef]="areaLeadersTotal", [theme]="'blue'")
        .cl-current.item
          .item-position
            span {{ props.current.positions.total.position }}
          .item-info
            .avatar
              evodesk-profile-avatar([profileId]="props.profile.id", [size]="30")
            .name
              span {{ props.current.positions.total.name }}
          .item-points
            span {{ props.current.positions.total.experience }}
