@import "~sass-mq";

.c {
  padding: 40px 24px;
  max-width: 1168px;
  margin: 0 auto;

  @include mq($until: 1167px) {
    .c-row-1-1, .c-row-1-2, .c-row-2-1, .c-row-2-2, .c-row-2-3 {
      margin-bottom: 24px;
    }
  }

  @include mq($from: 1168px) {
    .c-row-1 {
      display: flex;
      margin-bottom: 24px;

      .c-row-1-1 {
        width: 373px;
        margin-right: 24px;
      }

      .c-row-1-2 {
        width: 770px;
      }
    }

    .c-row-2 {
      display: flex;

      .c-row-2-1 { width: 373px; margin-right: 24px; }
      .c-row-2-2 { width: 373px; margin-right: 24px; }
      .c-row-2-3 { width: 373px; }
    }

    .cl-list-area {
      overflow: hidden;
      height: 350px;
    }
  }

  .c-row-0 {
    margin-bottom: 24px;
  }

  .card {
    min-height: 30px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

    .help {
      position: absolute;
      top: 16px; right: 16px;

      &.enabled:hover {
        .help-tooltip {
          display: block;
        }
      }

      .help-button {
        width: 20px;
        height: 20px;
        background-color: rgba(208,214,245,.3);
        border-radius: 100%;
        overflow: hidden;
        cursor: pointer;
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        &:hover {
          background-color: #2e4ce6;

          span {
            color: #fff;
          }
        }

        span {
          font-size: 11px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: .3px;
          color: #010307;
        }
      }

      .help-tooltip {
        position: absolute;
        top: -12px; right: 30px;
        border-radius: 8px;
        background-color: #4b4c4f;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
        padding: 12px;
        width: 320px;
        text-align: center;
        display: none;

        span {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: 0.2px;
          text-align: left;
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }

    &.card-info, &.card-achievements {
      height: 200px;
    }

    &.card-about {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 32px;

      .ca-avatar {
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 8px;
      }

      .ca-info {
        .ca-info-name {
          span {
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: 0.5px;
            text-align: left;
            color: #010307;
          }
        }

        .ca-info-status {
          span {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.13;
            letter-spacing: 0.3px;
            text-align: left;
            color: #aaacb4;
          }
        }
      }
    }

    &.card-info {
      position: relative;

      .flexbox {
        display: flex;
        flex-direction: column;
        height: 100%;

        .flexbox-section {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          align-content: center;
          justify-content: center;
        }
      }

      .cl-points {
        .cl-points-count {
          text-align: center;

          span {
            font-size: 32px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: .3px;
            color: #010307;
          }
        }

        .cl-points-text {
          span {
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: .3px;
            color: #a0a7b2;
            text-transform: uppercase;
          }
        }
      }

      .cl-level {
        flex: 1;
        border-top: 1px solid #d0d6f5;

        .cl-block {
          width: 100%;
        }

        .cl-level-title {
          text-align: center;

          span {
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: .3px;
            color: #010307;
          }
        }

        .cl-level-progress {
          padding: 8px 32px;
          width: 100%;

          .cl-level-progress-bar {
            position: relative;
            height: 12px;
            border-radius: 4px;
            background-color: rgba(208,214,245,.2);
            overflow: hidden;

            .cl-level-progress-bar-fill {
              position: absolute;
              top: 0; left: 0; bottom: 0;
              background-color: #2e4ce6;
            }
          }
        }
      }
    }

    &.card-achievements {
      .ca-title {
        padding: 16px 24px;

        span {
          font-size: 18px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: .3px;
          color: #010307;
        }
      }

      .ca-achievements {
        padding: 16px 24px;

        .c-items {
          margin-bottom: 20px;
          padding: 0 8px;

          .c-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 135px;

            .image {
              display: block;
              margin: 0 auto;
              margin-bottom: 8px;

              img {
                width: auto;
                height: 56px;
              }
            }

            .title {
              padding: 0 4px;
              text-align: center;

              span {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.57;
                letter-spacing: 0.5px;
                text-align: center;
                color: #010307;
              }
            }
          }
        }
      }
    }

    &.card-leaders {
      position: relative;

      .cl-title {
        text-align: center;
        padding: 16px;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .title {
          span {
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: .3px;
            color: #010307;
          }
        }

        .open {
          cursor: pointer;
          opacity: 0.3;
          transition: .15s;

          &:hover {
            opacity: 1;
          }
        }
      }

      .cl-list {
        display: flex;
        border-bottom: 1px solid #ccc;

        .cl-list-area {
          flex: 1;
        }

        .cl-list-scroll {
          flex-grow: 0;
          flex-shrink: 0;
        }

        .cl-load-more {
          text-align: center;
          border-top: 1px solid #ddd;
          padding: 16px;
          cursor: pointer;
          height: 56px;

          &:hover {
            span {
              border-bottom-color: #a0a7b2;
            }
          }

          span {
            font-size: 12px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: .3px;
            text-align: left;
            text-transform: uppercase;
            color: #a0a7b2;
            border-bottom: 1px solid transparent;
            transition: .15s;
          }
        }

        .cl-loading {
          height: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          border-top: 1px solid #ddd;

          .__evodesk-app-circle-loader {
            width: 16px;
            height: 16px;
            margin: 0 auto;
          }
        }
      }

      .cl-current {
        background-color: rgba(208,214,245,.2);
        box-shadow: 0 -1px 0 0 #d0d6f5;
        padding-left: 8px;
        padding-right: 16px;
      }

      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        border-top: 1px solid #ddd;

        &.cl-current, &:first-child {
          border-top: none;
        }

        span {
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.6;
          letter-spacing: .3px;
          text-align: left;
          color: #010307;
        }

        .item-position {
          width: 40px;
          flex-grow: 0;
          flex-shrink: 0;
          margin-right: 8px;
          text-align: center;

          span {
            font-weight: 400;
          }
        }

        .item-info {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-right: 8px;

          .avatar {
            margin-right: 8px;
            flex-grow: 0;
            flex-shrink: 0;
          }

          .name {
            flex: 1;

            span {
              color: #010307;
              transition: .15s;
              cursor: pointer;
              border-bottom: 1px solid transparent;

              &:hover {
                color: #2e4ce6;
                border-bottom-color: #2e4ce6;
              }
            }
          }
        }

        .item-points {
          width: 60px;
          text-align: center;
          flex-grow: 0;
          flex-shrink: 0;
        }
      }
    }
  }
}
